﻿@model EggCheckoutModel
@using Nop.Web.Models.Checkout;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();

    //scripts
    Html.AddScriptParts("~/Scripts/public.accordion.js");
    Html.AddScriptParts("~/Scripts/public.onepagecheckout.js");
    Html.AddScriptParts("~/Scripts/public.eggcheckout.js");
    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
}

<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout")</h1>
    </div>
    <div class="checkout-data checkout__container">
        <form id="co-billing-form" action novalidate="">
            <div id="checkout-billing-load">
                @if (Model.BillingAddress.ExistingAddresses.Count > 0)
                {
                    <div class="section select-billing-address">
                        <label for="billing-address-select">@T("Checkout.SelectShippingAddressOrEnterNewOne")</label>
                        <div>
                            <select name="billing_address_id" id="billing-address-select" class="address-select"
                                    title="" onchange="Billing.newAddress(!this.value)">
                                @foreach (var address in Model.BillingAddress.ExistingAddresses)
                        {
                            var addressLine = "";
                            addressLine += address.FirstName;
                            addressLine += " " + address.LastName;
                            if (address.StreetAddressEnabled && !String.IsNullOrEmpty(address.Address1))
                            {
                                addressLine += ", " + address.Address1;
                            }
                            if (address.CityEnabled && !String.IsNullOrEmpty(address.City))
                            {
                                addressLine += ", " + address.City;
                            }
                            if (address.StateProvinceEnabled && !String.IsNullOrEmpty(address.StateProvinceName))
                            {
                                addressLine += ", " + address.StateProvinceName;
                            }
                            if (address.ZipPostalCodeEnabled && !String.IsNullOrEmpty(address.ZipPostalCode))
                            {
                                addressLine += " " + address.ZipPostalCode;
                            }
                            if (address.CountryEnabled && !String.IsNullOrWhiteSpace(address.CountryName))
                            {
                                addressLine += ", " + address.CountryName;
                            }
                            //how should we render "FormattedCustomAddressAttributes" here?
                            <option value="@(address.Id)">@(addressLine)</option>
                        }
                                <option value="" selected="@Model.BillingAddress.NewAddressPreselected">@T("Checkout.NewAddress")</option>
                            </select>
                        </div>
                    </div>
                }

                <div class="section new-billing-address" id="billing-new-address-form">
                    <div class="enter-address">
                        @{
                        var validationSummary = Html.ValidationSummary(true);
                        }
                        @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                        {
                            <div class="message-error">@validationSummary</div>
                        }
                        @{
                            var dataDictAddress = new ViewDataDictionary();
                            //Merge ModelState (required for validation)
                            dataDictAddress.ModelState.Merge(ViewData.ModelState);
                            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "BillingNewAddress";
                            @Html.Partial("_CreateOrUpdateAddress", Model.BillingAddress.NewAddress, dataDictAddress)
                        }
                    </div>
                </div>
            </div>
        </form>
        <form id="co-payment-method-form" action novalidate="novalidate">
            <div class="section payment-method">
                @if (Model.CheckoutPaymentMethod.PaymentMethods.Count > 0)
            {
                    <ul class="method-list">
                        @for (int i = 0; i < Model.CheckoutPaymentMethod.PaymentMethods.Count; i++)
                {
                    var paymentMethod = Model.CheckoutPaymentMethod.PaymentMethods[i];
                    var paymentMethodName = paymentMethod.Name;
                    if (!String.IsNullOrEmpty(paymentMethod.Fee))
                    {
                        paymentMethodName = T("Checkout.SelectPaymentMethod.MethodAndFee", paymentMethodName, paymentMethod.Fee).Text;
                    }
                    <li>
                        <div class="method-name">
                            @if (!String.IsNullOrEmpty(paymentMethod.LogoUrl))
                            {
                                <div class="payment-logo">
                                    <label for="paymentmethod_@(i)">
                                        <img  class="payment-image" src="@paymentMethod.LogoUrl" alt="@paymentMethodName" />
                                    </label>
                                </div>
                            }
                            <div class="payment-details">
                                <input id="paymentmethod_@(i)" type="radio" name="paymentmethod" onclick="PaymentMethod.save()" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" />
                                <label for="paymentmethod_@(i)">@paymentMethodName</label>
                            </div>
                        </div>
                    </li>
                        }
                    </ul>
                }
                else
                {
                    <div class="message-error">
                        @T("Checkout.NoPaymentMethods")
                    </div>
                }
            </div>
        </form>
        <script type="text/javascript">
            PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');
        </script>
        <form action="" id="co-payment-info-form">
            <div id="checkout-payment-info-load">
                @*payment info content will be loaded here*@
            </div>
        </form>
        <div id="checkout-confirm-order-load">

        </div>
        <div class="buttons" id="confirm-order-buttons-container">
            <input type="button" class="button-1 confirm-order-next-step-button" onclick="EggCheckout.save()" value="@T("Payment")" />
        </div>
    </div>
    <div class="orders_summary__container" id="orders_summary">
        @Html.Action("EggOrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
    </div>
    <script type="text/javascript">
        Billing.init('#co-billing-form', '');
        if ($("#billing-address-select").length > 0) {
            Billing.newAddress(!$('#billing-address-select').val());
        }

        EggCheckout.init('@(storeLocation)checkout/FinishEggCheckout', '#co-billing-form,#co-payment-method-form,#co-payment-info-form', '@(storeLocation)cart/', '@(storeLocation)checkout/completed/');
        EggOrderSummary.int('@(storeLocation)ShoppingCart/EggChangeCountry');
        $("#BillingNewAddress_CountryId").change(function () {
            EggOrderSummary.save($("#BillingNewAddress_CountryId").val());
        });
    </script>
</div>
<div class="modal dontgo zoom-anim-dialog mfp-hide" id="checkout-coupon-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
            <div class="modal-body" style="background:#f6911e; color:#fff">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-xs-4">
                            <img src="~/Content/Images/stop_hand.png" align="middle" class="img-responsive center-block">
                        </div>
                        <div class="col-sm-10 col-xs-8">
                            <div class="container">
                                <div class="row">
                                    <h1 class="text-color-white">Wait!</h1>
                                    <span class="text-color-white">We want to give YOU a<br><strong>15% discount</strong> for your order.</span>
                                    <div class="email-coupon-form" id="discount-section">
                                        <div id="coupon-loading" style="display:none">
                                            <img src="~/Themes/EggStore/Content/images/loading-coupon.gif" class="coupon-loading-gif" />
                                        </div>
                                        <div id="coupon-input-form">
                                            <input id="popemail" name="popemail" type="text" value="" class="form-coupon-input" placeholder="Enter your email address" autocomplete="off" style="cursor: auto;">
                                            <span class="input-group-btn">
                                                <button type="submit" name="signupnow" class="form-coupon-button" onclick="getProductDetailCoupon('@Url.Action("PageCheckout", "EggDiscount")')">Go!</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div id="email-validator"></div>
                                    <h4 class="text-color-white">We'll email you a coupon code to use at checkout!</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="text-primary" data-dismiss="modal" style="cursor:pointer;" onclick="closeThePopUp()">No Thanks, I hate getting discounts.</span>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        setTimeout(function() {
            $.magnificPopup.open({
                items: {
                    src: '#checkout-coupon-modal'
                },
                type: 'inline',
                focus: '#checkout-coupon-modal',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in',
            });
        }, 40*1000);
    });
    function closeThePopUp(){
        $.magnificPopup.close();
    }
    function getProductDetailCoupon(url) {
        email = $("#popemail").val();
        if (isEmail(email)) {
            $('#email-validator').html("");
            $('#coupon-input-form').hide();
            $('#coupon-loading').show();
            $.ajax({
                cache: false,
                url: url,
                data: { email: $("#popemail").val() },
                type: 'post',
            }).done(function( data ) {
                var couponCodeHtlm ='<span class="text-color-white">' 
                    +'<span>Code:  </span>'
                    +'<span class="coupon-code">'+data.DiscountCode+'</span>'
                    + "</span>"
                $("#discount-section").html(couponCodeHtlm);
            });
        }
        else{
            var message = "<span>Invalid email, Please type valid email!</span>";
            $('#email-validator').html(message);
            $("#popemail").focus();
        }
    }
    function isEmail(email) {
        return /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))$/i.test(email);
    }
</script>
