﻿@model string
<div class="checkout-data">
    <div class="section payment-info">
        <div class="info">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <span class="field-validation-error"  data-valmsg-replace="true">@Model</span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="message-error">
            <div class="validation-summary-valid" data-valmsg-summary="true">
                <ul>
                    <li style="display:none"></li>
                </ul>
            </div>
        </div>
    </div>

</div>