﻿@model AddressModel
@using Nop.Web.Models.Common;
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        var selectedSateCode = "";
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                var selectedState = 0;
                var countryId = selectedItem != null ? selectedItem : "0";
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": countryId, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            if (selectedSateCode == option.abbreviation || selectedSateCode == option.name) {
                                selectedState = option.id;
                            }
                            var content = $('<option name=' + option.abbreviation + '></option>').val(option.id).html(option.name);
                            ddlStates.append(content);
                        });
                        if (selectedState != 0) {
                            ddlStates.val(selectedState);
                        }
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}
@Html.HiddenFor(model => model.Id)

<div class="egg-form-shipping mobile-padding-0">
    @Html.TextBoxFor(model => model.Email, null, new { @placeholder = "Email *" })
    <p class="egg-note-conf">
        Recieve confirmation email
        <span class="egg-info-validate egg-show-validate">@Html.ValidationMessageFor(model => model.Email)</span>
    </p>
    <div class="width-50">
        @Html.TextBoxFor(model => model.FirstName, null, new { @placeholder = "FirstName *" })
        <p class="egg-info-validate egg-show-validate">
            @Html.ValidationMessageFor(model => model.FirstName)
        </p>
    </div>
    <div class="width-50 input-50-nomargin">
        @Html.TextBoxFor(model => model.LastName, null, new { @placeholder = "LastName *" })
        <p class="egg-info-validate egg-show-validate">
            @Html.ValidationMessageFor(model => model.LastName)
        </p>
    </div>

    @Html.TextBoxFor(model => model.Address1, null, new { @placeholder = "Shipping Address *" })
    <p class="egg-info-validate egg-show-validate">
        @Html.ValidationMessageFor(model => model.Address1)
    </p>

    <div class="width-50">
        @Html.TextBoxFor(model => model.City, null, new { @class = "input-50", placeholder = "City *" })
        <p class="egg-info-validate egg-show-validate">
            @Html.ValidationMessageFor(model => model.City)
        </p>
    </div>
    <div class="width-50 input-50-nomargin">
        @Html.TextBoxFor(model => model.ZipPostalCode, null, new { @placeholder = "Zip / Postal Code *" })
        <p class="egg-info-validate egg-show-validate">
            @Html.ValidationMessageFor(model => model.ZipPostalCode)
        </p>
    </div>

    <div class="width-50">
        @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries, null, new { @class = "input-50" })
        <p class="egg-info-validate egg-show-validate">
            @Html.ValidationMessageFor(model => model.CountryId)
        </p>
    </div>
    <div class="width-50 input-50-nomargin">
        @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates, null, new { @class = "input-50" })
        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
        <p class="egg-info-validate egg-show-validate">
            @Html.ValidationMessageFor(model => model.StateProvinceId)
        </p>
    </div>

    @Html.TextBoxFor(model => model.PhoneNumber, null, new { @placeholder = "Phone Number" })
    <p class="egg-info-validate egg-show-validate">
        @Html.ValidationMessageFor(model => model.PhoneNumber)
    </p>
    <p class="egg-note-conf">Recieve confirmation SMS</p>
</div>
@if (Model.CustomAddressAttributes.Count > 0)
{
    @Html.Partial("_AddressAttributes", Model.CustomAddressAttributes)
}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDSON9uu203YuqTGWSazIYb3bZCUsTo5DY&language=en"></script>

<script>
      this.initAutocomplete();
      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };
   
      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /* type {!HTMLInputElement} */
            (document.getElementById('@Html.FieldIdFor(model => model.Address1)')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

    function fillInAddress() {
        try {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();
            var addressForm = {
                street_number: '',
                route: '',
                locality: '',
                administrative_area_level_1: '',
                country: '',
                postal_code: ''
            };

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
          for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
              var val = place.address_components[i][componentForm[addressType]];
              addressForm[addressType] = val;
              }
          }
            console.log(addressForm);
            var address = document.getElementById('@Html.FieldIdFor(model => model.Address1)');
            if (addressForm.street_number != '' || addressForm.route != '') {
                var delimiter = ((addressForm.street_number != '' && addressForm.route == '') || (addressForm.street_number == '' && addressForm.route != ''))  ? '' : ', ';
                address.value = addressForm.street_number + delimiter + addressForm.route;
            }
            else
                address.value = '';

            var city = document.getElementById('@Html.FieldIdFor(model => model.City)');
            city.value = addressForm.locality;

            var zipPostalCode = document.getElementById('@Html.FieldIdFor(model => model.ZipPostalCode)');
            zipPostalCode.value = addressForm.postal_code;

            var countries = $("#@Html.FieldIdFor(model => model.CountryId) option");
            var newCountryValue;
            newCountryValue = countries.filter(function (index, country) {
                return $(this).text() == addressForm.country;
            }).first().attr("value");
            selectedSateCode = addressForm.administrative_area_level_1; 
            if (!newCountryValue)
                newCountryValue = 0;
            $("#@Html.FieldIdFor(model => model.CountryId)").val(newCountryValue).trigger('change');
        }
        catch (err) {
            console.log(err);
        }
      }
</script>

