﻿<div class="product-item">
    <div class="modal-title">Fruit of the Loom Tee</div>
    <table class="ui very basic center aligned unstackable three column table">
        <thead>
            <tr>
                <th>
                    <span>Size</span>
                </th>
                <th>
                    <span>IN</span>
                </th>
                <th>
                    <span>CM</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>Small</span></td>
                <td>34-36</td>
                <td>86-91</td>
            </tr>
            <tr>
                <td><span>Medium</span></td>
                <td>38-40</td>
                <td>97-102</td>
            </tr>
            <tr>
                <td><span>Large</span></td>
                <td>42-44</td>
                <td>107-112</td>
            </tr>
            <tr>
                <td><span>X-Large</span></td>
                <td>46-48</td>
                <td>117-122</td>
                </tr>
            <tr>
                <td><span>2X-Large</span></td>
                <td>50-52</td>
                <td>127-132</td>
            </tr>
            <tr>
                <td><span>3X-Large</span></td>
                <td>54-56</td>
                <td>137-142</td>
            </tr>
            <tr>
                <td><span>4X-Large</span></td>
                <td>58-60</td>
                <td>147-152</td>
            </tr>
            <tr>
                <td><span>5X-Large</span></td>
                <td>62-64</td>
            <td>157-162</td>
            </tr>
            <tr>
                <td><span>6X-Large</span></td>
                <td>66-68</td>
                <td>167-172</td>
            </tr>
        </tbody>
    </table>
</div>
