﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

@Html.Action("AdminHeaderLinks", "Common")
@Html.Partial("Header")
@{
    Html.AddScriptParts("~/Scripts/jquery.magnific-popup.min.js");
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.min.css");
}
<script type="text/javascript">
        AjaxCart.init(true, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
</script>
<main>
    @if (IsSectionDefined("Bodytop"))
    {
        <div class="body-top">
            <div class="body-top-content">
                @RenderSection("Bodytop")
            </div>
        </div>
    }
    <div class="master-wrapper-page">
        <div class="master-wrapper-content">
            @Html.Widget("content_before")
            @if (IsSectionDefined("Breadcrumb"))
            {
                @RenderSection("Breadcrumb")
            }
            <div class="master-column-wrapper">
                @RenderBody()
            </div>
            @Html.Widget("content_after")
        </div>
    </div>
    @Html.Widget("body_end_html_tag_before")
</main>
@Html.Action("Footer", "Common")
