﻿<header>
    <section class="top-menu">
        <div class="container-fluid">
            <div class="egg-wrapper">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.Action("Logo", "Common")
                    @Html.Action("MobileHeaderLinks", "Common")
                </div>
                @Html.Action("HeaderLinks", "Common")
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $('.egg-click-search').click(function () {
                $('.egg-form-header-mobile').toggle();
            });
            $('.egg-share-mobile').click(function () {
                $('.egg-share-mobile>ul').toggle();
            });

            $('.egg-btn-filter').click(function () {
                $('.egg-show-filter, .egg-left-search').addClass('egg-open');
                $('.egg-oveflow-menu, body').addClass('egg-oveflow-menu-open');
            });
            if (screen.width < 767) {
                $('.egg-btn-close').click(function () {
                    $('.egg-show-filter, .egg-left-search').removeClass('egg-open');
                    $('.egg-oveflow-menu, body').removeClass('egg-oveflow-menu-open');
                });
                $('.egg-list-show-filter>li').click(function () {
                    $(this).toggleClass('egg-toggle-add');
                    $(this).find('.egg-sub-filter').toggleClass("egg-open-list");
                });
                $('.egg-sub-filter').click(function (e) {
                    e.stopPropagation();
                });
            }
            $('#mobile-searchterms').autocomplete({
                            delay: 500,
                            minLength: 0,
                            source: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                            appendTo: '.search-box',
                            select: function (event, ui) {
                                $("#mobile-searchterms").val(ui.item.label);
                                setLocation(ui.item.producturl);
                                return false;
                            }
                    })
                        .focus(function () {
                            $(this).data("uiAutocomplete").search($(this).val());
                        })
                        .data("ui-autocomplete")._renderItem = function (ul, item) {
                            var t = item.label;
                            //html encode
                            t = htmlEncode(t);
                            return $("<li></li>")
                                .data("item.autocomplete", item)
                                .append("<a>" + t + "</a>")
                                .appendTo(ul);
                        };
        });
    </script>
   @Html.Action("TopMenu", "Catalog")
</header>