﻿<div class="modal-dialog modal-size">
    <div class="modal-content">
        <div class="modal-header egg-header-tabs">
            <button type="button" class="close" data-dismiss="modal"><span class="egg-icon-close"></span></button>
            <span class="modal-title egg-guide"><i class="egg-icon-rule"></i> Size chart</span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <h3 class="egg-title-left-size">Sport Jersey Sizes</h3>
                    <div class="egg-box-size-img">
                        <img src="~/Themes/EggStore/Content/images/sizing-football.png" />
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 egg-fix-padding-tab">
                    <!-- Tab size -->
                    <ul id="tabSize" class="nav nav-tabs nav_tabs egg-nav-tab-size">
                        <li class="active"><a href="#crewin" data-toggle="tab">CREW IN</a></li>
                        <li><a href="#crewcm" data-toggle="tab">CREW CM</a></li>
                    </ul>
                    <div id="contentTabSize" class="tab-content">
                        <div class="tab-pane fade in active" id="crewin">
                            <section class="egg-content-tabs-size">
                                <table class="egg-table-size tb-4-col">
                                    <thead>
                                        <tr>
                                            <td>SIZE</td>
                                            <td>CHEST IN (1/2)</td>
                                            <td>WAIST IN (1/2)</td>
                                            <td>HIP IN (1/2)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        <tr><td class="size">S</td><td>19.3</td><td>15</td><td>18.9</td></tr>

                                        <tr><td class="size">M</td><td>20.1</td><td>15.7</td><td>19.7</td></tr>

                                        <tr><td class="size">L</td><td>20.9</td><td>16.5</td><td>20.5</td></tr>

                                        <tr><td class="size">XL</td><td>22</td><td>17.3</td><td>21.3</td></tr>

                                        <tr><td class="size">2XL</td><td>22.8</td><td>18.1</td><td>22</td></tr>

                                        <tr><td class="size">3XL</td><td>23.6</td><td>18.9</td><td>22.8</td></tr>

                                        <tr><td class="size">4XL</td><td>24.4</td><td>19.7</td><td>23.6</td></tr>
										
										<tr><td class="size">5XL</td><td>25.2</td><td>20.5</td><td>24.4</td></tr>

                                    </tbody>
                                </table>
                            </section>
                        </div>
                        <div class="tab-pane fade" id="crewcm">
                            <section class="egg-content-tabs-size">
                                <table class="egg-table-size tb-4-col">
                                    <thead>
                                        <tr>
                                            <td>SIZE</td>
                                            <td>CHEST CM (1/2)</td>
                                            <td>WAIST CM (1/2)</td>
                                            <td>HIP CM (1/2)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                   
                                        <tr><td class="size">S</td><td>49</td><td>36.5 - 40.5 </td><td>48</td></tr>

                                        <tr><td class="size">M</td><td>51</td><td>40.5 - 44.5</td><td>50</td></tr>

                                        <tr><td class="size">L</td><td>53</td><td>44.5 - 48.5 </td><td>52</td></tr>

                                        <tr><td class="size">XL</td><td>56</td><td>48.5 - 54.5 </td><td>54</td></tr>

                                        <tr><td class="size">2XL</td><td>58</td><td>54.5 - 60.5 </td><td>56</td></tr>

                                        <tr><td class="size">3XL</td><td>60</td><td>60.5 - 66.5 </td><td>58</td></tr>

                                        <tr><td class="size">4XL</td><td>62</td><td>66.5 - 72.5</td><td>60</td></tr>
										
										<tr><td class="size">4XL</td><td>64</td><td>66.5 - 72.5</td><td>62</td></tr>

                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                    <div class="egg-box-content-tabsize">
                        <p><b>How to measure your size: </b></p>
                        <p><b>• CHEST: </b>Place the tape around the widest part of the chest, then take 1/2 measurement</p>
                        <p><b>• WAIST: </b>Place the tape around the narrowest part of the waist, then take 1/2 measurement</p>
                        <p><b>• HIP: </b>Place the tape around the widest part of the hip, then take 1/2 measurement </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer egg-footer-tabs">
            <button type="button" class="btn btn-default egg-btn-close-popup" data-dismiss="modal">Close<span class="egg-icon-close"></span></button>
        </div>
    </div>
</div>
