﻿<div class="modal-dialog modal-size">
    <div class="modal-content">
        <div class="modal-header egg-header-tabs">
            <button type="button" class="close" data-dismiss="modal"><span class="egg-icon-close"></span></button>
            <span class="modal-title egg-guide"><i class="egg-icon-rule"></i> Size chart</span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <h3 class="egg-title-left-size">@Model Sizes</h3>
                    <div class="egg-box-size-img">
                        <img src="@EggCommon.SizeLadiesVNeck">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 egg-fix-padding-tab">
                    <!-- Tab size -->
                    <ul id="tabSize" class="nav nav-tabs nav_tabs egg-nav-tab-size">
                        <li class="active"><a href="#crewin" data-toggle="tab">CREW IN</a></li>
                        <li><a href="#crewcm" data-toggle="tab">CREW CM</a></li>
                    </ul>
                    <div id="contentTabSize" class="tab-content">
                        <div class="tab-pane fade in active" id="crewin">
                            <section class="egg-content-tabs-size">
                                <table class="egg-table-size">
                                    <thead>
                                        <tr>
                                            <td>SIZE</td>
                                            <td>WIDTH IN</td>
                                            <td>HEIGHT IN</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td class="size">S</td><td>15</td><td>25.5</td></tr>

                                        <tr><td class="size">M</td><td>15.5</td><td>25</td></tr>

                                        <tr><td class="size">L</td><td>16.5</td><td>26</td></tr>

                                        <tr><td class="size">XL</td><td>18.5</td><td>26.5</td></tr>

                                        <tr><td class="size">2XL</td><td>19.25</td><td>27.5</td></tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                        <div class="tab-pane fade" id="crewcm">
                            <section class="egg-content-tabs-size">
                                <table class="egg-table-size">
                                    <thead>
                                        <tr>
                                            <td>SIZE</td>
                                            <td>WIDTH CM</td>
                                            <td>HEIGHT CM</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td class="size">S</td><td>38.1</td><td>64.77</td></tr>

                                        <tr><td class="size">M</td><td>39.37</td><td>63.5</td></tr>

                                        <tr><td class="size">L</td><td>41.91</td><td>66.04</td></tr>

                                        <tr><td class="size">XL</td><td>46.99</td><td>67.31</td></tr>

                                        <tr><td class="size">2XL</td><td>48.90</td><td>69.85</td></tr>
                                    </tbody>
                                </table>

                            </section>
                        </div>
                    </div>
                    <div class="egg-box-content-tabsize">
                        <p class="egg-text-tab">
                            *Chest is measured 1" down from the armhole (1/2 measurement). *Length is measured in a straight line at point where neck trim meets body to bottom of garment (including any bottom trim).
                        </p>
                        <ul class="egg-list-text-size">
                            <li>Preshrunk jersey knit</li>

                            <li>Seamless double-needle 7/8" collar</li>

                            <li>Taped neck and shoulders</li>

                            <li>Tear-away label</li>

                            <li>Double-needle sleeves and bottom hems</li>

                            <li>Quarter-turned to eliminate center crease</li>

                            <li>Fiber content varies by color, see color list for exceptions</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer egg-footer-tabs">
            <button type="button" class="btn btn-default egg-btn-close-popup" data-dismiss="modal">Close<span class="egg-icon-close"></span></button>
        </div>
    </div>
</div>