﻿<div class="modal-dialog modal-size">
    <div class="modal-content">
        <div class="modal-header egg-header-tabs">
            <button type="button" class="close" data-dismiss="modal"><span class="egg-icon-close"></span></button>
            <span class="modal-title egg-guide"><i class="egg-icon-rule"></i> Size chart</span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <h3 class="egg-title-left-size">@Model Sizes</h3>
                    <div class="egg-box-size-img">
                        <img src="@EggCommon.SizeUnisexTank">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 egg-fix-padding-tab">
                    <!-- Tab size -->
                    <ul id="tabSize" class="nav nav-tabs nav_tabs egg-nav-tab-size">
                        <li class="active"><a href="#crewin" data-toggle="tab">CREW IN</a></li>
                        <li><a href="#crewcm" data-toggle="tab">CREW CM</a></li>
                    </ul>
                    <div id="contentTabSize" class="tab-content">
                        <div class="tab-pane fade in active" id="crewin">
                            <section class="egg-content-tabs-size">
                                <table class="egg-table-size">
                                    <thead>
                                        <tr>
                                            <td>SIZE</td>
                                            <td>WIDTH IN</td>
                                            <td>HEIGHT IN</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td class="size">S</td><td>18</td><td>27</td></tr>
                                        <tr><td class="size">M</td><td>20</td><td>28</td></tr>
                                        <tr><td class="size">L</td><td>22</td><td>29</td></tr>
                                        <tr><td class="size">XL</td><td>24</td><td>29.5</td></tr>
                                        <tr><td class="size">2XL</td><td>25.5</td><td>31.5</td></tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                        <div class="tab-pane fade" id="crewcm">
                            <section class="egg-content-tabs-size">
                                <table class="egg-table-size">
                                    <thead>
                                        <tr>
                                            <td>SIZE</td>
                                            <td>WIDTH CM</td>
                                            <td>HEIGHT CM</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td class="size">S</td><td>45.72</td><td>68.58</td></tr>
                                        <tr><td class="size">M</td><td>50.8</td><td>71.12</td></tr>
                                        <tr><td class="size">L</td><td>55.88</td><td>73.66</td></tr>
                                        <tr><td class="size">XL</td><td>60.96</td><td>74.93</td></tr>
                                        <tr><td class="size">2XL</td><td>64.77</td><td>80.01</td></tr>
                                    </tbody>
                                </table>

                            </section>
                        </div>
                    </div>
                    <div class="egg-box-content-tabsize">
                        <p class="egg-text-tab">
                            *Chest is measured 1" down from the armhole (1/2 measurement).
                            *Length is measured in a straight line at point where neck trim meets body to bottom of garment
                            (including any bottom trim).
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer egg-footer-tabs">
            <button type="button" class="btn btn-default egg-btn-close-popup" data-dismiss="modal">Close<span class="egg-icon-close"></span></button>
        </div>
    </div>
</div>