﻿<div class="modal-dialog modal-size">
    <div class="modal-content">
        <div class="modal-header egg-header-tabs">
            <button type="button" class="close" data-dismiss="modal"><span class="egg-icon-close"></span></button>
            <span class="modal-title egg-guide"><i class="egg-icon-rule"></i> Size chart</span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <h3 class="egg-title-left-size">@Model Sizes</h3>
                    <div class="egg-box-size-img">
                        <img src="@EggCommon.SizeHoodie">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 egg-fix-padding-tab">
                    <!-- Tab size -->
                    <ul id="tabSize" class="nav nav-tabs nav_tabs egg-nav-tab-size">
                        <li class="active"><a href="#crewin" data-toggle="tab">CREW IN</a></li>
                        <li><a href="#crewcm" data-toggle="tab">CREW CM</a></li>
                    </ul>
                    <div id="contentTabSize" class="tab-content">
                        <div class="tab-pane fade in active" id="crewin">
                            <section class="egg-content-tabs-size">
                                <table class="egg-table-size">
                                    <thead>
                                        <tr>
                                            <td>SIZE</td>
                                            <td>WIDTH IN</td>
                                            <td>HEIGHT IN</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td class="size">S</td><td>20</td><td>27</td></tr>
                                        <tr><td class="size">M</td><td>22</td><td>28</td></tr>
                                        <tr><td class="size">L</td><td>24</td><td>29</td></tr>
                                        <tr><td class="size">XL</td><td>26</td><td>30</td></tr>
                                        <tr><td class="size">2XL</td><td>28</td><td>31</td></tr>
                                        <tr><td class="size">3XL</td><td>30</td><td>32</td></tr>
                                        <tr><td class="size">4XL</td><td>32</td><td>33</td></tr>
                                        <tr><td class="size">5XL</td><td>34</td><td>34</td></tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                        <div class="tab-pane fade" id="crewcm">
                            <section class="egg-content-tabs-size">
                                <table class="egg-table-size">
                                    <thead>
                                        <tr>
                                            <td>SIZE</td>
                                            <td>WIDTH CM</td>
                                            <td>HEIGHT CM</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td class="size">S</td><td>50.8</td><td>68.58</td></tr>
                                        <tr><td class="size">M</td><td>55.88</td><td>71.12</td></tr>
                                        <tr><td class="size">L</td><td>60.96</td><td>73.66</td></tr>
                                        <tr><td class="size">XL</td><td>66.04</td><td>76.2</td></tr>
                                        <tr><td class="size">2XL</td><td>71.12</td><td>78.74</td></tr>
                                        <tr><td class="size">3XL</td><td>76.2</td><td>82.28</td></tr>
                                        <tr><td class="size">4XL</td><td>82.28</td><td>83.82</td></tr>
                                        <tr><td class="size">5XL</td><td>86.36</td><td>86.36</td></tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                    <div class="egg-box-content-tabsize">
                        <p class="egg-text-tab">
                            *Chest is measured 1" down from the armhole (1/2 measurement).
                            *Length is measured in a straight line at point where neck trim meets body to bottom of garment
                            (including any bottom trim).
                        </p>
                        <ul class="egg-list-text-size">
                            <li>Air jet yarn for softness and no-pill performance</li>
                            <li>Double-lined hood with matching drawstring</li>
                            <li>Double-needle stitching</li>
                            <li>Pouch pocket</li>
                            <li>Double-needle cuffs</li>
                            <li>1 X 1 athletic rib with spandex</li>
                            <li>Quarter-turned to eliminate center crease</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer egg-footer-tabs">
            <button type="button" class="btn btn-default egg-btn-close-popup" data-dismiss="modal">Close<span class="egg-icon-close"></span></button>
        </div>
    </div>
</div>