﻿<div class="modal-dialog modal-size">
    <div class="modal-content">
        <div class="modal-header egg-header-tabs">
            <button type="button" class="close" data-dismiss="modal"><span class="egg-icon-close"></span></button>
            <span class="modal-title egg-guide"><i class="egg-icon-rule"></i> Size chart</span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <h3 class="egg-title-left-size">Sport Youth Jersey Sizes</h3>
                    <div class="egg-box-size-img">
                        <img src="~/Themes/EggStore/Content/images/youth-jersey.jpg" />
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 egg-fix-padding-tab">
                    <!-- Tab size -->
                    <ul id="tabSize" class="nav nav-tabs nav_tabs egg-nav-tab-size">
                        <li class="active"><a href="#crewin" data-toggle="tab">CREW IN</a></li>
                        <li><a href="#crewcm" data-toggle="tab">CREW CM</a></li>
                    </ul>
                    <div id="contentTabSize" class="tab-content">
                        <div class="tab-pane fade in active" id="crewin">
                            <section class="egg-content-tabs-size">
                                <table class="egg-table-size tb-4-col">
                                    <thead>
                                        <tr>
                                            <td>SIZE</td>
                                            <td>CHEST IN (1/2)</td>
                                            <td>WAIST IN (1/2)</td>
                                            <td>HIP IN (1/2)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
										<tr><td class="size">XXS</td><td>11.8</td><td>9-10</td><td>13-14</td></tr>
										
										<tr><td class="size">XS</td><td>13</td><td>10-11</td><td>13-14</td></tr>
										
                                        <tr><td class="size">S</td><td>14.1</td><td>11-12</td><td>14-15</td></tr>

                                        <tr><td class="size">M</td><td>15.7</td><td>12-13</td><td>15-16</td></tr>

                                        <tr><td class="size">L</td><td>17</td><td>13-14</td><td>16-17</td></tr>

                                        <tr><td class="size">XL</td><td>17.7</td><td>14-15</td><td>17-18</td></tr>
										
								



                                    </tbody>
                                </table>
                            </section>
                        </div>
                        <div class="tab-pane fade" id="crewcm">
                            <section class="egg-content-tabs-size">
                                <table class="egg-table-size tb-4-col">
                                    <thead>
                                        <tr>
                                            <td>SIZE</td>
                                            <td>CHEST CM (1/2)</td>
                                            <td>WAIST CM (1/2)</td>
                                            <td>HIP CM (1/2)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
										<tr><td class="size">XXS</td><td>30</td><td>19-21</td><td>29-32</td></tr>
										
										<tr><td class="size">XS</td><td>33</td><td>22-24</td><td>32-35</td></tr>
										 
                                        <tr><td class="size">S</td><td>36</td><td>25-27</td><td>35-38</td></tr>

                                        <tr><td class="size">M</td><td>40</td><td>28-30</td><td>38-41</td></tr>

                                        <tr><td class="size">L</td><td>43</td><td>31-33</td><td>41-44</td></tr>

                                        <tr><td class="size">XL</td><td>45</td><td>34-36</td><td>44-47</td></tr>
										
									



                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                    <div class="egg-box-content-tabsize">
                        <p><b>How to measure your size: </b></p>
                        <p><b>• CHEST: </b>Place the tape around the widest part of the chest, then take 1/2 measurement</p>
                        <p><b>• WAIST: </b>Place the tape around the narrowest part of the waist, then take 1/2 measurement</p>
                        <p><b>• HIP: </b>Place the tape around the widest part of the hip, then take 1/2 measurement </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer egg-footer-tabs">
            <button type="button" class="btn btn-default egg-btn-close-popup" data-dismiss="modal">Close<span class="egg-icon-close"></span></button>
        </div>
    </div>
</div>
