﻿    <div class="modal-dialog modal-size">
        <div class="modal-content">
            <div class="modal-header egg-header-tabs">
                <button type="button" class="close" data-dismiss="modal"><span class="egg-icon-close"></span></button>
                <span class="modal-title egg-guide"><i class="egg-icon-rule"></i> Size chart</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <h3 class="egg-title-left-size">Training Jacket</h3>
                        <div class="egg-box-size-img">
                            <img src="~/Themes/EggStore/Content/images/training-jacket.jpg">
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12 egg-fix-padding-tab">
                        <!-- Tab size -->
                        <ul id="tabSize" class="nav nav-tabs nav_tabs egg-nav-tab-size">
                            <li class="active"><a href="#crewin" data-toggle="tab">CREW IN</a></li>
                            <li><a href="#crewcm" data-toggle="tab">CREW CM</a></li>
                        </ul>
                        <div id="contentTabSize" class="tab-content">
                            <div class="tab-pane fade in active" id="crewin">
                                <section class="egg-content-tabs-size">
                                    <table class="egg-table-size tb-4-col">
                                        <thead>
                                            <tr>
                                                <td>SIZE</td>
                                                <td>SLEEVE IN </td>
                                                <td>CHEST IN (1/2)</td>
                                                <td>LENGTH IN </td>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr></tr>
                                            <tr><td class="size">S</td><td> 26.8 </td><td> 18.9 </td><td> 28 </td></tr>
                                            <tr><td class="size">M</td><td> 27.6 </td><td> 19.7 </td><td> 28.4 </td></tr>
                                            <tr><td class="size">L</td><td> 28.4 </td><td> 20.5 </td><td> 28.8 </td></tr>
                                            <tr><td class="size">XL</td><td> 29.2 </td><td> 20.5 </td><td> 29.2 </td></tr>


                                        </tbody>


                                    </table>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="crewcm">
                                <section class="egg-content-tabs-size">
                                    <table class="egg-table-size tb-4-col">
                                        <thead>

                                            <tr>
                                                <td>SIZE</td>
                                                <td>SLEEVE CM </td>
                                                <td>CHEST CM (1/2)</td>
                                                <td>LENGTH CM </td>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr><td class="size">S</td><td> 68 </td><td> 48 </td><td> 70 </td></tr>
                                            <tr><td class="size">M</td><td> 70 </td><td> 50 </td><td> 72 </td></tr>
                                            <tr><td class="size">L</td><td> 72 </td><td> 52 </td><td> 74 </td></tr>
                                            <tr><td class="size">XL</td><td> 74 </td><td> 54 </td><td> 76 </td></tr>



                                        </tbody>
                                    </table>
                                </section>
                            </div>
                        </div>
                        <div class="egg-box-content-tabsize">
                             <p><b>How to measure your size: </b></p>
                            <p><b>• CHEST: </b>Place the tape around the widest part of the chest, then take 1/2 measurement</p>                                   
                            <p><b>• LENGTH: </b>Is measured in a straight line at point where neck trim meets body to bottom of garment (including any bottom trim)
                            <p><b>• SLEEVE: </b>Measure from the center back of your neck (at your spine) to the end of your shoulder at the top of your arm
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer egg-footer-tabs">
                <button type="button" class="btn btn-default egg-btn-close-popup" data-dismiss="modal">Close<span class="egg-icon-close"></span></button>
            </div>
        </div>
    </div>