﻿<div class="modal-dialog modal-size">
    <div class="modal-content">
        <div class="modal-header egg-header-tabs">
            <button type="button" class="close" data-dismiss="modal"><span class="egg-icon-close"></span></button>
            <span class="modal-title egg-guide"><i class="egg-icon-rule"></i> Size chart</span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <h3 class="egg-title-left-size">Training Pants</h3>
                    <div class="egg-box-size-img">
                        <img src="~/Themes/EggStore/Content/images/pant-sport.jpg" />
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 egg-fix-padding-tab">
                    <!-- Tab size -->
                    <ul id="tabSize" class="nav nav-tabs nav_tabs egg-nav-tab-size">
                        <li class="active"><a href="#crewin" data-toggle="tab">CREW IN</a></li>
                        <li><a href="#crewcm" data-toggle="tab">CREW CM</a></li>
                    </ul>
                    <div id="contentTabSize" class="tab-content">
                        <div class="tab-pane fade in active" id="crewin">
                            <section class="egg-content-tabs-size">
                                <table class="egg-table-size tb-4-col">
                                    <thead>
                                        <tr>
										    <td>SIZE</td>
                                            <td>LENGTH IN</td>
                                            <td>BOTTOM WIDTH IN </td>
                                            <td>HIP IN (1/2)</td>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr><td class="size">S</td><td> 37.8 </td><td> 5.2 </td><td> 18.9 </td></tr>

                                        <tr><td class="size">M</td><td> 38.6 </td><td> 5.6 </td><td> 19.7 </td></tr>

                                        <tr><td class="size">L</td><td> 39.4 </td><td> 6 </td><td> 20.5 </td></tr>

                                        <tr><td class="size">XL</td><td> 40.2 </td><td> 6.2 </td><td> 21.3 </td></tr>


                                    </tbody>
                                </table>
                            </section>
                        </div>
                        <div class="tab-pane fade" id="crewcm">
                            <section class="egg-content-tabs-size">
                                <table class="egg-table-size tb-4-col">
                                    <thead>
                                        <tr>
                                            <td>SIZE</td>
                                            <td>LENGTH CM</td>
                                            <td>BOTTOM WIDTH CM </td>
                                            <td>HIP CM (1/2)</td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr><td class="size">S</td><td> 96 </td><td> 13 </td><td> 48 </td></tr>

                                        <tr><td class="size">M</td><td> 98 </td><td> 14 </td><td> 50 </td></tr>

                                        <tr><td class="size">L</td><td> 100 </td><td> 15 </td><td> 52 </td></tr>

                                        <tr><td class="size">XL</td><td> 102 </td><td> 16 </td><td> 54 </td></tr>


                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                    <div class="egg-box-content-tabsize">
                        <p><b>How to measure your size: </b></p>                 
                        <p><b>• LENGTH: </b>Measure from the top of pants waist all along the side pant seam until the bottom of your pants or roughly 1 inch from the ground
                        <p><b>• HIP: </b>Place the tape around the widest part of the hip, then take 1/2 measurement </p>                   
                        <p><b>• BOTTOM WIDTH: </b>The width of the pants at the bottom of the side seams
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer egg-footer-tabs">
            <button type="button" class="btn btn-default egg-btn-close-popup" data-dismiss="modal">Close<span class="egg-icon-close"></span></button>
        </div>
    </div>
</div>
