﻿@model Nop.Admin.Models.SMS.SMSMarketingModel
@using Nop.Services
@using Nop.Web.Framework.UI;

@{
    Html.AddScriptParts("~/Administration/Scripts/jquery.tmpl.min.js");
}

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('discount-edit');
    });
</script>

<div class="content">
    <div class="form-horizontal">
        <div id="discount-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("SMS Info"), true)
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "discount-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

@helper TabInfo()
{


    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SMSType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SMSType)
                        @Html.ValidationMessageFor(model => model.SMSType)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.OrderId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.OrderId)
                        @Html.ValidationMessageFor(model => model.OrderId)
                    </div>
                </div>
                <div class="form-group" id="pnlAppliedToSubCategories">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.From)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.From)
                        @Html.ValidationMessageFor(model => model.From)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.To)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.To)
                        @Html.ValidationMessageFor(model => model.To)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Body)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Body)
                        @Html.ValidationMessageFor(model => model.Body)
                    </div>
                </div>
                <div class="form-group" id="pnlDiscountAmount">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SentOnUtc)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SentOnUtc)
                        @Html.ValidationMessageFor(model => model.SentOnUtc)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.IsCompleted)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.IsCompleted)
                        @Html.ValidationMessageFor(model => model.IsCompleted)
                    </div>
                </div>
            </div>
        </div>
    </div>
}

