﻿@model Nop.Admin.Models.SMS.SMSTemplateModel
@using Nop.Services
@using Nop.Web.Framework.UI;

@{
    Html.AddScriptParts("~/Administration/Scripts/jquery.tmpl.min.js");
}

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SMSType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SMSType)
                        @Html.ValidationMessageFor(model => model.SMSType)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.TemplateBody)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.TemplateBody)
                        @Html.ValidationMessageFor(model => model.TemplateBody)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
