﻿
@model Nop.Admin.Models.SMS.SMSConfigurationModel

@{
    //page title
    ViewBag.Title = "Add Configuration";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("SMSMarketing");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "discount-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Create SMS Configuration
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back to list", "SMSConfiguration")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateConfiguration", Model)
}
