﻿
@model Nop.Admin.Models.SMS.SMSConfigurationModel

@{
    //page title
    ViewBag.Title = "Edit Configuration";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("SMSMarketing");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "discount-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Edit SMS Template - @Model.PhoneNumber
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back to list", "SMSConfiguration")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span onclick="Delete(@Model.Id)" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateConfiguration", Model)
}
<script>
    function Delete(id) {
        var data = { "id": id };
        data = addAntiForgeryToken(data);
        $.ajax({
            cache: false,
            url: '@Url.Action("DeleteConfiguration", "SMSMarketing")',
            data: data,
            type: 'POST',
            success: function (data) {
                window.location.href = '@Url.Action("SMSConfiguration", "SMSMarketing")';
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Failed to delete")
            }
        });
    }
</script>