﻿@model Nop.Admin.Models.SMS.SMSMarketingListModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = "Egg Marketing SMS";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("SMSMarketing");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <div class="pull-left">
            <h1>
                Egg Marketing SMS
            </h1>
            <br />
            <a href="@Url.Action("SMSTemplate")" class="btn bg-blue">
                <i class="fa fa-tags"></i>
                SMS Template
            </a>
            <a href="@Url.Action("SMSConfiguration")" class="btn bg-blue">
                <i class="fa fa-gears"></i>
                SMS Configuration
            </a>
            <button type="button" class="btn bg-blue" onclick="javascript:OpenWindow('@Url.Action("SendCustomizationSMS", "SMSMarketing")', 800, 400, true); return false;">
                <i class="fa fa-send-o"></i>
                Sent new SMS
            </button>
        </div>
        
      
        <div class="pull-right">
            <button type="button" id="delete-selected" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.System.QueuedEmails.DeleteSelected")
            </button>
            <button type="submit" id="delete-completed" name="delete-completed" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                Delete Completed
            </button>
            @Html.ActionConfirmation("delete-completed")
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SearchNumberPhone)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.SearchNumberPhone)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SearchSMSTypeId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("SearchSMSTypeId", Model.AvailablSMSTypes)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.OrderId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.OrderId)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ShowFailed)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.ShowFailed)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="search-smsMarketings" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="smsMarketing-grid"></div>

                        <script>
                        $(document).ready(function () {
                            $("#smsMarketing-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("SMSMarketingList", "SMSMarketing"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                dataBound: onDataBound,
                                columns: [
                                    {
                                        field: "Id",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                        width: 50
                                    }, {
                                        field: "SMSType",
                                        title: "SMS Type",
                                        width: 200
                                    }, {
                                        field: "OrderId",
                                        title: "OrderId",
                                        width: 200,
                                    }, {
                                        field: "From",
                                        title: "From",
                                        width: 150,
                                    }, {
                                        field: "To",
                                        title: "To",
                                        width: 150,
                                    }, {
                                        field: "Body",
                                        title: "Body",
                                        width: 200,
                                    }, {
                                        field: "SentOnUtc",
                                        title: "SentOnUtc",
                                        width: 150,
                                        type: "date",
                                        format: "{0:G}"
                                    },
                                    {
                                        field: "IsCompleted",
                                        title: "IsCompleted",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '# if(IsCompleted) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                                        width: 50
                                    },{
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 50,
                                        template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                                    }
                                ]
                            });
                        });
                        </script>

                        <script type="text/javascript">
                        var selectedIds = [];
                        $(document).ready(function() {
                            $('#search-smsMarketings').click(function () {
                                var grid = $('#smsMarketing-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });

                             //"delete selected" button
                                $('#delete-selected').click(function(e) {
                                    e.preventDefault();

                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);

                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeleteSelected", "SMSMarketing"))",
                                        data: postData,
                                        complete: function(data) {
                                            //reload grid
                                            var grid = $('#smsMarketing-grid').data('kendoGrid');
                                            grid.dataSource.page(1); //new search. Set page size to 1
                                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                                            //clear selected checkboxes
                                            $('.checkboxGroups').attr('checked', false).change();
                                            selectedIds = [];
                                        },
                                        error: function(xhr, ajaxOptions, thrownError) {
                                            alert(thrownError);
                                        },
                                        traditional: true
                                    });
                                    return false;
                                });

                                $('#mastercheckbox').click(function() {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#smsMarketing-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function(e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    } else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function(item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox();
                            });
                        });

                        $("".concat("#@Html.FieldIdFor(model => model.SearchNumberPhone),",
                            "#@Html.FieldIdFor(model => model.SearchNumberPhone)")).keydown(function(event) {
                                if (event.keyCode === 13) {
                                    $("#search-smsMarketings").click();
                                    return false;
                                }
                            });

                        function additionalData() {
                            var data = {
                                SearchSMSTypeId: $('#@Html.FieldIdFor(model => model.SearchSMSTypeId)').val(),
                                SearchNumberPhone: $('#@Html.FieldIdFor(model => model.SearchNumberPhone)').val(),
                                OrderId: $('#@Html.FieldIdFor(model => model.OrderId)').val(),
                                ShowFailed: null,

                            };
                           if( $('#@Html.FieldIdFor(model => model.ShowFailed)').is(':checked'))
                            {
                               data.ShowFailed = false;
                           }
                           else
                           {
                               data.ShowFailed = true;
                           }

                            addAntiForgeryToken(data);
                            return data;
                        }
                        function onDataBound(e) {

                            $('#smsMarketing-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                var currentId = $(this).val();
                                var checked = jQuery.inArray(currentId, selectedIds);
                                //set checked based on if current checkbox's value is in selectedIds.
                                $(this).attr('checked', checked > -1);
                            });

                            updateMasterCheckbox();
                        }

                        function updateMasterCheckbox() {
                            var numChkBoxes = $('#smsMarketing-grid input[type=checkbox][id!=mastercheckbox]').length;
                            var numChkBoxesChecked = $('#smsMarketing-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                        }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

