﻿@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}
@model Nop.Admin.Models.SMS.CustomizationSMSModel
@using Nop.Services
@using Nop.Web.Framework.UI;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Sent SMS
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn bg-blue" value="Sent" />
        </div>
    </div>
    if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            window.close();
            window.location.reload();
        </script>
    }
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.NopLabelFor(model => model.SearchSMSTypeId)
                            </div>
                            <div class="col-md-8">
                                @Html.NopDropDownList("SearchSMSTypeId", Model.AvailablSMSTypes)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.To)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.To)
                                @Html.ValidationMessageFor(model => model.To)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Name)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}