﻿@model CustomerAddressEditModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-edit-page");
}
<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">My Account</li>
        </ol>
    </div>
</section>
<section class="egg-box-main-search">
    <div class="container-fluid egg-xs-pl-0 egg-xs-pr-0">
        <div class="egg-wrapper">
            <div class="egg-left-search">
                @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Addresses })
            </div>
            <div class="egg-right-search">
                <div class="egg-page-title text-center">
                    <h1 class="page-title egg-lg-title">@T("Account.CustomerAddresses")</h1>
                </div>
                <div class="egg-box-item-category tab-right-content egg-contact-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="content-area">
                            @{
                                var validationSummary = Html.ValidationSummary(true);
                            }
                            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                            {
                                <div class="message-error">
                                    @validationSummary
                                </div>
                            }
                            @{
                                var dataDictAddress = new ViewDataDictionary();
                                //Merge ModelState (required for validation)
                                dataDictAddress.ModelState.Merge(ViewData.ModelState);
                                dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                                @Html.Partial("_CreateOrUpdateAddress", Model.Address, dataDictAddress)
                            }
                            <div class="buttons">
                                <input type="submit" class="btn egg-btn-primary" value="@T("Common.Save")" />
                            </div>
                        </div>

                                }
                </div>
            </div>
        </div>
    </div>
</section>
