﻿@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">My Account</li>
        </ol>
    </div>
</section>
<section class="egg-box-main-search">
    <div class="container-fluid egg-xs-pl-0 egg-xs-pr-0">
        <div class="egg-wrapper">
            <div class="egg-left-search">
                @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
            </div>
            <div class="egg-right-search">
                <div class="egg-page-title text-center">
                    <h1 class="page-title egg-lg-title">@T("Account.ChangePassword")</h1>
                </div>
                <div class="egg-box-item-category tab-right-content egg-contact-content">
                    <div class="content-area">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                @{
                                    var validationSummary = Html.ValidationSummary(true);
                                }
                                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                                {
                                    <div class="message-error">@validationSummary</div>
                                }
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.OldPassword, new { @class = "col-sm-3 col-form-label" }, ":")
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OldPassword)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.NewPassword, new { @class = "col-sm-3 col-form-label" }, ":")
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NewPassword)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "col-sm-3 col-form-label" }, ":")
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                                </div>
                            </div>
                            <div class="add-button">
                                <input type="submit" class="btn egg-btn-primary" value="@T("Account.ChangePassword.Button")" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
