﻿@model CustomerNavigationModel           
@using Nop.Web.Models.Customer;
<ul class="egg-list-show-filter">
    @foreach (var item in Model.CustomerNavigationItems)
    {
        if (item.Tab== CustomerNavigationEnum.Addresses ||
            item.Tab == CustomerNavigationEnum.Info ||
            item.Tab == CustomerNavigationEnum.ChangePassword)
        {
            <li class="@item.ItemClass">
                <span onclick="window.location.href='@Url.RouteUrl(item.RouteName)'" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</span>
            </li>
        }
    }
</ul>