﻿@model CustomerInfoModel
@using Nop.Web.Models.Customer;
@using Nop.Core;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");
}

@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
             var statesProgress = $("#states-loading-progress");
             statesProgress.show();
             $.ajax({
                 cache: false,
                 type: "GET",
                 url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                 data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}
<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">My Account</li>
        </ol>
    </div>
</section>
<section class="egg-box-main-search">
    <div class="container-fluid egg-xs-pl-0 egg-xs-pr-0">
        <div class="egg-wrapper">
            <div class="egg-left-search">
                @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Info })
            </div>
            <div class="egg-right-search">
                <div class="egg-page-title text-center">
                    <h1 class="page-title egg-lg-title">@T("Account.YourPersonalDetails")</h1>
                </div>
                <div class="egg-box-item-category tab-right-content egg-contact-content">
                    <div class="content-area">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            var validationSummary = Html.ValidationSummary(true);
                            if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                            {
                                <div class="message-error">@validationSummary</div>
                            }
                            <div class="form-group row">
                                @if (Model.GenderEnabled)
                                {
                                    <label class="col-sm-3 col-form-label">Gender:</label>
                                    <div class="col-sm-9">
                                        <div class="gender">
                                            <span class="male">
                                                @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male" })
                                                <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                            </span>
                                            <span class="female">
                                                @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female" })
                                                <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                            </span>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-3 col-form-label" }, ":")
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FirstName)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.LastName, new { @class = "col-sm-3 col-form-label" }, ":")
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>
                            </div>
                            if (Model.DateOfBirthEnabled)
                            {
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@T("Account.Fields.DateOfBirth"):</label>
                                    <div class="col-sm-9">
                                        @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
                                        Html.FieldNameFor(x => x.DateOfBirthMonth),
                                        Html.FieldNameFor(x => x.DateOfBirthYear),
                                        DateTime.Now.Year - 110,
                                        DateTime.Now.Year,
                                        Model.DateOfBirthDay,
                                        Model.DateOfBirthMonth,
                                        Model.DateOfBirthYear,
                                        false,
                                        new { @class = "custom-select date-time-select" })
                                        @if (Model.DateOfBirthRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.DateOfBirthDay)
                                        @Html.ValidationMessageFor(model => model.DateOfBirthMonth)
                                        @Html.ValidationMessageFor(model => model.DateOfBirthYear)
                                    </div>
                                </div>
                            }

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Email, new { @class = "col-sm-3 col-form-label" }, ":")
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            if (Model.CompanyEnabled)
                            {
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Company, new { @class = "col-sm-3 col-form-label" }, ":")
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Company, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Company)
                                    </div>
                                </div>
                            }
                          
                            if (Model.CompanyEnabled)
                            {
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Company, new { @class = "col-sm-3 col-form-label" }, ":")
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Company, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Company)
                                    </div>
                                </div>
                            }

                            if (Model.StreetAddressEnabled)
                            {
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.StreetAddress2, new { @class = "col-sm-3 col-form-label" }, ":")
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.StreetAddress2, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.StreetAddress2)
                                    </div>
                                </div>
                            }
                            if (Model.PhoneEnabled)
                            {
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Phone, new { @class = "col-sm-3 col-form-label" }, ":")
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Phone)
                                    </div>
                                </div>
                            }
                            <div class="col-xs-12 col-md-12 form-group text-center">
                                <button class="btn btn-primary egg-btn-primary" name="save-info-button" type="submit">Save</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script type="text/javascript">
    function removeexternalassociation(itemId) {
        if (confirm('@T("Common.AreYouSure")')) {
            var postData = {
                id: itemId
            };
            addAntiForgeryToken(postData);
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("RemoveExternalAssociation", "Customer")',
                data: postData,
                dataType: 'json',
                success: function (data) {
                    location.href = data.redirect;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to delete');
                }
            });
        } 
        return false;
    }
</script>