﻿@model LoginModel
@using Nop.Web.Models.Customer;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
    {
        var webHelper = EngineContext.Current.Resolve<IWebHelper>();
        registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + HttpUtility.UrlEncode(this.Context.Request.QueryString["returnUrl"]), null);
    }
}

<section class="egg-main-content">
    <div class="container-fluid">
        <div class="egg-content egg-signin-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="egg-new-customer">
                        <div class="egg-page-title">
                            <h1 class="page-title">New customer</h1>
                        </div>
                        <p style="margin-top: 20px;">By creating an account on our website you will be able to shop faster, be up to date on an orders status, and keep track of the orders you have previously made.</p>
                        <div class="egg-submit">
                            <a href="@registerUrl" class="btn btn-primary egg-btn-primary" type="submit">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="egg-login-form">
                        <div class="egg-page-title">
                            <h1 class="page-title">Returning Customer</h1>
                        </div>
                        @using (Html.BeginForm())
                        {
                            var validationSummary = Html.ValidationSummary(true, T("Account.Login.Unsuccessful").Text);
                            if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                            {
                                <div class="message-error">@validationSummary</div>
                            }
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <p class="egg-forgot-pwd">
                                        @Html.RouteLink(T("Account.Login.ForgotPassword").Text, "PasswordRecovery")
                                    </p>
                                </div>
                                <div class="col-xs-6">
                                    <div class="checkbox text-right">
                                        <label>
                                            @Html.CheckBoxFor(m => m.RememberMe) Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right egg-submit">
                                <button type="submit" class="btn btn-default egg-btn-primary">Login</button>
                            </div>
                        }
                        <div class="external-auth-list">
                            <div class="external-authentication">
                                @Html.Action("ExternalMethods", "ExternalAuthentication")
                            </div>
                            @Html.Partial("_ExternalAuthentication.AssociateMessage")
                            @Html.Partial("_ExternalAuthentication.Errors")
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
