﻿@model RegisterModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}
<section class="egg-main-content">
    <div class="container-fluid egg-xs-pl-0 egg-xs-pr-0">
        <div class="egg-content egg-signup-content">
            <div class="egg-signup-form">
                <div class="egg-page-title">
                    <h1 class="page-title">Register</h1>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    var validationSummary = Html.ValidationSummary(true);
                    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                    {
                        <div class="message-error" style="text-align:center;color:red;padding:5px">@validationSummary</div>
                    }
                    @Html.Partial("_ExternalAuthentication.AssociateMessage")

                    if (Model.GenderEnabled)
                    {
                        <div class="form-group">
                            <label class="radio-inline">
                                @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male",style="position:unset;margin:5px" })Male
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female", style = "position:unset;margin:5px" })Female
                            </label>
                        </div>

                    }
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "First name" })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Last name" })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>

                    if (Model.DateOfBirthEnabled)
                    {
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="birthday" class="egg-uppercase egg-mr-15">Birthday</label>
                                @*<input type="text" class="form-control birthday" id="birthday" placeholder="DD/MM/YYYY">*@
                                @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
                                Html.FieldNameFor(x => x.DateOfBirthMonth),
                                Html.FieldNameFor(x => x.DateOfBirthYear),
                                DateTime.Now.Year - 110,
                                DateTime.Now.Year,
                                Model.DateOfBirthDay,
                                Model.DateOfBirthMonth,
                                Model.DateOfBirthYear)
                                @if (Model.DateOfBirthRequired)
                                {
                                    @Html.RequiredHint()
                                }
                                @Html.ValidationMessageFor(model => model.DateOfBirthDay)
                                @Html.ValidationMessageFor(model => model.DateOfBirthMonth)
                                @Html.ValidationMessageFor(model => model.DateOfBirthYear)
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <hr class="egg-line">
                    <label for="birthday" class="egg-uppercase egg-mb-10">Your password</label>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Re-type Password", type = "password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                    <br>
                    <div class="egg-submit">
                        <button type="submit" class="btn btn-default btn-block egg-btn-primary" name="register-button" id="register-button">Register</button>
                    </div>
                }
            </div>
            <p class="egg-text-confirm egg-xs-pl-15 egg-xs-pr-15">By click SIGN UP you agree to our privacy policy an term of server.You also agree to receive periodic email updates, discounts, and specical offers.</p>
        </div>
    </div>
</section>
