﻿@model TypedNameListModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = "Popular Typed Names";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("PopularTypedName");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Popular Typed Names
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Order by:</label>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("OrderById", Model.AvailableOrderBy)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Search name:</label>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.Name)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Search Product ID:</label>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.ProductId)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="search-typedname" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="typedname-grid"></div>

                        <script>
                        $(document).ready(function () {
                            $("#typedname-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "PopularTypedName"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                {
                                    field: "Name",
                                    title: "Name",
                                }, {
                                    field: "ProductId",
                                    title: "ProductId"
                                }, {
                                    field: "CustomerId",
                                    title: "CustomerId"
                                },{
                                    field: "Count",
                                    title: "Count"
                                },
                                {
                                    field: "CreatedOnTime",
                                    title: "Created On",
                                    width: 200,
                                    type: "date",
                                    format: "{0:G}"
                                },
                                {
                                    field: "Id",
                                    title: "View Detail",
                                    width: 100,
                                    template: '<a href="View/#=Id#">View</a>'
                                    }
                                ]
                            });
                            });
                                function additionalData() {
                                    var data = {
                                        Name: $('#@Html.FieldIdFor(model => model.Name)').val(),
                                        ProductId: $('#@Html.FieldIdFor(model => model.ProductId)').val(),
                                        OrderById: $('#@Html.FieldIdFor(model => model.OrderById)').val(),
                                    };
                                    addAntiForgeryToken(data);
                                    return data;
                                }
                        </script>

                        <script>
                            $(document).ready(function () {
                                $('#search-typedname').click(function () {
                                    var grid = $("#typedname-grid").data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                    return false;
                                });
                            });

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
