﻿@model TypedNameModel

@{
    //page title
    ViewBag.Title = "Popular Typed Names";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("PopularTypedName");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
             View detail
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back to list", "List")</small>
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    @Html.ValidationSummary(true)
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Name)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Count)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.Count)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ProductName)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.ProductName)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ProductUrl)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.ProductUrl)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.IpAddress)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.IpAddress)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.CustomerId)
                            </div>
                            <div class="col-md-9">
                                @Html.ActionLink(!String.IsNullOrEmpty(Model.CustomerEmail) ? Model.CustomerEmail : T("Admin.Customers.Guest").Text, "Edit", "Customer", new { id = Model.CustomerId }, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.CreatedOnTime)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.CreatedOnTime)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Html.DeleteConfirmation("log-delete")
