﻿
@model Nop.Core.Domain.Stores.Store
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("About Us");
    //page class
    Html.AppendPageCssClassParts("html-sitemap-page");
}

<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">About Us</li>
        </ol>
    </div>
</section>
<section class="egg-main-content">
    <div class="container-fluid">
        <div class="egg-page-title text-center">
            <h1 class="page-title egg-lg-title">About Us</h1>
        </div>
        <div class="egg-content egg-faqs-content">
            <div class="panel-group" id="egg-accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default"
                     style="margin:20px 0">
                    <div class="page-body" style="padding: 30px;">
                        <iframe class="embed-video" src="https://www.youtube.com/embed/JEYhfk7PZ4g?autoplay=1&loop=1&cc_load_policy=1rel=0&amp;controls=0&amp;showinfo=0&playlist=JEYhfk7PZ4g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-ship-return-heading-1">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-ship-return-1" aria-expanded="true" aria-controls="egg-ship-return-1">
                                Our Story
                            </a>
                        </h4>
                    </div>
                    <div id="egg-ship-return-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="egg-ship-return-heading-1">
                        <div class="panel-body">
                            <p>We were all born and given name by our parents. Each name also has their own meaning, a hope that our parents want us to be. Each name is our parents’ essential love, that sticks to ourselves until we die. Therefore, we are all proud of our own name. We want to bring it along to us, want others people to remember us, be impressed by us or remind ourselves to do something special and meaningful.</p>
                            <br />
                            <p>@Model.Name was created by this ideal. We want to give you - our customers best experiences when you put your name on our T-shirts. You can express yourselves and tell everybody that you’re unique. Enter your name and we will do the rest. We have thousands custom design T-shirts that were created by our talented artists. We ensured that you will not find that design on any websites because we’re unique.</p>
                            <br />
                            <p style="font-size:16px;text-transform:uppercase">HURRY! CUSTOM YOUR NAME NOW</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-ship-return-heading-2">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-ship-return-2" aria-expanded="false" aria-controls="egg-ship-return-2">
                                Our Information
                            </a>
                        </h4>
                    </div>
                    <div id="egg-ship-return-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-ship-return-heading-2">
                        <div class="panel-body">
                            <p>Company name: Eggcop Inc.</p>
                            <p>Website: @Model.SecureUrl</p>
                            <p>Email: <a href="mailto:@Model.EmailAccountDisplayed">@Model.EmailAccountDisplayed</a></p>
                            <p>Phone number: +13198000280</p>
                            <p>Address: 13327 High Star Dr, Houston, TX,USA, 77083</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

