﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("Checkout Tutorial");
    //page class
    Html.AppendPageCssClassParts("html-sitemap-page");
}
<div class="container">
    <div class="row">
        <div style="text-align:center;">
            <h4 class="title unique-name">Checkout Tutorial</h4>
            <br />
        </div>
        <div class="tut-checkout-container">
            <div class="ui stackable two column grid">
                <div class="fitted column">
                    <h3>HOW TO PAY WITH DEBIT OR CREDIT CARD FROM PAYPAL</h3>
                    <br />
                    <div class="tut-checkout-step">
                        <p><b>Step 1:</b> Click Button <b>CONTINUE WITH PAYPAL</b>, then Redirect to Paypal </p>
                        <img src="~/Themes/EggStore/Content/images/purchase-button.PNG" />
                    </div>
                    <div class="tut-checkout-step">
                        <p><b>Step 2:</b> Choose Button <b>Pay With a Bank Account or Credit Card</b></p>
                        <img src="~/Themes/EggStore/Content/images/paypal-form.png" />
                    </div>
                    <div class="tut-checkout-step">
                        <p><b>Step 3:</b> Fill Your Bank Account Info </p>
                        <img src="~/Themes/EggStore/Content/images/paypal-form2.png" />
                    </div>
                </div>
                <div class="filtered column" style="margin-top:20px">
                    <p>Contact me any time via email: <a style="color:#0094ff; text-decoration:underline">hello@quotenametshirts.com !</a></p>
                    <p>
                        Thank for Your Purchase !
                    </p>
                    <p>
                        Quote Name Tee
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
