﻿@model ContactUsModel
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}
<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="javascript:void(0)">Home</a></li>
            <li class="active">Contact Us</li>
        </ol>
    </div>
</section>
<section class="egg-main-content">
    <div class="container-fluid">
        <div class="egg-page-title text-center">
            <h1 class="page-title egg-lg-title">Contact Us</h1>
        </div>
        <div class="egg-content egg-contact-content">
           @Html.Widget("contactus_top")
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                var validationSummary = Html.ValidationSummary(true);
                if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        @Html.LabelFor(model => model.FullName)
                        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", placeholder = "Your Name" })
                        @Html.ValidationMessageFor(model => model.FullName)
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "name@mail.com", type = "email" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Enquiry)
                    @Html.TextAreaFor(model => model.Enquiry, new { @class = "form-control", placeholder = "Write a few words...", rows = "7" })
                    @Html.ValidationMessageFor(model => model.Enquiry)
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-xs-12 col-md-12 form-group text-center">
                        <button class="btn btn-primary egg-btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            }
        }
        @Html.Widget("contactus_bottom")
        </div>
    </div>
</section>
