﻿@model CurrencySelectorModel
@using Nop.Web.Models.Common;
@using Nop.Core;
@using Nop.Core.Infrastructure;
<link href="~/Scripts/dropdown-with-images/css/bootstrap-select.css" rel="stylesheet" />
<script src="~/Scripts/dropdown-with-images/js/bootstrap-select.js"></script>
@if (Model.AvailableCurrencies.Count > 1)
{
    System.Text.StringBuilder iconStyle = new System.Text.StringBuilder();
    iconStyle.Append("<style>");
    foreach (var currency in Model.AvailableCurrencies)
    {
        iconStyle.Append(string.Format(".icon-flag-{0}", currency.Id));
        iconStyle.Append("{");
        iconStyle.Append(string.Format("background-image:url({0});", Url.Content("~/Content/Images/flags/" + currency.FlagImage)));
        iconStyle.Append("background-repeat: no-repeat;");
        iconStyle.Append("width:20px;");
        iconStyle.Append("height:15px;");
        iconStyle.Append("vertical-align: middle;");
        iconStyle.Append("}");
    }
    iconStyle.Append("</style>");
    @MvcHtmlString.Create(iconStyle.ToString());
    <div class="currency-selector" style="width:50%">
        @{
            var webHelper = EngineContext.Current.Resolve<IWebHelper>();
        }
        <select class="selectpicker" name="customerCurrency" onchange="setLocation(this.value);">
            @foreach (var currency in Model.AvailableCurrencies)
            {
                <option data-icon="icon-flag-@(currency.Id)" value="@webHelper.ModifyQueryString(Url.RouteUrl("ChangeCurrency", new { customercurrency = currency.Id }), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null)" selected="@Model.CurrentCurrencyId.Equals(currency.Id)">
                    @currency.CurrencyCode
                </option>
            }       
        </select>
    </div>
   
}
