﻿@model Nop.Core.Domain.Stores.Store
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("FAQ");
    //page class
    Html.AppendPageCssClassParts("html-sitemap-page");
}
<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">FAQs</li>
        </ol>
    </div>
</section>
<section class="egg-main-content">
    <div class="container-fluid">
        <div class="egg-page-title text-center">
            <h1 class="page-title egg-lg-title">FAQ</h1>
        </div>
        <div class="egg-content egg-faqs-content">
            <div class="panel-group" id="egg-accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-faq-heading-1">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-faq-1" aria-expanded="true" aria-controls="egg-faq-1">
                                Payment Questions
                            </a>
                        </h4>
                    </div>
                    <div id="egg-faq-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="egg-faq-heading-1">
                        <div class="panel-body">
                            <p><b>What payment options do you accept?</b></p>
                            <p>Our checkout system accepts PayPal as payment options and Visa Card, MasterCard, or American Express.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-faq-heading-2">
                        <h4 class="panel-title">
                            <a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-faq-2" aria-expanded="false" aria-controls="egg-faq-2">
                                Sizing Questions
                            </a>
                        </h4>
                    </div>
                    <div id="egg-faq-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-faq-heading-2">
                        <div class="panel-body">
                            <p><b>Do you have a sizing chart?</b></p>
                            <p>Yes. You can <a href="@Url.RouteUrl("SizeChart")" target="_blank">view it here</a>. There are instructions on how to measure a shirt you already own to see how you fit within our sizing. Most of our products are 100% preshrunk cotton or a cotton/polyester blend. The men's styles run very true to size, the ladies tend to run 1-2 sizes small.</p>
                            <br />
                            <p><b>How do I know what my size is?</b></p>
                            <p>You can  <a href="@Url.RouteUrl("SizeChart")" target="_blank">view our size chart</a>. You measure your chest, and divide a half. Height is measured in a straight line at point where neck trim meets body to bottom of garment (including any bottom trim).</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-faq-heading-3">
                        <h4 class="panel-title">
                            <a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-faq-3" aria-expanded="false" aria-controls="egg-faq-3">
                                Order Questions
                            </a>
                        </h4>
                    </div>
                    <div id="egg-faq-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-faq-heading-3">
                        <div class="panel-body">
                            <p><b>Can I add to an order after it has been placed?</b></p>
                            <p>We cannot add items to an order after it has been placed. If you need to add items to an order, please <a href="@Url.RouteUrl("ContactUs")">contact us</a> to cancel within 24 hours, after that, you can re-place.</p>
                            <br />
                            <p><b>I'm getting an error when trying to process my order.</b></p>
                            <p>Here are some tips that may assist you in completing your order</p>
                            <p>-The billing address that you input on our site must be identical to the billing information on file for your card. </p>
                            <p>-The information must be entered exactly as it appears using the same abbreviations and punctuation. Do you have a middle initial or middle name on the card? Don't forget to include it! </p>
                            <p>-Still having trouble? Please call your bank and ask for the EXACT information they have on file for your card. </p>
                            <br />
                            <p><b>Do you offer customization?</b></p>
                            <p>Yes, we do. We have a professional design team, we will be ready to custom for you. However, we ask your order at least from 2 shirts. Just email us with your enquiry, we will do it for you. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-faq-heading-4">
                        <h4 class="panel-title">
                            <a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-faq-4" aria-expanded="false" aria-controls="egg-faq-4">
                                Shipping Questions
                            </a>
                        </h4>
                    </div>
                    <div id="egg-faq-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-faq-heading-4">
                        <div class="panel-body">
                            <p><b>How much does shipping cost?</b></p>
                            <p>Shipping costs vary depending on the shipping destination and the number of items that you purchase. Here’s how we break down our shipping prices.</p>
                            <p><i>Shipping cost:</i></p>
                            <ul>
                                <li>T-Shirts: $4.99 per item, added $3.5 for next item</li>
                                <li>Hoodie and Sweat Shirt: $6.99, Added $3.5 for next item</li>
                                <li>All products are proudly printed in the United States.</li>
                            </ul>
                            <br />
                            <p><b>How long will it take to ship my order?</b></p>
                            <p>We use UPS Innovations for shipping</p>
                            <p><i>Time Delivered:</i></p>
                            <ul>
                                <li>USA: 10 – 12 days to print and to ship.</li>
                                <li>International: 14 – 16 days to print and to ship.</li>
                            </ul>
                            <br />
                            <p><b>Where do your products ship from? </b></p>
                            <p>Our company is located in Manchester, New Hamshire.</p>
                            <p>Mostly all products ship from our facility in Gaylord, Miami</p>
                            <br />
                            <p><b>Do you have rush shipping option? </b></p>
                            <p>We’re so sorry that we don’t have rush shipping option. We will discuss with our team and improve this opinion in next time.</p>
                            <br />
                            <p><b>Have not received my order yet, now what?</b></p>
                            <p>First check tracking info and see if it was delivered. If it says delivered but never recieved please allow a few more days. Sometime products are delivered late by USPS or scanned delivered by mistake. If you still haven’t get it after a few days, please let us know. </p>
                            <br />
                            <p><b>Having problems with Tracking? OR My package is being returned in the mail, what do I do?</b></p>
                            <p>Once your order ships, you will receive a tracking number via email. It can sometimes take up to 24 hours for your tracking number to become active.</p>
                            <p>If your package comes back to us, it will be processed as return to sender mail and you will be contacted at the email address provided. You will be given the option to reship to a valid address</p>
                            <br />
                            <p><b>Am I able to change my shipping address after placing an order?</b></p>
                            <p>Yes, just update your new shipping address via email, we will change and send you a receipt to confirm your info. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-faq-heading-5">
                        <h4 class="panel-title">
                            <a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-faq-5" aria-expanded="false" aria-controls="egg-faq-5">
                                Discount & Wholesale
                            </a>
                        </h4>
                    </div>
                    <div id="egg-faq-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-faq-heading-5">
                        <div class="panel-body">
                            <p><b>Do you have discounts for large orders?</b></p>
                            <p>No, we do not discount for large orders. However, if you are looking for wholesale printing, we do offer that service. You can contact our wholesale department <a href="@Url.Action("WholeSale","Common")">here</a>.</p>
                            <br />
                            <p><b>Where do I find a coupon or discount code?</b></p>
                            <p>Please access to the site, we show a discount code on our site when we have any promotions. Or <a href="mailto:@Model.EmailAccountDisplayed">email us</a>, we will be happy to give you a discount code for your order </p>
                        </div>
                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-faq-heading-6">
                        <h4 class="panel-title">
                            <a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-faq-6" aria-expanded="false" aria-controls="egg-faq-6">
                                Returns
                            </a>
                        </h4>
                    </div>
                    <div id="egg-faq-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-faq-heading-6">
                        <div class="panel-body">
                            <p><b>How do I cancel my order?</b></p>
                            <p>Because our orders are custom produced, we offer order cancellations for a short period of time after your order is placed, within 24 hours. </p>
                            <br />
                            <p><b>One of the orders is a duplicate, what should I do?</b></p>
                            <p>If you placed an order but it was duplicated into over one more order, you will get a <b><i>full refund</i></b>, please let us know</p>
                            <br />
                            <p><b>How do I return or exchange my shirt?</b></p>
                            <p>If we send the wrong/damaged item to you, you don’t need to return it. We will be ready to replace another one for you as soon as possible. The refunds can take up to 7-14 days to be processed once we have issued them.</p>
                            <br />
                            <p><b>You made a mistake on my order.</b></p>
                            <p>If that’s our bad. It doesn't happen often, but nobody's perfect. If your receive the wrong item or if there is a defect in any way, we'll work with you to make it right. Please send us some item’s photos to show it for our partner in improve it in the future.</p>
                        </div>
                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-faq-heading-7">
                        <h4 class="panel-title">
                            <a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-faq-7" aria-expanded="false" aria-controls="egg-faq-7">
                                Contact
                            </a>
                        </h4>
                    </div>
                    <div id="egg-faq-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-faq-heading-7">
                        <div class="panel-body">
                            <p><b>How do I contact Custom Service Dep?</b></p>
                            <p>To contact us directly, <a href="@Url.RouteUrl("ContactUs")">click here</a>. Typically we try to respond to emails within 24-48 hours.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>