﻿@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;

<footer>
    <section class="footer-widget-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="footer-widget col-xs-6">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="@Url.RouteUrl("Shipping")">Shipping Info</a></li>
                        <li><a href="@Url.RouteUrl("Returns")">Returns & Refund Policy</a></li>
                        <li><a href="@Url.RouteUrl("WholeSale")">Wholesale</a></li>
                    </ul>
                </div>
                <div class="footer-widget col-xs-6">
                    <h4>Customer Service</h4>
                    <ul>
                        <li><a href="@Url.RouteUrl("ContactUs")">Contact Us</a></li>
                        <li><a href="@Url.RouteUrl("EggOrderTracking")">Track Order</a></li>
                        <li><a href="@Url.RouteUrl("FAQ")">FAQs</a></li>
                        <li><a href="@Url.RouteUrl("UnSubscribe")">Unsubscribe</a></li>
                    </ul>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="footer-widget col-xs-6">
                    <h4>Follow us</h4>
                    @Html.Action("Social", "Common")
                </div>
                <div class="footer-widget col-xs-6">
                    <h4>Highlights</h4>
                    <ul>
                        <li><a href="@Url.RouteUrl("SaleOff1")">Father's Day</a></li>
                        @*<li><a href="@Url.RouteUrl("SaleOff2")">Valentine Sale</a></li>*@
                        @*<li><a href="@Url.RouteUrl("SaleOff3")">Christmas Sale</a></li>*@
                    </ul>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="footer-widget egg-payment-widget mobile-text-center">
                    <h4 style="text-align:left">Payment Options</h4>
                    <img src="~/Themes/EggStore/Content/images/creditcard.png" />

                    <h4 style="text-align:left;margin:10px 0">Currencies</h4>
                    @Html.Action("CurrencySelector", "Common")
                </div>
            </div>
        </div>
    </section>
    <section class="copyright text-center">
        <div class="container-fluid">
            <div class="footer-navigation">
                <ul id="menu-footer-menu" class="menu text-center">
                    <li class="menu-item"><a href="@Url.RouteUrl("PrivacyNotice")">Privacy Notice</a></li>
                    <li class="menu-item"><a href="@Url.RouteUrl("TermsOfUse")">Term Of Use</a></li>
                    <li class="menu-item"><a href="@Url.RouteUrl("AboutUs")">About Us</a></li>
                </ul>
            </div>
            <div class="text-copyright">
                <small>©2018 Powered by <a href="https://www.nopcommerce.com/" target="_blank">nopCommerce</a>. All rights reserved.</small>
            </div>
        </div>
    </section>
</footer>
