﻿@model RegisterNameModel
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("Forgot Order");
    //page class
    Html.AppendPageCssClassParts("html-sitemap-page");
}

<div class="container" style="height:300px">
    <div class="row">
        <div style="text-align:center; margin-top:50px;">
            <h4 class="title unique-name">Thanks for your submit!</h4>
            <hr />
            <p class="title" style="font-size:17px">Please check your email to receive your code!</p>
        </div>
        <div class="register-name">
            <input type="button" style="background: #3FA151;color: #fff;padding: 8px;border: none;border-radius: 2px;" value="Continue Shopping" onclick="setLocation('/')">
        </div>
    </div>
</div>