﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;
<div class="navbar-header navbar-right egg-nav-mobile">
    <div class="egg-find">
        @Html.Action("SearchBox", "Catalog")
    </div>
    <div class="egg-account">
        @if (Model.IsAuthenticated)
        {
            <a data-toggle="dropdown">@Model.CustomerEmailUsername </a>
            <ul class="dropdown-menu" style="margin-top:0">
                <li><a href="@Url.RouteUrl("CustomerInfo")" class="dropdown-item">View info</a></li>
                <li><a href="@Url.RouteUrl("Logout")" class="dropdown-item">Logout</a></li>
            </ul>
        }
        else
        {
            <a href="@Url.RouteUrl("Login")">Login</a>
        }
    </div>
    <div class="egg-cart">
        @if (Model.ShoppingCartEnabled)
        {
            if (Model.ShoppingCartItems == 0)
            {
                <p>
                    <i class="egg-icon-cart"></i>
                    <a>Cart is Empty</a>
                </p>
            }
            else
            {
                <p>
                    <i class="egg-icon-cart"></i>
                    <a href="@Url.RouteUrl("ShoppingCart")">View cart</a>
                    <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
                </p>
            }
        }
    </div>
</div>
