﻿@model LogoModel
@using Nop.Web.Models.Common;
<a class="navbar-brand" href="@Url.RouteUrl("HomePage")">
    <img width="186"  class="logo"  itemprop="logo" title="" alt="@Model.StoreName" src="@Model.LogoPath">
</a>