﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;

<div class="egg-icon-menu">
    <span class="egg-click-search"><i class="egg-icon-search"></i></span>
    @if (Model.ShoppingCartEnabled)
    {
        if (Model.ShoppingCartItems == 0)
        {
            <a href="javascript:void(0);"><i class="egg-icon-cart"><span class="cart-qty-sm">(0)</span></i></a>
        }
        else
        {
            <a href="@Url.RouteUrl("ShoppingCart")"><i class="egg-icon-cart"><span class="cart-qty-sm">(@Model.ShoppingCartItems)</span></i></a>
        }
    }

    @if (Model.IsAuthenticated)
    {
        <a href="javascript:void(0)" data-toggle="dropdown"><i class="egg-icon-user"></i></a>
            <ul class="dropdown-menu mobile-menu-customer">
                <li><a href="@Url.RouteUrl("CustomerInfo")" class="dropdown-item">View info</a></li>
                <li><a href="@Url.RouteUrl("Logout")" class="dropdown-item">Logout</a></li>
            </ul>
    }
    else
    {
        <a href="@Url.RouteUrl("Login")"><i class="egg-icon-user"></i></a>
    }
    <form action="@Url.RouteUrl("ProductSearch")" method="get" id="mobile-search-box-form" class="search egg-form-header egg-form-header-mobile" style="display: none;">
        <button type="submit" class="egg-btn-search"></button>
        <input type="text" id="mobile-searchterms" autocomplete="off" name="q" placeholder="@T("Search.SearchBox.Tooltip")">
    </form>
</div>
