﻿@model Nop.Core.Domain.Stores.Store
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("Privacy Notice");
    //page class
    Html.AppendPageCssClassParts("html-sitemap-page");
}

<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Privacy notice</li>
        </ol>
    </div>
</section>
<section class="egg-main-content">
    <div class="container-fluid">
        <div class="egg-page-title text-center">
            <h1 class="page-title egg-lg-title">Privacy notice</h1>
        </div>
        <div class="egg-content egg-faqs-content">
            <div class="panel-group" id="egg-accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-privacy-heading-1">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-privacy-1" aria-expanded="true" aria-controls="egg-privacy-1">
                                What information do we collect?
                            </a>
                        </h4>
                    </div>
                    <div id="egg-ship-return-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="egg-privacy-heading-1">
                        <div class="panel-body">
                            <ul>
                                <li><span style="font-family: georgia, palatino;">We collect information from you when you register on the site, place an order, enter a contest or sweepstakes, respond to a survey or communication such as e-mail, or participate in another site feature.</span></li>
                                <li><span style="font-family: georgia, palatino;">When ordering or registering, we may ask you for your name, e-mail address, mailing address, phone number, credit card information or other information. Confirmation email and SMS will send to your email, your phone number. You may, however, visit our site anonymously.</span></li>
                                <li><span style="font-family: georgia, palatino;">We also collect information about gift recipients so that we can fulfill the gift purchase. The information we collect about gift recipients is not used for marketing purposes.</span></li>
                                <li><span style="font-family: georgia, palatino;">Like many websites, we use "cookies" to enhance your experience and gather information about visitors and visits to our websites. Please refer to the "Do we use 'cookies'?" section below for information about cookies and how we use them.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-privacy-heading-2">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-privacy-2" aria-expanded="false" aria-controls="egg-privacy-2">
                                How do we use your information?
                            </a>
                        </h4>
                    </div>
                    <div id="egg-privacy-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-privacy-heading-2">
                        <div class="panel-body">
                            <ul>
                                <li><span style="font-family: georgia, palatino;">To personalize your site experience and to allow us to deliver the type of content and product offerings in which you are most interested.</span></li>
                                <li><span style="font-family: georgia, palatino;">To allow us to better service you in responding to your customer service requests.</span></li>
                                <li><span style="font-family: georgia, palatino;">To quickly process your transactions.</span></li>
                                <li><span style="font-family: georgia, palatino;">To administer a contest, promotion, survey or other site feature.</span></li>
                                <li><span style="font-family: georgia, palatino;">If you have opted-in to receive our e-mail newsletter, we may send you periodic e-mails. If you would no longer like to receive promotional e-mail from us, please refer to the "How can you opt-out, remove or modify information you have provided to us?" section below. If you have not opted-in to receive e-mail newsletters, you will not receive these e-mails. Visitors who register or participate in other site features such as marketing programs and 'members-only' content will be given a choice whether they would like to be on our e-mail list and receive e-mail communications from us.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-privacy-heading-3">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-privacy-3" aria-expanded="false" aria-controls="egg-privacy-3">
                                How do we protect visitor information?
                            </a>
                        </h4>
                    </div>
                    <div id="egg-privacy-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-privacy-heading-3">
                        <div class="panel-body">
                            <span style="font-family: georgia, palatino;">We implement a variety of security measures to maintain the safety of your personal information. Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. When you place orders or access your personal information, we offer the use of a secure server. All sensitive/credit information you supply is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our databases to be only accessed as stated above.</span><br><br><br><span style="font-family: georgia, palatino;">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-privacy-heading-4">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-privacy-4" aria-expanded="false" aria-controls="egg-privacy-4">
                                Do we use "cookies"?
                            </a>
                        </h4>
                    </div>
                    <div id="egg-privacy-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-privacy-heading-4">
                        <div class="panel-body">
                            <span style="font-family: georgia, palatino;">Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</span><br><br>
                            <span style="font-family: georgia, palatino;">We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.</span><br><br>
                            <span style="font-family: georgia, palatino;">You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Netscape Navigator or Internet Explorer) settings. Each browser is a little different, so look at your browser Help menu to learn the correct way to modify your cookies. If you turn cookies off, you won't have access to many features that make your site experience more efficient and some of our services will not function properly. However, you can still place orders over the telephone by contacting customer service.</span><br><br><br>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-privacy-heading-5">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-privacy-5" aria-expanded="false" aria-controls="egg-privacy-5">
                                Do we disclose the information we collect to outside parties?
                            </a>
                        </h4>
                    </div>
                    <div id="egg-privacy-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-privacy-heading-5">
                        <div class="panel-body">
                            <span style="font-family: georgia, palatino;">We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice, except as described below. The term "outside parties" does not include @Model.Name.&nbsp;It also does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.</span><br><br><span style="font-family: georgia, palatino;">However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-privacy-heading-6">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-privacy-6" aria-expanded="false" aria-controls="egg-privacy-6">
                                How can you opt-out, remove or modify information you have provided to us?
                            </a>
                        </h4>
                    </div>
                    <div id="egg-privacy-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-privacy-heading-6">
                        <div class="panel-body">
                            <span style="font-family: georgia, palatino;">To modify your e-mail subscriptions, please let us know by modifying your preferences in the "My Account" section. Please note that due to email production schedules you may receive any emails already in production.</span><br><br><span style="font-family: georgia, palatino;">To delete all of your online account information from our database, sign into the "My Account" section of our site and remove your shipping addresses, billing addresses &amp; payment information. Please note that we may maintain information about an individual sales transaction in order to service that transaction and for record keeping.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-privacy-heading-7">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-privacy-7" aria-expanded="false" aria-controls="egg-privacy-7">
                                Third party links
                            </a>
                        </h4>
                    </div>
                    <div id="egg-privacy-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-privacy-heading-7">
                        <div class="panel-body">
                            <span style="font-family: georgia, palatino;">In an attempt to provide you with increased value, we may include third party links on our site. These linked sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these linked sites (including if a specific link does not work).</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-privacy-heading-8">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-privacy-8" aria-expanded="false" aria-controls="egg-privacy-8">
                                Changes to our policy
                            </a>
                        </h4>
                    </div>
                    <div id="egg-privacy-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-privacy-heading-8">
                        <div class="panel-body">
                            <span style="font-family: georgia, palatino;">If we decide to change our privacy policy, we will post those changes on this page. Policy changes will apply only to information collected after the date of the change.&nbsp;<strong>This policy was last modified on Mar 21, 2017.</strong></span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-privacy-heading-9">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-privacy-9" aria-expanded="false" aria-controls="egg-privacy-9">
                                Questions and feedback
                            </a>
                        </h4>
                    </div>
                    <div id="egg-privacy-9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-privacy-heading-9">
                        <div class="panel-body">
                            <span style="font-family: georgia, palatino;">We welcome your questions, comments, and concerns about privacy. Please send us any and all feedback pertaining to privacy, or any other issue.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-privacy-heading-10">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-privacy-10" aria-expanded="false" aria-controls="egg-privacy-10">
                                Online Policy Only
                            </a>
                        </h4>
                    </div>
                    <div id="egg-privacy-10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-privacy-heading-10">
                        <div class="panel-body">
                            <span style="font-family: georgia, palatino;">This online privacy policy applies only to information collected through our website and not to information collected offline.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-privacy-heading-11">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-privacy-11" aria-expanded="false" aria-controls="egg-privacy-11">
                                Terms and Conditions
                            </a>
                        </h4>
                    </div>
                    <div id="egg-privacy-11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-privacy-heading-11">
                        <div class="panel-body">
                            <span style="font-family: georgia, palatino;">Please also visit our&nbsp;Terms and Conditions&nbsp;section establishing the use, disclaimers, and limitations of liability governing the use of our website.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-privacy-heading-12">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-privacy-12" aria-expanded="false" aria-controls="egg-privacy-12">
                                Your consent
                            </a>
                        </h4>
                    </div>
                    <div id="egg-privacy-12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-privacy-heading-12">
                        <div class="panel-body">
                            <span style="font-family: georgia, palatino;">By using our site, you consent to our privacy policy.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>