﻿

@model Nop.Core.Domain.Stores.Store
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("Returns & Refund Policy");
    //page class
    Html.AppendPageCssClassParts("html-sitemap-page");
}

<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Return & Refund Policy</li>
        </ol>
    </div>
</section>
<section class="egg-main-content">
    <div class="container-fluid">
        <div class="egg-page-title text-center">
            <h1 class="page-title egg-lg-title">Returns & Refund Policy</h1>
        </div>
        <div class="egg-content egg-faqs-content">
            <div class="row" style="margin:15px 0">
                <p><strong>Important note:</strong></p>
                <p>
                    Please kindly note your order is custom printed item that be produced for you only. If there are any issues related to incorrect size, we will not be responsible for refunds or exchanges. To help you find out the accurate size, we have attached an available size chart on the right-middle of each product page. Please click on the  <a href="@Url.RouteUrl("SizeChart")">SIZE CHART</a> to find your best fit.
                </p>
            </div>
            <div class="panel-group" id="egg-accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-ship-return-heading-1">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-ship-return-1" aria-expanded="true" aria-controls="egg-ship-return-1">
                                Exchange
                            </a>
                        </h4>
                    </div>
                    <div id="egg-ship-return-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="egg-ship-return-heading-1">
                        <div class="panel-body">
                            <p>All of our products are custom-made. If you wish to amend your order, please <a href="@Url.RouteUrl("ContactUs")">contact us</a> as soon as possible. We will not be responsible for any information wrong if you don’t provide us within 24 hours.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-ship-return-heading-2">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-ship-return-2" aria-expanded="false" aria-controls="egg-ship-return-2">
                                Replacement
                            </a>
                        </h4>
                    </div>
                    <div id="egg-ship-return-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-ship-return-heading-2">
                        <div class="panel-body">
                            <p>
                                -	If we ship you the wrong item or size, we will send a replacement to you. You must send pictures of the damaged or incorrect item.
                            </p>
                            <p>
                                -	If an order is lost in transit, we will replace it.  You will be provided a tracking number and this is what we use to determine if an order has been lost in transit or delivered.
                            </p>
                            <p>
                                - If there is any mistake in missing address that lead to unsuccessful delivery and return back to us, please pay shipping expenses to re-send your parcel.
                            </p>
                            <p>+ $6 for standard shipping</p>
                            <p>+ $17 for fast shipping.</p>
                            <p>+ This expenses might be changed due to freight of each parcel.</p>
                            <br />
                            <p>
                                <strong>NOTE: </strong> <span style="font-style:italic">We always priorly solve for replacement orders, and of course, there is no need to return the item(s).</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-ship-return-heading-3">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-ship-return-3" aria-expanded="true" aria-controls="egg-ship-return-3">
                                Refund and Return
                            </a>
                        </h4>
                    </div>
                    <div id="egg-ship-return-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-ship-return-heading-3">
                        <div class="panel-body">
                            <p><strong>1. Refund issues:</strong></p>
                            <p><strong><i>Below is few reasons you will get full refund :</i></strong></p>
                            <p>- Duplicate order, we will cancel and refund one for you. </p>
                            <p>- Your item(s) has not received within 30 days.</p>
                            <p>- You received a damaged/faulty item, we will priorly solve for replacement orders and you do not need to return item(s). </p>
                            <p>- If you still want to refund, we will process the store credit or refund once we receive the return item(s) from you. </p>
                            <p><i>- If you need to return, or refund your order, please read the following instructions carefully.</i></p>
                            <br />
                            <p><strong>2. How do return your item(s)?</strong></p>
                            <p><strong><i>Step 1: How to return?</i></strong></p>
                            <p>- Returns must be shipped back to us within 30 days from the date your package is delivered. </p>
                            <p>- To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging, that is unworn, not-used, and has not been washed or damaged in any other way. All original sewn in or hang tags must still be intact.</p>
                            <p>- To complete your return, we require a receipt or proof of purchase. You will be responsible for paying for your own shipping costs for returning your item(s).</p>
                            <p>- Package Return Address: 13327 High Star Dr Houston Tx 77083</p>
                            <p><strong><i>Step 2: Our check processing. </i></strong></p>
                            <p>- Once we received your return item(s), we will send you an email to notify you that we have received it. We will also notify you of the approval or rejection of your refund as quickly as possible. The check processing will takes a time to compare and to discuss with our partner.</p>
                            <p><strong><i>Step 3: Refund or not refund?</i></strong></p>
                            <p>- If you are approved, then your refund will be processed. It takes up 7-14 business days to process once we have issued them.</p>
                            <p>- If not, your item(s) will be reship back to you. </p>
                            <br />
                            <p><strong>3. Late or missing refunds </strong></p>
                            <p>- If you are approved, then your refund will be processed. It takes up 7-14 business days to process once we have issued them.</p>
                            <p>- If not, your item(s) will be reship back to you. </p>
                            <p>
                                - If you haven’t received a refund yet, first check your bank account again.
                                Then contact your credit card company. It may take some time before your refund is officially posted.
                            </p>
                            <p>
                                - Next contact your bank. There is often some processing time before a refund is posted. If you’ve done all of this and you still have not received your refund yet, please contact us at <a href="mailto:@Model.EmailAccountDisplayed">@Model.EmailAccountDisplayed</a>
                            </p>
                            <p>
                                - If you are shipping an item over $100, you should consider using a traceable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.
                            </p>
                            <br />
                            <p>- Any question please <a href="@Url.RouteUrl("ContactUs")">contact us</a>.</p>
                            <p>- Our contact email is <a href="mailto:@Model.EmailAccountDisplayed">@Model.EmailAccountDisplayed</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
