﻿
@model Nop.Core.Domain.Stores.Store
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("Mother's Day ");
    //page class
    Html.AppendPageCssClassParts("html-sitemap-page");
}

<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Father's  Day</li>
        </ol>
    </div>
</section>
<section class="egg-main-content">
    <div class="container-fluid">
        <div class="egg-page-title text-center">
            <h1 class="page-title egg-lg-title">HAPPY FATHER’S DAY</h1>
        </div>
        <div class="egg-content egg-faqs-content">
            <div class="panel-group" id="egg-accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-ship-return-heading-1">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button">
                                The Man – The Myth – The Daddy
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>
                                Father’s Day is all about treating the guy who’s looked after you all these years. He’s done a pretty good job and what better way to thank him than with a special gift from his very special child.
                            </p>
                            <br />
                            <p>Kanyshoes.com always be there to help you find the unique shoes for your beloved daddy.</p>
                            <br />
                            <p>Use discount code: <b>DAD15</b> to save off  <b>16.6%</b> on your order. &hearts;</p>
                             <br />
                             <p>Valid through June 16th, 2019 and FREE SHIPPING on all orders over $50.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

