﻿@model Nop.Core.Domain.Stores.Store
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("Shipping And Returns");
    //page class
    Html.AppendPageCssClassParts("html-sitemap-page");
}

<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Shipping &amp; returns</li>
        </ol>
    </div>
</section>
<section class="egg-main-content">
    <div class="container-fluid">
        <div class="egg-page-title text-center">
            <h1 class="page-title egg-lg-title">Shipping &amp; returns</h1>
        </div>
        <div class="egg-content egg-faqs-content">
            <div class="panel-group" id="egg-accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-ship-return-heading-1">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-ship-return-1" aria-expanded="true" aria-controls="egg-ship-return-1">
                                SHIPPING INFO?
                            </a>
                        </h4>
                    </div>
                    <div id="egg-ship-return-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="egg-ship-return-heading-1">
                        <div class="panel-body">
                            <p>Orders are expected to arrive within 7 to 10 business days.</p>
                            <p>We use UPS Innovations for shipping:</p>
                            <ul>
                                <li><strong>FREE SHIPPING FOR ORDER ABOVE $50</strong></li>
                                <li>
                                    <p>Shipping costs start at:</p>
                                    <p>T-Shirts: $4.99 per item, added $3.5 for next item</p>
                                    <p>Hoodie and Sweat Shirt: $6.99, Added $3.5 for next item</p>
                                </li>
                                <li>
                                    <p>Time Delivered:</p>
                                    <p>USA: 7 -10 days to print and ship</p>
                                    <p>International: 7 – 14 days to print and ship</p>
                                </li>
                            </ul>
                            <p>All products are proudly printed in the United States.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-ship-return-heading-2">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-ship-return-2" aria-expanded="false" aria-controls="egg-ship-return-2">
                                REPLACEMENTS &amp; REFUNDS
                            </a>
                        </h4>
                    </div>
                    <div id="egg-ship-return-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-ship-return-heading-2">
                        <div class="panel-body">
                            <p>Your satisfaction is our top priority. We guarantee the quality of our products and we want you to be completely satisfied with your purchases. If for any reason <span lang="VI">the items we delivered to you</span> are<span lang="VI">: WRONG SIZE, WRONG TYPE, WRONG COLOR or POOR QUALITY OF THE PRINT (<strong>compared to</strong> the items you order on @Model.Name),</span> we will be happy to <span lang="VI">replace</span> the item<span lang="VI">s</span> for you to better meet your needs and tastes.<span lang="VI"> You can ask for replacement the purchased items within 30 DAYS of receipt or partial refund (less shipping charges & 5% of the order for payment gateway).</span></p>

                            <p><span lang="VI">Please follow these steps to complete the REPLACEMENT:</span></p>
                            <p><span lang="VI">- Send email to the address <a href="mailto:@Model.EmailAccountDisplayed">@Model.EmailAccountDisplayed</a>&nbsp;or&nbsp;<a href="@Url.Action("ContactUs","Common")">Contact us</a></span></p>
                            <p><span lang="VI">- Write the email subject: REPLACEMENTS or REFUNDS</span></p>
                            <p><span lang="VI">- Attach photos of your receipts and your purchased items.</span></p>
                            <p>One of our representatives will be happy to help make things right within 30 days of receiving your order.</p>
                            <p><span lang="VI">The replacements will be delivered to you within 7-10 business days (USA)/ 7-14 business days (International). </span></p>
                            <p><span lang="VI">The refunds can take up to 7 days to be processed. It’s important to note that during this time the original purchase could still be listed on your account and accrue interest if you carry a balance on your credit card.&nbsp;</span></p>
                            <p><span>If you placed an order but it was duplicated into over one more order, we will refund you all the money.</span></p>
                            <p><span lang="VI"><strong>Notes: </strong>&nbsp;<em>We only accept replacement and refund when the items are<strong> bad quality or wrong types</strong>. When you order on our website mean you understand our policy and time shipping. So after you complete checking out and we begin to print the product, we will not be able to refund you in any circumstances.</em></span></p>
                            <p><span lang="VI"><em><strong>You have right to cancel your order within 24 hours</strong> since you order the items. We will refund you within 7 business days. If there are any reason that you want a refund but we have already print the items, you won't be able to get the refund any more.</em></span></p>
                            <p><span lang="VI"><em>Please Read and Understand Our Policy</em></span></p>
                            <p><em><strong><span lang="VI">Thanks You For Trusting Us!</span></strong></em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
