﻿
@model Nop.Core.Domain.Stores.Store
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("Shipping Info");
    //page class
    Html.AppendPageCssClassParts("html-sitemap-page");
}

<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Shipping Info</li>
        </ol>
    </div>
</section>
<section class="egg-main-content">
    <div class="container-fluid">
        <div class="egg-page-title text-center">
            <h1 class="page-title egg-lg-title">Shipping Info</h1>
        </div>
        <div class="egg-content egg-faqs-content">
            <div class="panel-group" id="egg-accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-ship-return-heading-1">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-ship-return-1" aria-expanded="true" aria-controls="egg-ship-return-1">
                                We Ship Worldwide
                            </a>
                        </h4>
                    </div>
                    <div id="egg-ship-return-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="egg-ship-return-heading-1">
                        <div class="panel-body">
                            <p>Yes, <b>Kany Shoes</b> ships all over the world every day and free shipping for orders that are greater than .</p>
                            <p>We ship from China.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="egg-ship-return-heading-2">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-ship-return-2" aria-expanded="false" aria-controls="egg-ship-return-2">
                                Shipping & Pricing
                            </a>
                        </h4>
                    </div>
                    <div id="egg-ship-return-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-ship-return-heading-2">
                        <div class="panel-body">
                            <p>Because all of our shoes are custom made so please allow an additional 5-7 days for processing time.</p>
                            <br>
                            <p>•	USA standard shipping usually takes 6 -15 working days.</p>
                            <p>•	International standard shipping typically delivers in 10-25 working days although it sometimes takes as long as 4 weeks, depending on your location and any possible transit delays at your local customs office.</p>
                            <p>•    DHL is used as the Expedited shipping carrier, shipping costs $15 USD, shipments arrive within 3 to 5 business days after order has been placed. </p>
                            <br />
                            <p>We are happy to help you. <a href="@Url.Action("ContactUs","Common")">Contact us</a> with any questions.</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
