﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("Size Chart");
    //page class
    Html.AppendPageCssClassParts("html-sitemap-page");
}
<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="javascript:void(0)">Home</a></li>
            <li class="active">Size Chart</li>
        </ol>
    </div>
</section>
<section class="egg-main-content">
    <div class="container-fluid">
        <div class="egg-content egg-size-chart-content">
            <div class="row">
                <div class="col-md-3">
                    <nav class="egg-docs-sidebar hidden-print hidden-sm hidden-xs fixed-position">
                        <div class="egg-page-title">
                            <h1 class="page-title">Size Chart</h1>
                        </div>
                        <ul class="nav bs-docs-sidenav">
                            <li class="active"><a href="#mens-unisex">Guys Tee Sizes</a></li>
                            <li><a href="#ladies-cut">Ladies' Tee Sizes</a></li>
                            <li><a href="#hoodie">Hoodie Sizes</a></li>
                            <li><a href="#crew-sweatshirt">Sweatshirt Sizes</a></li>
                            <li><a href="#youth">Youth Tee Sizes</a></li>
                            <li><a href="#unisex-tank">Unisex Tank Sizes</a></li>
                            <li><a href="#ladies-tank">Ladies' Tank Sizes</a></li>
                            <li><a href="#ladies-premium">Ladies' Premium Tee Sizes</a></li>
                            <li><a href="#mens-premium">Men's Premium Tee Sizes</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-9">
                    <div id="mens-unisex" class="egg-size-chart">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>Guys Tee Sizes</h2>
                                <img src="@EggCommon.SizeMenUnisex" class="img-responsive" alt="Mens/Unisex T-Shirt Sizes">
                            </div>
                            <div class="col-md-8">
                                <div role="tabpanel">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#inch3" aria-controls="inch3" role="tab" data-toggle="tab">Crew in</a></li>
                                        <li role="presentation"><a href="#cen3" aria-controls="cen3" role="tab" data-toggle="tab">Crew cm</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="inch3">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH in</th><th>HEIGHT in</th></tr>
                                                    <tr><td class="size">S</td><td>18</td><td>28</td></tr>
                                                    <tr><td class="size">M</td><td>20</td><td>29</td></tr>
                                                    <tr><td class="size">L</td><td>22</td><td>30</td></tr>
                                                    <tr><td class="size">XL</td><td>24</td><td>31</td></tr>
                                                    <tr><td class="size">2XL</td><td>26</td><td>32</td></tr>
                                                    <tr><td class="size">3XL</td><td>28</td><td>33</td></tr>
                                                    <tr><td class="size">4XL</td><td>30</td><td>34</td></tr>
                                                    <tr><td class="size">5XL</td><td>32</td><td>35</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="cen3">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH cm</th><th>HEIGHT cm</th></tr>
                                                    <tr><td class="size">S</td><td>45.72</td><td>71.12</td></tr>
                                                    <tr><td class="size">M</td><td>50.8</td><td>73.66</td></tr>
                                                    <tr><td class="size">L</td><td>55.88</td><td>76.2</td></tr>
                                                    <tr><td class="size">XL</td><td>60.96</td><td>78.74</td></tr>
                                                    <tr><td class="size">2XL</td><td>66.04</td><td>81.28</td></tr>
                                                    <tr><td class="size">3XL</td><td>71.12</td><td>83.82</td></tr>
                                                    <tr><td class="size">4XL</td><td>76.2</td><td>86.36</td></tr>
                                                    <tr><td class="size">5XL</td><td>81.28</td><td>88.9</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <p>Chest is measured 1" down from the armhole (1/2 measurement). *Length is measured in a straight line at point where neck trim meets body to bottom of garment (including any bottom trim). </p>
                                <ul>
                                    <li>Preshrunk jersey knit</li>
                                    <li>Seamless double-needle 7/8" collar</li>
                                    <li>Taped neck and shoulders</li>
                                    <li>Tear-away label</li>
                                    <li>Double-needle sleeves and bottom hems</li>
                                    <li>Quarter-turned to eliminate center crease</li>
                                    <li>Fiber content varies by color, see color list for exceptions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="ladies-cut" class="egg-size-chart">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>Ladies' Tee Sizes</h2>
                                <img src="@EggCommon.SizeLadies" class="img-responsive" alt="Ladies Tee Sizes">
                            </div>
                            <div class="col-md-8">
                                <div role="tabpanel">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#inch2" aria-controls="inch2" role="tab" data-toggle="tab">Crew in</a></li>
                                        <li role="presentation"><a href="#cen2" aria-controls="cen2" role="tab" data-toggle="tab">Crew cm</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="inch2">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH in</th><th>HEIGHT in</th></tr>
                                                    <tr><td class="size">S</td><td>17.25</td><td>25.5</td></tr>
                                                    <tr><td class="size">M</td><td>19.25</td><td>26</td></tr>
                                                    <tr><td class="size">L</td><td>21.25</td><td>27</td></tr>
                                                    <tr><td class="size">XL</td><td>23.25</td><td>28</td></tr>
                                                    <tr><td class="size">2XL</td><td>25.25</td><td>28.5</td></tr>
                                                    <tr><td class="size">3XL</td><td>27.25</td><td>29</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="cen2">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH cm</th><th>HEIGHT cm</th></tr>
                                                    <tr><td class="size">S</td><td>43.82</td><td>64.13</td></tr>
                                                    <tr><td class="size">M</td><td>48.89</td><td>66.04</td></tr>
                                                    <tr><td class="size">L</td><td>53.98</td><td>68.58</td></tr>
                                                    <tr><td class="size">XL</td><td>59.06</td><td>71.12</td></tr>
                                                    <tr><td class="size">2XL</td><td>64.13</td><td>72.39</td></tr>
                                                    <tr><td class="size">3XL</td><td>69.21</td><td>73.66</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <p>Chest is measured 1" down from the armhole (1/2 measurement). *Length is measured in a straight line at point where neck trim meets body to bottom of garment (including any bottom trim).</p>
                                <ul>
                                    <li>Preshrunk jersey knit</li>
                                    <li>Seamless double-needle 7/8" collar</li>
                                    <li>Taped neck and shoulders</li>
                                    <li>Tear-away label</li>
                                    <li>Double-needle sleeves and bottom hems</li>
                                    <li>Quarter-turned to eliminate center crease</li>
                                    <li>Fiber content varies by color, see color list for exceptions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="hoodie" class="egg-size-chart">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>HOODIE SIZES</h2>
                                <img src="@EggCommon.SizeHoodie" class="img-responsive" alt="HOODIE SIZES">
                            </div>
                            <div class="col-md-8">
                                <div role="tabpanel">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#inch1" aria-controls="inch1" role="tab" data-toggle="tab">Crew in</a></li>
                                        <li role="presentation"><a href="#cen1" aria-controls="cen1" role="tab" data-toggle="tab">Crew cm</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="inch1">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>SIZE</th>
                                                        <th>WIDTH in/cm</th>
                                                        <th>HEIGHT in/cm</th>
                                                    </tr>
                                                    <tr><td class="size">S</td><td>20</td><td>27</td></tr>
                                                    <tr><td class="size">M</td><td>22</td><td>28</td></tr>
                                                    <tr><td class="size">L</td><td>24</td><td>29</td></tr>
                                                    <tr><td class="size">XL</td><td>26</td><td>30</td></tr>
                                                    <tr><td class="size">2XL</td><td>28</td><td>31</td></tr>
                                                    <tr><td class="size">3XL</td><td>30</td><td>32</td></tr>
                                                    <tr><td class="size">4XL</td><td>32</td><td>33</td></tr>
                                                    <tr><td class="size">5XL</td><td>34</td><td>34</td></tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div role="tabpanel" class="tab-pane fade" id="cen1">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>SIZE</th>
                                                        <th>WIDTH cm</th>
                                                        <th>HEIGHT cm</th>
                                                    </tr>
                                                    <tr><td class="size">S</td><td>50.8</td><td>68.58</td></tr>
                                                    <tr><td class="size">M</td><td>55.88</td><td>71.12</td></tr>
                                                    <tr><td class="size">L</td><td>60.96</td><td>73.66</td></tr>
                                                    <tr><td class="size">XL</td><td>66.04</td><td>76.2</td></tr>
                                                    <tr><td class="size">2XL</td><td>71.12</td><td>78.74</td></tr>
                                                    <tr><td class="size">3XL</td><td>76.2</td><td>82.28</td></tr>
                                                    <tr><td class="size">4XL</td><td>82.28</td><td>83.82</td></tr>
                                                    <tr><td class="size">5XL</td><td>86.36</td><td>86.36</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <p>Chest is measured 1" down from the armhole (1/2 measurement). *Length is measured in a straight line at point where neck trim meets body to bottom of garment (including any bottom trim).</p>
                                <ul>
                                    <li>Preshrunk jersey knit</li>
                                    <li>Seamless double-needle 7/8" collar</li>
                                    <li>Taped neck and shoulders</li>
                                    <li>Tear-away label</li>
                                    <li>Double-needle sleeves and bottom hems</li>
                                    <li>Quarter-turned to eliminate center crease</li>
                                    <li>Fiber content varies by color, see color list for exceptions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="crew-sweatshirt" class="egg-size-chart">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>SWEATSHIRT SIZES</h2>
                                <img src="@EggCommon.SizeSweatShirt" class="img-responsive" alt="WEATSHIRT SIZES">
                            </div>
                            <div class="col-md-8">
                                <div role="tabpanel">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#inch4" aria-controls="inch4" role="tab" data-toggle="tab">Crew in</a></li>
                                        <li role="presentation"><a href="#cen4" aria-controls="cen4" role="tab" data-toggle="tab">Crew cm</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="inch4">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH in</th><th>HEIGHT in</th></tr>
                                                    <tr><td class="size">S</td><td>18</td><td>28</td></tr>
                                                    <tr><td class="size">M</td><td>20</td><td>29</td></tr>
                                                    <tr><td class="size">L</td><td>22</td><td>30</td></tr>
                                                    <tr><td class="size">XL</td><td>24</td><td>31</td></tr>
                                                    <tr><td class="size">2XL</td><td>26</td><td>32</td></tr>
                                                    <tr><td class="size">3XL</td><td>28</td><td>33</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="cen4">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH cm</th><th>HEIGHT cm</th></tr>
                                                    <tr><td class="size">S</td><td>50.8</td><td>66.04</td></tr>
                                                    <tr><td class="size">M</td><td>55.88</td><td>68.58</td></tr>
                                                    <tr><td class="size">L</td><td>60.96</td><td>71.12</td></tr>
                                                    <tr><td class="size">XL</td><td>66.04</td><td>73.66</td></tr>
                                                    <tr><td class="size">2XL</td><td>71.12</td><td>76.2</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <p>Chest is measured 1" down from the armhole (1/2 measurement). *Length is measured in a straight line at point where neck trim meets body to bottom of garment (including any bottom trim).</p>
                                <ul>
                                    <li>Preshrunk jersey knit</li>
                                    <li>Seamless double-needle 7/8" collar</li>
                                    <li>Taped neck and shoulders</li>
                                    <li>Tear-away label</li>
                                    <li>Double-needle sleeves and bottom hems</li>
                                    <li>Quarter-turned to eliminate center crease</li>
                                    <li>Fiber content varies by color, see color list for exceptions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="youth" class="egg-size-chart">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>YOUTH TEE SIZES</h2>
                                <img src="@EggCommon.SizeYouthTShirt" class="img-responsive" alt="YOUTH T-SHIRT SIZES">
                            </div>
                            <div class="col-md-8">
                                <div role="tabpanel">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#inch5" aria-controls="inch5" role="tab" data-toggle="tab">Crew in</a></li>
                                        <li role="presentation"><a href="#cen5" aria-controls="cen5" role="tab" data-toggle="tab">Crew cm</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="inch5">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH in</th><th>HEIGHT in</th></tr>
                                                    <tr><td class="size">XS</td><td>16</td><td>20.5</td></tr>
                                                    <tr><td class="size">S</td><td>17</td><td>22</td></tr>
                                                    <tr><td class="size">M</td><td>18</td><td>23.5</td></tr>
                                                    <tr><td class="size">L</td><td>19</td><td>25</td></tr>
                                                    <tr><td class="size">XL</td><td>20</td><td>26.5</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="cen5">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH cm</th><th>HEIGHT cm</th></tr>
                                                    <tr><td class="size">XS</td><td>40.64</td><td>52.07</td></tr>
                                                    <tr><td class="size">S</td><td>43.18</td><td>55.88</td></tr>
                                                    <tr><td class="size">M</td><td>45.72</td><td>59.69</td></tr>
                                                    <tr><td class="size">L</td><td>48.26</td><td>63.5</td></tr>
                                                    <tr><td class="size">XL</td><td>50.8</td><td>67.31</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <p>Chest is measured 1" down from the armhole (1/2 measurement). *Length is measured in a straight line at point where neck trim meets body to bottom of garment (including any bottom trim).</p>
                                <ul>
                                    <li>Preshrunk jersey knit</li>
                                    <li>Seamless double-needle 7/8" collar</li>
                                    <li>Taped neck and shoulders</li>
                                    <li>Tear-away label</li>
                                    <li>Double-needle sleeves and bottom hems</li>
                                    <li>Quarter-turned to eliminate center crease</li>
                                    <li>Fiber content varies by color, see color list for exceptions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="unisex-tank" class="egg-size-chart">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>UNISEX TANKTOP SIZES</h2>
                                <img src="@EggCommon.SizeUnisexTank" class="img-responsive" alt="UNISEX TANKTOP SIZES">
                            </div>
                            <div class="col-md-8">
                                <div role="tabpanel">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#inch6" aria-controls="inch6" role="tab" data-toggle="tab">Crew in</a></li>
                                        <li role="presentation"><a href="#cen6" aria-controls="cen6" role="tab" data-toggle="tab">Crew cm</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="inch6">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH in</th><th>HEIGHT in</th></tr>
                                                    <tr><td class="size">S</td><td>18</td><td>27</td></tr>
                                                    <tr><td class="size">M</td><td>20</td><td>28</td></tr>
                                                    <tr><td class="size">L</td><td>22</td><td>29</td></tr>
                                                    <tr><td class="size">XL</td><td>24</td><td>29.5</td></tr>
                                                    <tr><td class="size">2XL</td><td>25.5</td><td>31.5</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="cen6">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH cm</th><th>HEIGHT cm</th></tr>
                                                    <tr><td class="size">S</td><td>45.72</td><td>68.58</td></tr>
                                                    <tr><td class="size">M</td><td>50.8</td><td>71.12</td></tr>
                                                    <tr><td class="size">L</td><td>55.88</td><td>73.66</td></tr>
                                                    <tr><td class="size">XL</td><td>60.96</td><td>74.93</td></tr>
                                                    <tr><td class="size">2XL</td><td>64.77</td><td>80.01</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <p>Chest is measured 1" down from the armhole (1/2 measurement). *Length is measured in a straight line at point where neck trim meets body to bottom of garment (including any bottom trim).</p>
                                <ul>
                                    <li>Preshrunk jersey knit</li>
                                    <li>Seamless double-needle 7/8" collar</li>
                                    <li>Taped neck and shoulders</li>
                                    <li>Tear-away label</li>
                                    <li>Double-needle sleeves and bottom hems</li>
                                    <li>Quarter-turned to eliminate center crease</li>
                                    <li>Fiber content varies by color, see color list for exceptions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="ladies-tank" class="egg-size-chart">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>LADIES' TANK SIZES</h2>
                                <img src="@EggCommon.SizeLadiesTank" class="img-responsive" alt="LADIES' TANK SIZES">
                            </div>
                            <div class="col-md-8">
                                <div role="tabpanel">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#inch7" aria-controls="inch7" role="tab" data-toggle="tab">Crew in</a></li>
                                        <li role="presentation"><a href="#cen7" aria-controls="cen7" role="tab" data-toggle="tab">Crew cm</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="inch7">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH in</th><th>HEIGHT in</th></tr>
                                                    <tr><td class="size">XS</td><td>29</td><td>25.5</td></tr>
                                                    <tr><td class="size">S</td><td>31</td><td>26</td></tr>
                                                    <tr><td class="size">M</td><td>34</td><td>27</td></tr>
                                                    <tr><td class="size">L</td><td>37</td><td>27</td></tr>
                                                    <tr><td class="size">XL</td><td>40</td><td>27.5</td></tr>
                                                    <tr><td class="size">2XL</td><td>44</td><td>28</td></tr>
                                                    <tr><td class="size">3XL</td><td>46.5</td><td>30.5</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="cen7">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH cm</th><th>HEIGHT cm</th></tr>
                                                    <tr><td class="size">XS</td><td>73.66</td><td>64.77</td></tr>
                                                    <tr><td class="size">S</td><td>78.74</td><td>66.04</td></tr>
                                                    <tr><td class="size">M</td><td>86.36</td><td>68.58</td></tr>
                                                    <tr><td class="size">L</td><td>93.98</td><td>68.58</td></tr>
                                                    <tr><td class="size">XL</td><td>101.6</td><td>27.5</td></tr>
                                                    <tr><td class="size">2XL</td><td>111.76</td><td>69.85</td></tr>
                                                    <tr><td class="size">3XL</td><td>118.11</td><td>77.47</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <p>Chest is measured 1" down from the armhole (1/2 measurement). *Length is measured in a straight line at point where neck trim meets body to bottom of garment (including any bottom trim).</p>
                                <ul>
                                    <li>Preshrunk jersey knit</li>
                                    <li>Seamless double-needle 7/8" collar</li>
                                    <li>Taped neck and shoulders</li>
                                    <li>Tear-away label</li>
                                    <li>Double-needle sleeves and bottom hems</li>
                                    <li>Quarter-turned to eliminate center crease</li>
                                    <li>Fiber content varies by color, see color list for exceptions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="ladies-premium" class="egg-size-chart">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>LADIES' PREMIUM TEE SIZES</h2>
                                <img src="@EggCommon.SizeLadies" class="img-responsive" alt="LADIES' PREMIUM TEE SIZES">
                            </div>
                            <div class="col-md-8">
                                <div role="tabpanel">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#inch8" aria-controls="inch8" role="tab" data-toggle="tab">Crew in</a></li>
                                        <li role="presentation"><a href="#cen8" aria-controls="cen8" role="tab" data-toggle="tab">Crew cm</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="inch8">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH in</th><th>HEIGHT in</th></tr>
                                                    <tr><td class="size">S</td><td>18</td><td>28</td></tr>
                                                    <tr><td class="size">M</td><td>20</td><td>29</td></tr>
                                                    <tr><td class="size">L</td><td>22</td><td>30</td></tr>
                                                    <tr><td class="size">XL</td><td>24</td><td>31</td></tr>
                                                    <tr><td class="size">2XL</td><td>26</td><td>32</td></tr>
                                                    <tr><td class="size">3XL</td><td>28</td><td>33</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="cen8">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH cm</th><th>HEIGHT cm</th></tr>
                                                    <tr><td class="size">S</td><td>18</td><td>28</td></tr>
                                                    <tr><td class="size">M</td><td>20</td><td>29</td></tr>
                                                    <tr><td class="size">L</td><td>22</td><td>30</td></tr>
                                                    <tr><td class="size">XL</td><td>24</td><td>31</td></tr>
                                                    <tr><td class="size">2XL</td><td>26</td><td>32</td></tr>
                                                    <tr><td class="size">3XL</td><td>28</td><td>33</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <p>Chest is measured 1" down from the armhole (1/2 measurement). *Length is measured in a straight line at point where neck trim meets body to bottom of garment (including any bottom trim).</p>
                                <ul>
                                    <li>Preshrunk jersey knit</li>
                                    <li>Seamless double-needle 7/8" collar</li>
                                    <li>Taped neck and shoulders</li>
                                    <li>Tear-away label</li>
                                    <li>Double-needle sleeves and bottom hems</li>
                                    <li>Quarter-turned to eliminate center crease</li>
                                    <li>Fiber content varies by color, see color list for exceptions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="mens-premium" class="egg-size-chart">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>MEN'S PREMIUM TEE SIZES</h2>
                                <img src="@EggCommon.SizeMenUnisex" class="img-responsive" alt="MEN'S PREMIUM TEE SIZES">
                            </div>
                            <div class="col-md-8">
                                <div role="tabpanel">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#inch9" aria-controls="inch9" role="tab" data-toggle="tab">Crew in</a></li>
                                        <li role="presentation"><a href="#cen9" aria-controls="cen9" role="tab" data-toggle="tab">Crew cm</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="inch9">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH in</th><th>HEIGHT in</th></tr>
                                                    <tr><td class="size">S</td><td>16.5</td><td>27</td></tr>
                                                    <tr><td class="size">M</td><td>18</td><td>28</td></tr>
                                                    <tr><td class="size">L</td><td>20</td><td>29</td></tr>
                                                    <tr><td class="size">XL</td><td>22</td><td>30</td></tr>
                                                    <tr><td class="size">2XL</td><td>24</td><td>31</td></tr>
                                                    <tr><td class="size">3XL</td><td>26</td><td>32</td></tr>
                                                    <tr><td class="size">4XL</td><td>30</td><td>34</td></tr>
                                                    <tr><td class="size">5XL</td><td>32</td><td>35</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="cen9">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr><th>SIZE</th><th>WIDTH cm</th><th>HEIGHT cm</th></tr>
                                                    <tr><td class="size">S</td><td>41.91</td><td>68.58</td></tr>
                                                    <tr><td class="size">M</td><td>45.72</td><td>71.12</td></tr>
                                                    <tr><td class="size">L</td><td>50.8</td><td>73.66</td></tr>
                                                    <tr><td class="size">XL</td><td>55.88</td><td>76.2</td></tr>
                                                    <tr><td class="size">2XL</td><td>60.96</td><td>78.74</td></tr>
                                                    <tr><td class="size">3XL</td><td>66.04</td><td>81.28</td></tr>
                                                    <tr><td class="size">4XL</td><td>76.2</td><td>86.36</td></tr>
                                                    <tr><td class="size">5XL</td><td>81.28</td><td>88.9</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <p>Chest is measured 1" down from the armhole (1/2 measurement). *Length is measured in a straight line at point where neck trim meets body to bottom of garment (including any bottom trim).</p>
                                <ul>
                                    <li>Preshrunk jersey knit</li>
                                    <li>Seamless double-needle 7/8" collar</li>
                                    <li>Taped neck and shoulders</li>
                                    <li>Tear-away label</li>
                                    <li>Double-needle sleeves and bottom hems</li>
                                    <li>Quarter-turned to eliminate center crease</li>
                                    <li>Fiber content varies by color, see color list for exceptions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
