﻿@model Nop.Web.Models.Common.SocialModel
<ul class="egg-socials">
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li><a href="@Model.FacebookLink" target="_blank"><span class="egg-icon-facebook"></span>Facebook</a></li>
    }
    @if (!string.IsNullOrEmpty(Model.TwitterLink))
    {
        <li><a href="@Model.TwitterLink" target="_blank"><span class="egg-icon-twitter"></span>Twitter</a></li>
    }
    @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
    {
        <li><a href="@Model.GooglePlusLink" target="_blank"><span class="egg-icon-google-plus"></span>Google+</a></li>
    }
    @if (!string.IsNullOrEmpty(Model.InstagramLink))
    {
        <li><a href="@Model.InstagramLink" target="_blank"><span class="egg-icon-instagram"></span>Instagram</a></li>
    }
</ul>
