﻿@model Nop.Core.Domain.Stores.Store
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("Terms Of Use");
    //page class
    Html.AppendPageCssClassParts("html-sitemap-page");
}
<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="javascript:void(0)">Home</a></li>
            <li class="active">Term &amp; Privacy</li>
        </ol>
    </div>
</section>
<section class="egg-main-content">
    <div class="container-fluid">
        <div class="egg-page-title text-center">
            <h1 class="page-title egg-lg-title">Term &amp; Privacy</h1>
        </div>
        <div class="egg-content egg-content egg-faqs-content">
            <p><b>PLEASE READ THE FOLLOWING TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS WEBSITE</b>. All users of this site agree that access to and use of this site are subject to the following terms and conditions and other applicable law. If you do not agree to these terms and conditions, please do not use this site.</p>
            <br />
            <p><b>Copyright</b></p>
            <p>The entire content included in this site, including but not limited to text, graphics or code is copyrighted as a collective work under the United States and other copyright laws, and is the property of <span style="font-weight:bold;font-size:12px">@Model.Name</span>. The collective work includes works that are licensed to <span style="font-weight:bold;font-size:12px">@Model.Name</span>. Copyright 2016, <span style="font-weight:bold;font-size:12px">@Model.Name</span> ALL RIGHTS RESERVED. Permission is granted to electronically copy and print hard copy portions of this site for the sole purpose of placing an order with <span style="font-weight:bold;font-size:12px">@Model.Name</span> or purchasing <span style="font-weight:bold;font-size:12px">@Model.Name</span> products. You may display and, subject to any expressly stated restrictions or limitations relating to specific material, download or print portions of the material from the different areas of the site solely for your own non-commercial use, or to place an order with <span style="font-weight:bold;font-size:12px">@Model.Name</span> or to purchase <span style="font-weight:bold;font-size:12px">@Model.Name</span> products. Any other use, including but not limited to the reproduction, distribution, display or transmission of the content of this site is strictly prohibited, unless authorized by <span style="font-weight:bold;font-size:12px">@Model.Name</span>. You further agree not to change or delete any proprietary notices from materials downloaded from the site.</p>
            <br />
            <p><b>Trademarks</b></p>
            <p>All trademarks, service marks and trade names of <span style="font-weight:bold;font-size:12px">@Model.Name</span> used in the site are trademarks or registered trademarks of <span style="font-weight:bold;font-size:12px">@Model.Name</span>. </p>
            <br />
            <p>All design on <span style="font-weight:bold;font-size:12px">@Model.Name</span> are made by our artists on around the world. If you find some design that belongs to you and you don’t allow to appear on it, please contact us to remove it from our store.</p>
            <br />
            <p><b>Warranty Disclaimer</b></p>
            <p>This site and the materials and products on this site are provided "as is" and without warranties of any kind, whether express or implied. To the fullest extent permissible pursuant to applicable law, <span style="font-weight:bold;font-size:12px">@Model.Name</span> disclaims all warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose and non-infringement. <span style="font-weight:bold;font-size:12px">@Model.Name</span> does not represent or warrant that the functions contained in the site will be uninterrupted or error-free, that the defects will be corrected, or that this site or the server that makes the site available are free of viruses or other harmful components. <span style="font-weight:bold;font-size:12px">@Model.Name</span> does not make any warrantees or representations regarding the use of the materials in this site in terms of their correctness, accuracy, adequacy, usefulness, timeliness, reliability or otherwise. Some states do not permit limitations or exclusions on warranties, so the above limitations may not apply to you.</p>
            <br />
            <p><b>Limitation of Liability</b></p>
            <p><span style="font-weight:bold;font-size:12px">@Model.Name</span> shall not be liable for any special or consequential damages that result from the use of, or the inability to use, the materials on this site or the performance of the products, even if <span style="font-weight:bold;font-size:12px">@Model.Name</span> has been advised of the possibility of such damages. Applicable law may not allow the limitation of exclusion of liability or incidental or consequential damages, so the above limitation or exclusion may not apply to you.</p>
            <br />
            <p><b>Typographical Errors</b></p>
            <p>In the event that a <span style="font-weight:bold;font-size:12px">@Model.Name</span> product is mistakenly listed at an incorrect price, <span style="font-weight:bold;font-size:12px">@Model.Name</span> reserves the right to refuse or cancel any orders placed for product listed at the incorrect price. <span style="font-weight:bold;font-size:12px">@Model.Name</span> reserves the right to refuse or cancel any such orders whether or not the order has been confirmed and your credit card charged. If your credit card has already been charged for the purchase and your order is cancelled, <span style="font-weight:bold;font-size:12px">@Model.Name</span> shall issue a credit to your credit card account in the amount of the incorrect price.</p>
            <br />
            <p><b>Term; Termination</b></p>
            <p>These terms and conditions are applicable to you upon your accessing the site and/or completing the registration or shopping process. These terms and conditions, or any part of them, may be terminated by <span style="font-weight:bold;font-size:12px">@Model.Name</span> without notice at any time, for any reason. The provisions relating to Copyrights, Trademark, Disclaimer, Limitation of Liability, Indemnification and Miscellaneous, shall survive any termination.</p>
            <br />
            <p><b>Notice</b></p>
            <p><span style="font-weight:bold;font-size:12px">@Model.Name</span> may deliver notice to you by means of e-mail, a general notice on the site, or by other reliable method to the address you have provided to <span style="font-weight:bold;font-size:12px">@Model.Name</span>.</p>

            <br />
            <p><b>Miscellaneous</b></p>
            <p>Your use of this site shall be governed in all respects by the laws of the state of California, U.S.A., without regard to choice of law provisions, and not by the 1980 U.N. Convention on contracts for the international sale of goods. You agree that jurisdiction over and venue in any legal proceeding directly or indirectly arising out of or relating to this site (including but not limited to the purchase of <span style="font-weight:bold;font-size:12px">@Model.Name</span> products) shall be in the state or federal courts located in Los Angeles County, California. Any cause of action or claim you may have with respect to the site (including but not limited to the purchase of <span style="font-weight:bold;font-size:12px">@Model.Name</span> products) must be commenced within one (1) year after the claim or cause of action arises. <span style="font-weight:bold;font-size:12px">@Model.Name</span>'s failure to insist upon or enforce strict performance of any provision of these terms and conditions shall not be construed as a waiver of any provision or right. Neither the course of conduct between the parties nor trade practice shall act to modify any of these terms and conditions. <span style="font-weight:bold;font-size:12px">@Model.Name</span> may assign its rights and duties under this Agreement to any party at any time without notice to you.</p>
            <br />
            <p><b>Use of Site</b></p>
            <p>Harassment in any manner or form on the site, including via e-mail, chat, or by use of obscene or abusive language, is strictly forbidden. Impersonation of others, including a <span style="font-weight:bold;font-size:12px">@Model.Name</span> or other licensed employee, host, or representative, as well as other members or visitors on the site is prohibited. You may not upload to, distribute, or otherwise publish through the site any content which is libelous, defamatory, obscene, threatening, invasive of privacy or publicity rights, abusive, illegal, or otherwise objectionable which may constitute or encourage a criminal offense, violate the rights of any party or which may otherwise give rise to liability or violate any law. You may not upload commercial content on the site or use the site to solicit others to join or become members of any other commercial online service or other organization.</p>
            <br />
            <p><b>Participation Disclaimer</b></p>
            <p><span style="font-weight:bold;font-size:12px">@Model.Name</span> does not and cannot review all communications and materials posted to or created by users accessing the site, and is not in any manner responsible for the content of these communications and materials. You acknowledge that by providing you with the ability to view and distribute user-generated content on the site, <span style="font-weight:bold;font-size:12px">@Model.Name</span> is merely acting as a passive conduit for such distribution and is not undertaking any obligation or liability relating to any contents or activities on the site. However, <span style="font-weight:bold;font-size:12px">@Model.Name</span> reserves the right to block or remove communications or materials that it determines to be (a) abusive, defamatory, or obscene, (b) fraudulent, deceptive, or misleading, (c) in violation of a copyright, trademark or; other intellectual property right of another or (d) offensive or otherwise unacceptable to <span style="font-weight:bold;font-size:12px">@Model.Name</span> in its sole discretion.</p>
            <br />
            <p><b>Indemnification</b></p>
            <p>You agree to indemnify, defend, and hold harmless <span style="font-weight:bold;font-size:12px">@Model.Name</span>, its officers, directors, employees, agents, licensors and suppliers (collectively the "Service Providers") from and against all losses, expenses, damages and costs, including reasonable attorneys' fees, resulting from any violation of these terms and conditions or any activity related to your account (including negligent or wrongful conduct) by you or any other person accessing the site using your Internet account.</p>
            <br />
            <p><b>Third-Party Links</b></p>
            <p>In an attempt to provide increased value to our visitors, <span style="font-weight:bold;font-size:12px">@Model.Name</span> may link to sites operated by third parties. However, even if the third party is affiliated with <span style="font-weight:bold;font-size:12px">@Model.Name</span>, <span style="font-weight:bold;font-size:12px">@Model.Name</span> has no control over these linked sites, all of which have separate privacy and data collection practices, independent of <span style="font-weight:bold;font-size:12px">@Model.Name</span>. These linked sites are only for your convenience and therefore you access them at your own risk. Nonetheless, <span style="font-weight:bold;font-size:12px">@Model.Name</span> seeks to protect the integrity of its web site and the links placed upon it and therefore requests any feedback on not only its own site, but for sites it links to as well (including if a specific link does not work).</p>
        </div>
    </div>
</section>
