﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("Track Order");
    //page class
    Html.AppendPageCssClassParts("html-sitemap-page");
}
<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Track Order</li>
        </ol>
    </div>
</section>
<section class="egg-main-content">
    <div class="container-fluid">
        <div class="egg-page-title text-center">
            <h1 class="page-title egg-lg-title">Track Order</h1>
            <p style="font-size:14px">
                Please enter your email address
            </p>
        </div>
        <div class="egg-content egg-contact-content">
            <form action="" method="post" novalidate="novalidate" onsubmit="return false">
                <div class="row">
                    <div class="form-group">
                        <input class="form-control" data-val="true" placeholder = "name@mail.com" data-val-email="Wrong email address" data-val-required="Please enter your email address!" id="Email" name="Email" type="text" value="">
                        <span class="egg-show-validate" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 form-group text-center">
                        <button class="btn btn-primary egg-btn-primary" type="submit" onclick="getOrderDetail()">Track Order</button>
                    </div>
                </div>
            </form>

            <div class="egg-content egg-faqs-content">
                <div class="panel-group" id="egg-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="egg-faq-heading-1">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-faq-1" aria-expanded="true" aria-controls="egg-faq-1">
                                    Can I add or remove products from my order?
                                </a>
                            </h4>
                        </div>
                        <div id="egg-faq-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="egg-faq-heading-1">
                            <div class="panel-body">
                                <p>
                                    Sorry! To ensure your order arrives on time, we generally begin processing an order as soon as it is placed. As a result we are unable to make any changes to your order after it is placed.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="egg-faq-heading-2">
                            <h4 class="panel-title">
                                <a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-faq-2" aria-expanded="false" aria-controls="egg-faq-2">
                                    When is my order scheduled to arrive?
                                </a>
                            </h4>
                        </div>
                        <div id="egg-faq-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-faq-heading-2">
                            <div class="panel-body">
                                <p>
                                    You will receive your order in an estimated 10 to 12 business days. For international orders, transit will take an additional 4 to 6 weeks. However, this is the maximum time an order might take to arrive, our customers generally receive their shipments ahead of time.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function getOrderDetail()
    {
        var email = $("#Email").val();
        if (email!="")
        {
            window.location.href = '@Url.RouteUrl("OrderInformation")' + "?email=" + email;
        }
    }
</script>
