﻿@model Nop.Web.Models.Common.SubscribeModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("UnSubscribe Email Channel");
    //page class
    Html.AppendPageCssClassParts("html-sitemap-page");
}

<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">UnSubscribe</li>
        </ol>
    </div>
</section>
<section class="egg-main-content">
    <div class="container-fluid">
        @if (Model.IsSubscribed)
            {
            <div class="egg-page-title text-center">
                <h1 class="page-title egg-lg-title">UnSubscribe Email Channel</h1>
                @if (Model.IsNotExistedEmail)
                {
                    <p style="font-size:16px;" class="egg-show-validate">Oops! This Email Does Not Exist In Our System</p>
                    <p class="title" style="font-size:14px">Please enter your Email</p>
                }
                else
                {
                    <p style="font-size:14px">
                        Please enter your email address
                    </p>
                }
            </div>
            <div class="egg-content egg-contact-content">
                <form action="" method="post" novalidate="novalidate" onsubmit="return false">
                    <div class="row">
                        <div class="form-group">
                            <input class="form-control" data-val="true" placeholder="name@mail.com" data-val-email="Wrong email address" data-val-required="Please enter your email address!" id="Email" name="Email" type="text" value="">
                            <span class="egg-show-validate" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group text-center">
                            <button class="btn btn-primary egg-btn-primary" type="submit" onclick="unSubscribe()">UnSubscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        }
        else
        {
            <div class="egg-page-title text-center">
                <h1 class="page-title egg-lg-title">UnSubscribe Email Channel</h1>
                <p style="font-size:15px">
                    Thank you for unsubscribing from our E-mail list. We are sorry to see you go.
                </p>
            </div>
        }
       
    </div>
</section>
<br />
<br />
<script>
    function unSubscribe()
    {
        var email = $("#Email").val();
        if (email!="")
        {
            window.location.href = '@Url.RouteUrl("UnSubscribe")' + "?email=" + email;
        }
    }
</script>
