﻿@model Nop.Web.Models.Common.WholeSaleModel

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}


@Html.Widget("home_page_before_categories")
<div class="egg-bg egg-banner-wholesale" style="background-image: url(Themes/EggStore/Content/images/banner-wholesale.png)">
    <div class="container-fluid">
        <div class="egg-wrapper">
            <div class="egg-box-banner-whole">
                <div class="egg-text-banner-whole">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="egg-step-whole">
    <div class="egg-tbl">
        <div class="col-md-4 col-sm-12 egg-step-1">
            <div class="egg-box-step">
                <div class="box-img-step"><img src="Themes/EggStore/Content/images/design.svg" alt=""></div>
                <div class="box-text-step">
                    <h3>WE DESIGN-YOU BUY</h3>
                    <p><span>100.000+ designs by over 50 talented artists.</span><span>Hot Trends Updated Monthly</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 egg-step-2">
            <div class="egg-box-step">
                <div class="box-img-step"><img src="Themes/EggStore/Content/images/Free.svg" alt=""></div>
                <div class="box-text-step">
                    <h3>SHIPPING</h3>
                    <p><span>Free Shipping</span><span>Rush Shipping: ONLY 7 Business Days</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 egg-step-3">
            <div class="egg-box-step">
                <div class="box-img-step"><img src="Themes/EggStore/Content/images/Quality.svg" alt=""></div>
                <div class="box-text-step">
                    <h3>QUALITY</h3>
                    <p><span>Printed in the USA</span><span>Free Replacement</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our-product" style="background-image: url('http://backgrounds.mysitemyway.com/wp-content/uploads/2009/03/watercolor-grunge-000100-glossy-rust.jpg')">
    <div class="container-fluid">
        <div class="egg-wrapper">
            <h2 class="egg-heading-whole">OUR PRODUCT</h2>
            <p class="egg-des-whole">Multi Sizes, Multi Color, 100% Cotton T-Shirts, Quality Printing, Cheap Prices, Guaranteed Delivery Dates</p>
            <div class="slider-whole">
                <div class="egg-list-whole">
                    <a href="#"><img src="~/Themes/EggStore/Content/images/long_sleeves_img.png" /></a>
                </div>
                <div class="egg-list-whole">
                    <a href="#"><img src="~/Themes/EggStore/Content/images/tank_tops_img.png" /></a>
                </div>
                <div class="egg-list-whole">
                    <a href="#"><img src="~/Themes/EggStore/Content/images/sweatshirts_img.png" /></a>
                </div>
                <div class="egg-list-whole">
                    <a href="#"><img src="~/Themes/EggStore/Content/images/t_shirts_img.png" /></a>
                </div>
                <div class="egg-list-whole">
                    <a href="#"><img src="~/Themes/EggStore/Content/images/hoodies_img.png" /></a>
                </div>
                <div class="egg-list-whole">
                    <a href="#"><img src="~/Themes/EggStore/Content/images/youth_tee_img.png" /></a>
                </div>
                <div class="egg-list-whole">
                    <a href="#"><img src="~/Themes/EggStore/Content/images/v_necks_img.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="egg-download">
    <h3>OUR SHIPPING <a href="https://goo.gl/D8ty28" target="_blank"><i class="egg-icon-download"></i>DOWNLOAD</a></h3>
</div>

<div class="hot-trand">
    <div class="container-fluid">
        <div class="egg-wrapper">
            <h2 class="egg-heading-whole egg-heading-trend">TOP 10 HOT TREND OF THE MONTH</h2>
            <div class="row-trend">
                @foreach (var item in Model.HotTrendingCategories.Take(3))
                {
                    <div class="item-trend" style="background-image: url(Themes/EggStore/Content/images/Long.png)">
                        <div class="in-item-trend">
                            <p>@(Model.HotTrendingCategories.IndexOf(item)+1)</p>
                            <p>
                                <a class="mobile-title" href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.Name" target="_blank">
                                    <span>@item.Name</span>
                                </a>
                            </p>
                        </div>
                    </div>
                }
            </div>
            <div class="row-trend">
                @foreach (var item in Model.HotTrendingCategories.Skip(3).Take(7))
                {
                    <div class="item-trend" style="background-image: url(Themes/EggStore/Content/images//Long.png)">
                        <div class="in-item-trend">
                            <p>@(Model.HotTrendingCategories.IndexOf(item) + 1)</p>
                            <p>
                                <a class="mobile-title" href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.Name" target="_blank">
                                    <span>@item.Name</span>
                                </a>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="become-whole">
    <div class="container-fluid">
        <div class="egg-wrapper">
            <h2 class="egg-heading-whole egg-heading-become">HOW TO BECOME OUR WHOLESALER?</h2>
            <p class="egg-des-become">4 Step To Complete Wholesale Order</p>
            <div class="egg-box-step-become">

                <div class="egg-step-become">
                    <h4>1. REGISTER HERE</h4>
                    <div>
                        <i class="egg-icon-register-here"></i>
                        <span>Fill in the form to let us know who you are</span>
                    </div>
                </div>

                <div class="egg-step-become">
                    <h4>2. ADD TO CART</h4>
                    <div>
                        <i class="egg-icon-add-to-cart-2"></i>
                        <span>Choose the items and click add to cart</span>
                    </div>
                </div>

                <div class="egg-step-become">
                    <h4>3. CONTACT US</h4>
                    <div>
                        <i class="egg-icon-contact-us"></i>
                        <span>Email us at the address: @Model.CurrentStore.EmailAccountDisplayed</span>
                    </div>
                </div>

                <div class="egg-step-become">
                    <h4>4. COMPLETE CHECKOUT</h4>
                    <div>
                        <i class="egg-icon-completed"></i>
                        <span>Choose the payment method and complete the order</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="info-whole">
    <div class="container-fluid">
        <div class="egg-wrapper">
            <p class="text-info-whole">For more information, contact us, we are here to help every step of the way.</p>
            <p class="tel-mail"><a href="mailto:@Model.CurrentStore.EmailAccountDisplayed"><i class="egg-icon-mail"> </i>@Model.CurrentStore.EmailAccountDisplayed</a></p>
            <p class="tel-mail"><a href="tel:+13198000280"><i class="egg-icon-phone"> </i>+13198000280</a></p>
        </div>
    </div>
</div>


@Html.Widget("home_page_bottom")
@Html.Widget("body_end_html_tag_before")

<script>
    $(document).ready(function () {
        $('.slider-whole').slick({
            centerMode: true,
            centerPadding: '60px !important',
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            dots: true,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
            ]
        });

    });
</script>
