﻿@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}
@model ShippingByCountryModel
@using Nop.Plugin.Shipping.ByCountry.Models;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Common.AddNew")
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @Html.Partial("~/Plugins/Shipping.ByCountry/Views/ShippingByCountry/_CreateOrUpdate.cshtml", Model)
        </div>
    </div>
}