﻿@model string

@using Nop.Core;
@using Nop.Web.Framework.UI;

@{
    //register CSS and JS
    Html.AddCssFileParts("~/Administration/Scripts/fineuploader/fineuploader-4.2.2.min.css");
    Html.AddScriptParts("~/Administration/Scripts/fineuploader/jquery.fineuploader-4.2.2.min.js");

    //other variables
    var randomNumber = CommonHelper.GenerateRandomInteger();
    var clientId = "download" + randomNumber;
}

<div id="@(clientId + "value")">
    @Html.HiddenFor(x => x)
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="@(clientId + "font")" class="uploaded-image">
                    <span style="font-size:13px;font-weight:bold;">@Model</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @*fine uploader container*@
                <div id="@clientId">
                    <noscript>
                        <p>
                            Please enable JavaScript to use file uploader.
                        </p>
                        <!-- or put a simple form for upload here -->
                    </noscript>
                </div>
                @*fine uploader template (keep it synchronized to \Content\fineuploader\templates\default.html)*@
                <script type="text/template" id="@(clientId)-qq-template">
                    <div class="qq-uploader-selector qq-uploader">
                        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                            <span>@T("Common.FileUploader.DropFiles")</span>
                        </div>
                        <div class="qq-upload-button-selector qq-upload-button">
                            <div>@T("Common.FileUploader.Upload")</div>
                        </div>
                        <span class="qq-drop-processing-selector qq-drop-processing">
                            <span>@T("Common.FileUploader.Processing")</span>
                            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                        </span>
                        <ul class="qq-upload-list-selector qq-upload-list">
                            <li>
                                <div class="qq-progress-bar-container-selector">
                                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                                </div>
                                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                                <span class="qq-upload-file-selector qq-upload-file"></span>
                                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                <span class="qq-upload-size-selector qq-upload-size"></span>
                                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">@T("Common.FileUploader.Cancel")</a>
                                <a class="qq-upload-retry-selector qq-upload-retry" href="#">@T("Common.FileUploader.Retry")</a>
                                <a class="qq-upload-delete-selector qq-upload-delete" href="#">@T("Common.FileUploader.Delete")</a>
                                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                <div class="message">
                                    <span id="upload-failed" style="color:red;font-size:12px"></span>
                                    <span id="upload-success" style="font-size:12px"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#@clientId").fineUploader({
                            request: {
                                endpoint: '@(Url.Action("AsyncUpload", "Font", new { area = "Admin" }))'
                            },
                            template: "@(clientId)-qq-template",
                            multiple: false
                        }).on("complete", function (event, id, name, responseJSON, xhr) {

                            if (responseJSON.success) {
                                $("#@(clientId + "remove")").show();
                                $("#@(clientId + "font") span").text(responseJSON.fontname);
                                $("#Font").val(responseJSON.fontname);
                                $("#upload-success").text(responseJSON.message);
                                $("#upload-failed").text("");
                            }
                            else {
                                $("#@(clientId + "font") span").text("");
                                $("#upload-failed").text(responseJSON.message);
                                $("#upload-success").text("");
                            }
                            @*$("#@(clientId + "downloadurl")").html("<a href='" + responseJSON.downloadUrl + "'>@T("Admin.Download.DownloadUploadedFile")</a>");
                            $("#@(clientId + "value") input").val(responseJSON.downloadId);
                            $("#@(clientId + "remove")").show();*@
                            });

                        $("#@(clientId + "remove")").click(function (e) {
                            $("#@(clientId + "font") span").text("");
                            $(this).hide();
                        });
                    });
                </script>
                <div>
                    @if (!string.IsNullOrEmpty(Model))
                    {
                        <span id="@(clientId + "remove")" class="btn btn-default">Remove this font</span>
                    }
                    else
                    {
                        <span id="@(clientId + "remove")" class="btn btn-default" style="display:none;">Remove this font</span>
                    }
                </div>
            </div>
        </div>

    </div>
</div>


