﻿@model ProductDetailsModel
@using Nop.Web.Models.Catalog;

@if (!String.IsNullOrWhiteSpace(Model.PageShareCode))
{
    @*<div class="product-share-button">
        @Html.Raw(Model.PageShareCode)
    </div>*@
    <div class="share__container">
        <p class="share__heading">Share this design!</p>
        @Html.Raw(Model.PageShareCode)
    </div>
}