﻿@model StoreModel

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.SslEnabled)").click(toggleSslEnabled);
        toggleSslEnabled();
    });

    function toggleSslEnabled() {
        if ($('#@Html.FieldIdFor(model => model.SslEnabled)').is(':checked')) {
            $('#pnlSecureUrl').show();
        } else {
            $('#pnlSecureUrl').hide();
        }
    }
</script>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @(Html.LocalizedEditor<StoreModel, StoreLocalizedModel>("store-localized",
                    @<div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Locales[item].Name)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Locales[item].Name)
                                @Html.ValidationMessageFor(model => model.Locales[item].Name)
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.Locales[item].LanguageId)
                    </div>
    ,
                    @<div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Name)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                    </div>
    ))
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Url)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Url)
                            @Html.ValidationMessageFor(model => model.Url)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SslEnabled)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SslEnabled)
                            @Html.ValidationMessageFor(model => model.SslEnabled)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <em>@T("Admin.Configuration.Stores.Fields.SslEnabled.Hint2")</em>
                        </div>
                    </div>
                    <div class="form-group" id="pnlSecureUrl">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SecureUrl)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SecureUrl)
                            @Html.ValidationMessageFor(model => model.SecureUrl)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Hosts)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Hosts)
                            @Html.ValidationMessageFor(model => model.Hosts)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.DefaultLanguageId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.DefaultLanguageId, Model.AvailableLanguages)
                            @Html.ValidationMessageFor(model => model.DefaultLanguageId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.DisplayOrder)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.DisplayOrder)
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CompanyName)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CompanyName)
                            @Html.ValidationMessageFor(model => model.CompanyName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CompanyAddress)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CompanyAddress)
                            @Html.ValidationMessageFor(model => model.CompanyAddress)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CompanyPhoneNumber)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CompanyPhoneNumber)
                            @Html.ValidationMessageFor(model => model.CompanyPhoneNumber)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CompanyVat)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CompanyVat)
                            @Html.ValidationMessageFor(model => model.CompanyVat)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.EmailAccountDisplayed)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.EmailAccountDisplayed)
                            @Html.ValidationMessageFor(model => model.EmailAccountDisplayed)
                        </div>
                    </div>
                    <br />
                    <hr />
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.LogoPictureId)
                        </div>
                        <div class="col-md-9" id="logo-block">
                            @Html.NopEditorFor(model => model.LogoPictureId)
                            @Html.ValidationMessageFor(model => model.LogoPictureId)
                        </div>
                    </div>
                    <br />
                    <hr />
                    <div class="marketingcode" style="padding:5px;border: solid 1px #808080">
                        <h2 style="text-align:center">Marketing Code</h2>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.GoogleRemarketingCode)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.GoogleRemarketingCode)
                                @Html.ValidationMessageFor(model => model.GoogleRemarketingCode)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.GoogleConversionLabelForCart)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.GoogleConversionLabelForCart)
                                @Html.ValidationMessageFor(model => model.GoogleConversionLabelForCart)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.GoogleConversionLabelForCheckOut)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.GoogleConversionLabelForCheckOut)
                                @Html.ValidationMessageFor(model => model.GoogleConversionLabelForCheckOut)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.GoogleConversionLabelForCompleted)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.GoogleConversionLabelForCompleted)
                                @Html.ValidationMessageFor(model => model.GoogleConversionLabelForCompleted)
                            </div>
                        </div>

                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.RemarketingForGoogleId)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.RemarketingForGoogleId)
                                @Html.ValidationMessageFor(model => model.RemarketingForGoogleId)
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.RemarketingForFacebookId)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.RemarketingForFacebookId)
                                @Html.ValidationMessageFor(model => model.RemarketingForFacebookId)
                            </div>
                        </div>
                        <br />
                        <hr />
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Facebooke Pixel Parent Id</label>
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.FacebookPixelParentId)
                                @Html.ValidationMessageFor(model => model.FacebookPixelParentId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Facebooke Pixel Affiliate Ids</label>
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.FacebookPixelAffiliateId)
                                @Html.ValidationMessageFor(model => model.FacebookPixelAffiliateId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.GoogleTagManagerCode)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.GoogleTagManagerCode)
                                @Html.ValidationMessageFor(model => model.GoogleTagManagerCode)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.BingCode)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.BingCode)
                                @Html.ValidationMessageFor(model => model.BingCode)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
