@model EggOrderSummaryModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@{
   var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
@{
    var totalOrderSummary = ViewBag.ToTalOrderSummary;
    var productCheckOutIds = ViewBag.ProductCheckOutIds;
}
<div class="order-summary-content">
   @Html.Widget("order_summary_content_before")
   @if (Model.ShoppingCartModel.Items.Count > 0)
   {  
       @*we add enctype = "multipart/form-data" because "File upload" attribute control type requires it*@
       using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data", id = "shopping-cart-form" }))
       {
           @Html.AntiForgeryToken()
       <div class="table-wrapper">
           <table class="cart">
               <thead>
                   <tr>
                       <td colspan="3">
                           Order Summary
                           <a href="@Url.Action("Cart","ShoppingCart")" style="float:right;">Modify Order</a>
                       </td>
                       
                   </tr>
               </thead>
               <tbody>
                   @foreach (var item in Model.ShoppingCartModel.Items)
                   {
                       <tr>
                            <td class="product-picture">
                                <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                            </td>
                           
                           <td class="product">
                               <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name">@item.ProductName</a>
                               @if (!String.IsNullOrEmpty(item.AttributeInfo))
                               {
                                   <div class="attributes">
                                       @Html.Raw(item.AttributeInfo)
                                   </div>
                               }
                               @if (!String.IsNullOrEmpty(item.RecurringInfo))
                               {
                                   <div class="recurring-info">
                                       @Html.Raw(item.RecurringInfo)
                                   </div>
                               }
                               @if (!String.IsNullOrEmpty(item.RentalInfo))
                               {
                                   <div class="rental-info">
                                       @Html.Raw(item.RentalInfo)
                                   </div>
                               }
                               @if (item.Warnings.Count > 0)
                               {
                                   <div class="message-error">
                                       <ul>
                                           @foreach (var warning in item.Warnings)
                                           {
                                               <li>@warning</li>
                                           }
                                       </ul>
                                   </div>
                               }
                           </td>
                           <td class="subtotal">
                               <label class="td-title">@T("ShoppingCart.ItemTotal"):</label>
                               <span class="product-subtotal">@item.Quantity x  @item.UnitPrice</span>
                               @if (!String.IsNullOrEmpty(item.Discount))
                               {
                                   <div class="discount">
                                       @T("ShoppingCart.ItemYouSave"): @item.Discount
                                   </div>
                               }
                           </td>
                       </tr>
                   }
                   <tr>
                       <td colspan="2">@T("ShoppingCart.Totals.Shipping"):</td>
                       <td id="order-summary-shipping">@Model.OrderTotalModel.Shipping</td>
                   </tr>
                @if (!String.IsNullOrEmpty(Model.OrderTotalModel.OrderTotalDiscount))
                {
                    <tr>
                        <td colspan="2">@T("ShoppingCart.Totals.OrderTotalDiscount"):</td>
                        <td>@Model.OrderTotalModel.OrderTotalDiscount</td>
                    </tr>
                }
                    <tr>
                        <td colspan="2">@T("ShoppingCart.Totals.OrderTotal")</td>
                        <td id="order-summary-total">@Model.OrderTotalModel.OrderTotal</td>
                    </tr>
                   <tr>
                       <td colspan="3">
                           <div class="agreement-text">
                              By click "PAYMENT" you agree to our <a href="/privacy">privacy policy</a> an <a href="/terms">term of server</a>.You also agree to receive periodic email updates, discounts, and specical offers.
                           </div>
                       </td>
                   </tr>
               </tbody>
           </table>
       </div>
       }
   }
   else
   {
       <div class="no-data">
           @T("ShoppingCart.CartIsEmpty")
       </div>
   }
   @Html.Widget("order_summary_content_after")
</div>

<!-- Google Code for PURCHASE Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
    var google_conversion_id = 855741474;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "XqXZCKnuonAQoqiGmAM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/855741474/?label=XqXZCKnuonAQoqiGmAM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s){
        if(f.fbq)return;
        n=f.fbq=function(){
            n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;
        n.push=n;
        n.loaded=!0;
        n.version='2.0';
        n.queue=[];
        t=b.createElement(e);
        t.async=!0;
        t.src=v;
        s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}
        (window,document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '266206147185145'); // Insert your pixel ID here.
    fbq('track', 'PageView');
    fbq('track', 'Purchase', {
    content_ids: @Html.Raw(Json.Encode(productCheckOutIds)),
    content_type: 'product',
    value: @totalOrderSummary,
    currency: 'USD'
});
</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=266206147185145&ev=PageView&noscript=1" />
</noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
