@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@{
   var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
<div class="order-summary-content">
   @Html.Widget("order_summary_content_before")
   @Html.Partial("_OrderReviewData", Model.OrderReviewData)
   @if (Model.Items.Count > 0)
   {
       if (Model.Warnings.Count > 0)
       {
       <div class="message-error">
           <ul>
               @foreach (var warning in Model.Warnings)
               {
                   <li>@warning</li>
               }
           </ul>
       </div>
       }     
       @*we add enctype = "multipart/form-data" because "File upload" attribute control type requires it*@
       using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data", id = "shopping-cart-form" }))
       {
           @Html.AntiForgeryToken()
       <div class="table-wrapper">
           <table class="cart">
               <colgroup>
                   @if (Model.ShowSku)
                   {
                       <col width="1" />
                   }
                   @if (Model.ShowProductImages)
                   {
                       <col width="1" />
                   }
                   <col width="1" />
                   <col width="1"/>
                   <col width="1" />
                   <col width="1" />
                 
               </colgroup> 
               <tbody id="cart-content">
                   @foreach (var item in Model.Items)
                   {
                       <tr>
                           @if (Model.ShowSku)
                           {
                               <td class="sku">
                                   <label class="td-title">@T("ShoppingCart.SKU"):</label>
                                    <span class="sku-number">@item.Sku</span>
                               </td>
                           }
                           @if (Model.ShowProductImages)
                           {
                               <td class="product-picture" align="center">
                                   <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                               </td>
                           }
                           <td class="product">
                               <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name">@item.ProductName</a>
                               @if (!String.IsNullOrEmpty(item.AttributeInfo))
                               {
                                   <div class="attributes">
                                       @Html.Raw(item.AttributeInfo)
                                   </div>
                               }
                               @if (!String.IsNullOrEmpty(item.RecurringInfo))
                               {
                                   <div class="recurring-info">
                                       @Html.Raw(item.RecurringInfo)
                                   </div>
                               }
                               @if (!String.IsNullOrEmpty(item.RentalInfo))
                               {
                                   <div class="rental-info">
                                       @Html.Raw(item.RentalInfo)
                                   </div>
                               }
                               @if (Model.IsEditable && item.AllowItemEditing)
                               {
                                   var editCartItemUrl = Url.RouteUrl("Product", new {SeName = item.ProductSeName});
                                   editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid=" + item.Id, null);
                                   <div class="edit-item">
                                       <a href="@editCartItemUrl">@T("Common.Edit")</a>
                                   </div>
                               }
                               @if (item.Warnings.Count > 0)
                               {
                                   <div class="message-error">
                                       <ul>
                                           @foreach (var warning in item.Warnings)
                                           {
                                               <li>@warning</li>
                                           }
                                       </ul>
                                   </div>
                               }
                           </td>
                           <td class="unit-price">
                               <label class="td-title">@T("ShoppingCart.UnitPrice"):</label>
                               <span class="product-quantity">@item.Quantity x </span>
                               <span class="product-unit-price" style="font-weight:bold">@item.UnitPrice</span>
                           </td>
                           <td class="subtotal">
                               <span class="product-subtotal">Total: </span>
                               <span class="product-subtotal" style="font-weight:bold">@item.SubTotal</span>
                               @if (!String.IsNullOrEmpty(item.Discount))
                               {
                                   <div class="discount">
                                       @T("ShoppingCart.ItemYouSave"): @item.Discount
                                   </div>
                               }
                           </td>
                           <td class="quantity" align="right">
                                       @if (Model.IsEditable)
                                       {
                                           if (item.AllowedQuantities.Count > 0)
                                           {
                                               <select name="itemquantity@(item.Id)" class="qty-dropdown">
                                                   @foreach (var qty in item.AllowedQuantities)
                                                   {
                                                       <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                   }
                                               </select>
                                           }
                                           else
                                           {
                                               <input name="itemquantity@(item.Id)" type="number" min="1" value="@(item.Quantity)" onkeydown="InputQuantityEntered(@item.Id)" class="qty-input non-display btn-cart-group-@item.Id" />
                                               <button type="button" class="btn-edit-cart non-display btn-cart-group-@item.Id" onclick="UpdateCartItem(@item.Id)">Update</button>
                                               <button type="button" class="btn-edit-cart non-display btn-cart-group-@item.Id" onclick="HideEditCartItem(@item.Id)">Cancel</button>
                                           }
                                        <button type="button" class="btn-edit-cart" id="btn-edit-cart-@item.Id" onclick="ShowEditCartItem(@item.Id)">Edit</button>
                                        <button type="button" class="btn-remove-cart" id="btn-remove-cart-@item.Id" onclick="RemoveCartItemConfirm(@item.Id)"></button>
                                       }
                                       else
                                       {
                                           <span class="product-quantity">@item.Quantity</span>
                                       }

                           </td>
                       </tr>
                   }
               </tbody>
           </table>
       </div>
        if (Model.IsEditable && Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
        {
            var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
            //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
            //of course, you can modify appropriate locales to include VAT info there
        <div class="tax-shipping-info">
            @T(inclTax ? "ShoppingCart.TaxShipping.InclTax" : "ShoppingCart.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
        </div>
        }
       <div class="cart-options">
           @if (Model.IsEditable)
           {
               <div class="common-buttons">
                   <input type="submit" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")" class="button-2 continue-shopping-button" style="text-transform:uppercase"/>
                   <input type="button" onclick="window.location='@Url.RouteUrl("EggCheckout")'" value="@T("Checkout.Button")" class="button-2 update-cart-button" id="checkout-btn" style="text-transform:uppercase" />
               </div>
           }
           @if (Model.IsEditable)
           {
               @Html.Partial("_CheckoutAttributes", Model.CheckoutAttributes, new ViewDataDictionary())
           }
           @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
           {
               <div class="selected-checkout-attributes">
                   @Html.Raw(Model.CheckoutAttributeInfo)
               </div>
           }
       </div>
       <div class="cart-footer">
           @Html.Widget("order_summary_cart_footer")
           @if (Model.IsEditable)
           {
               <div class="cart-collaterals">
                   <div class="deals">
                       @Html.Partial("_DiscountBox", Model.DiscountBox)
                       @Html.Partial("_GiftCardBox", Model.GiftCardBox)
                       @Html.Widget("order_summary_content_deals")
                   </div>
                   @Html.Partial("EstimateShipping", Model.EstimateShipping)
                   <div class="secure">
                       @*<img src="~/Content/Images/secure.png" style="height:auto;width:75%" />*@
                       <img src="~/Themes/EggStore/Content/images/trust-blue.png" style="height:auto;width:75%" />
                   </div>
               </div>
           }
           <div class="totals">
               @Html.Action("OrderTotals", "ShoppingCart", new { isEditable = Model.IsEditable })
               @if (Model.IsEditable)
               {
                   if (!String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                   {
                       <div class="min-amount-warning">
                           @Model.MinOrderSubtotalWarning
                       </div>
                   }
               }
               @if (Model.IsEditable)
               {
                   if (Model.TermsOfServiceOnShoppingCartPage)
                   {
                       <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display: none;">
                           <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                       </div>
                       <div class="terms-of-service">
                           <input id="termsofservice" type="checkbox" name="termsofservice"/>
                           <span>
                                @T("Checkout.TermsOfService.IAccept")
                               <a class="read" id="read-terms">
                                    @T("Checkout.TermsOfService.Read")
                                </a>
                            </span>
                           <script>
                               $(document).ready(function() {
                                   $('#read-terms').on('click', function(e) {
                                       e.preventDefault();
                                       displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})', '@T("Checkout.TermsOfService")');
                                   });
                               });
                           </script>
                       </div>
                   }
                   <div class="checkout-buttons">
                       @if (String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                       {
                           <script type="text/javascript">
                               $(document).ready(function () {
                                   $('#checkout').click(function () {
                                       //terms of service
                                       var termOfServiceOk = true;
                                       if ($('#termsofservice').length > 0) {
                                           //terms of service element exists
                                           if (!$('#termsofservice').is(':checked')) {
                                               $("#terms-of-service-warning-box").dialog();
                                               termOfServiceOk = false;
                                           } else {
                                               termOfServiceOk = true;
                                           }
                                       }
                                       return termOfServiceOk;
                                   });
                               });
                           </script>
                           @*<button type="button" id="checkout" onclick="window.location='@Url.RouteUrl("EggCheckout")'" name="checkout" value="checkout" class="button-1 checkout-button">
                               @T("Checkout.Button")
                           </button>*@
                       }
                   </div>
                   <div class="addon-buttons">
                       @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                       @Html.Partial("_ButtonPaymentMethod", Model)
                   </div>
               }
           </div>
       </div>
       if (Model.IsEditable)
       {
            @Html.Action("CrossSellProducts", "Product")
       }
       }
   }
   else
   {
       <div class="no-data">
           @T("ShoppingCart.CartIsEmpty")
       </div>
   }
   @Html.Widget("order_summary_content_after")
</div>


<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
<div id="confirm-dialog" class="zoom-anim-dialog mfp-hide">
    <h1>Confirm</h1>
    <hr />
    <p>Are you sure you want to remove this product?</p>
    <br />
    <button class="btn-confirm" id="confirm-Ok">OK</button>
    <button  class="btn-confirm" id="confirm-Cancel"style="background-color: rgba(0,0,0,.2)">Cancel</button>
</div>
<script>
    function ShowEditCartItem(id) {
        var cartItemId = ".btn-cart-group-" + id;
        var btnEditId = "#btn-edit-cart-" + id;
        var quantityInputElm = "input[name^=itemquantity"+id+"]";
        $(cartItemId).fadeIn("slow");
        $(btnEditId).fadeOut("slow");
        $(quantityInputElm).focus();
    }
    function HideEditCartItem(id){
        var cartItemId = ".btn-cart-group-" + id;
        var btnEditId = "#btn-edit-cart-" + id;
        var quantityInputElm = "input[name^=itemquantity" + id + "]";
        $(cartItemId).fadeOut("slow");
        $(btnEditId).fadeIn("slow");
    }
    function UpdateCartItem(id) {
        var quantityInputElm = "input[name^=itemquantity"+id+"]";
        var itemQuantity =$(quantityInputElm).val();
        var cartItemInfo = { "Id": id, "quantity": itemQuantity, "isRemove": false };
        var urlLink = '/ShoppingCart/UpdateCartItemByAjax';
        displayAjaxLoading(true);
        $.ajax({
            cache: false,
            url: urlLink,
            data: cartItemInfo,
            type: 'POST',
            success: function (data) {
                $('.order-summary-content').html(data);
                displayAjaxLoading(false);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to update.');
                displayAjaxLoading(false);
            }
        });
    }
    function RemoveCartItem(id) {
        var cartItemInfo = { "Id": id,"quantity":0, "isRemove": true };
        var urlLink = '/ShoppingCart/UpdateCartItemByAjax';
        displayAjaxLoading(true);
        $.ajax({
            cache: false,
            url: urlLink,
            data: cartItemInfo,
            type: 'POST',
            success: function (data) {
                $('.order-summary-content').html(data);
                displayAjaxLoading(false);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to update.');
                displayAjaxLoading(false);
            }
        });
    }
    function RemoveCartItemConfirm(id)
    {
        $.magnificPopup.open({
            items: {
                src: '#confirm-dialog'
            },
            type: 'inline',
            focus: '#confirm-dialog',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in',
            callbacks: {
                open: function () {
                 
                    var $content = $(this.content);

                    $content.on('click', '#confirm-Ok', function () {
                        RemoveCartItem(id);
                        $.magnificPopup.close();
                        $(document).off('keydown', keydownHandler);
                    });

                    $content.on('click', '#confirm-Cancel', function () {
                        $.magnificPopup.close();
                        $(document).off('keydown', keydownHandler);
                    });

                    var keydownHandler = function (e) {
                        if (e.keyCode == 13) {
                            $content.find('.btn-submit').click();
                            return false;
                        } else if (e.keyCode == 27) {
                            $content.find('.btn-cancel').click();
                            return false;
                        }
                    };
                    $(document).on('keydown', keydownHandler);
                }
            }
        });
    }
    function InputQuantityEntered(id) {
        if (event.keyCode == 13) {
            UpdateCartItem(id);
            return false;
        }
    }
</script>