﻿@model Discount

@using Nop.Core.Domain.Discounts

    <div class="design-layer-editable" style="border-style:solid;padding:0px;border-radius:0px;box-shadow:0px 0px 7px 0px rgba(50, 50, 50, 0.75);border-width:0px;border-color:rgba(255,255,255,0.82);background-color:rgba(255,255,255,1);background-color:rgba(255,255,255,1);background-image:url(https://1986911074.rsc.cdn77.org/14831_722201681052PM_0.5541193_.png?rnd=0.917388975053555);background-repeat:no-repeat;background-position:center center;background-size: 100% 100%;" data-position="4" data-push="hover" "=" " data-effect="fadein" data-dim="yes" data-offset="0" data-direction="to top" data-padding="0" data-border-style="solid" data-border-width="0" data-border-radius="0" data-box-shadow="7" data-background-color="rgba(255,255,255,1)" data-border-color="rgba(255,255,255,0.82)" data-background-image-intro="https://1986911074.rsc.cdn77.org/14831_722201681052PM_0.5541193_.png" data-background-image-pre="https://1986911074.rsc.cdn77.org/14831_722201681052PM_0.5541193_.png" data-background-image-post="https://1986911074.rsc.cdn77.org/14831_722201681052PM_0.5541193_.png" data-gradient-color="rgba(255,255,255,1)" data-form-action="undefined" data-integ_type="" data-list_id="" data-segment_ids="" data-group_ids="" data-merge_fields=""></div>
    <div class="frame-container" style="width: 750px; left: 0px;">
        <div class="design-layer vcenter" data-layerrotate="undefined" data-scalex="1" data-scaley="1" data-z-index="3" data-visible="true" data-prepost="post" data-layertype="html" data-layername="Layer 14" data-layerid="14" data-layerx="166" data-layery="58" data-layerwidth="431" data-layerheight="191" data-layereffect="none" data-layereffect-speed="1" data-layereffect-delay="0" style="position: absolute; top: 58px; left: 166px; width: 431px; height: 191px; z-index: 3; display: block; visibility: visible;">
            <div class="design-layer-editable" style="border-style:undefined;padding:0px;border-radius:0px;box-shadow:0px 0px 0px 0px rgba(50, 50, 50, 0.75);border-width:0px;border-color:#000;background-color:rgba(255,255,255,0);background-repeat:no-repeat;background-position:center center;background-size: 100%;" data-direction="to top" data-padding="0" data-border-style="undefined" data-border-width="0" data-border-radius="0" data-box-shadow="0" data-background-color="rgba(255,255,255,0)" data-gradient-color="rgba(255,255,255,0)" data-border-color="#000" data-sticky="none" data-sticky-offset="10">
                <div class="layer-wiziwig" style="height:191px;width:431px;">
                    <p style="text-align: center;"><font face="open sans, sans-serif"><span style="font-size:72px;"><span style="letter-spacing: 2px;"><b>THANKS</b></span></span>
                        <br>
                        <span style="font-size:18px;"><span style="letter-spacing: 2px;"><b>AND WELCOME TO THE FAM!</b></span></span>
                        <br>
                        <span style="letter-spacing: 2px;"><b><span style="font-size:11px;"></span></b></span></font>
                         <br>
                        <span style="font-size:18px;"><font face="open sans, sans-serif"><span style="letter-spacing: 2px;">USE CODE:</span></font></span>
                        <br>
                        <br>
                        <span style="font-size:27px;"><span style="letter-spacing: 2px;"><b>@Model.CouponCode</b></span></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="design-layer vcenter" data-layerrotate="undefined" data-scalex="1" data-scaley="1" data-z-index="8" data-visible="true" data-prepost="pre" data-layertype="email" data-layername="Email Field" data-layerid="27" data-layerx="150" data-layery="253" data-layerwidth="466" data-layerheight="48" data-layereffect="none" data-layereffect-speed="1" data-layereffect-delay="0" style="position: absolute; top: 253px; left: 150px; width: 466px; height: 48px; z-index: 8; display: none; visibility: visible;"><input name="newsletter_name" value="" placeholder="Enter Email" class="design-layer-editable" style="text-align: center; color: rgb(133, 133, 133); font-family: &quot;Open Sans&quot;,sans-serif; font-size: 24px; border: 2px solid rgb(255, 0, 0); padding: 5px; border-radius: 5px; box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75); background-color: rgb(255, 255, 255);" data-padding="5" data-border-width="1" data-border-radius="5" data-border-color="rgba(0,0,0,1)" data-box-shadow="0" data-placeholder="Enter Email" data-background-color="rgba(255,255,255,1)" data-border-style="solid" data-text-paragraph="center" data-color="#858585" data-font-family="'Open Sans',sans-serif" data-font-size="24" data-text="" required="" type="text"></div>
        <div class="design-layer vcenter" data-layerrotate="0" data-scalex="1" data-scaley="1" data-z-index="46" data-visible="true" data-prepost="intro" data-layertype="image" data-layername="Image 46" data-layerid="46" data-layerx="324" data-layery="16" data-layerwidth="117" data-layerheight="37" data-layereffect="none" data-layereffect-speed="1" data-layereffect-delay="0" style="position: absolute; top: 16px; left: 324px; width: 117px; height: 37px; z-index: 46; transform: rotate(0rad) scaleX(1) scaleY(1); display: none; visibility: visible;">
            <div class="design-layer-editable" style="border-style:solid;border-radius:0px;box-shadow:0px 0px 0px 0px rgba(50, 50, 50, 0.75);border-width:0px;border-color:#000;background-color:rgba(255,255,255,0);background-color:rgba(255,255,255,0);background-image:url(https://1986911074.rsc.cdn77.org/14831_722201675110PM_8.196658E-02_.png?rnd=0.9165971102369245);background-repeat:no-repeat;background-position:center center;background-size: 100%;" data-direction="to top" data-border-width="0" data-border-radius="0" data-border-style="solid" data-box-shadow="0" data-background-color="rgba(255,255,255,0)" data-gradient-color="rgba(255,255,255,0)" data-border-color="#000" data-background-image="https://1986911074.rsc.cdn77.org/14831_722201675110PM_8.196658E-02_.png" data-sticky="none" data-sticky-offset="10"></div>
        </div>
        <div class="design-layer vcenter" data-layerrotate="0" data-scalex="1" data-scaley="1" data-z-index="47" data-visible="true" data-prepost="post" data-layertype="close" data-layername="Close Button" data-layerid="47" data-layerx="253" data-layery="361" data-layerwidth="270" data-layerheight="57" data-layereffect="none" data-layereffect-speed="1" data-layereffect-delay="0" style="position: absolute; top: 361px; left: 253px; width: 270px; height: 57px; z-index: 47; transform: rotate(0rad) scaleX(1) scaleY(1); display: block; visibility: visible;">
            <div class="design-layer-editable" style="border-style:solid;padding:0px;border-radius:0px;box-shadow:0px 0px 1px 0px rgba(50, 50, 50, 0.75);border-width:1px;border-color:rgba(0,0,0,0.35);background-color:rgba(50,170,237,1);background-repeat:no-repeat;background-position:center center;background-size: 100%;" data-direction="to top" data-sticky="none" data-sticky-offset="10" data-padding="0" data-border-width="1" data-border-radius="0" data-box-shadow="1" data-border-style="solid" data-background-color="rgba(50,170,237,1)" data-gradient-color="rgba(50,170,237,1)" data-border-color="rgba(0,0,0,0.35)" data-engage="0" data-url="">
                <div class="layer-wiziwig" style="height:55px;width:268px;">
                    <div style="text-align:center;"><span style="font-size:20px;"><span style="color:#FFFFFF;"><b>SHOP NOW</b></span></span></div>
                </div>
            </div>
        </div>
    </div>