.items-container {
    margin-top: 50px;
    min-height: 160px;
}

.items-container .item {
    padding: 0 0 10px 0;
}

.items-container .item span {
    font-size: 11px;
    color: rgb(189, 189, 189);
}

.pagination-indicator {
    font-size: 12px;
    color: #808080;
    font-weight:600;
}

.pagination-container {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    text-align: right;
}

.pagination-container .pagination__item {
    margin: 0 10px 0 0;
    padding: 0;
    display: inline-block;
}

.pagination-container .pagination__item .pagination__link {
   padding: 0;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #000000;
    border-radius: 0;
    letter-spacing: 0;
    width: 45px;
    height: 39px;
    text-align: center;
    line-height: 37px;
    display: block;
    font-weight: 600;
}

.pagination-container .pagination__item--current .pagination__link {
    color: #fff;
    background-color: #C7100F;
    font-weight: 700;
}
