﻿@model ShippingByCountryModel
@using Nop.Plugin.Shipping.ByCountry.Models;
@using Nop.Web.Framework;

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
        catch (e){}
        window.close();
    </script>
}



<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group" @(Model.AvailableStores.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.StoreId)
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownListFor(model => model.StoreId, Model.AvailableStores)
                    @Html.ValidationMessageFor(model => model.StoreId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ProductType)
                </div>
                @*<div class="col-md-9">
                    @Html.NopDropDownListFor(model => model.CountryId, Model.AvailableCountries)
                    @Html.ValidationMessageFor(model => model.CountryId)
                </div>*@
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.ProductType)
                    @Html.ValidationMessageFor(model => model.ProductType)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ProductCode)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.ProductCode)
                    @Html.ValidationMessageFor(model => model.ProductCode)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.USShippingPrice)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.USShippingPrice) [@Model.PrimaryStoreCurrencyCode]
                    @Html.ValidationMessageFor(model => model.USShippingPrice)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.InternationalShippingPrice)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.InternationalShippingPrice) [@Model.PrimaryStoreCurrencyCode]
                    @Html.ValidationMessageFor(model => model.InternationalShippingPrice)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.USAddedItemPrice)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.USAddedItemPrice) [@Model.PrimaryStoreCurrencyCode]
                    @Html.ValidationMessageFor(model => model.USAddedItemPrice)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.InternationalAddedItemPrice)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.InternationalAddedItemPrice) [@Model.PrimaryStoreCurrencyCode]
                    @Html.ValidationMessageFor(model => model.InternationalAddedItemPrice)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.Order)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.Order)
                    @Html.ValidationMessageFor(model => model.Order)
                </div>
            </div>
        </div>
    </div>
</div>
