﻿@model ShippingByCountryMethodModel
@using Nop.Plugin.Shipping.ByCountry.Models;
@using Nop.Web.Framework;

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <div class="label-wrapper"><label class="control-label" for="ShippingMethodId" title="">Shipping Method</label></div>
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownList("ShippingMethodId", Model.AvailableShippingMethods)
                    @Html.ValidationMessageFor(model => model.ShippingMethodId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="label-wrapper"><label class="control-label" for="ShippingByCountryId" title="">Shipping By Country Record</label></div>
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownList("ShippingByCountryId", Model.AvailableShippingRecords)
                    @Html.ValidationMessageFor(model => model.ShippingByCountryId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ShippingFee)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.ShippingFee)
                    @Html.ValidationMessageFor(model => model.ShippingFee)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.MinShipDate)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.MinShipDate)
                    @Html.ValidationMessageFor(model => model.MinShipDate)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.MaxShipDate)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.MaxShipDate)
                    @Html.ValidationMessageFor(model => model.MaxShipDate)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.MaxItemsPerBox)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.MaxItemsPerBox)
                    @Html.ValidationMessageFor(model => model.MaxItemsPerBox)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.AddedItemPrice)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.AddedItemPrice)
                    @Html.ValidationMessageFor(model => model.AddedItemPrice)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.Description)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
        </div>
    </div>
</div>
