﻿@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@model ShippingByCountryMethodModel
@using Nop.Plugin.Shipping.ByCountry.Models;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Add a new shipping by coutry method configuration
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back to list", "ShippingByCountryMethodConfiguration")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @Html.Partial("~/Plugins/Shipping.ByCountry/Views/ShippingByCountry/_CreateOrUpdateMethodConfiguration.cshtml", Model)
        </div>
    </div>
}