﻿@{
    Layout = "";

    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
}
@model ShippingByCountryListModel
@using Nop.Plugin.Shipping.ByCountry.Models;
@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "shipping-ByCountry-form" }))
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <div class="pull-right">
            <a  href="@Url.RouteUrl("Plugin.Shipping.ByCountry.ShippingByCountryMethodConfiguration")" class="btn bg-blue">
                <i class="fa fa-gears"></i>
                Shipping By Country Method Configuration
            </a>
            <a href="@Url.Action("Methods", "Shipping", new {area = "Admin"})" class="btn bg-blue">
                <i class="fa fa-truck"></i>
                @T("Admin.Configuration.Shipping.Methods.Manage")
            </a>
            <a href="@Url.Action("Restrictions", "Shipping", new {area = "Admin"})" class="btn bg-blue">
                <i class="fa fa-globe"></i>
                @T("Admin.Configuration.Shipping.Restrictions.Manage")
            </a>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="shipping-ByCountry-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#shipping-ByCountry-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("RatesList", "ShippingByCountry", new RouteValueDictionary { { "Namespaces", "Nop.Plugin.Shipping.ByCountry.Controllers" }, { "area", "" } }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("RateDelete", "ShippingByCountry", new RouteValueDictionary { { "Namespaces", "Nop.Plugin.Shipping.ByCountry.Controllers" }, { "area", "" } }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id"
                                    }
                                },
                                requestEnd: function (e) {
                                    if (e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "StoreName",
                                title: "@T("Plugins.Shipping.ByCountry.Fields.Store")",
                                width: 200
                            },{
                                field: "ProductType",
                                title: "Product Type",
                                width: 200
                            },  
                            {
                                field: "ProductCode",
                                title: "Product Code",
                                width: 200
                              }, 
                            {
                                field: "Id",
                                title: "@T("Admin.Common.Edit")",
                                width: 100,
                                template: "<input type='submit' value='@T("Admin.Common.Edit")' onclick=\"javascript:OpenWindow('@Url.RouteUrl("Plugin.Shipping.ByCountry.EditPopup")?id=#=Id#&btnId=btnRefresh&formId=shipping-ByCountry-form', 800, 800, true); return false;\" class='btn btn-default' />"
                            },  {
                                command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                                title: "@T("Admin.Common.Delete")",
                                width: 100
                            }]
                        });
                    });
                </script>
            </div>
            <div class="panel-footer">
                @{
                    var addNewUrl = Url.RouteUrl("Plugin.Shipping.ByCountry.AddPopup") + "?btnId=btnRefresh&formId=shipping-ByCountry-form";
                }
                <input type="submit" id="btnAddNewOption" class="btn btn-primary" value="@T("Plugins.Shipping.ByCountry.AddRecord")" onclick="javascript:OpenWindow('@(addNewUrl)', 800, 800, true); return false;"/>
                <input type="submit" id="btnRefresh" class="btn btn-default" style="display: none" />
            </div>
                    
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#btnRefresh').click(function () {
                        //refresh grid
                        var grid = $("#shipping-ByCountry-grid").data('kendoGrid');
                        //grid.dataSource.page(1); //new search. Set page size to 1
                        grid.dataSource.read();
                        //return false to don't reload a page
                        return false;
                    });
                });
            </script>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
}
