﻿@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@model ShippingByCountryMethodModel
@using Nop.Plugin.Shipping.ByCountry.Models;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Edit shipping by coutry method configuration
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back to list", "ShippingByCountryMethodConfiguration")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="delete" class="btn bg-red" data-toggle="modal" data-target="#delete-confirmation">
                <i class="fa fa-trash-o"></i>
                Delete
            </span>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @Html.Partial("~/Plugins/Shipping.ByCountry/Views/ShippingByCountry/_CreateOrUpdateMethodConfiguration.cshtml", Model)
        </div>
    </div>
}
<div id="delete-confirmation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="discountmodel-delete-confirmation-title" style="padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <form action="/Plugins/ShippingByCountry/DeleteMethodConfiguration?id=@Model.Id" method="post" novalidate="novalidate">
                <div class="form-horizontal">
                    <div class="modal-body">
                        @Html.AntiForgeryToken()
                        Are you sure you want to delete this item?
                    </div>
                    <div class="modal-footer">
                        <span class="btn btn-default" data-dismiss="modal">No, cancel</span>
                        <button type="submit" class="btn btn-primary pull-right">
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>