﻿@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";

    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
    ().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
        ().GridPageSizes;
}
@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "shipping-ByCountry-form" }))
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            Shipping By Country Method Configuration
            <small><i class="fa fa-arrow-circle-left"></i><a href="/Admin/Shipping/ConfigureProvider?systemName=Shipping.ByCountry">Back to shipping by country method</a></small>
        </h1>
        <div class="pull-right">
            <a href="/Plugins/ShippingByCountry/AddMethodConfiguration" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="shippingmethod-grid"></div>

                        <script type="text/javascript">
                                $(document).ready(function () {
                                    $("#shippingmethod-grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("ShippingByCountryMethodConfigList", "ShippingByCountry", new RouteValueDictionary { { "Namespaces", "Nop.Plugin.Shipping.ByCountry.Controllers" }, { "area", "" } }))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: addAntiForgeryToken
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors"
                                            },
                                            error: function (e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                         pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                        editable: {
                                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                            mode: "inline"
                                        },
                                        scrollable: false,
                                        columns: [
                                            {
                                                field: "ShippingByCountryName",
                                                title: "Shipping For",
                                                width: 400
                                            }, {
                                                field: "ShippingMethodName",
                                                title: "Shipping Method",
                                                width: 400
                                            }, {
                                                field: "ShippingFee",
                                                title: "Shipping Fee",
                                                width: 200
                                            }, {
                                                field: "Id",
                                                title: "Edit",
                                                width: 100,
                                                template: '<a href=/Plugins/ShippingByCountry/EditMethodConfiguration?Id=#=Id#>Edit</a>'
                                            }
                                        ]
                                    });
                                });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
