﻿@model CatalogPagingFilteringModel
@using Nop.Web.Models.Catalog;

@*sorting*@
@if (Model.AllowProductSorting)
{
    <div class="egg-box-filter-category">
        <div class="egg-wrapper">
            <div class="container-fluid">
                <div class="egg-filter-cat">
                    <div class="egg-filter-right">
                        @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new { onchange = "setLocation(this.value);", @class= "egg-filter-select" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}