﻿@model CategoryModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-category-page");

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@*category breadcrumb*@


<section class="egg-breadcrumb egg-mb-0 hidden-xs">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a></li>
            @foreach (var cat in Model.CategoryBreadcrumb)
            {
                var isLastCategory = cat.Id == Model.Id;
                if (isLastCategory)
                {
                    <li class="active">@cat.Name</li>
                }
                else
                {
                    <li><a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a></li>
                }
            }
        </ol>
    </div>
</section>

@if (Model.Products.Count > 0)
{
    @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
}

<div class="egg-box-cat">
    <div class="egg-wrapper">
        <div class="container-fluid fix-container-fluid">
            <div class="egg-box-item-category">
                @*subcategories*@
                @if (Model.SubCategories.Count > 0)
                {
                    foreach (var item in Model.SubCategories)
                    {
                        <div class="egg-item-category" data-productid="@Model.Id">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title" class="egg-link-img-product">
                                <div class="box-img-product">
                                    <img class="egg-image-default" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title">
                                </div>
                            </a>
                            <div class="egg-info-product">
                                <h3 class="egg-title-product"><a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title" class="text-ellipsis">@item.Name</a></h3>
                            </div>
                        </div>
                    }
                }

                @if (Model.SubCategories.Count == 0 && Model.Products.Count > 0)
                {
                    foreach (var product in Model.Products)
                    {
                        @Html.Partial("_ProductCat", product)
                    }
                }
            </div>
            @{
                var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
                if (!pager.IsEmpty())
                {
                    <div class="egg-box-paging">
                        @pager
                    </div>
                }
            }
            
        </div>
    </div>
</div>

<script>
        //$(document).ready(function () {
        //    SetTimeOutShowRandomProduct();
        //});
</script>

<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
    var defaultPrice = parseLocaleNumber('@EggCommon.PriceToLocaleDecimal(Model.ProductDefaultPrice)');
var google_tag_params = {
dynx_itemid:  @Html.Raw(Json.Encode(Model.GAProductIds)),
dynx_pagetype: 'product',
dynx_totalvalue: defaultPrice,
ecomm_prodid: @Html.Raw(Json.Encode(Model.GAProductIds)),
ecomm_pagetype: 'product'
};
</script>
<script type="text/javascript">
/* <![CDATA[ */
    var google_conversion_id = @Model.RemarketingData.GoogleAnalyticsId;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/@Model.RemarketingData.GoogleAnalyticsId/?guid=ON&amp;script=0" />
    </div>
</noscript>

<!-- Facebook Pixel Code -->
<!-- DO NOT MODIFY -->
<script>
    !function(f,b,e,v,n,t,s){
        if(f.fbq)return;
        n=f.fbq=function(){
            n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;
        n.push=n;
        n.loaded=!0;
        n.version='2.0';
        n.queue=[];
        t=b.createElement(e);
        t.async=!0;
        t.src=v;
        s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}
        (window,document,'script','https://connect.facebook.net/en_US/fbevents.js');


            //init parent pixel id
              fbq('init', '@Model.RemarketingData.FacebookPixelParentId');
            //init facebook Affiliate pixel ids
        @{
            foreach(var id in Model.RemarketingData.FacebookPixelAffiliateIds)
            {
                <text>fbq('init', '@id');</text>
            }
        }
    fbq('track', 'PageView');
    fbq('track', 'ViewContent', {
    content_ids: @Html.Raw(Json.Encode(Model.FBProductIds)),
    content_type: 'product',
    value: defaultPrice,
    currency: 'USD'
});
</script>
<noscript>
    <img height="1" width="1" style="display:none"
          src="@string.Format("https://www.facebook.com/tr?id={0}&ev=PageView&noscript=1",Model.RemarketingData.FacebookPixelParentId)" />
</noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->



<!-- GA Tracking Code -->
<!-- ----------------Home & Category & Search--------------- --> 
<script>
    ga('create', 'UA-96466423-6');
    ga('require', 'ec');
@foreach (var item in Model.RemarketingData.TrackingItems)
{
    <text>
        ga('ec:addImpression', {
            'id': '@item.Id',
            'name': '@item.Name',
            'category': '@item.Category',
            'price': '@EggCommon.PriceToLocaleDecimal(item.Price)',
        });
    </text>
}
        ga('send', 'pageview');
</script>
