﻿@model  HomePageModel

@using Nop.Web.Models.Catalog;
<div class="container-fluid">
    <div class="row egg-bar-top">
        <div class="col-md-4 col-sm-4 col-sx-6 egg-col-bar">
            <p class="egg-text-bar-top">30-day Easy Return</p>
        </div>
        <div class="col-md-4 col-sm-4 col-sx-6 egg-col-bar">
            <p class="egg-text-bar-top">Free Standard Shipping For Order Above $50</p>
        </div>
        <div class="col-md-4 col-sm-4 col-sx-6 egg-col-bar">
            <p class="egg-text-bar-top">100% Satisfaction Guaranteed</p>
        </div>
    </div>
</div>
<section>
    <div class="container-fluid">
        <div class="row">
            @Html.Widget("home_page_top")
        </div>
    </div>
    <div class="egg-wrapper">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model.HotTrendings)
                {
                    if (!item.IsLargeBanner)
                    {
                        <div class="col-md-4 col-sm-4 col-xs-6 egg-fix-col egg-last-img">
                            <div class="egg-bg egg-col-img egg-col-newstyle" style="background-image: url('@item.PictureModel.ImageUrl');">
                                @if (!string.IsNullOrEmpty(item.InnerText))
                                {
                                    <h3 class="egg-title">@item.InnerText</h3>
                                }
                                @if (!string.IsNullOrEmpty(item.RedirectUrl))
                                {
                                    <a href="/@item.RedirectUrl">shop show <i class="egg-icon-next"></i></a>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-8 col-sm-8 col-xs-12 egg-fix-col">
                            <div class="egg-bg egg-col-img egg-col-newstyle" style="background-image: url('@item.PictureModel.ImageUrl');">
                                @if (!string.IsNullOrEmpty(item.InnerText))
                                {
                                    <h3 class="egg-title">@item.InnerText</h3>
                                }
                                @if (!string.IsNullOrEmpty(item.RedirectUrl))
                                {
                                    <a href="/@item.RedirectUrl">shop show <i class="egg-icon-next"></i></a>
                                }
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</section>
<section class="egg-box-color">
    <h2 class="egg-title-heading">
        <i class="egg-icon-trending"></i>trending garment
        <a class="link-right text-black" href="@Url.RouteUrl("TrendingGarment")">See all</a>
    </h2>
    <div class="egg-wrapper">
        <div class="container-fluid">
            <div class="row egg-box-products">
                @foreach (var item in Model.BestSellerProducts)
                {
                    <div class="col-md-3 col-sm-3 col-xs-6 egg-item-product">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" class="egg-link-img-product">
                            <div class="box-img-product">
                                <img class="egg-image-default zoom-art" src="@item.DefaultPictureModel.ImageUrl" alt="">
                            </div>
                        </a>
                        <div class="egg-info-product">
                            <h3 class="egg-title-product"><a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" class="text-ellipsis">@item.Name</a></h3>
                            <p class="egg-price">
                                <span class="egg-new-price">@item.ProductPrice.Price</span>
                                <span class="egg-old-price">@item.ProductPrice.OldPrice</span>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<div class="egg-box-banner">
    <img src="@(string.IsNullOrEmpty(Model.SellOffBannerImageUrl)? "~/Themes/EggStore/Content/images/valentinsday-banner.jpg": Model.SellOffBannerImageUrl)" alt="">
</div>
<section class="egg-newest">
    <div class="egg-wrapper">
        <div class="container-fluid">
            <h2 class="egg-heading-newest">
                newest garment
                <a class="link-right text-white" href="@Url.RouteUrl("NewestGarment")">See all</a>
            </h2>
            <div class="row egg-box-products egg-slider-product">
                @foreach (var item in Model.NewestProducts)
                {
                    <div class="col-md-3 col-sm-3 col-xs-6 egg-item-product">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" class="egg-link-img-product">
                            <div class="box-img-product">
                                <img class="egg-image-default zoom-art" src="@item.DefaultPictureModel.ImageUrl" alt="">
                            </div>
                        </a>
                        <div class="egg-info-product">
                            <h3 class="egg-title-product"><a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" class="text-ellipsis">@item.Name</a></h3>
                            <p class="egg-price">
                                <span class="egg-new-price">@item.ProductPrice.Price</span>
                                <span class="egg-old-price">@item.ProductPrice.OldPrice</span>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="egg-ship">
    <div class="container-fluid">
        <div class="egg-container">
            <div class="box-egg-ship">
                <div class="row egg-add-table">
                    <div class="col-md-3 col-sm-3 col-xs-6 egg-border-ship">
                        <h4 class="egg-title-ship">RUSH SHIPPING</h4>
                        <p class="egg-content-ship">
                            <span>Only 10 Days For All Countries.</span>
                            <span>Tracking UPS Service</span>
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 egg-border-ship">
                        <h4 class="egg-title-ship">REVIEW & RATING</h4>
                        <p class="egg-content-ship egg-content-review">
                            <span>@Model.TotalReviews+ Customer Review.</span>
                            <span>Click to <a class="read-revie" href="@Url.Action("CustomerReviews","Catalog")">read review</a></span>
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 egg-border-ship">
                        <h4 class="egg-title-ship">CONTACT US</h4>
                        <p class="egg-content-ship egg-content-phone">
                            <span>Call us: <a class="link-info" href="tel:+65 81592620">+65 81592620</a></span>
                            <span>Email: <a class="link-info" href="mailto:@Model.StoreInfo.EmailAccountDisplayed">@Model.StoreInfo.EmailAccountDisplayed</a></span>
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 egg-border-ship">
                        <h4 class="egg-title-ship">CUSTOMER SECURITY</h4>
                        <p class="egg-content">
                            <img src="/Themes/EggStore/Content/images/Secure.png" alt="">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="egg-sign-up" style="display: none">
    <div class="egg-container">
        <span class="egg-text-sign">Sign me up for fantastic deals!</span>
        <div class="egg-box-form">
            <form action="#" class="egg-form-sign">
                <input type="text" name="" placeholder="Email Address">
                <button><i class="egg-icon-next"></i></button>
            </form>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('.egg-slider-product').slick({
            dots: true,
            pages: true,
            infinite: true,
            speed: 1000,
            slidesToShow: 4,
            slidesToScroll: 4,
            autoplay: true,
            autoplaySpeed: 4000,
            arrows: false,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: false,
                        arrows: true
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: false,
                        arrows: true
                    }
                }
            ]
        });
    });
</script>

<!-- GA Tracking Code -->
<!-- ----------------Home & Category & Search--------------- -->
<script>
    ga('create', 'UA-96466423-9');
    ga('require', 'ec');
@foreach (var item in Model.RemarketingData.TrackingItems)
{
    <text>
        ga('ec:addImpression', {
            'id': '@item.Id',
            'name': '@item.Name',
            'category': '@item.Category',
            'price': '@EggCommon.PriceToLocaleDecimal(item.Price)',
        });
    </text>
}
        ga('send', 'pageview');
</script>
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
    var google_conversion_id = @Model.RemarketingData.GoogleAnalyticsId;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/@Model.RemarketingData.GoogleAnalyticsId/?guid=ON&amp;script=0" />
    </div>
</noscript>
<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n; n.loaded = !0;
        n.version = '2.0'; n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

             //init parent pixel id
              fbq('init', '@Model.RemarketingData.FacebookPixelParentId');
            //init facebook Affiliate pixel ids
        @{
            foreach(var id in Model.RemarketingData.FacebookPixelAffiliateIds)
            {
                <text>fbq('init', '@id');</text>
            }
        }
        fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="@string.Format("https://www.facebook.com/tr?id={0}&ev=PageView&noscript=1",Model.RemarketingData.FacebookPixelParentId)" />
</noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
