﻿@model IList<CategoryModel>

@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="category-grid home-page-category-grid">
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="col-sm-12 col-xs-12 mobile-none-padding category-info">
                    <div class="category-header">
                        <div class="category-title">
                            <h2>@item.Name</h2>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 mobile-none-padding category-grid-items">
                        <div class="col-sm-4 col-xs-4 mobile-none-padding">
                            <div class="category-grid-image large-image">
                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                    <img src="@item.PictureModel.ImageUrl" />
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-8 mobile-none-padding">
                            <div class="col-sm-12 col-xs-12 mobile-none-padding">
                                @if (item.SubCategories.Any())
                                {
                                    foreach (var subItem in item.SubCategories)
                                    {
                                        <div class="col-sm-4 col-xs-4 subitem-info mobile-none-padding">
                                            <div class="picture">
                                                <a href="@Url.RouteUrl("Category", new { SeName = subItem.SeName })" title="@subItem.PictureModel.Title">
                                                    <img alt="@subItem.PictureModel.AlternateText" src="@subItem.PictureModel.ImageUrl" title="@subItem.PictureModel.Title" />
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    foreach (var subItem in item.ProductsInCategoryShowOnHomePage)
                                    {
                                        <div class="col-sm-4 col-xs-4 subitem-info mobile-none-padding">
                                            <div class="picture">
                                                <a href="@Url.RouteUrl("Category", new { SeName = subItem.SeName })" title="@subItem.DefaultPictureModel.Title">
                                                    <img alt="@subItem.DefaultPictureModel.AlternateText" src="@subItem.DefaultPictureModel.ImageUrl" title="@subItem.DefaultPictureModel.Title" />
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
}