﻿@model IList<CategoryModel>

@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="category-grid home-page-category-list">
        <div class="item-list">
            @foreach (var item in Model)
            {
                <div class="category-item">
                    <h2 class="title">
                        <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                            @item.Name
                        </a>
                    </h2>
                </div>
                @Html.Action("HomepageProductsByCategory", "Product", new { categoryId = item.Id })
            }
        </div>
    </div>
}