﻿@model SearchModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text);
    //page class
    Html.AppendPageCssClassParts("html-search-page");
}
@using Nop.Web.Models.Catalog;
<script type="text/javascript">
    $(document).ready(function () {

        $("#@Html.FieldIdFor(model => model.adv)").click(toggleAdvancedSearch);

        toggleAdvancedSearch();
    });

    function toggleAdvancedSearch() {

        if ($('#@Html.FieldIdFor(model => model.adv)').is(':checked')) {
            $('#advanced-search-block').show();
        }
        else {
            $('#advanced-search-block').hide();
        }
    }
</script>

<div class="container-fluid egg-xs-pl-0 egg-xs-pr-0">
    <div class="egg-wrapper">
        <div class="egg-right-search">
            <div class="egg-filter-cat egg-xs-pl-15 egg-xs-pr-15">
                <div class="egg-filter-left">
                    <p class="egg-text-notify-search">Search results for '<span>@Model.q</span>'</p>
                </div>
                <div class="egg-filter-right">
                    @if (Model.Products.Count > 0)
                    {
                        @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
                    }
                </div>
            </div>
            <div class="egg-box-item-category">
                @if (!String.IsNullOrEmpty(Model.Warning))
                {
                    <div class="warning">
                        @Model.Warning
                    </div>
                }
                @if (Model.NoResults)
                {
                    <div class="no-result">
                        @T("Search.NoResultsText")
                    </div>
                }

                @if (Model.Products.Count > 0)
                {
                    foreach (var product in Model.Products)
                    {
                        @Html.Partial("_ProductCat", product)
                    }
                }
                @{
                    var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("adv").BooleanParameterName("isc").BooleanParameterName("sid").RenderEmptyParameters(true);
                }
                @if (!pager.IsEmpty())
                {
                    <div class="egg-box-paging">
                        @pager
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- GA Tracking Code -->
<!-- ----------------Home & Category & Search--------------- -->
<script>
    ga('create', 'UA-96466423-6');
    ga('require', 'ec');
@foreach (var item in Model.RemarketingData.TrackingItems)
{
    <text>
        ga('ec:addImpression', {
            'id': '@item.Id',
            'name': '@item.Name',
            'category': '@item.Category',
            'price': '@EggCommon.PriceToLocaleDecimal(item.Price)',
        });
    </text>
}
        ga('send', 'pageview');
</script>

<!-- Facebook Pixel Code -->
<!-- DO NOT MODIFY -->
<script>
    !function(f,b,e,v,n,t,s){
        if(f.fbq)return;
        n=f.fbq=function(){
            n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;
        n.push=n;
        n.loaded=!0;
        n.version='2.0';
        n.queue=[];
        t=b.createElement(e);
        t.async=!0;
        t.src=v;
        s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}
        (window,document,'script','https://connect.facebook.net/en_US/fbevents.js');


            //init parent pixel id
              fbq('init', '@Model.RemarketingData.FacebookPixelParentId');
            //init facebook Affiliate pixel ids
        @{
            foreach(var id in Model.RemarketingData.FacebookPixelAffiliateIds)
            {
                <text>fbq('init', '@id');</text>
            }
        }
    fbq('track', 'PageView');
    fbq('track', 'Search', {
    content_ids: @Html.Raw(Json.Encode(Model.FBProductIds)),
    content_type: 'product',
    search_string: '@Model.q'
});
</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="@string.Format("https://www.facebook.com/tr?id={0}&ev=PageView&noscript=1",Model.RemarketingData.FacebookPixelParentId)" />
</noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->