﻿@model SearchBoxModel
@using Nop.Web.Models.Catalog;


@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new { id = "small-search-box-form", @class = "search egg-form-header" }))
{
    <input type="text"  id="small-searchterms" autocomplete="off" name="q" placeholder="@T("Search.SearchBox.Tooltip")" />
            <button type="submit" class="egg-btn-search" id="header-search-btn">
            </button>
    if (Model.SearchTermMinimumLength > 0)
    {
        <script type="text/javascript">
            $("#small-search-box-form").submit(function (event) {
                if ($("#small-searchterms").val() == "") {
                    @*alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Search.EnterSearchTerms").Text))');*@
                    event.preventDefault();
                }
            });
        </script>
    }
    if (Model.AutoCompleteEnabled)
    {
        <text>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#small-searchterms').autocomplete({
                            delay: 500,
                            minLength: 0,
                            source: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                            appendTo: '.search-box',
                            select: function (event, ui) {
                                $("#small-searchterms").val(ui.item.label);
                                setLocation(ui.item.producturl);
                                return false;
                            }
                    })
                        .focus(function () {
                            $(this).data("uiAutocomplete").search($(this).val());
                        })
                        .data("ui-autocomplete")._renderItem = function (ul, item) {
                            var t = item.label;
                            //html encode
                            t = htmlEncode(t);
                            return $("<li></li>")
                                .data("item.autocomplete", item)
                                .append("<a>" + t + "</a>")
                                .appendTo(ul);
                        };
                });
            </script>
        </text>
    }
}
<script>
                function invalidSearchTerm() {
                    $.notify({
                        // options
                        icon: 'glyphicon glyphicon-warning-sign',
                        title: 'Search Error',
                        message: 'Please enter a keyword to search!',
                        url: '',
                        target: '_blank'
                    }, {
                            // settings
                            element: 'body',
                            position: null,
                            type: "danger",
                            allow_dismiss: true,
                            newest_on_top: false,
                            showProgressbar: false,
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            offset: 20,
                            spacing: 10,
                            z_index: 1031,
                            delay: 3000,
                            timer: 1000,
                            url_target: '_blank',
                            mouse_over: null,
                            animate: {
                                enter: 'animated fadeInDown',
                                exit: 'animated fadeOutUp'
                            },
                            onShow: null,
                            onShown: null,
                            onClose: null,
                            onClosed: null,
                            icon_type: 'class',
                            template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                            '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                            '<span data-notify="icon"></span> ' +
                            '<span data-notify="title">{1}</span> ' +
                            '<span data-notify="message">{2}</span>' +
                            '<div class="progress" data-notify="progressbar">' +
                            '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                            '</div>' +
                            '<a href="{3}" target="{4}" data-notify="url"></a>' +
                            '</div>'
                        });
                }              
</script>
