﻿@model TopMenuModel
@using Nop.Web.Models.Catalog;

@helper RenderCategoryLine(CategorySimpleModel category, int level, bool responsiveMobileMenu)
{
var subCategoies = category.SubCategories.Where(x => x.IncludeInTopMenu).ToList();
if (category.GroupedSubCategories.Count > 0)
{
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>@category.Name </span> <span class="egg-icon-arrow-up"></span></a>
            <ul class="dropdown-menu egg-dropdown-menu">
                @foreach (var group in category.GroupedSubCategories)
                {
                    <li class="egg-list-sub-menu">
                       <ul>
                           @foreach (var sub in group)
                           {
                            <li class="egg-item-sub-nav-menu">
                                <a href="@Url.RouteUrl("Category", new { SeName = sub.SeName })" class="text-ellipsis">
                                    <img class="egg-img-menu" src="@sub.ImageUrl"><span>@sub.Name</span>
                                </a>
                            </li>
                           }
                       </ul>
                    </li>
                }
            </ul>
        </li>
}
else
{
        <li>
            <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })"><span>@category.Name</span></a>
        </li>
}
}               
@{
    var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).ToList();
}
 <!-- Fixed navbar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="egg-wrapper">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @foreach (var category in rootCategories)
                    {
                        @RenderCategoryLine(category, 0, false)
                    }
                </ul>
            </div>
        </div>
    </div>
</nav>  



