﻿@model SearchModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("Newest Garment");
    //page class
    Html.AppendPageCssClassParts("html-search-page");
}
@using Nop.Web.Models.Catalog;
<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Trending Garment</li>
        </ol>
    </div>
</section>
<div class="container-fluid egg-xs-pl-0 egg-xs-pr-0">
    <div class="egg-wrapper">
        <div class="egg-right-search">
            <div class="egg-filter-cat egg-xs-pl-15 egg-xs-pr-15">

            </div>
            <div class="egg-box-item-category">
                @foreach (var product in Model.Products)
                {
                    @Html.Partial("_ProductCat", product)
                }
                @{
                    var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("adv").BooleanParameterName("isc").BooleanParameterName("sid").RenderEmptyParameters(true);
                }
                @if (!pager.IsEmpty())
                {
                    <div class="egg-box-paging">
                        @pager
                    </div>
                }
            </div>
        </div>
    </div>
</div>
