﻿@model ReviewModel

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Title)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Title)
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ReviewText)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.ReviewText)
                            @Html.ValidationMessageFor(model => model.ReviewText)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Rating)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Rating)
                            @Html.ValidationMessageFor(model => model.Rating)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CreatedOnUtc)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CreatedOnUtc)
                            @Html.ValidationMessageFor(model => model.CreatedOnUtc)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
