﻿@model OrderTrackingModel
@using Nop.Web.Models.Order
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("Track Order");
    //page class
    Html.AppendPageCssClassParts("html-order-details-page");
}
@if (!Model.NotOrderToFound)
{
    <section class="egg-breadcrumb">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Order Information</li>
            </ol>
        </div>
    </section>
   <section class="egg-main-content">
       <div class="container-fluid">
           <div class="egg-content">
               @foreach (var orderDetail in Model.ListOrderDetail)
               {
                <div class="row list-order-item @(Model.ListOrderDetail.IndexOf(orderDetail)==0?"":"hide")">
                    <div class="col-sm-8">
                        <div class="order-detail">
                            <div class="egg-page-title">
                                <h1 class="page-title">ORDER INFORMATION</h1>
                            </div>
                            <div class="col-sm-12 order-content">
                                <div class="check-order-progress">
                                    <div class="order-item-name">

                                    </div>
                                    <div class="day-progress">
                                        <ul>
                                            <li class="order-progress-day">
                                                <div class="progress-info">
                                                    @if (DateTime.Now < orderDetail.CreatedOn.AddDays(3))
                                                    {
                                                        <span class="inactive-progress">
                                                            <i class="egg-icon-completed"></i>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="completed-progress">
                                                            <i class="egg-icon-completed"></i>
                                                        </span>
                                                    }
                                                    <h4 style="font-weight:bold">Order</h4>
                                                    <span class="progress-curent-day">
                                                        @orderDetail.CreatedOn.ToString("MM/dd/yyyy")
                                                    </span>

                                                </div>
                                            </li>
                                            <li class="order-progress-day">
                                                <div class="progress-info">
                                                    @if (DateTime.Now >= orderDetail.CreatedOn.AddDays(3) && DateTime.Now <= orderDetail.CreatedOn.AddDays(5))
                                                    {
                                                        <span class="in-progress">
                                                            <i class="egg-icon-completed"></i>
                                                        </span>
                                                    }
                                                    else if (DateTime.Now > orderDetail.CreatedOn.AddDays(5))
                                                    {
                                                        <span class="completed-progress">
                                                            <i class="egg-icon-completed"></i>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="inactive-progress">
                                                            <i class="egg-icon-completed"></i>
                                                        </span>
                                                    }
                                                    <h4 style="font-weight:bold">Processing Order</h4>
                                                    <span class="progress-curent-day">
                                                        @orderDetail.CreatedOn.AddDays(3).ToString("MM/dd/yyyy") - @orderDetail.CreatedOn.AddDays(5).ToString("MM/dd/yyyy")
                                                    </span>
                                                    
                                                </div>
                                            </li>
                                            <li class="order-progress-day">
                                                <div class="progress-info">
                                                    @if (DateTime.Now >= orderDetail.CreatedOn.AddDays(8) && DateTime.Now <= orderDetail.CreatedOn.AddDays(10))
                                                    {
                                                        <span class="in-progress">
                                                            <i class="egg-icon-completed"></i>
                                                        </span>
                                                    }
                                                    else if (DateTime.Now >= orderDetail.CreatedOn.AddDays(10))
                                                    {
                                                        <span class="completed-progress">
                                                            <i class="egg-icon-completed"></i>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="inactive-progress">
                                                            <i class="egg-icon-completed"></i>
                                                        </span>
                                                    }
                                                    <h4 style="font-weight:bold">Shipped</h4>
                                                    <span class="progress-curent-day">
                                                        @orderDetail.CreatedOn.AddDays(8).ToString("MM/dd/yyyy") - @orderDetail.CreatedOn.AddDays(10).ToString("MM/dd/yyyy")
                                                    </span>
                                                   
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 order-content">
                                <table class="cart">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>SubTotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in orderDetail.Items)
                                        {
                                            <tr>
                                                <td>@item.ProductName</td>
                                                <td>@item.Quantity</td>
                                                <td>@item.SubTotal</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                            <div class="col-sm-12 order-content">
                                <div class="col-sm-4 col-xs-8 pull-right " style="float:right !important">
                                    <div class="egg-info-cart">
                                        <p class="egg-subtotal">
                                            SUBTOTAL <span class="egg-right-new-price">@orderDetail.OrderSubtotal</span>
                                        </p>
                                        <p class="egg-subtotal">
                                            Shipping:  <span class="egg-right-new-price">@orderDetail.OrderShipping</span>
                                        </p>
                                        <p class="egg-subtotal egg-total">
                                            Total <span class="egg-right-total-price"> @orderDetail.OrderTotal</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            @if (orderDetail.Shipments!=null && orderDetail.Shipments.Any())
                            {
                                <div class="col-sm-12 order-content">

                                    <div class="section shipments">
                                        <div class="title">
                                            <strong>@T("Order.Shipments")</strong>
                                        </div>
                                        <div class="table-wrapper">
                                            <table class="data-table" style="border: solid 1px #ddd !important;">
                                                <colgroup>
                                                    <col />
                                                    <col />
                                                    <col />
                                                    <col />
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th class="tracking-number">
                                                            @T("Order.Shipments.TrackingNumber")
                                                        </th>
                                                        <th class="delivery-date">
                                                            Shipping Service
                                                        </th>
                                                        <th class="shipping-date">
                                                            @T("Order.Shipments.ShippedDate")
                                                        </th>
                                                        <th class="view-details">
                                                            @T("Order.Shipments.ViewDetails")
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in orderDetail.Shipments)
                                                    {
                                                        <tr>
                                                            <td class="tracking-number">
                                                                <a href="@item.TrackingNumber" target="_blank">
                                                                    <span class="tracking-number-link">@item.TrackingNumber</span>
                                                                </a>
                                                            </td>
                                                            <td class="delivery-date">
                                                                <span>UPS</span>
                                                            </td>
                                                            <td class="shipped-date">
                                                                <label>@T("Order.Shipments.ShippedDate"):</label>
                                                                @if (item.ShippedDate.HasValue)
                                                                {
                                                                    <span>@item.ShippedDate.Value.ToString("D")</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>@T("Order.Shipments.ShippedDate.NotYet")</span>
                                                                }
                                                            </td>
                                                            <td class="view-details">
                                                                <a href="@string.Format("{0}{1}&loc=en_us", "https://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=", item.TrackingNumber)" target="_blank" title="@T("Order.Shipments.ViewDetails")">@T("Order.Shipments.ViewDetails")</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="shipping-info">
                            <div class="egg-page-title">
                                <h1 class="page-title">SHIPPING INFO</h1>
                            </div>
                            <div class="customer-info">
                                <p>@orderDetail.BillingAddress.Email</p>
                                <p>@orderDetail.BillingAddress.FirstName @orderDetail.BillingAddress.LastName</p>
                                <p>@orderDetail.BillingAddress.Address1</p>
                                <p>@orderDetail.BillingAddress.CountryName</p>
                                <p>@orderDetail.BillingAddress.Company</p>
                            </div>
                        </div>
                    </div>
                </div>
               }
               <div class="egg-box-viewmore">
                   <a onclick="showOlder()" class="egg-viewmore">VIEW MORE</a>
               </div>
           </div>
       </div>
   </section>
}
else
{
    <section class="egg-breadcrumb">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Track Order</li>
            </ol>
        </div>
    </section>
    <section class="egg-main-content">
        <div class="container-fluid">
            <div class="egg-page-title text-center">
                <h1 class="page-title egg-lg-title">Track Order</h1>
                <p style="font-size:14px">
                    This order is not exist. Please try again with valid email address.
                </p>
            </div>
            <div class="egg-content egg-contact-content">
                <form action="" method="post" novalidate="novalidate" onsubmit="return false">
                    <div class="row">
                        <div class="form-group">
                            <input class="form-control" data-val="true" placeholder = "name@mail.com" data-val-email="Wrong email address" data-val-required="Please enter your email address!" id="Email" name="Email" type="text" value="">
                            <span class="egg-show-validate" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group text-center">
                            <button class="btn btn-primary egg-btn-primary" type="submit" onclick="getOrderDetail()">Track Order</button>
                        </div>
                    </div>
                </form>

                <div class="egg-content egg-faqs-content">
                    <div class="panel-group" id="egg-accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="egg-faq-heading-1">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-faq-1" aria-expanded="true" aria-controls="egg-faq-1">
                                        Can I add or remove products from my order?
                                    </a>
                                </h4>
                            </div>
                            <div id="egg-faq-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="egg-faq-heading-1">
                                <div class="panel-body">
                                    <p>
                                        Sorry! To ensure your order arrives on time, we generally begin processing an order as soon as it is placed. As a result we are unable to make any changes to your order after it is placed.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="egg-faq-heading-2">
                                <h4 class="panel-title">
                                    <a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#egg-accordion" href="#egg-faq-2" aria-expanded="false" aria-controls="egg-faq-2">
                                        When is my order scheduled to arrive?
                                    </a>
                                </h4>
                            </div>
                            <div id="egg-faq-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="egg-faq-heading-2">
                                <div class="panel-body">
                                    <p>
                                        You will receive your order in an estimated 10 to 12 business days. For international orders, transit will take an additional 4 to 6 weeks. However, this is the maximum time an order might take to arrive, our customers generally receive their shipments ahead of time.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

<script>
   function getOrderDetail()
    {
        var email = $("#Email").val();
        if (email!="")
        {
            window.location.href = '@Url.RouteUrl("OrderInformation")' + "?email=" + email;
        }
    }
    function showOlder() {
        var older = $('.list-order-item.hide');
        older.removeClass('hide');
        $('.egg-box-viewmore').hide('slow');
    }
</script>