@model OrderDetailsModel
@using Nop.Web.Models.Order
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);
    //page class
    Html.AppendPageCssClassParts("html-order-details-page");
}

<section class="egg-breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Order Details</li>
        </ol>
    </div>
</section>
<section class="egg-main-content">
    <div class="container-fluid">
        <div class="egg-content">
            <div class="row list-order-item">
                <div class="col-sm-8">
                    <div class="order-detail">
                        <div class="egg-page-title">
                            <h1 class="page-title">ORDER DETAILS</h1>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6 order-content">
                                <p>
                                    <strong>Order #@Model.Id</strong>
                                </p>
                                <p>
                                    <strong>Order Status: <span class="egg-btn-sale">@Model.OrderStatus</span></strong>
                                </p>
                            </div>
                            <div class="col-sm-6 order-content">
                                @if(Model.IsReOrderAllowed)
                                {
                                <div class="flow-root " style="text-align: center;">
                                    <button class="btn egg-btn-primary" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = Model.Id })    ')">ReOrder</button>
                                </div>
                                }
                            </div>
                        </div>
                        <div class="col-sm-12 order-content">
                            <p><strong>Product(s)</strong></p>
                            <table class="cart">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>SubTotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td> <em><a target="_blank" href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em></td>
                                            <td>@item.Quantity</td>
                                            <td>@item.SubTotal</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                        <div class="col-sm-12 order-content">
                            <div class="col-sm-4 col-xs-8 pull-right " style="float:right !important">
                                <div class="egg-info-cart">
                                    <p class="egg-subtotal">
                                        SUBTOTAL <span class="egg-right-new-price">@Model.OrderSubtotal</span>
                                    </p>
                                    <p class="egg-subtotal">
                                        Shipping:  <span class="egg-right-new-price">@Model.OrderShipping</span>
                                    </p>
                                    <p class="egg-subtotal egg-total">
                                        Total <span class="egg-right-total-price"> @Model.OrderTotal</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="shipping-info">
                        <div class="egg-page-title">
                            <h1 class="page-title">SHIPPING INFO</h1>
                        </div>
                        <div class="customer-info">
                            <p>@Model.BillingAddress.Email</p>
                            <p>@Model.BillingAddress.FirstName @Model.BillingAddress.LastName</p>
                            <p>@Model.BillingAddress.Address1</p>
                            <p>
                                @if (Model.BillingAddress.CityEnabled)
                                {
                                    @Model.BillingAddress.City
                                }
                                @if (Model.BillingAddress.CityEnabled && (Model.BillingAddress.StateProvinceEnabled || Model.BillingAddress.ZipPostalCodeEnabled))
                                {
                                    <text>,</text>
                                }
                                @if (Model.BillingAddress.StateProvinceEnabled)
                                {
                                    @Model.BillingAddress.StateProvinceName
                                }
                                @if (Model.BillingAddress.ZipPostalCodeEnabled)
                                {
                                    @Model.BillingAddress.ZipPostalCode
                                }
                            </p>
                            <p>@Model.BillingAddress.CountryName</p>
                            <p>@Model.BillingAddress.Company</p>
                            @if (Model.BillingAddress.PhoneEnabled)
                            {
                                <p>
                                    @Model.BillingAddress.PhoneNumber
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>