﻿
@model DesignModel

@{
    //page title
    ViewBag.Title = "Edit Design";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Designs");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "design-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Promotions.Discounts.EditDiscountDetails") - @Model.Name
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back to list", "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="discount-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Name</label>
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Description</label>
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Description)
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Product Id</label>
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ProductId)
                                @Html.ValidationMessageFor(model => model.ProductId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Upload Status</label>
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownList("UploadStatusId", Model.AvailableUploadStatus)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@Html.DeleteConfirmation("discount-delete")
