﻿@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = "Design";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Designs");
}
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
           Designs
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Search by name</label>
                                    </div>
                                    <div class="col-md-8">
                                       <input type="text" class="form-control text-box single-line"  id="search-term"/> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="search-design" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                           Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="design-grid"></div>

                        <script>
                              function additionalData() {
                            var data = {name: $('#search-term').val() };
                            addAntiForgeryToken(data);
                            return data;
                        }
                            $(document).ready(function () {
                                $('#search-design').click(function () {
                                    var grid = $('#design-grid').data('kendoGrid');
                                    grid.dataSource.page(1);
                                    return false;
                                });
                            $("#design-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetList", "Design"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData                                       }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "Id",
                                        title: "Id",
                                        width: 100
                                    },
                                    {
                                        field: "Name",
                                        title: "Name",
                                        width: 400,
                                    }, {
                                        field: "Description",
                                        title: "Description",
                                        width: 400,
                                    }, {
                                        field: "ProductId",
                                        title: "ProductId",
                                        width: 100,
                                    }, {
                                        field: "UploadStatusId",
                                        title: "UploadStatusId",
                                        width: 150,
                                    },
                                    {
                                        field: "Id",
                                        title: "Edit",
                                        width: 50,
                                        template: '<a href="Edit/#=Id#">Edit</a>'
                                    }
                                ]
                            });
                        });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

