﻿html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Tooltip theme */
.tooltipster-sidetip.tooltipster-default.tooltipster-listagram .tooltipster-box {
    background-color: #FFBABA;
    border-radius: 6px;
    border: 0;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    opacity: 0.95;
}

.tooltipster-sidetip.tooltipster-default.tooltipster-listagram .tooltipster-arrow-border {
    border-top-color: #FFBABA;
}

.tooltipster-sidetip.tooltipster-default.tooltipster-listagram .tooltipster-arrow-background {
    border-top-color: #FFBABA;
}

.tooltipster-sidetip.tooltipster-default.tooltipster-listagram .tooltipster-content {
    color: #D8000C;
    padding: 15px 15px;
}

/* Import different parts of the Fortune Wheel */
/* Contains slice spinning animation CSS */
div.fortunewheel-spinning {
    -webkit-animation-duration: 6000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 6000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes spin-slice1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}

@-webkit-keyframes spin-slice1 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(720deg);
    }
}

@keyframes spin-slice2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(750deg);
    }
}

@-webkit-keyframes spin-slice2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(750deg);
    }
}

@keyframes spin-slice3 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(780deg);
    }
}

@-webkit-keyframes spin-slice3 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(780deg);
    }
}

@keyframes spin-slice4 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(810deg);
    }
}

@-webkit-keyframes spin-slice4 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(810deg);
    }
}

@keyframes spin-slice5 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(840deg);
    }
}

@-webkit-keyframes spin-slice5 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(840deg);
    }
}

@keyframes spin-slice6 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(870deg);
    }
}

@-webkit-keyframes spin-slice6 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(870deg);
    }
}

@keyframes spin-slice7 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(900deg);
    }
}

@-webkit-keyframes spin-slice7 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(900deg);
    }
}

@keyframes spin-slice8 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(930deg);
    }
}

@-webkit-keyframes spin-slice8 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(930deg);
    }
}

@keyframes spin-slice9 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(960deg);
    }
}

@-webkit-keyframes spin-slice9 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(960deg);
    }
}

@keyframes spin-slice10 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(990deg);
    }
}

@-webkit-keyframes spin-slice10 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(990deg);
    }
}

@keyframes spin-slice11 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1020deg);
    }
}

@-webkit-keyframes spin-slice11 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1020deg);
    }
}

@keyframes spin-slice12 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1050deg);
    }
}

@-webkit-keyframes spin-slice12 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1050deg);
    }
}
/*
@include spinner(spin-slice1, 720deg);
@include spinner(spin-slice2, 750deg);
@include spinner(spin-slice3, 780deg);
@include spinner(spin-slice4, 810deg);
@include spinner(spin-slice5, 840deg);
@include spinner(spin-slice6, 870deg);
@include spinner(spin-slice7, 900deg);
@include spinner(spin-slice8, 930deg);
@include spinner(spin-slice9, 960deg);
@include spinner(spin-slice10, 990deg);
@include spinner(spin-slice11, 1020deg);
@include spinner(spin-slice12, 1050deg);
*/
.fortunewheel-outer {
    position: relative;
}

.fortunewheel-inner {
    z-index: 1000;
    border: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.fortunewheel-shadow-inside {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    z-index: 1001;
    background-image: url(../../images/default/wheel_shadow_inside.png);
}

.fortunewheel-shadow-outside {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    z-index: 999;
    background-image: url(../../images/default/wheel_shadow_outside.png);
}

.fortunewheel-arrow {
    /* Default arrow image, will be overriden by themes */
    background-image: url(../../images/default/arrow_with_shadow.png);
    background-repeat: no-repeat;
    position: absolute;
    right: -60px;
    width: 100px;
    height: 50px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-size: cover;
    z-index: 1002;
}

.fortunewheel-background {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.fortunewheel-slice {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: rotate(-60deg) translate(0px, -50%);
    -webkit-transform: rotate(-60deg) translate(0px, -50%);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    text-align: right;
    width: 40%;
    font-weight: bold;
    /*font-family: "Roboto", sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

    .fortunewheel-slice:nth-of-type(1+n, 1) {
        border: 1px solid red !important;
    }

.rotator-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
}

.theme-logo-large {
    position: absolute;
    top: 30px;
    right: 30px;
}

    .theme-logo-large img {
        max-width: 300px;
        max-height: 100px;
    }

.fortunewheel-logo-small {
    width: 50px;
    height: 50px;
    position: absolute;
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

    .fortunewheel-logo-small img {
        max-width: 100%;
    }

.right-section .roulette-iframe-right-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.right-section .roulette-iframe-right-rules {
    font-size: 14px;
}

.right-section .roulette-iframe-right-description {
    margin-bottom: 1em;
}

    .right-section .roulette-iframe-right-description label {
        font-size: 16px;
    }

.right-section input {
    width: 100%;
    /*margin-bottom: 15px;*/
    box-sizing: border-box;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
}

.right-section button {
    width: 100%;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 2px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.right-section .roulette-iframe-right-form {
    min-height: 60px;
}

.right-section .roulette-iframe-form-error {
    margin-top: 7px;
    color: red;
    font-size: 13px;
}

.right-section .roulette-iframe-right-prize-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.right-section .roulette-iframe-right-prize-coupon {
    margin-top: 1em;
    margin-bottom: 0;
}

    .right-section .roulette-iframe-right-prize-coupon input {
        font-size: 20px;
    }

.right-section button {
    margin-top: 15px;
}

.right-section .roulette-right-image {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

    .right-section .roulette-right-image img {
        max-width: 75%;
        margin: 0 auto;
        display: block;
    }

.right-section {
    /*display: none;*/
}

.roulette-iframe-close {
    bottom: 50px;
    z-index: 1000;
    right: 50px;
    position: absolute;
}

    .roulette-iframe-close a,
    .roulette-iframe-close a:link {
        color: black;
    }

@media (max-width: 600px) {
    .right-section > div {
        width: 100%;
    }
}

@media (max-width: 600px) and (min-height: 0px) and (max-height: 400px) {
    .fortunewheel-outer {
        height: 250px;
        width: 250px;
    }

    .fortunewheel-inner {
        width: 250px;
        height: 250px;
    }

    .fortunewheel-background {
        width: 250px;
        height: 250px;
    }

    .left-section {
        /*left: -$px / 2; // TOOD: this iwll brea kwithout !important, fix it*/
        width: 250px;
        height: 250px;
    }

    .fortunewheel-slice {
        font-size: 9px;
    }

    body .left-section .fortunewheel-arrow {
        /* Default arrow image, will be overriden by themes */
        width: 45px;
        height: 29px;
        right: -28px;
    }

    .right-section {
        max-width: 90%;
        padding: 1em;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .roulette-iframe-right-title {
        text-align: center;
    }

    .left-section {
        bottom: -92px;
        left: -125px;
    }

    .theme-logo-large {
        display: none;
    }

    .roulette-iframe-close {
        bottom: 10px;
        right: 10px;
    }

    .roulette-iframe-right-rules {
        display: none;
    }

    .fortunewheel-logo-small {
        width: 30px;
        height: 30px;
        left: calc(50% - 30px / 2);
        top: calc(50% - 30px / 2);
    }

    .roulette-right-image {
        display: none;
    }
}

@media (max-width: 600px) and (min-height: 400px) and (max-height: 500px) {
    .fortunewheel-outer {
        height: 300px;
        width: 300px;
    }

    .fortunewheel-inner {
        width: 300px;
        height: 300px;
    }

    .fortunewheel-background {
        width: 300px;
        height: 300px;
    }

    .left-section {
        /*left: -$px / 2; // TOOD: this iwll brea kwithout !important, fix it*/
        width: 300px;
        height: 300px;
    }

    .fortunewheel-slice {
        font-size: 11px;
    }

    body .left-section .fortunewheel-arrow {
        /* Default arrow image, will be overriden by themes */
        width: 65px;
        height: 43px;
        right: -45px;
    }

    .left-section {
        bottom: -115px;
        left: -150px;
        /*transform: rotate(-90deg);*/
    }

    .right-section {
        max-width: 90%;
        padding: 1em;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .roulette-iframe-right-title {
        text-align: center;
    }

    .left-section {
        bottom: -92px;
        left: -150px;
    }

    .theme-logo-large {
        display: none;
    }

    .roulette-iframe-close {
        bottom: 10px;
        right: 10px;
    }

    .roulette-iframe-right-rules {
        display: none;
    }

    .fortunewheel-logo-small {
        width: 40px;
        height: 40px;
        left: calc(50% - 40px / 2);
        top: calc(50% - 40px / 2);
    }
}

@media (max-width: 600px) and (min-height: 501px) and (max-height: 3000px) {
    .fortunewheel-outer {
        height: 350px;
        width: 350px;
    }

    .fortunewheel-inner {
        width: 350px;
        height: 350px;
    }

    .fortunewheel-background {
        width: 350px;
        height: 350px;
    }

    .left-section {
        /*left: -$px / 2; // TOOD: this iwll brea kwithout !important, fix it*/
        width: 350px;
        height: 350px;
    }

    .fortunewheel-slice {
        font-size: 11px;
    }

    body .left-section .fortunewheel-arrow {
        /* Default arrow image, will be overriden by themes */
        width: 65px;
        height: 43px;
        right: -40px;
    }

    .left-section {
        bottom: -115px;
        left: -150px;
        /*transform: rotate(-90deg);*/
    }

    .right-section {
        max-width: 90%;
        padding: 1em;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .roulette-iframe-right-title {
        text-align: center;
    }

    .theme-logo-large {
        display: none;
    }

    .roulette-iframe-close {
        bottom: 10px;
        right: 10px;
        z-index:99999 !important;
    }
    [data-wzb="SocialMobileTool"] .zbx-trigger {
        z-index: 99998 !important;
    }
    .roulette-iframe-right-rules {
        display: none;
    }
}

@media (max-width: 600px) {
    /* From 475 only increase wheel size */
}

@media (max-width: 600px) and (min-height: 450px) and (max-height: 624px) {
    body .left-section {
        bottom: -100px;
        left: -175px;
    }

    body .fortunewheel-outer {
        height: 350px;
        width: 350px;
    }

    body .fortunewheel-inner {
        width: 350px;
        height: 350px;
    }

    body .fortunewheel-background {
        width: 350px;
        height: 350px;
    }

    body .left-section {
        /*left: -$px / 2; // TOOD: this iwll brea kwithout !important, fix it*/
        width: 350px;
        height: 350px;
    }

    body .fortunewheel-slice {
        font-size: 11px;
    }

    body body .left-section .fortunewheel-arrow {
        /* Default arrow image, will be overriden by themes */
        width: 100px;
        height: 66px;
        right: -10px;
    }
}

@media (max-width: 600px) {
    /* From 625 only increase wheel size */
}

@media (max-width: 600px) and (min-height: 625px) and (max-height: 675px) {
    body .fortunewheel-outer {
        height: 400px;
        width: 400px;
    }

    body .fortunewheel-inner {
        width: 400px;
        height: 400px;
    }

    body .fortunewheel-background {
        width: 400px;
        height: 400px;
    }

    body .left-section {
        /*left: -$px / 2; // TOOD: this iwll brea kwithout !important, fix it*/
        width: 400px;
        height: 400px;
    }

    body .fortunewheel-slice {
        font-size: 12px;
    }

    body body .left-section .fortunewheel-arrow {
        /* Default arrow image, will be overriden by themes */
        width: 65px;
        height: 43px;
        right: -40px;
    }

    body .left-section {
        bottom: -100px;
        left: -185px;
    }

        body .left-section .fortunewheel-arrow {
            /* Default arrow image, will be overriden by themes */
            width: 65px;
            height: 43px;
            right: -40px;
        }
}

@media (max-width: 600px) {
    /* From 675 only increase wheel size */
}

@media (max-width: 600px) and (min-height: 676px) and (max-height: 900px) {
    body .fortunewheel-outer {
        height: 450px;
        width: 450px;
    }

    body .fortunewheel-inner {
        width: 450px;
        height: 450px;
    }

    body .fortunewheel-background {
        width: 450px;
        height: 450px;
    }

    body .left-section {
        /*left: -$px / 2; // TOOD: this iwll brea kwithout !important, fix it*/
        width: 450px;
        height: 450px;
    }

    body .fortunewheel-slice {
        font-size: 14px;
    }

    body .left-section {
        bottom: -100px;
        left: -235px;
    }

        body .left-section .fortunewheel-arrow {
            /* Default arrow image, will be overriden by themes */
            width: 65px;
            height: 43px;
            right: -38px;
        }
}

@media (max-width: 600px) and (min-height: 520px) and (max-height: 2000px) {
    .right-section .roulette-iframe-right-rules {
        display: block;
    }
}

@media (max-width: 600px) and (min-height: 0px) and (max-height: 585px) {
    .roulette-right-image {
        display: none;
    }
}

@media (max-width: 600px) and (min-height: 730px) and (max-height: 2000px) {
    .theme-logo-large {
        display: block;
        max-width: 90%;
        max-height: 50px;
        height: 50px;
        top: 10px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

        .theme-logo-large > div {
            height: 100%;
        }

        .theme-logo-large img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
        }

    .right-section {
        top: 60px;
    }
}

@media (min-width: 601px) and (max-width: 3000px) {
    .right-section {
        /* Position it in center by default */
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        -webkit-align-items: center;
    }

    .left-section {
        /* Position it in center by default */
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media (min-width: 601px) and (max-width: 3000px) and (min-height: 0px) and (max-height: 325px) {
    .roulette-iframe-right-rules {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 3000px) and (min-height: 0px) and (max-height: 510px) {
    .roulette-iframe-close {
        bottom: 10px;
        right: 10px;
    }
}

@media (min-width: 601px) and (max-width: 3000px) and (min-height: 0px) and (max-height: 595px) {
    .theme-logo-large {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 3000px) and (min-height: 0px) and (max-height: 510px) {
    .roulette-right-image {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 3000px) {
    .fortunewheel-outer {
        height: 375px;
        width: 375px;
    }

    .fortunewheel-inner {
        width: 375px;
        height: 375px;
    }

    .fortunewheel-background {
        width: 375px;
        height: 375px;
    }

    .left-section {
        /*left: -$px / 2; // TOOD: this iwll brea kwithout !important, fix it*/
        width: 375px;
        height: 375px;
    }

    .fortunewheel-slice {
        font-size: 12px;
    }

    body .left-section .fortunewheel-arrow {
        /* Default arrow image, will be overriden by themes */
        width: 65px;
        height: 43px;
        right: -40px;
    }

    .right-section {
        right: 4.5em;
        max-width: 300px;
    }

    .left-section {
        left: -160px;
    }
}

@media (min-width: 600px) and (max-width: 660px) {
    .right-section {
        right: 2em;
    }
}

@media (min-width: 690px) and (max-width: 779px) {
    .fortunewheel-outer {
        height: 475px;
        width: 475px;
    }

    .fortunewheel-inner {
        width: 475px;
        height: 475px;
    }

    .fortunewheel-background {
        width: 475px;
        height: 475px;
    }

    .left-section {
        /*left: -$px / 2; // TOOD: this iwll brea kwithout !important, fix it*/
        width: 475px;
        height: 475px;
    }

    .fortunewheel-slice {
        font-size: 14px;
    }

    .left-section {
        left: -210px;
    }

    body .left-section .fortunewheel-arrow {
        /* Default arrow image, will be overriden by themes */
        width: 85px;
        height: 56px;
        right: -55px;
    }

    .fortunewheel-logo-small {
        width: 60px;
        height: 60px;
        left: calc(50% - 60px / 2);
        top: calc(50% - 60px / 2);
    }
}

@media (min-width: 780px) and (max-width: 3000px) {
    .fortunewheel-outer {
        height: 525px;
        width: 525px;
    }

    .fortunewheel-inner {
        width: 525px;
        height: 525px;
    }

    .fortunewheel-background {
        width: 525px;
        height: 525px;
    }

    .left-section {
        /*left: -$px / 2; // TOOD: this iwll brea kwithout !important, fix it*/
        width: 525px;
        height: 525px;
    }

    .fortunewheel-slice {
        font-size: 14px;
    }

    .left-section {
        left: -240px;
    }

    body .left-section .fortunewheel-arrow {
        /* Default arrow image, will be overriden by themes */
        width: 100px;
        height: 66px;
        right: -65px;
    }

    .fortunewheel-logo-small {
        width: 70px;
        height: 70px;
        left: calc(50% - 70px / 2);
        top: calc(50% - 70px / 2);
    }
}
/*
@include wheelsize(00px);
@include slicesize(12px);
@include arrowsize(50px);
*/
.listagram-fortunewheel-iframe {
    height: 100%;
    /*
  display: flex;
  flex-direction: column;
  */
}

    .listagram-fortunewheel-iframe .outer-wrapper {
        height: 100%;
        /*
    display: flex;
    flex-direction: column;
    */
    }

    .listagram-fortunewheel-iframe .inner-wrapper {
        position: relative;
        overflow-y: auto;
        height: 100%;
        overflow: hidden;
    }

        .listagram-fortunewheel-iframe .inner-wrapper .left-section {
            position: absolute;
        }

        .listagram-fortunewheel-iframe .inner-wrapper .right-section {
            position: absolute;
            display: flex;
            align-items: center;
        }

/*# sourceMappingURL=fortunewheel.css.map */
.close-the-wheel {
    position: absolute;
    right: 2px;
    top: 0 !important;
    bottom: unset !important;
    font-weight: bold;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 100%;
    text-align: center !important;
}
.close-the-wheel a{
    text-decoration:unset !important;
    color: #3A599B !important;
    vertical-align: text-top;
    font-size: 20px;
    font-weight: bolder !important;
}