﻿@model ProductDetailsModel
@using Nop.Web.Models.Catalog;

<div id="sizing-modal-container">
    @foreach (var data in Model.ProductContentForAttributeValueModels)
    {
        <div id="sizing-modal-for-@data.ProductAttributeValueId" class="modal fade @(data.IsPreselected ? "active-size" : "")" role="dialog">

             @{
                 string _sizingContent = data.TypeInformation.ProductSizingInfoTemplate.Content;
                 if (!string.IsNullOrEmpty(_sizingContent))
                 {
                     _sizingContent = _sizingContent.Replace("crewin", string.Format("crewin-for-{0}",data.ProductAttributeValueId));
                     _sizingContent = _sizingContent.Replace("crewcm", string.Format("crewcm-for-{0}", data.ProductAttributeValueId));
                 }
             }
            @Html.Raw(_sizingContent)
        </div>
    }
</div>