﻿@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Catalog;
@using Nop.Core.Domain.Media;
@using Nop.Core.Infrastructure;
@using System.Text;
@using System.Text.RegularExpressions;

@{ 
    var customFieldValueAttribute = Model.ProductAttributes.Where(p => p.Name.Equals("CustomFieldValue")).FirstOrDefault();
    string customControlId = "";
    if (customFieldValueAttribute != null)
    {
        customControlId = string.Format("#product_attribute_{0}", customFieldValueAttribute.Id);
    }
}
@if (Model.ProductAttributes.Count > 0)
{
    <script>
        var selected_type_product = null;
    </script>
    foreach (var attribute in Model.ProductAttributes)
    {
        string controlId = string.Format("product_attribute_{0}", attribute.Id);
        string textPrompt = !string.IsNullOrEmpty(attribute.TextPrompt) ? attribute.TextPrompt : attribute.Name;
        bool isControlTypeTextbox = attribute.AttributeControlType == AttributeControlType.TextBox;
        switch (attribute.AttributeControlType)
        {
            case AttributeControlType.DropdownList:
                {
                    if (attribute.Name.Equals("Available Products"))
                    {
                        <div class="egg-form-note-cart">
                            <span class="egg-step-product">Product</span>
                            <select  class="egg-select-info" name="@(controlId)" id="@(controlId)">
                                
                                @if (!attribute.IsRequired)
                                {
                                    <option value="0">---</option>
                                }
                                @foreach (var attributeValue in attribute.Values)
                                {
                                    string selectedTypeParameter = Request.QueryString[attribute.Id.ToString()];
                                    var attributeName = String.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                        attributeValue.Name : attributeValue.Name + " - " + attributeValue.PriceAdjustment.Substring(1);
                                    if (!string.IsNullOrEmpty(selectedTypeParameter))
                                    {
                                        Regex not_num_period = new Regex("[^0-9]");
                                        string result = not_num_period.Replace(selectedTypeParameter, string.Empty);
                                        int typeParamValue;
                                        if (int.TryParse(result, out typeParamValue))
                                        {
                                            if (attributeValue.Id == typeParamValue)
                                            {
                                                <option selected="selected" value="@attributeValue.Id">@attributeName</option>
                                            }
                                            else
                                            {
                                                <option value="@attributeValue.Id">@attributeName</option>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <option selected="@attributeValue.IsPreSelected" value="@attributeValue.Id">@attributeName</option>
                                    }
                                }
                            </select>
                        </div>
                        <ul class="egg-list-product-detal @(Model.ProductTypeCarouselImage.Count() <=1 ? "egg-hidden-attribute" : "")">
                            @foreach (var item in Model.ProductTypeCarouselImage)
                            {
                                <li class="service1-item egg-list-review-item @(item.IsSeclected?"selected":"")" id="item-product-type-@item.AttributeValueId">
                                    <a class="egg-get-img" data-img="@item.ImageSizeMDUrl">
                                        <img src="@item.ImageSizeMDUrl" title="@item.ProductType" onclick="SelectValueToChangeAttribute(@item.AttributeMappingId,@item.AttributeValueId,@item.DisplayIndex);">
                                    </a>
                                </li>
                            }
                        </ul>
                        <script type="text/javascript">
                                        function SelectValueToChangeAttribute(mappingId, attrId,index)
                                        {
                                            var elmId = "#product_attribute_" + mappingId;
                                            $(elmId).val(attrId);
                                            $(elmId).trigger('change');
                                            if (window.innerWidth < 992)
                                            {
                                                $('.egg-list-review-item.selected').removeClass('selected');
                                                $('#mobile-item-product-type-' + attrId).addClass('selected');
                                            }
                                            else {
                                                $('.egg-list-review-item.selected').removeClass('selected');
                                                $('#item-product-type-' + attrId).addClass('selected');
                                            }
                                        }

                        </script>
                    }
                    else if (textPrompt.Substring(0, 5) == "size_")
                    {
                        <div class="egg-size" id="@string.Format("product_attribute_input_{0}", attribute.Id)" style="@(attribute.HasCondition ? "display:none;" : "")">
                            <span class="egg-guide" onclick="showProductSizeModal()"><a>Size chart <i class="egg-icon-rule"></i></a></span>
                            <span class="egg-step-product" data-toggle="popover">SIZE</span>
                            <ul class="egg-list-size" name="@(controlId)" id="@(controlId)">
                                @foreach (var attributeValue in attribute.Values)
                                {

                                <li class="item-size">
                                    <input type="radio" id="@(controlId)_@(attributeValue.Id)" name="@(controlId)" value="@attributeValue.Id">
                                    <label class="egg-lb-size text-ellipsis" onclick="resetAllError()" for="@(controlId)_@(attributeValue.Id)" title=@string.Format("{0}{1}",attributeValue.Name,attributeValue.PriceAdjustment)>@attributeValue.Name</label>
                                </li>
                                }
                            </ul>
                            <p style="padding:5px 0 0 0;color:#C7100F;opacity:.8;font-weight:500;font-style:italic;font-size:12px">* Please check our size chart carefully before choosing your size.</p>
                        </div>
                    }
                }
                break;
            case AttributeControlType.RadioList:
                {
                    <ul class="option-list">
                        @foreach (var attributeValue in attribute.Values)
                        {
                            var attributeName = String.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                attributeValue.Name :
                                T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment).Text;
                            <li>
                                <input id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" />
                                <label for="@(controlId)_@(attributeValue.Id)">@attributeName</label>
                            </li>
                        }
                    </ul>
                }
                break;
            case AttributeControlType.Checkboxes:
            case AttributeControlType.ReadonlyCheckboxes:
                {
                    <ul class="option-list">
                        @foreach (var attributeValue in attribute.Values)
                        {
                            var attributeName = String.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                attributeValue.Name :
                                T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment).Text;
                            <li>
                                <input id="@(controlId)_@(attributeValue.Id)" type="checkbox" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" @(attribute.AttributeControlType == AttributeControlType.ReadonlyCheckboxes ? Html.Raw(" disabled=\"disabled\"") : null) />
                                <label for="@(controlId)_@(attributeValue.Id)">@attributeName</label>
                            </li>
                        }
                    </ul>
                }
                break;
            case AttributeControlType.TextBox:
                {
                    <input name="@(controlId)" type="text" class="textbox" style="display:none" id="@(controlId)" value="@attribute.DefaultValue" />
                }
                break;
            case AttributeControlType.MultilineTextbox:
                {
                    <textarea cols="20" id="@(controlId)" name="@(controlId)">@attribute.DefaultValue</textarea>
                }
                break;
            case AttributeControlType.Datepicker:
                {
                    @Html.DatePickerDropDowns(controlId + "_day", controlId + "_month", controlId + "_year", DateTime.Now.Year, DateTime.Now.Year + 1, attribute.SelectedDay, attribute.SelectedMonth, attribute.SelectedYear)
                }
                break;
            case AttributeControlType.FileUpload:
                {
                    var downloadService = EngineContext.Current.Resolve<Nop.Services.Media.IDownloadService>();
                    Download download = null;
                    if (!String.IsNullOrEmpty(attribute.DefaultValue))
                    {
                        download = downloadService.GetDownloadByGuid(new Guid(attribute.DefaultValue));
                    }

                    //register CSS and JS
                    Html.AddCssFileParts("~/Scripts/fineuploader/fineuploader-4.2.2.min.css");
                    Html.AddScriptParts("~/Scripts/fineuploader/jquery.fineuploader-4.2.2.min.js");

                    //ex. ['jpg', 'jpeg', 'png', 'gif'] or []
                    var allowedFileExtensions = string.Join(", ", attribute.AllowedFileExtensions.Select(x => "'" + x.Trim() + "'").ToList());

                    if (download != null)
                    {
                        <input id="@(controlId)" name="@(controlId)" type="hidden" value="@download.DownloadGuid" />
                    }
                    else
                    {
                        <input id="@(controlId)" name="@(controlId)" type="hidden" />
                    }

                    @*fine uploader container*@
                    <div id="@(controlId)uploader"></div>
                    @*fine uploader template (keep it synchronized to \Content\fineuploader\templates\default.html)*@
                    <script type="text/template" id="@(controlId)-qq-template">
                        <div class="qq-uploader-selector qq-uploader">
                            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                <span>@T("Common.FileUploader.DropFiles")</span>
                            </div>
                            <div class="qq-upload-button-selector qq-upload-button">
                                <div>@T("Common.FileUploader.Upload")</div>
                            </div>
                            <span class="qq-drop-processing-selector qq-drop-processing">
                                <span>@T("Common.FileUploader.Processing")</span>
                                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                            </span>
                            <ul class="qq-upload-list-selector qq-upload-list">
                                <li>
                                    <div class="qq-progress-bar-container-selector">
                                        <div class="qq-progress-bar-selector qq-progress-bar"></div>
                                    </div>
                                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                                    <span class="qq-upload-file-selector qq-upload-file"></span>
                                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                    <span class="qq-upload-size-selector qq-upload-size"></span>
                                    <a class="qq-upload-cancel-selector qq-upload-cancel" href="javascript:void(0)">@T("Common.FileUploader.Cancel")</a>
                                    <a class="qq-upload-retry-selector qq-upload-retry" href="javascript:void(0)">@T("Common.FileUploader.Retry")</a>
                                    <a class="qq-upload-delete-selector qq-upload-delete" href="javascript:void(0)">@T("Common.FileUploader.Delete")</a>
                                    <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                </li>
                            </ul>
                        </div>
                    </script>
                                <script type="text/javascript">
                            $(document).ready(function() {
                                $("#@(controlId)uploader").fineUploader({
                                    request: {
                                        endpoint: '@(Url.RouteUrl("UploadFileProductAttribute", new { attributeId = attribute.Id }))'
                                    },
                                    template: "@(controlId)-qq-template",
                                    multiple: false,
                                    validation: {
                                        allowedExtensions: [@Html.Raw(allowedFileExtensions)]
                                    }
                                }).on("complete", function(event, id, name, responseJSON, xhr) {
                                    $("#@(controlId)").val(responseJSON.downloadGuid);
                                    if (responseJSON.success) {
                                        $("#@(controlId + "downloadurl")").html("<a href='" + responseJSON.downloadUrl + "'>@T("Common.FileUploader.DownloadUploadedFile")</a>");
                                        $("#@(controlId + "remove")").show();
                                    }
                                    if (responseJSON.message) {
                                        alert(responseJSON.message);
                                    }
                                });

                                $("#@(controlId + "remove")").click(function(e) {
                                    $("#@(controlId + "downloadurl")").html("");
                                    $("#@(controlId)").val('');
                                    $(this).hide();
                                });
                            });
                                </script>
                                <div id="@(controlId + "downloadurl")">
                                    @if (download != null)
                                    {
                                        <a href="@(Url.Action("GetFileUpload", "Download", new {downloadId = download.DownloadGuid}))" class="download-uploaded-file">@T("Common.FileUploader.DownloadUploadedFile")</a>
                                    }
                                </div>
                                <div>
                                    @if (download != null)
                                    {
                                        <a id="@(controlId + "remove")" class="remove-download-button">@T("Common.FileUploader.RemoveDownload")</a>
                                    }
                                    else
                                    {
                                        <a id="@(controlId + "remove")" class="remove-download-buttonn" style="display: none;">@T("Common.FileUploader.RemoveDownload")</a>
                                    }
                                </div>

                }
                break;
            case AttributeControlType.ColorSquares:
                {
                    <div class="egg-color @(attribute.Values.Count() <=1 ? "egg-hidden-attribute":"")" id="@string.Format("product_attribute_input_{0}", attribute.Id)" style="@(attribute.HasCondition ? "display:none;" : "")">
                        <span class="egg-step-product">Color</span>
                        <ul class="egg-list-color" data-color="blue, red, gray" id="color-squares-@(attribute.Id)">
                            @foreach (var attributeValue in attribute.Values)
                            {
                                var attributeName = String.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                    attributeValue.Name :
                                    T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment).Text;
                                <li class="egg-item-color">
                                    <input id="@(controlId)_@(attributeValue.Id)" onclick="updateQueryStringParameter(@(attribute.Id),$(this).val(),'ProductColor')" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" />
                                    <label class="egg-lb-color" for="@(controlId)_@(attributeValue.Id)">
                                        <span class="egg-add-color" style="background:  @(attributeValue.ColorSquaresRgb)" title="@attributeName"></span>
                                    </label>
                                </li>
                            }
                        </ul>
                    </div>
                    <script type="text/javascript">
                            $(document).ready(function() {
                                $('.attributes #color-squares-@(attribute.Id)').delegate('input', 'click', function(event) {
                                    $('.attributes #color-squares-@(attribute.Id)').find('li').removeClass('selected-value');
                                    $(this).closest('li').addClass('selected-value');
                                });
                            });
                    </script>
                }
                break;
            case AttributeControlType.ImageSquares:
                {
                    <ul class="option-list color-squares" id="color-squares-@(attribute.Id)">
                        @foreach (var attributeValue in attribute.Values)
                        {
                            var attributeName = String.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                attributeValue.Name :
                                T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment).Text;
                            <li @(attributeValue.IsPreSelected ? @Html.Raw(" class=\"selected-value\"") : null)>
                                <label for="@(controlId)_@(attributeValue.Id)">
                                    <span class="color-container">
                                        <span class="color" style="background: url('@(attributeValue.ImageSquaresPictureModel.ImageUrl)') 50% 50% no-repeat;">&nbsp;</span>
                                    </span>
                                    <input id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" />
                                </label>
                                <div class="tooltip-container">
                                    <div class="tooltip-header">@attributeName</div>
                                    <div class="tooltip-body"><img src="@(attributeValue.ImageSquaresPictureModel.FullSizeImageUrl)" alt="@attributeName" /></div>
                                </div>
                            </li>
                        }
                    </ul>
                    <script type="text/javascript">
                            $(document).ready(function() {
                                $('.attributes #color-squares-@(attribute.Id)').delegate('input', 'click', function(event) {
                                    $('.attributes #color-squares-@(attribute.Id)').find('li').removeClass('selected-value');
                                    $(this).closest('li').addClass('selected-value');
                                });
                            });
                    </script>
                }
                break;
        }
    }
}
@if (Model.ProductAttributes.Count > 0)
{
    //dynamic update support
    var attributesHaveConditions = Model.ProductAttributes.Any(x => x.HasCondition);
    var attributesHaveAssociatedPictures = Model.ProductAttributes.Any(x => x.ProductId > 0);
    var attributeChangeScriptsBuilder = new StringBuilder();
    var productId = Model.ProductAttributes.First().ProductId;
    var attributeChangeHandlerFuncName = string.Format("attribute_change_handler_{0}", productId);
    if (EngineContext.Current.Resolve<CatalogSettings>().AjaxProcessAttributeChange)
    {
        //generate change event script
        foreach (var attribute in Model.ProductAttributes)
        {
            string controlId = string.Format("product_attribute_{0}", attribute.Id);
            switch (attribute.AttributeControlType)
            {
                case AttributeControlType.DropdownList:
                    {
                        if (attribute.Name.Equals("Available Products"))
                        {
                            attributeChangeScriptsBuilder.AppendFormat("$('#{0}').change(function(){{{1}();updateQueryStringParameter({3},$(this).val(),'ProductType');SetSelectedProductTypeImage($(this).val())}});\n", controlId, attributeChangeHandlerFuncName, controlId, attribute.Id);
                        }
                        else
                        {
                            attributeChangeScriptsBuilder.AppendFormat("$('#{0}').change(function(){{{1}();}});\n", controlId, attributeChangeHandlerFuncName);
                        }
                    }
                    break;
                case AttributeControlType.RadioList:
                case AttributeControlType.ColorSquares:
                case AttributeControlType.ImageSquares:
                    {
                        foreach (var attributeValue in attribute.Values)
                        {
                            //attributeChangeScriptsBuilder.AppendFormat("$('#{0}_{1}').click(function(){{{2}();}});\n", controlId, attributeValue.Id, attributeChangeHandlerFuncName);
                            attributeChangeScriptsBuilder.AppendFormat("$('#{0}_{1}').click(function(){{{2}();}});\n", controlId, attributeValue.Id, attributeChangeHandlerFuncName);
                        }
                    }
                    break;
                case AttributeControlType.Checkboxes:
                case AttributeControlType.ReadonlyCheckboxes:
                    {
                        foreach (var attributeValue in attribute.Values)
                        {
                            attributeChangeScriptsBuilder.AppendFormat("$('#{0}_{1}').click(function(){{{2}();}});\n", controlId, attributeValue.Id, attributeChangeHandlerFuncName);
                        }
                    }
                    break;
                default:
                    break;
            }
        }
        //render scripts
        //almost the same implementation is used in the \Views\Product\_RentalInfo.cshtml file
        <script type="text/javascript">

            function showLoading(){
                if (window.innerWidth < 992){
                    $('#mobile-main-product-img-@productId').attr("src", 'Themes/EggStore/Content/images/ImpoliteLivelyGenet.gif');
                }
                else {
                $('#main-product-img-@productId').hide();
                $('#attribute-change-loading').show();
                }
            }
            function hideLoading(){
                $('#attribute-change-loading').hide();
                $('#main-product-img-@productId').show();
            }
            function resetAllError() {
                $('[data-toggle="popover"]').popover('hide');
            }
            function @(attributeChangeHandlerFuncName)() {
                resetAllError();
                //$('#main-product-img-@productId').attr("src", 'Themes/EggStore/Content/images/ImpoliteLivelyGenet.gif');
                $.ajax({
                    cache: false,
                    url: '@Html.Raw(Url.Action("productdetails_attributechange", "shoppingcart", new {productId = productId, validateAttributeConditions = attributesHaveConditions, loadPicture = attributesHaveAssociatedPictures }))',
                    data: $('#product-details-form').serializeArray(),
                    type: 'post',
                    success: function (data) {
                        if (data.price) {
                            $('#product-price-@productId').text(data.price);
                        }
                        if (data.oldPrice) {
                            $('#product-old-price-@productId').text(data.oldPrice);
                        }
                        if (data.sku) {
                            $('#sku-@productId').text(data.sku);
                        }
                        if (data.mpn) {
                            $('#mpn-@productId').text(data.mpn);
                        }
                        if (data.gtin) {
                            $('#gtin-@productId').text(data.gtin);
                        }
                        if (data.stockAvailability) {
                            $('#stock-availability-value-@productId').text(data.stockAvailability);
                        }
                        if (data.enabledattributemappingids) {
                            for (var i = 0; i < data.enabledattributemappingids.length; i++) {
                                $('#product_attribute_label_' + data.enabledattributemappingids[i]).show();
                                $('#product_attribute_input_' + data.enabledattributemappingids[i]).show();
                            }
                        }
                        if (data.disabledattributemappingids) {
                            for (var i = 0; i < data.disabledattributemappingids.length; i++) {
                                $('#product_attribute_label_' + data.disabledattributemappingids[i]).hide();
                                $('#product_attribute_input_' + data.disabledattributemappingids[i]).hide();
                            }
                        }
                        if (data.pictureRenderedUrl) {
                            setPictureSource(@productId, data.pictureRenderedUrl);
                        }
                        if (data.pictureFullSizeUrl) {
                            //$('#main-product-img-lightbox-anchor-@productId').attr("href", data.pictureFullSizeUrl);
                        }
                        if (data.selectedAttributeValueTypeId)
                        {
                            $("#selectedAttributeValueWithType").val(data.selectedAttributeValueTypeId);

                            setActiveForAttributeValueContent(data.selectedAttributeValueTypeId);
                        }
                        if (data.selectedAttributeValueColorId) {
                            $("#selectedAttributeValueWithColor").val(data.selectedAttributeValueColorId);
                        }
                        if (data.renderPictureRequest) {
                            renderRequest = data.renderPictureRequest;
                          $('@customControlId').val(JSON.stringify(renderRequest.Data));;
                        }

                        $.event.trigger({ type: "product_attributes_changed", changedData: data });
                    }
                });
            }
            function setActiveForAttributeValueContent(activeId) {
                //set size modal
                var _sizeContainer = $("#sizing-modal-container");
                var currentActivedSize = _sizeContainer.find("div.modal.fade.active-size");
                currentActivedSize.removeClass("active-size");
                _sizeContainer.find("#sizing-modal-for-" + activeId).addClass("active-size");
                //set shipping content
                var _shippingContainer = $("#product-shipping-container");
                var currentActivedShippingInfo = _shippingContainer.find("div.attribute-info-container.enable-content");
                currentActivedShippingInfo.removeClass("enable-content");
                _shippingContainer.find("#shipping-for-" + activeId).addClass("enable-content");

                //set product info content
                var _infoContainer = $("#product-info-container");
                var currentActivedProductInfo = _infoContainer.find("div.attribute-info-container.enable-content");
                currentActivedProductInfo.removeClass("enable-content");
                _infoContainer.find("#info-for-" + activeId).addClass("enable-content");
            }
            function showProductSizeModal() {
                var _container = $("#sizing-modal-container");
                var _target = _container.find("div.modal.fade.active-size");
                if (_target.length > 0) {
                    _target.modal('toggle');
                }
                else {
                    alert("This size chart is not available!");
                }
            }
            function setActiveProductInfo(type) {
                var id = '#info-';
                $('#shipping-common').show();
                switch (type) {
                    case 'Guys Tee': id += 'guystee'; break;
                    case 'Hoodie': id += 'hoodies'; break;
                    case 'Sweatshirt': id += 'sweatshirts'; break;
                    case 'Ladies Tee': id += 'ladiestee'; break;
                    case 'Guys V-Neck': id += 'guysyneck'; break;
                    case 'Ladies V-Neck': id += 'ladiesvneck'; break;
                    case 'Unisex Tank Top': id += 'unisextanktop'; break;
                    case 'Unisex Long Sleeve': id += 'longsleeve'; break;
                    case 'Youth Tee': id += 'youthtee'; break;
                    case 'Jersey': {
                        id += 'jersey';
                        $('#shipping-common').hide();
                        $('#shipping-jersey').show();
                    } break;
                    case 'Youth Jersey': {
                        id += 'jersey';
                        $('#shipping-common').hide();
                        $('#shipping-jersey').show();
                    } break;
                    case 'Anthem Tracksuit Jacket': {
                        id += 'anthemtracksuitjacket';
                        $('#shipping-common').hide();
                        $('#shipping-jersey').show();
                    } break;
                    case 'Training Jacket': {
                        id += 'trainingjacket';
                        $('#shipping-common').hide();
                        $('#shipping-jersey').show();
                    } break;
                    case 'Training Pants': {
                        id += 'trainingpants';
                        $('#shipping-common').hide();
                        $('#shipping-jersey').show();
                    } break;
                    case 'Tribute Pants': {
                        id += 'tributepants';
                        $('#shipping-common').hide();
                        $('#shipping-jersey').show();
                    } break;
                    case 'Tribute Tracksuit Jacket': {
                        id += 'tributetracksuitjacket';
                        $('#shipping-common').hide();
                        $('#shipping-jersey').show();
                    } break;
                    case '24K Gold Replica Trophy': {
                        id += '24k-gold-replica-trophy';
                        $('#shipping-common').hide();
                        $('#shipping-trophy').show();
                    } break;
                    case 'Plaster Replica Trophy': {
                        id += 'plaster-replica-trophy';
                        $('#shipping-common').hide();
                        $('#shipping-trophy').show();
                    } break;
                    case 'Anthem Tracksuit Jacket France': {
                        id += 'anthemtracksuitjacketfrance';
                        $('#shipping-common').hide();
                        $('#shipping-jersey').show();
                    } break;
                    case 'Training Pants France': {
                        id += 'trainingpantsfrance';
                        $('#shipping-common').hide();
                        $('#shipping-jersey').show();
                    } break;
                    case 'VaporKnit Training Jacket': {
                        id += 'vaporknitjacket';
                        $('#shipping-common').hide();
                        $('#shipping-jersey').show();
                    } break;
                    case 'VaporKnit Training Pants': {
                        id += 'vaporknittrainingpants';
                        $('#shipping-common').hide();
                        $('#shipping-jersey').show();
                    } break;
                    case 'Training Jacket France': {
                        id += 'trainingjacketfrance';
                        $('#shipping-common').hide();
                        $('#shipping-jersey').show();
                    } break;
                    default: id += 'guystee'; break;
                }
                $('.product-info-content.active-info').removeClass('active-info');
                $(id).addClass('active-info');
            }
            function SetSelectedProductTypeImage(attrId) {
                if (window.innerWidth < 992) {
                    $('.CampaignProductMobileThumbnail.selected').removeClass('selected');
                    $('#mobile-item-product-type-' + attrId).addClass('selected');
                }
                else {
                    $('.CampaignProductThumbnail.selected').removeClass('selected');
                    $('#item-product-type-' + attrId).addClass('selected');
                }
            }
            function onChangeProductType(key,value,attrType)
            {

            }
            function updateQueryStringParameter(key, value, attrType) {
                var uri = window.location.href;
                if(uri.indexOf('?')>0)
                {
                    var isHadAffiliateParam = uri.indexOf('@EggCommon.AffiliateIdParam') > 0 || uri.indexOf('@EggCommon.AffiliateParam') > 0;
                    if (isHadAffiliateParam)
                    {
                        if (attrType == "ProductType") uri = uri.slice(0, uri.indexOf('&'));
                    }
                    else {
                        if (attrType == "ProductType") uri = uri.slice(0, uri.indexOf('?'));
                    }
                }
                var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
                var separator = uri.indexOf('?') !== -1 ? "&" : "?";
                window.history.pushState(null, null, uri + separator + key + "=" + value);
                if (uri.match(re)) {
                    window.history.pushState(null, null, uri.replace(re, '$1' + key + "=" + value + '$2'));
                }
                else {
                    window.history.pushState(null, null, uri + separator + key + "=" + value);
                }
                if (renderRequest.Data.length > 0) 
                    updateProductQueryString(renderRequest.Data);

            }
            function checkExistParameter(){
                var regex = new RegExp("[?&]");
                return regex.test(location.search);
            }
            function getAllUrlParams(url) {
                // get query string from url (optional) or window
                var queryString = url ? url.split('?')[1] : window.location.search.slice(1);

                // we'll store the parameters here
                var obj = {};

                // if query string exists
                if (queryString) {

                    // stuff after # is not part of query string, so get rid of it
                    queryString = queryString.split('#')[0];

                    // split our query string into its component parts
                    var arr = queryString.split('&');

                    for (var i=0; i<arr.length; i++) {
                        // separate the keys and the values
                        var a = arr[i].split('=');

                        // in case params look like: list[]=thing1&list[]=thing2
                        var paramNum = undefined;
                        var paramName = a[0].replace(/\[\d*\]/, function(v) {
                            paramNum = v.slice(1,-1);
                            return '';
                        });

                        // set parameter value (use 'true' if empty)
                        var paramValue = typeof(a[1])==='undefined' ? true : a[1];

                        // (optional) keep case consistent
                        paramName = paramName.toLowerCase();
                        paramValue = paramValue.toLowerCase();

                        // if parameter name already exists
                        if (obj[paramName]) {
                            // convert value to array (if still string)
                            if (typeof obj[paramName] === 'string') {
                                obj[paramName] = [obj[paramName]];
                            }
                            // if no array index number specified...
                            if (typeof paramNum === 'undefined') {
                                // put the value on the end of the array
                                obj[paramName].push(paramValue);
                            }
                                // if array index number specified...
                            else {
                                // put the value at that index number
                                obj[paramName][paramNum] = paramValue;
                            }
                        }
                            // if param name doesn't exist yet, set it
                        else {
                            obj[paramName] = paramValue;
                        }
                    }
                }

                return obj;
            }
            function setProductAttributes(data) {
                //var currentSlide = $('.carousel-slider').slick('slickCurrentSlide');
                //var curentElm = "[data-slick-index='" + currentSlide + "']";
                //var elmImageItem = $(curentElm);
                //elmImageItem.attr('src', 'Themes/EggStore/Content/images/ImpoliteLivelyGenet.gif');
                //$('#mobile-main-product-img-@productId').attr("src", 'Themes/EggStore/Content/images/ImpoliteLivelyGenet.gif');
                $.ajax({
                    cache: false,
                    url: '@Html.Raw(Url.Action("productdetails_attributechange", "shoppingcart", new {productId = productId, validateAttributeConditions = attributesHaveConditions, loadPicture = attributesHaveAssociatedPictures }))',
                    data: data,
                    type: 'post',
                    success: function(data) {
                        if (data.price) {
                            $('.price-value-@productId').text(data.price);
                        }
                        if (data.oldPrice) {
                             $('.price-value-before-discount-@productId').text(data.oldPrice);
                        }
                        if (data.sku) {
                            $('#sku-@productId').text(data.sku);
                        }
                        if (data.mpn) {
                            $('#mpn-@productId').text(data.mpn);
                        }
                        if (data.gtin) {
                            $('#gtin-@productId').text(data.gtin);
                        }
                        if (data.stockAvailability) {
                            $('#stock-availability-value-@productId').text(data.stockAvailability);
                        }
                        if (data.enabledattributemappingids) {
                            for (var i = 0; i < data.enabledattributemappingids.length; i++) {
                                $('#product_attribute_label_' + data.enabledattributemappingids[i]).show();
                                $('#product_attribute_input_' + data.enabledattributemappingids[i]).show();
                            }
                        }
                        if (data.disabledattributemappingids) {
                            for (var i = 0; i < data.disabledattributemappingids.length; i++) {
                                $('#product_attribute_label_' + data.disabledattributemappingids[i]).hide();
                                $('#product_attribute_input_' + data.disabledattributemappingids[i]).hide();
                            }
                        }
                        if (data.pictureDefaultSizeUrl) {
                            $('#main-product-img-@productId').attr("src", data.pictureDefaultSizeUrl);
                            $('#mobile-main-product-img-@productId').attr("src", data.pictureDefaultSizeUrl);
                            $('#a-main-product-img-@productId').attr("href", data.pictureDefaultSizeUrl);
                            //elmImageItem.attr("src", data.pictureDefaultSizeUrl);
                            var $easyzoom = $('.easyzoom').easyZoom();
                            // Get an instance API
                            var api = $easyzoom.data('easyZoom');
                            api.swap(data.pictureDefaultSizeUrl, data.pictureDefaultSizeUrl);
                            $('meta[property="og:image"]').attr('content', data.pictureDefaultSizeUrl);
                            $('meta[property="twitter:image"]').attr('content', data.pictureDefaultSizeUrl);
                            $('meta[property="og:url"]').attr('content', window.location.href);
                            $('meta[property="twitter:url"]').attr('content', window.location.href);
                        }
                        if (data.pictureFullSizeUrl) {
                            $('#main-product-img-lightbox-anchor-@productId').attr("href", data.pictureFullSizeUrl);
                        }
                    }
                });
            }
            $(document).ready(function() {
                @Html.Raw(attributeChangeScriptsBuilder.ToString())
            });
        </script>
    }
}