﻿@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@{
    Html.AddScriptParts("~/Scripts/easyzoom/easyzoom.js");
    Html.AddCssFileParts("~/Scripts/easyzoom/easyzoom.css");
}
<div class="gallery">
    <div class="custom-easyzoom">
        @if (Model.DefaultPictureZoomEnabled)
        {
            <a href="@Model.DefaultPictureModel.FullSizeImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-lightbox-anchor-@Model.Id">
                <img alt="@Model.DefaultPictureModel.AlternateText)" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
            </a>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#main-product-img-lightbox-anchor-@Model.Id').magnificPopup(
                    {
                        type: 'image',
                        removalDelay: 300,
                        gallery: {
                            enabled: true,
                            tPrev: '@T("Media.MagnificPopup.Previous")',
                            tNext: '@T("Media.MagnificPopup.Next")',
                            tCounter: '@T("Media.MagnificPopup.Counter")'
                        },
                        tClose: '@T("Media.MagnificPopup.Close")',
                        tLoading: '@T("Media.MagnificPopup.Loading")'
                    });
                });
            </script>
        }
        else
        {
            <img src="~/Themes/EggStore/Content/images/ImpoliteLivelyGenet.gif" id="attribute-change-loading" style="margin-top:15%;display:none" />
            <div class="easyzoom easyzoom--overlay computer-only">
                <a href="@Model.DefaultPictureModel.ImageUrl" id="a-main-product-img-@Model.Id">
                    <img class="main-image" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
                </a>
            </div>
            <div class="mobile-only">
                <img class="mobile" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="mobile-main-product-img-@Model.Id" />
            </div>
        }
    </div>
</div>
<script type="text/javascript">
   $(document).ready(function () {
           var $easyzoom = $('.easyzoom').easyZoom();
                            // Get an instance API
                            var api = $easyzoom.data('easyZoom');
                            api.swap('@Model.DefaultPictureModel.ImageUrl', '@Model.DefaultPictureModel.ImageUrl');
                            $('#main-product-img-lightbox-anchor-@Model.Id').attr("href", '@Model.DefaultPictureModel.ImageUrl');

                });
</script>