﻿@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
<div class="egg-bottom-detail">
    <!-- <div class="container-fluid"> -->
    <div class="row egg-wrapper ">
        <div class="col-md-6 col-sm-12 col-xs-12 fix-padding-mobile">
            <div class="product-info">
                <ul id="myTab" class="nav nav-tabs nav_tabs">
                    <li class="active"><a href="#product-info-container" data-toggle="tab">PRODUCT INFO</a></li>
                    <li><a href="#product-shipping-container" data-toggle="tab">SHIPPING INFO</a></li>
                    <li><a href="#product-reviews-container" data-toggle="tab">PRODUCT REVIEWS</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="product-info-container">
                        <section class="egg-content-tabs">
                            <p><b>@Model.Name</b></p>
                            @foreach (var data in Model.ProductContentForAttributeValueModels)
                            {
                                <div class="attribute-info-container @(data.IsPreselected?"enable-content":"")" id="info-for-@data.ProductAttributeValueId">
                                    @Html.Raw(data.TypeInformation.ProductInfoTemplate.Content)
                                </div>
                            }
                        </section>
                    </div>
                    <div class="tab-pane fade" id="product-shipping-container">
                        @foreach (var data in Model.ProductContentForAttributeValueModels)
                        {
                            <div class="attribute-info-container @(data.IsPreselected?"enable-content":"")" id="shipping-for-@data.ProductAttributeValueId">
                                @Html.Raw(data.TypeInformation.ProductShippingInfoTemplate.Content)
                            </div>
                        }
                    </div>
                    <div class="tab-pane fade" id="product-reviews-container">
                        <section class="egg-content-tabs">
                            @Html.Partial("_ProductDetailsReviews", Model)
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 fix-padding-mobile">
            @Html.Action("RelatedProducts", "Product", new { productId = Model.Id })
        </div>
    </div>
    <!-- </div> -->
</div>
