﻿@model ProductDetailsModel.ProductPriceModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@if (!Model.CustomerEntersPrice)
{
    <div class="prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        @if (Model.CallForPrice)
        {
            @*call for price*@
            <div class="product-price call-for-price">
                <span>@T("Products.CallForPrice")</span>
            </div>
        }
        else
        {
            if (Model.IsRental)
            {
                <div class="rental-price">
                    <label>@T("Products.Price.RentalPrice"):</label>
                    <span>@Model.RentalPrice</span>
                </div>
            }
            if (!String.IsNullOrWhiteSpace(Model.OldPrice))
            {
                @*old price*@
                <div class="old-product-price">
                    <label>@T("Products.Price.OldPrice"):</label>
                    <span>@Model.OldPrice</span>
                </div>
            }
            <div class="@if (String.IsNullOrWhiteSpace(Model.PriceWithDiscount))
                        {
                            <text>product-price</text>
                        }
                        else
                        {
                            <text>non-discounted-price</text>
                        }">
                @if (!String.IsNullOrWhiteSpace(Model.OldPrice) || !String.IsNullOrWhiteSpace(Model.PriceWithDiscount))
                {
                    @*display "Price:" label if we have old price or discounted one*@
                    <label>@T("Products.Price"):</label>
                }
                @*render price*@

                <div class="attributes">
                    <div>
                        <div>
                            <label class="price-label">Price:</label>
                            <span @if (String.IsNullOrWhiteSpace(Model.PriceWithDiscount)) { <text> itemprop="price" content="@Model.PriceValue.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)" class="price-value-before-discount-@(Model.ProductId) before-discount" </text>    }>
                                @Html.Raw(Model.Price)
                            </span>
                        </div>
                        <div>
                            <label class="price-label">Discount Price:</label>
                            <span @if (String.IsNullOrWhiteSpace(Model.PriceWithDiscount)) { <text> itemprop="price" content="@Model.PriceValue.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)" class="price-value-@(Model.ProductId)" </text>    }>
                                @Html.Raw(Model.Price)
                            </span>
                            <span class="p-discount-rate">Sale off</span>
                            <span class="p-eventtime-left" id="clock"> </span>
                        </div>
                    </div>
                </div>
            </div>
            if (!String.IsNullOrWhiteSpace(Model.PriceWithDiscount))
            {
                @*discounted price*@
                <div class="product-price discounted-price">
                    <label>@T("Products.Price.WithDiscount"):</label>
                    <span itemprop="price" content="@Model.PriceValue.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)" class="price-value-@(Model.ProductId)">
                        @Html.Raw(Model.PriceWithDiscount)
                    </span>
                </div>
            }
            if (!String.IsNullOrEmpty(Model.BasePricePAngV))
            {
                <div class="base-price-pangv">
                    @Model.BasePricePAngV
                </div>
            }
            if (Model.DisplayTaxShippingInfo)
            {
                var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                //of course, you can modify appropriate locales to include VAT info there
                <div class="tax-shipping-info">
                    @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </div>
            }
            if (!String.IsNullOrEmpty(Model.CurrencyCode))
            {
                <meta itemprop="priceCurrency" content="@Model.CurrencyCode" />
            }
        }
    </div>
    <script>
        $.ajax({
            cache: false,
            url: '@Url.Action("GetSellOffExpiresDay", "Common")',
            type: 'GET',
            success: function (data) {
                $('#clock').countdown(data)
                    .on('update.countdown', function (event) {
                        var format = '%H:%M:%S';
                        if (event.offset.totalDays > 0) {
                            format = '%-n day%!n ' + format + ' left';
                        }
                        //if (event.offset.weeks > 0) {
                        //    format = '%-w week%!w ' + format;
                        //}
                        $(this).html(event.strftime(format));
                    })
                    .on('finish.countdown', function (event) {
                        $(this).html('This offer has expired!')
                            .parent().addClass('disabled');

                    });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to get expires day!.');
            }
        });
    </script>
}
