﻿@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Catalog;
@using Nop.Core.Domain.Media;
@using Nop.Core.Infrastructure;
@using System.Text;
@using System.Text.RegularExpressions;

@{ 
    var customFieldValueAttribute = Model.ProductAttributes.Where(p => p.Name.Equals("CustomFieldValue")).FirstOrDefault();
    string customControlId = "";
    if (customFieldValueAttribute != null)
    {
        customControlId = string.Format("#product_attribute_{0}", customFieldValueAttribute.Id);
    }

}
@if (Model.GroupedProductCustomFieldModels.Any())
{
    <script>
        var customFields = [];
    </script>
    <div class="egg-form-note-cart custom-field-form">
        <input id="selectedAttributeValueWithType" type="hidden" value="@Model.SelectedTypeId" />
        <input id="selectedAttributeValueWithColor" type="hidden" value="@Model.SelectedColorId" />
        <span class="egg-step-product">Type Your Custom Text *</span>
        @foreach (var groupedProductCustomField in Model.GroupedProductCustomFieldModels)
        {
            var allField = groupedProductCustomField.ProductCustomFieldModels;
            if (allField.Count == 1)
            {
                var customfield = allField.FirstOrDefault();
                <script>
                          var customFieldValuesFor_@(customfield.CustomFieldModel.Name) = @Html.Raw(Json.Encode(customfield.Values.Select(p=> new { Id = p.Id, ProductAttributeValueId = p.ProductAttributeValueId}).ToList()));
                          var customField = { id: @customfield.CustomFieldModel.Id, type: '@customfield.CustomFieldModel.Type.ToString()',valid: false };
                          customFields.push(customField);
                </script>
                <input type="text" class="egg-select-info"
                       id="custom-input-@customfield.CustomFieldId" placeholder="@customfield.CustomFieldModel.Description" name="@string.Format("{0}{1}", EggCommon.PrefixCustomField, customfield.CustomFieldId)"
                       value="@customfield.TypedText"
                       onkeyup="writeText(@customfield.CustomFieldId,customFieldValuesFor_@(customfield.CustomFieldModel.Name));" />
                            <span class="egg-show-validate" id="validate-message-@customfield.CustomFieldId"></span>
            }
            else
            {
                foreach (var customfield in allField)
                {
                    <script>
                          var customFieldValuesFor_@(customfield.CustomFieldModel.Name) = @Html.Raw(Json.Encode(customfield.Values.Select(p=> new { Id = p.Id, ProductAttributeValueId = p.ProductAttributeValueId}).ToList()));
                          var customField = { id: @customfield.CustomFieldModel.Id, type: '@customfield.CustomFieldModel.Type.ToString()',valid: false };
                          customFields.push(customField);
                    </script>
                    <div class="custom-fiel col-sm-@(12/groupedProductCustomField.ProductCustomFieldModels.Count) @(groupedProductCustomField.ProductCustomFieldModels.Count>1? "multi-field": "single-field")">
                        <input type="text" class="egg-select-info"
                               id="custom-input-@customfield.CustomFieldId" placeholder="@customfield.CustomFieldModel.Description" name="customfield_@customfield.CustomFieldId"
                               value="@customfield.TypedText"
                               onkeyup="writeText(@customfield.CustomFieldId,customFieldValuesFor_@(customfield.CustomFieldModel.Name));" />
                        <span style="color:red; font-size:11px" id="validate-message-@customfield.CustomFieldId"></span>
                    </div>
                }
            }
        }
    </div>
}
<script>
    var renderData = [];
    var renderRequest = { AttrValueId: null, Data: [], Scale: 768};
    var loading;
    @{
        var isAccessWithRenderQueryString = Model.RenderRequest != null;
    }
    var hadRenderQS = @isAccessWithRenderQueryString.ToString().ToLower();
    if (hadRenderQS)
    {
        renderRequest = @Html.Raw(Json.Encode(Model.RenderRequest));
        renderData = renderRequest.Data;
    }
    function writeText(id, values) {
        var customtext = $('#custom-input-' + id).val();
        var selectedAttributeValueType = parseInt($("#selectedAttributeValueWithType").val());
        var activeCustomFieldValue = values.filter(p => p.ProductAttributeValueId == selectedAttributeValueType);
        activeCustomFieldValue = activeCustomFieldValue.length > 0 ? activeCustomFieldValue : values.filter(p => p.IsPreselected);
        var customFieldRenderData = { Text: customtext, Id: id, ValueId: activeCustomFieldValue[0].Id };
        if (renderData.length > 0) {
            var data = renderData.filter(p => p.ProductCustomFieldId == id);
            if (renderData.filter(p => p.Id == id).length > 0) {
                //update render object
                renderData.filter(p => p.Id == id)[0].Text = customtext;
                renderData.filter(p => p.Id == id)[0].ValueId = activeCustomFieldValue[0].Id;
            }
            else {
                //insert if not exist
                renderData.push(customFieldRenderData);
            }
        }
        else {
            renderData.push(customFieldRenderData);
        }
        var selectedAttributeValueColor = parseInt($("#selectedAttributeValueWithColor").val());
        renderRequest.AttrValueId = parseInt(selectedAttributeValueColor);
        renderRequest.Data = renderData;
        setErrorMessage([]);
        delay(function () {
            onRendingPicture();
        }, 1000);
    }
    var delay = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();

    function convertArrToObj(arr) {
        return Object.assign({},arr);
    }
    function setPictureSource(productId, source) {
        var zoomImage = $('#main-product-img-' + productId);
        var mobileImage = $('#mobile-image-render');
        var waiting = $('#image-rending');
        var mobileWaiting = $('#mobile-render-waiting');
        if (screen.width > 767)
        {
            $('.zoomContainer').remove();
            zoomImage.removeData('elevateZoom');
            zoomImage.attr('src', source);
            zoomImage.one("load", function () {
                zoomImage.data('zoom-image', $(this).data('zoom-image'));
                // Reinitialize EZ
                zoomImage.ezPlus();
                zoomImage.removeClass('waiting-render');
                waiting.hide();
            }).each(function () {
                waiting.show();
                zoomImage.addClass('waiting-render');
                if (this.complete) $(this).load();
            });
        }
        else {
            var slider = $('.product-mockup-slider');
            slider.addClass('mobile-rending');
            mobileImage.attr('src', source);
            mobileImage.one("load", function () {
                slider.slick('slickGoTo', 0);
                slider.removeClass('mobile-rending');
                mobileWaiting.hide();
            }).each(function () {
                mobileWaiting.show();
                slider.addClass('mobile-rending');
                if (this.complete) $(this).load();
            });
        }

    }
    function serialize(obj, prefix) {
        var str = [], p;
        for (p in obj) {
            if (obj.hasOwnProperty(p)) {
                var k = prefix ? prefix + "[" + p + "]" : p, v = obj[p];
                str.push((v !== null && typeof v === "object") ?
                    serialize(v, k) :
                    encodeURIComponent(k) + "=" + encodeURIComponent(v));
            }
        }
        return str.join("&");
    }

    function setRenderQueryString(request) {
        var url = "?";
        url = url + "AttrValueId=" + request.AttrValueId+'&';
        if (request.Data.length > 0)
        {
            request.Data.forEach(function (element, index, array) {
                url += 'Data[' + index + '].Text=' + element.Text +"&";
                url += 'Data[' + index + '].Id=' + element.Id + "&";
                url += 'Data[' + index + '].ValueId=' + element.ValueId + "&";
            });
        }
        url = url + "Scale=" + request.Scale;
        url = url.trim("&");
        return url;
    }

    function updateProductQueryString(renderData) {
        var uri = window.location.href;
        var key = 'custom';
        var value = [];
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        renderData.forEach(function (element, index, array) {
            var field = { Id: element.Id, Text: element.Text };
            value.push(field);
        });
        var newUrl = "";
        var index = uri.indexOf(key);
        if (index > 0) {
            var staticFirstPart = uri.slice(0, index);
            var lastPart = uri.slice(index, uri.length);
            var nextSeparatorIndex = lastPart.indexOf("&");
            var staticLastPart = "";
            if (nextSeparatorIndex > 0)
                staticLastPart = lastPart.slice(nextSeparatorIndex, lastPart.length);
            newUrl = staticFirstPart + key + "=" + JSON.stringify(value) + staticLastPart;
        }
        else newUrl = uri + separator + key + "=" + JSON.stringify(value);
        return window.history.pushState(null, null, newUrl);
    }

    function onRendingPicture() {
        var checkValid = validateRenderForm();
        if (checkValid.isValid) {
            var newImageUrl = "@Url.RouteUrl("RenderProductImage")";
            $('@customControlId').val(JSON.stringify(renderRequest.Data));
            var params = setRenderQueryString(renderRequest);
            updateProductQueryString(renderRequest.Data);
            setPictureSource(@Model.Id, newImageUrl + params);
        }
        else
        {
            setErrorMessage(checkValid.messageObject);
        }
    }
    function setErrorMessage(messageObject) {
        if (messageObject.length > 0) {
            messageObject.forEach(function (obj) {
                $('#custom-input-' + obj.id).focus();
                $('#validate-message-' + obj.id).text(obj.message);
            });
        }
        else {
            customFields.forEach(function (item) {
                $('#validate-message-' + item.id).text("");
            });
        }
    }
    function validateRenderForm() {
        var result = { isValid: false, messageObject: [] };
        if (customFields.length > 0) {
            result.messageObject = getRendingErrorMessage(customFields, renderRequest.Data);
            result.isValid = customFields.filter(f => f.valid == false) == 0;
        }
        return result;
    }

    function getRendingErrorMessage(customFields, customData) {
        var messageObject = [];
        customFields.forEach(function (item) {
            var customItem = customData.filter(p => p.Id == item.id);
            if (customItem.length > 0) {
                checkField = customItem[0];
                if (checkField.Text != "") {
                    item.valid = true;
                    switch (item.type) {
                        case "text":
                            {
                                var validText = !/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(checkField.Text);
                                if (!validText) {
                                    var message = "This field has special characters";
                                    errorMessage = { id: item.id, message: message, };
                                    messageObject.push(errorMessage);
                                    item.valid = false;
                                }
                            }
                            break;
                        case "number":
                            {
                                var isnum = /^\d+$/.test(checkField.Text);
                                if (!isnum) {
                                    var message = "This field is not a number";
                                    errorMessage = { id: item.id, message: message, };
                                    messageObject.push(errorMessage);
                                    item.valid = false;
                                }
                            }
                            break;
                        case "date":
                            {
                                var date = new Date(checkField.Text);
                                var isdate = (date !== "Invalid Date" && !isNaN(date)) ? true : false;
                                if (!isdate) {
                                    var message = "This field is not a date";
                                    errorMessage = { id: item.id, message: message, };
                                    messageObject.push(errorMessage);
                                    item.valid = false;
                                }
                            }
                            break;
                        case "email":
                            {
                                var regex = /^(([^<>()\[\]\.,;:\s@@]+(\.[^<>()\[\]\.,;:\s@@\"]+)*)|(\".+\"))@@(([^<>()[\]\.,;:\s@@\"]+\.)+[^<>()[\]\.,;:\s@@\"]{2,})$/i;
                                var isemail = regex.test(checkField.Text);
                                if (!isemail) {
                                    var message = "This field is not a email";
                                    errorMessage = { id: item.id, message: message, };
                                    messageObject.push(errorMessage);
                                    item.valid = false;
                                }
                            }
                            break;
                        case "tel":
                            {

                            }
                            break;
                        default: {
                            var validText = !/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(checkField.Text);
                            if (!validText) {
                                var message = "This field has special characters";
                                errorMessage = { id: item.id, message: message, };
                                item.valid = false;
                                messageObject.push(errorMessage);
                            }
                        } break;
                    }
                }
                else {
                    var message = "This field is required.";
                    errorMessage = { id: item.id, message: message, };
                    item.valid = false;
                    messageObject.push(errorMessage);
                }
            }
            else {
                var message = "This field is required.";
                errorMessage = { id: item.id, message: message, };
                item.valid = false;
                messageObject.push(errorMessage);
            }
        });
        return messageObject;
    }
</script>