﻿@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
                /**/

                var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@if (Model.Enabled)
{

    <section class="egg-breadcrumb egg-mb-0 hidden-xs">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a></li>
                @foreach (var category in Model.CategoryBreadcrumb)
               {
                <li>
                    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" itemprop="url">@category.Name</a>
                </li>
               }
                <li class="active">
                    @Model.ProductName
                    @Html.Widget("productbreadcrumb_after", Model.ProductId)
                </li>
            </ol>
        </div>
    </section>

}