﻿@model ProductDetailsModel
@using Nop.Web.Models.Catalog;

@if (!String.IsNullOrWhiteSpace(Model.PageShareCode))
{
   
    <div class="egg-box-social-product">
        @*@Html.Raw(Model.PageShareCode)*@
        <a href="javascript:void(0)" class="addthis_button_facebook addthis_button_preferred_2" data-social-network="facebook"><i class="egg-icon-facebook"></i>Share with Facebook</a>
        <a href="javascript:void(0)" class="addthis_button_twitter addthis_button_preferred_1" data-social-network="twitter"><i class="egg-icon-twitter"></i>Share with Twitter</a>
        <script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=nopsolutions"></script><!-- AddThis Button END -->
    </div>
}