﻿@model  EggReviewModel
@using Nop.Web.Models.Common;
<div id="open-review-Modal" class="white-popup-block popup-sizeguide">
    <div class="modal-review-container">
        <div class="panel panel-default">
            <div class="panel-heading size-modal-header">
                <label>Reviews</label>
            </div>
            <div class="page-body size-modal-body">
                <div class="">
                    <div class="col-sm-12 col-xs-12" style="padding:20px; color:gray;">
                       <div class="col-sm-9 col-xs-9 text-center">
                           <label class="product-review-title">@Model.ProductTitle</label>
                       </div>
                        <div class="col-sm-3 col-xs-3 text-right">
                            <p class="stats">Overall Rating</p>
                            <div id="overall-rating" data-rating="5.0" title="5.0" style="white-space: nowrap; cursor: pointer;"><svg width="13px" height="13px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 12.705 512 486.59" style="margin-right: 3px;"><defs><linearGradient id="overall-rating_grad1" x1="0%" y1="0%" x2="100%" y2="0%"><stop offset="100%" stop-color="#D0C733"></stop><stop offset="0%" stop-color="#e9eae2"></stop></linearGradient></defs><polygon style="fill: url(#overall-rating_grad1);stroke:black;fill-opacity:1;stroke-width:2px; " points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><svg width="13px" height="13px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 12.705 512 486.59" style="margin-right: 3px;"><defs><linearGradient id="overall-rating_grad2" x1="0%" y1="0%" x2="100%" y2="0%"><stop offset="100%" stop-color="rgba(208,199,51,1)"></stop><stop offset="0%" stop-color="#e9eae2"></stop></linearGradient></defs><polygon style="fill: url(#overall-rating_grad2);stroke:black;fill-opacity:1;stroke-width:2px; " points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><svg width="13px" height="13px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 12.705 512 486.59" style="margin-right: 3px;"><defs><linearGradient id="overall-rating_grad3" x1="0%" y1="0%" x2="100%" y2="0%"><stop offset="100%" stop-color="rgba(208,199,51,1)"></stop><stop offset="0%" stop-color="#e9eae2"></stop></linearGradient></defs><polygon style="fill: url(#overall-rating_grad3);stroke:black;fill-opacity:1;stroke-width:2px; " points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><svg width="13px" height="13px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 12.705 512 486.59" style="margin-right: 3px;"><defs><linearGradient id="overall-rating_grad4" x1="0%" y1="0%" x2="100%" y2="0%"><stop offset="100%" stop-color="rgba(208,199,51,1)"></stop><stop offset="0%" stop-color="#e9eae2"></stop></linearGradient></defs><polygon style="fill: url(#overall-rating_grad4);stroke:black;fill-opacity:1;stroke-width:2px; " points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><svg width="13px" height="13px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 12.705 512 486.59" style="margin-right: 3px;"><defs><linearGradient id="overall-rating_grad5" x1="0%" y1="0%" x2="100%" y2="0%"><stop offset="100%" stop-color="rgba(208,199,51,1)"></stop><stop offset="0%" stop-color="#e9eae2"></stop></linearGradient></defs><polygon style="fill: url(#overall-rating_grad5);stroke:black;fill-opacity:1;stroke-width:2px; " points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 review-content-list" id="review-content">
                        @foreach (var review in Model.Reviews)
                        {
                            <div class="col-sm-12 col-xs-12 mobile-none-padding">
                                <div class="col-sm-7 col-xs-7">
                                    <p class="stats">
                                        @review.Title
                                    </p>
                                </div>
                                <div class="col-sm-5 col-xs-5">
                                    <p class="stats text-right">
                                        @review.CreatedOnUtc.ToString("MMMM dd, yyyy")
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12 mobile-none-padding">
                                <div class="col-sm-10 col-xs-10">
                                    <p></p>
                                    <p class="review-full-text"> @review.ReviewText</p>
                                    <p></p>
                                </div>
                                <div class="col-sm-2 col-xs-2 mobile-none-padding">
                                    <img class="review-image" src="~/Themes/EggStore/Content/images/review.png" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12 mobile-none-padding review-footer">
                                <div class="col-sm-3 col-xs-3 text-center">
                                    <p class="stats">Delivery Time</p>
                                    <div class="rating-stars" id="delivery-rating-41036" data-rating="@review.Rating" title="@review.Rating" style="white-space: nowrap; cursor: pointer;">
                                        @for (int i = 0; i < review.Rating; i++)
                                        {
                                            <svg width="13px" height="13px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 12.705 512 486.59" style="margin-right: 3px;">
                                                <defs>
                                                    <linearGradient id="delivery-rating-41036_grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="100%" stop-color="#D0C733"></stop>
                                                        <stop offset="0%" stop-color="#e9eae2"></stop>
                                                    </linearGradient>
                                                </defs>
                                                <polygon style="fill: url(#delivery-rating-41036_grad1);stroke:black;fill-opacity:1;stroke-width:2px; " points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
                                            </svg>
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-3 text-center">
                                    <p class="stats">Product Quality</p>
                                    <div class="rating-stars" id="delivery-rating-41036" data-rating="@review.Rating" title="@review.Rating" style="white-space: nowrap; cursor: pointer;">
                                        @for (int i = 0; i < review.Rating; i++)
                                        {
                                            <svg width="13px" height="13px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 12.705 512 486.59" style="margin-right: 3px;">
                                                <defs>
                                                    <linearGradient id="delivery-rating-41036_grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="100%" stop-color="#D0C733"></stop>
                                                        <stop offset="0%" stop-color="#e9eae2"></stop>
                                                    </linearGradient>
                                                </defs>
                                                <polygon style="fill: url(#delivery-rating-41036_grad1);stroke:black;fill-opacity:1;stroke-width:2px; " points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
                                            </svg>
                                        }
                                    </div>                                </div>
                                <div class="col-sm-3 col-xs-3 text-center">
                                    <p class="stats">Communication</p>
                                    <div class="rating-stars" id="delivery-rating-41036" data-rating="@review.Rating" title="@review.Rating" style="white-space: nowrap; cursor: pointer;">
                                        @for (int i = 0; i < review.Rating; i++)
                                        {
                                            <svg width="13px" height="13px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 12.705 512 486.59" style="margin-right: 3px;">
                                                <defs>
                                                    <linearGradient id="delivery-rating-41036_grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="100%" stop-color="#D0C733"></stop>
                                                        <stop offset="0%" stop-color="#e9eae2"></stop>
                                                    </linearGradient>
                                                </defs>
                                                <polygon style="fill: url(#delivery-rating-41036_grad1);stroke:black;fill-opacity:1;stroke-width:2px; " points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
                                            </svg>
                                        }
                                    </div>                                </div>
                                <div class="col-sm-3 col-xs-3 text-center">
                                    <p class="stats total-rating">Total Rating</p>
                                    <div class="rating-stars" id="delivery-rating-41036" data-rating="@review.Rating" title="@review.Rating" style="white-space: nowrap; cursor: pointer;">
                                        @for (int i = 0; i < review.Rating; i++)
                                        {
                                            <svg width="13px" height="13px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 12.705 512 486.59" style="margin-right: 3px;">
                                                <defs>
                                                    <linearGradient id="delivery-rating-41036_grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="100%" stop-color="#D0C733"></stop>
                                                        <stop offset="0%" stop-color="#e9eae2"></stop>
                                                    </linearGradient>
                                                </defs>
                                                <polygon style="fill: url(#delivery-rating-41036_grad1);stroke:black;fill-opacity:1;stroke-width:2px; " points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
                                            </svg>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12 mobile-none-padding">
                                <p class="end-review"></p>
                            </div>
                        }
                        @if (Model.AvailableSeeMore)
                        {
                            <div class="col-sm-12" style="margin-top:10px;text-align:center; display:none" id="review-loading">
                                <img style="width:50px" src="~/Themes/EggStore/Content/images/loading-coupon.gif" />
                            </div>
                            <div class="col-sm-12" style="margin-top:10px;text-align:center">
                                <button class="see-more-review" onclick='seeMoreReviews("@Model.ProductTitle")'><span><i class="material-icons">add_circle</i>See More</span></button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="panel-footer size-modal-footer">
                <button title="Close (Esc)" class="btn btn-close-size" onclick="closeThePopUp()">Close</button>
            </div>
        </div>
    </div>
</div>
