﻿@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Orders;

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image:type\"  content=\"image/jpeg\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image:width\" content='630'\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image:height\" content='1200'\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");

        Html.AddHeadCustomParts("<meta property=\"product:brand\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"product:availability\" content=\"in stock\" />");
        Html.AddHeadCustomParts("<meta property=\"product:condition\" content=\"new\" />");
        Html.AddHeadCustomParts("<meta property=\"product:price:amount\" content=\""+ Model.ProductPrice.PriceValue + "\" />");
        Html.AddHeadCustomParts("<meta property=\"product:price:currency\" content=\"USD\" />");
        Html.AddHeadCustomParts("<meta property=\"product:price:retailer_item_id\" content=\"" + Model.RemarketingProductId + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }


}
@{
    Html.AddScriptParts("~/Scripts/elevatezoom-plus/jquery.ez-plus.js");
}
<!--product breadcrumb-->
@section Bodytop
{
    @Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)
}
<div class="egg-top-detail">
    <div class="content-wrapper egg-wrapper">
        <div class="item-container row">
            <div class="col-md-12">
                <div class="product col-md-5 col-sm-12 col-xs-12 service-image-left">
                    <div class="row computer-only">
                        <div class="service1-items col-md-2">
                            @foreach (var image in Model.PictureModels)
                            {
                                <a id="item-1" class="service1-item" data-img="@image.FullSizeImageUrl" onclick="setPictureSource(@Model.Id,'@image.FullSizeImageUrl')">
                                    <img src="@image.FullSizeImageUrl" alt="@image.Title">
                                </a>
                            }
                        </div>
                        <div class="col-md-10" style="padding:0">
                            <div class="egg-box-img-left">
                                <div id="image-rending">
                                    <div class="cssload-tetrominos">
                                        <div class="cssload-tetromino cssload-box1"></div>
                                        <div class="cssload-tetromino cssload-box2"></div>
                                        <div class="cssload-tetromino cssload-box3"></div>
                                        <div class="cssload-tetromino cssload-box4"></div>
                                    </div>
                                </div>
                                <img class="main-image" style="object-fit: contain;" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
                            </div>
                            <script type="text/javascript">
                    $(document).ready(function () {
                        if (screen.width > 767) {
                            $('#main-product-img-@Model.Id').ezPlus({
                            zoomWindowFadeIn: 500,
                            zoomLensFadeIn: 500,
                            gallery: 'gal1',
                            imageCrossfade: true,
                            zoomWindowWidth: 411,
                            zoomWindowHeight: 411,
                            zoomWindowOffsetX: 10,
                            scrollZoom: true,
                            cursor: 'crosshair'
                        });
                        }
                });

                            </script>
                            @Html.Partial("_ShareButton", Model)
                        </div>
                    </div>
                    <div class="row mobile-only">
                        <div class="mobile-product-image-box">
                            <div id="mobile-render-waiting">
                                <div class="cssload-tetrominos">
                                    <div class="cssload-tetromino cssload-box1"></div>
                                    <div class="cssload-tetromino cssload-box2"></div>
                                    <div class="cssload-tetromino cssload-box3"></div>
                                    <div class="cssload-tetromino cssload-box4"></div>
                                </div>
                            </div>
                            <div class="egg-box-products product-mockup-slider">
                                @foreach (var item in Model.PictureModels)
                                {
                                    <div class="box-img-product">
                                        <img class="main-image-mobile" id="mobile-image-@(item.IsPreselected?"render": "mockup")" src="@item.FullSizeImageUrl" alt="">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-9 col-xs-12 fix-padding-mobile">
                    <div class="egg-box-detail-info">
                        @Html.Widget("productdetails_top", Model.Id)
                        @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
                        {
                            <h2 class="product-title text-ellipsis">@Model.Name</h2>
                            <div class="egg-box-price" id="product-price-box">
                                <span class="egg-new-price egg-new-price-detail" id="product-price-@(Model.Id)">@Model.ProductPrice.Price</span>
                                <span class="egg-old-price egg-old-price-detail" id="product-old-price-@(Model.Id)">@Model.ProductPrice.OldPrice</span>
                                @*<span class="egg-time-sale"><span class="p-eventtime-left" id="expries_day_clock"> </span></span>
                                <span class="label-sale-delimter" style="display:none"></span>*@
                                @if(Model.IsFreeShipping)
                                {
                                <a class="egg-btn-sale" id="sale-label">FREE SHIPPING</a>
                                }
                                @if (Model.IsLimitedInStockEnable)
                                {
                                <div class="stock">
                                    <div class="stock-progressbar">
                                        <div class="progressba-status" style="width:@(100 - Model.SoldPercent)%;"></div>
                                    </div>
                                    <div class="stock-text">
                                        <span class="in-stock">@Model.ProductInStockQuantity items left</span>
                                        @if (Model.ProductSoldQuantity > 0)
                                        {
                                            <span class="float-r">@(Model.ProductSoldQuantity) sold</span>
                                        }
                                    </div>
                                </div>
                                }
                            </div>
                            <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                                <div class="product-essential" style="padding:0;">
                                    <div class="overview">
                                        @Html.Widget("productdetails_overview_top", Model.Id)
                                        <div class="attribute-container-fluid">
                                            <div class="attribute-container">
                                                <!--customfield-->
                                                @Html.Partial("_ProductCustomField", Model)

                                                <!--attributes-->
                                                @{
                                                    var dataDictAttributes = new ViewDataDictionary();
                                                    dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                                                    @Html.Partial("_ProductAttributes", Model, dataDictAttributes)
                                                }
                                                <!--price & add to cart-->
                                                <div class="egg-go-cart">
                                                    <span class="egg-step-product">Quantity</span>
                                                    <div class="egg-count-number">
                                                        <button type="button" class="count egg-tru" onclick="incrementQuantity(false)">-</button>
                                                        @Html.TextBoxFor(model => model.AddToCart.EnteredQuantity, new { @type = "text", @class = "egg-show-number", @readonly = "readonly" })
                                                        <button type="button" class="count egg-cong" onclick="incrementQuantity(true)">+</button>
                                                    </div>
                                                    @if (Model.AddToCart.DisableBuyButton)
                                                    {
                                                        <button type="button" class="egg-btn-cart sold-out"><span class="font-bold"><i class="egg-icon-add-to-cart-2" style="padding: 0 10px;"></i>SOLD OUT</span></button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" onclick="onAddToCart()" class="egg-btn-cart"><span class="font-bold"><i class="egg-icon-add-to-cart-2" style="padding: 0 10px;"></i>BUY NOW</span></button>

                                                    }
                                                </div>

                                                @Html.Partial("SubscribeMessenger", Model.Id)
                                            </div>
                                        </div>
                                        @Html.Widget("productdetails_overview_bottom", Model.Id)
                                    </div>
                                </div>
                            </div>
                        }
                        @Html.Widget("productdetails_bottom", Model.Id)
                    </div>
                    <div class="egg-box-social-product mobile-only">
                        <h3 class="mobile-center-title">Share</h3>
                        <a href="javascript:void(0)" class="addthis_button_facebook addthis_button_preferred_2" data-social-network="facebook"><i class="egg-icon-facebook"></i>Share with Facebook</a>
                        <a href="javascript:void(0)" class="addthis_button_twitter addthis_button_preferred_1" data-social-network="twitter"><i class="egg-icon-twitter"></i>Share with Twitter</a>
                    </div>
                    <div class="egg-rate" style="display: none">
                        <h3 class="mobile-center-title">Review</h3>
                        <ul class="egg-list-star">
                            <li><i class="egg-icon-star"></i></li>
                            <li><i class="egg-icon-star"></i></li>
                            <li><i class="egg-icon-star"></i></li>
                            <li><i class="egg-icon-star"></i></li>
                            <li><i class="egg-icon-star"></i></li>
                        </ul>
                        <a href="javascript:void(0)" class="egg-review">See reviews</a>
                        <a href="javascript:void(0)" class="egg-review">Add Review</a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12 egg-fix-item">
                    <div class="egg-item-right">
                        <i class="egg-icon-number-1"></i>
                        <p>Not sold in stores, You can't find another one like this</p>
                    </div>
                    <div class="egg-item-right">
                        <i class="egg-icon-chat"></i>
                        <p>Live Chat is available Monday - Friday from 9am to 6pm EST.</p>
                    </div>
                    <div class="egg-item-right">
                        <img width="20" height="20" src="~/Themes/EggStore/Content/images/hotel.svg" />
                        <p>Headquartered in Singapore</p>
                    </div>
                    <div class="egg-item-right">
                        <img width="35" height="35" src="~/Themes/EggStore/Content/images/Free.svg" />
                        <p>Free Shipping for orders above US$50</p>
                    </div>
                    <div class="egg-item-right">
                        <div class="safe-checkout-banner">
                            <img src="~/Themes/EggStore/Content/images/safe-checkout-banner.png" />
                            <p class="banner-title">Guaranteed safe and secure checkout</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Popup Size -->
@Html.Partial("_ProductAttributesSizingModal", Model)

<div id="tutBuyModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-size">
        <div class="modal-content">
            <div class="modal-header egg-header-tabs">
                <button type="button" class="close" data-dismiss="modal"><span class="egg-icon-close"></span></button>
                <h1 class="modal-title" style="text-align:center;font-size:20px;">Shopping Guide</h1>
            </div>
            <div class="modal-body">
                <div id="video-container">
                </div>
            </div>
        </div>
    </div>
</div>

<!--Product bottom content-->
@Html.Partial("_ProductDetailsBottom", Model)


<!-- End popup size -->
<div id="cartModal" class="modal fade" role="dialog">
</div>
<!-- Popup Your Order -->
<!-- Tab review -->


<script>
    $(document).ready(function () {
        //Timer countdown
        @*$('#expries_day_clock').countdown('@(Model.ProductPrice.SellOffExpiresDay)')
            .on('update.countdown', function (event) {
                
                    var format = '%H:%M:%S';
                    format = format + ' left';
                
                $(this).html(event.strftime(format));
                responsiveSaleLabel();
                })
                .on('finish.countdown', function (event) {
                    $(this).html('This offer has expired!')
                        .parent().addClass('disabled');
            });*@

        $('.egg-slider-detail').slick({
            dots: false,
            pages: false,
            infinite: false,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 3,
            arrows: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: false,
                        arrows: true
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: false,
                        arrows: true
                    }
                }
            ]
        });

        $('.product-mockup-slider').slick({
            dots: true,
            pages: false,
            infinite: false,
            speed: 300,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            responsive: [
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: true,
                        arrows: true
                    }
                }
            ]
        });
        });

        function closeThePopUp() {
            $.magnificPopup.close();
    }

        function incrementQuantity(isIncrement)
        {
            var currentQuantity = parseInt($('#AddToCart_EnteredQuantity').val());
            var newValue = isIncrement ? currentQuantity + 1 : currentQuantity - 1;
            if (newValue > 0)
                $('#AddToCart_EnteredQuantity').val(newValue);
        }

    function onAddToCart() {
        if (typeof customFields != "undefined") {
            // ...
            if (customFields.length > 0) {
                var checkValid = validateRenderForm();
                if (checkValid.isValid) {
                    if (!validatedSelectSize()) {
                        ShowPopover();
                    }
                    else {
                        AjaxCart.setLoadWaiting(true);
                        $.ajax({
                            cache: false,
                            url: "@Url.Action("UpSellProductDetailPopup", "ShoppingCart", new { productId = Model.Id , shoppingCartTypeId =(int)ShoppingCartType.ShoppingCart})",
                            data: $('#product-details-form').serialize(),
                            type: 'post',
                            success: function (data) {
                                $('#cartModal').html(data);
                                $('#cartModal').modal('toggle');
                                AjaxCart.setLoadWaiting(false);
                            },
                            error: function (e) {
                                AjaxCart.setLoadWaiting(false);
                            }
                        });
                    }
                }
                else {
                    setErrorMessage(checkValid.messageObject);
                }
            }
        } else { // add2Cart with product no custom field
            
            if (!validatedSelectSize()) {
                //$('#validate-message-sizing').text("Please select a size");
                ShowPopover();
            } else {
                AjaxCart.setLoadWaiting(true);
                $.ajax({
                    cache: false,
                    url: "@Url.Action("AddProductToCart_Details", "ShoppingCart", new { productId = Model.Id , shoppingCartTypeId =(int)ShoppingCartType.ShoppingCart})",
                    data: $('#product-details-form').serialize(),
                    type: 'post',
                    success: function (data) {
                        window.location.href = '@Url.Action("Cart", "ShoppingCart")';
                    },
                    error: function (e) {
                        AjaxCart.setLoadWaiting(false);
                    }
                });
            }
        }

    }

    function validatedSelectSize() {
        var validatedSelectSize = true;

        if ($(".egg-list-size").length > 0) { // has size attribute

            var sizeAttrAvailable = $(".egg-size:visible");

            var radSizeChecked = sizeAttrAvailable.find('input[type=radio]:checked');

            if (radSizeChecked.length == 0) {
                //$('#validate-message-sizing').text("Please select a size");
                validatedSelectSize = false;
            }
        }
        return validatedSelectSize;
    }
</script>
<script>
        function seeReviews(title) {
            displayAjaxLoading(true);
        $.ajax({
            cache: false,
            url: '@Url.Action("EggProductReviews", "Product")' + '?title=' + title,
            type: 'GET',
            success: function (data) {
                $.magnificPopup.open({
                    items: {
                        src: data,
                    },
                    type: 'inline',
                    mainClass: 'my-mfp-slide-bottom'
                });
                displayAjaxLoading(false);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed');
            }
        });

    }

    function seeMoreReviews(title) {
        $('.see-more-review').hide();
        $('#review-loading').show();
     $.ajax({
         cache: false,
         url: '@Url.Action("LoadMoreReviews", "Product")',
            type: 'GET',
            success: function (data) {
                $('#review-loading').hide();
                $("#review-content").append(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#review-loading').hide();
            }
        });

    }
    function showBuyTutorialModal() {
        $("#video-container").html("<iframe class='buy-video' src='https://www.youtube.com/embed/vR-0QAy-L3M?autoplay=1&loop=1&cc_load_policy=1rel=0&amp;controls=0&amp;showinfo=0&playlist=vR-0QAy-L3M' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen></iframe>");
        $('#tutBuyModal').modal('toggle');
    }
</script>
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
    var productPrice = parseLocaleNumber('@EggCommon.PriceToLocaleDecimal(Model.GATrackingItem.Price)');
    console.log(productPrice);
var google_tag_params = {
    ecomm_prodid: ['@Model.GATrackingItem.Id'],
    ecomm_pagetype: 'product',
    ecomm_totalvalue: productPrice
};
</script>
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = @Model.RemarketingData.GoogleAnalyticsId;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/@Model.RemarketingData.GoogleAnalyticsId/?guid=ON&amp;script=0" />
    </div>
</noscript>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s){
        if(f.fbq)return;
        n=f.fbq=function(){
            n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)
        };
        if(!f._fbq)f._fbq=n;
        n.push=n;
        n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);
        t.async=!0;
        t.src=v;
        s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}
        (window,document,'script','https://connect.facebook.net/en_US/fbevents.js');
            //init category parent pixel id
              fbq('init', '@Model.RemarketingData.FacebookPixelParentId');
            //init facebook category orther pixel ids
        @{
            foreach(var id in Model.RemarketingData.FacebookPixelAffiliateIds)
            {
                <text>fbq('init', '@id');</text>
            }
        }

    fbq('track', 'PageView');
    fbq('track', 'ViewContent', {
    content_ids: ['@Model.RemarketingProductId'],
    content_type: 'product',
    value: productPrice,
    currency: 'USD'
});
</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="@string.Format("https://www.facebook.com/tr?id={0}&ev=PageView&noscript=1",Model.RemarketingData.FacebookPixelParentId)" />
</noscript>
<!-- DO NOT MODIFY -->
<!-- GA Tracking Code -->
<!-- ----------------Page Detail--------------- -->
<script>
    ga('create', 'UA-96466423-10');
    ga('require', 'ec');
    ga('ec:addProduct', {
        'id': '@Model.GATrackingItem.Id',
        'name': '@Model.GATrackingItem.Name',
        'category': '@Model.GATrackingItem.Category',
        'price': productPrice.toString()
    });
    ga('ec:setAction', 'detail');
    ga('send', 'pageview');
</script>
<script>
    function responsiveSaleLabel() {
        try {
            var _priceBox = $("#product-price-box");
            var _boxWidth = _priceBox.width();
            var _saleLabel = $("#sale-label");
            var _itemWidth = _saleLabel.width();
            if (!_saleLabel.hasClass("label-sale-block")) {
                if (_itemWidth >= _boxWidth / 2) {
                    _saleLabel.addClass("label-sale-block");
                    $(".label-sale-delimter").show();
                }
            }
        }
        catch (err) {
            console.log(err.message);
        }
    }
</script>