﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;


@if (Model.Any())
{
    <div class="product-info egg-product-more">
        <h4 class="egg-more-detail">YOU MIGHT ALSO LIKE</h4>
        <div class="egg-box-products egg-slider-detail">
            @foreach (var item in Model)
            {
                <div class="col-md-2 col-sm-3 col-xs-6 egg-item-product">
                    <a  href="@Url.RouteUrl("Product", new { SeName = item.SeName })" class="egg-link-img-product">
                        <div class="box-img-product">
                            <img class="egg-image-default zoom-art" src="@item.DefaultPictureModel.ImageUrl" alt="">
                        </div>
                    </a>
                    <div class="egg-info-product">
                        <h3 class="egg-title-product"><a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" class="text-ellipsis"> @item.Name</a></h3>
                        <p class="egg-price">
                            <span class="egg-new-price">@item.ProductPrice.Price</span>
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
}