﻿@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.Themes
@using Nop.Web.Framework.UI
@model int
@{
    string refValue = Guid.NewGuid().ToString();
    string fbAppId = "534768046912528";
    string fbPageId = "1006555519389005";
    string couponCode = "HELLO5";

    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;

    Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/subscribe-messenger.css", themeName));
}

<div class="_rmp-state--initial _rmp-fb-force subscribe-messenger-widget _rmp-type--discount_widget _rmp-template--discount-code _rmp-type--user" id="subscribe-discount_widget" rendered="rendered">
    <h2 class="subscribe-messenger-widget__title">Get 5% off from your order</h2>
    <h3 class="subscribe-messenger-widget__subtitle">Reveal discount by subscribing to our Messenger list:</h3>
    <div class="subscribe-messenger-widget__box subscribe-messenger-widget-box">
        <div class="subscribe-messenger-widget-box__icon-container">
            <div class="subscribe-messenger-widget-box__icon subscribe-messenger-widget-box__discount-icon">
                <svg class="subscribe-messenger-widget-box__discount-icon-bg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46px" height="46px">
                    <path fill-rule="evenodd" d="M23.000,-0.000 L27.203,5.040 L33.234,2.278 L34.779,8.597 L41.439,8.660 L40.020,15.007 L45.993,17.882 L41.890,23.000 L45.993,28.118 L40.020,30.993 L41.439,37.340 L34.779,37.403 L33.234,43.722 L27.203,40.960 L23.000,46.000 L18.797,40.960 L12.766,43.722 L11.221,37.403 L4.561,37.340 L5.980,30.993 L0.007,28.118 L4.110,23.000 L0.007,17.882 L5.980,15.007 L4.561,8.660 L11.221,8.597 L12.766,2.278 L18.797,5.040 L23.000,-0.000 Z"></path>
                </svg>
                <span>%</span>
            </div>
            <svg class="subscribe-messenger-widget-box__icon subscribe-messenger-widget-box__check-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="16px">
                <path fill-rule="evenodd" d="M16.904,-0.000 L7.500,9.741 L3.095,5.521 L0.000,8.650 L7.500,16.000 L20.000,3.128 L16.904,-0.000 Z"></path>
            </svg>
            <div class="subscribe-messenger-widget-box__icon subscribe-messenger-widget-box__loading-icon subscribe-loading-icon subscribe-loading-circle"></div>
        </div>
        <div class="subscribe-messenger-widget-box__content">
            <div class="subscribe-messenger-widget-box__content-widget">
                <div class="fb-messenger-checkbox fb_iframe_widget"
                     origin=@Request.Url.AbsoluteUri
                     page_id=@fbPageId
                     messenger_app_id=@fbAppId
                     user_ref="@refValue"
                     prechecked="true"
                     allow_login="true"
                     size="xlarge"
                     skin="light"
                     center_align="true">
                </div>
            </div>
            <p class="subscribe-messenger-widget__discount-text">
                <span class="subscribe-messenger-widget__discount-text-text">Your coupon code:</span>
                <span id="subscribe-messenger-widget__discount-text-code" class="subscribe-messenger-widget__discount-text-code">@couponCode</span>
            </p>
        </div>
    </div>
    <button class="subscribe-messenger-widget__button" id="subscribe-messenger-widget__button" onclick="getCoupon(); return false;">
        <span class="subscribe-messenger-widget__button-discount-text">Get Your Coupon</span>
        <span class="subscribe-messenger-widget__button-copy-text">Copy the code</span>
    </button>
</div>

<script>
    var checkbox_event;

    window.fbAsyncInit = function () {
        FB.init({
            appId: '@fbAppId',
            xfbml: true,
            version: 'v2.6'
        });

        FB.Event.subscribe('messenger_checkbox', function (e) {
            //console.log('messenger_checkbox event');
            //console.log(e);
            checkbox_event = e

            if (e.event == 'rendered') {
                //console.log('Plugin was rendered');
            } else if (e.event == 'checkbox') {
                var checkboxState = e.state;
                //console.log('Checkbox state: ' + checkboxState);
            } else if (e.event == 'not_you') {
                //console.log('User clicked not you');
            } else if (e.event == 'hidden') {
                //console.log('Plugin was hidden');
            }

        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = '//connect.facebook.net/en_US/sdk.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function getCoupon() {
        console.log('Checkbox validated');
        var elmtDiscount = document.getElementById("subscribe-discount_widget");
        var subscribeButton = document.getElementById('subscribe-messenger-widget__button');


        if (checkbox_event.event == 'checkbox') {
            var checkboxState = checkbox_event.state;
            if (checkboxState == 'unchecked') {
                elmtDiscount.classList.remove("_rmp-state--initial");
                elmtDiscount.classList.add("_rmp-state--unchecked");
                setTimeout(function () {
                    elmtDiscount.classList.remove("_rmp-state--unchecked");
                    elmtDiscount.classList.add("_rmp-state--initial");
                }, 500);

            } else {
                elmtDiscount.classList.remove("_rmp-state--initial");
                elmtDiscount.classList.add("_rmp-state--loading");
                subscribeButton.setAttribute('onclick', 'return false;');

                setTimeout(function () {
                    FB.AppEvents.logEvent('MessengerCheckboxUserConfirmation', null, {
                        'app_id': '@fbAppId',
                        'page_id': '@fbPageId',
                        'ref': 'PASS_THROUGH_PARAM_CHECKBOX',
                        'user_ref': '@refValue'
                    });

                    // save to data
                    subscribeCustomer('@refValue', @Model);

                    subscribeButton.setAttribute('onclick', 'copyCoupon(); return false;');

                    elmtDiscount.classList.remove("_rmp-state--loading");
                    elmtDiscount.classList.add("_rmp-state--discount-code");
                }, 500);


            }
        }
    };

    function copyCoupon() {
        var inp = document.createElement('input');
        document.body.appendChild(inp)
        var copyText = document.getElementById("subscribe-messenger-widget__discount-text-code");
        inp.value = copyText.textContent;
        inp.select();
        document.execCommand('copy', false);
        inp.remove();
    };

    function subscribeCustomer(userRef, productId) {

        var formData = new FormData();
        formData.append("userRef", userRef);
        formData.append("productId", productId);

        $.ajax({
            cache: false,
            url: "@Url.Action("SubscribeCustomer", "ShoppingCart")",
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            type: 'POST',
            success: function (dataRes) {
                // do nothing
                
            },
            error: function (xhr, ajaxOptions, thrownError) {
                // do nothing
            }
        });
    }
</script>

