﻿@{
    Layout = ViewNames.AdminLayout;

    //page title
    ViewBag.Title = T("Plugins.Api.Admin.Page.Clients.Title").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Api-Clients-Menu");
}

@Html.AntiForgeryToken()

@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Plugin.Api.Constants
@using Nop.Web.Framework.UI

<div class="content-header clearfix">
    <h1 class="pull-left">
      Mobile Clients
    </h1>
   
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="api-clients-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#api-clients-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Url.RouteUrl("Plugin.Api.ManageClients.List")",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    numeric: false,
                                    previousNext: false,
                                    info: false
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "ClientId",
                                        title: "ClientId"
                                    },
                                    {
                                        field: "RenewCount",
                                        title: "Renew Count",
                                        width: 200
                                    },    {
                                        field: "CreatedOnUtc",
                                        title: "CreatedOnUtc",
                                        width: 300,
                                        type: "date",
                                        format: "{0:G}"
                                    },
                                    {
                                        field: "ExpiresIn",
                                        title: "ExpiresIn",
                                        width: 300,
                                        type: "date",
                                        format: "{0:G}"
                                    },
                                    {
                                        field: "IsActive",
                                        title: "Active",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '# if(IsActive) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                                        width: 50
                                    }
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>