﻿@model ProductModel.ProductAttributeValueModel

@using Nop.Core.Domain.Catalog
@using Nop.Services

@{
    Html.AddScriptParts("~/Administration/Scripts/farbtastic.js");
    Html.AddCssFileParts("~/Administration/Content/farbtastic/farbtastic.css");
}

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.ProductAttributeMappingId)
@Html.HiddenFor(model => model.DisplayColorSquaresRgb)
@Html.HiddenFor(model => model.DisplayImageSquaresPicture)

@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
        catch (e){}
        window.close();
    </script>
}

<script type="text/javascript">
    $(document).ready(function() {
        $("#@Html.FieldIdFor(model => model.AttributeValueTypeId)").change(toggleProductType);
        toggleProductType();
    });

    function toggleProductType() {
        var selectedProductTypeId = $("#@Html.FieldIdFor(model => model.AttributeValueTypeId)").val();
        if (selectedProductTypeId == @(((int) AttributeValueType.Simple).ToString())) {
            $('#group-associated-product').hide();
        $('#group-quantity').hide();
        $('#group-price-adjustment').show();
        $('#group-weight-adjustment').show();
        $('#group-cost').show();
    } else if (selectedProductTypeId == @(((int) AttributeValueType.AssociatedToProduct).ToString())) {
        $('#group-associated-product').show();
        $('#group-quantity').show();
        $('#group-price-adjustment').hide();
        $('#group-weight-adjustment').hide();
        $('#group-cost').hide();
    }
    }
</script>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.AttributeValueTypeId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.AttributeValueTypeId, ((AttributeValueType)Model.AttributeValueTypeId).ToSelectList())
                            @Html.ValidationMessageFor(model => model.AttributeValueTypeId)
                        </div>
                    </div>
                    <div class="form-group" id="group-associated-product">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.AssociatedProductId)
                        </div>
                        <div class="col-md-9">
                            @Html.HiddenFor(model => model.AssociatedProductId)
                            <span id="associate-product-name">@Model.AssociatedProductName</span>
                            @Html.ValidationMessageFor(model => model.AssociatedProductId)
                            <button type="submit" onclick="javascript:OpenWindow('@(Url.Action("AssociateProductToAttributeValuePopup", "Product", new {productIdInput = Html.FieldIdFor(model => model.AssociatedProductId), productNameInput = "associate-product-name"}))', 800, 850, true); return false;" class="btn btn-primary">
                                @T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.Fields.AssociatedProduct.AddNew")
                            </button>
                        </div>
                    </div>
                    <div class="form-group" id="group-quantity">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Quantity)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Quantity)
                            @Html.ValidationMessageFor(model => model.Quantity)
                        </div>
                    </div>

                    @(Html.LocalizedEditor<ProductModel.ProductAttributeValueModel, ProductModel.ProductAttributeValueLocalizedModel>("productattributevalue-localized",
                        @<div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.Locales[item].Name)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.Locales[item].Name)
                                    @Html.ValidationMessageFor(model => model.Locales[item].Name)
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.Locales[item].LanguageId)
                        </div>
,
                @<div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Name)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                </div>
))
                    @if (Model.DisplayColorSquaresRgb)
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ColorSquaresRgb)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ColorSquaresRgb)
                                <div id="color-picker"></div>
                                <script type="text/javascript">
                                    $(document).ready(function(){
                                        $('#color-picker').farbtastic('#@Html.FieldIdFor(model => model.ColorSquaresRgb)');
                                    });
                                </script>
                                @Html.ValidationMessageFor(model => model.ColorSquaresRgb)
                            </div>
                        </div>
                    }
                    <div class="form-group" id="group-price-adjustment">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.PriceAdjustment)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.PriceAdjustment)
                            @Html.ValidationMessageFor(model => model.PriceAdjustment)
                        </div>
                    </div>
                    <div class="form-group" id="group-weight-adjustment">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.WeightAdjustment)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.WeightAdjustment)
                            @Html.ValidationMessageFor(model => model.WeightAdjustment)
                        </div>
                    </div>
                    <div class="form-group" id="group-cost">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Cost)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Cost)
                            @Html.ValidationMessageFor(model => model.Cost)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.IsPreSelected)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.IsPreSelected)
                            @Html.ValidationMessageFor(model => model.IsPreSelected)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.DisplayOrder)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.DisplayOrder)
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.PictureId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.PictureId)
                            @Html.ValidationMessageFor(model => model.PictureId)
                        </div>
                    </div>
                    @if (Model.DisplayColorSquaresRgb)
                    {


                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label class="control-label" for="PictureId" title="">Custom Picture</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.CustomTemplatePictureId)
                                @Html.ValidationMessageFor(model => model.CustomTemplatePictureId)
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
