﻿@model ProductModel.ProductCustomFieldMappingModel

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                      <div class="col-sm-5" style="border:solid 1px #ddd; padding:10px">
                          <div class="form-group">
                              <div class="col-md-3">
                                  @Html.NopLabelFor(model => model.CustomField)
                              </div>
                              <div class="col-md-9">
                                  @Html.NopDropDownList("CustomFieldId", Model.AvailableCustomFields)
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-md-3">
                                  @Html.NopLabelFor(model => model.Group)
                              </div>
                              <div class="col-md-9">
                                  @Html.NopEditorFor(model => model.Group)
                                  @Html.ValidationMessageFor(model => model.Group)
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-md-3">
                                  @Html.NopLabelFor(model => model.Font)
                              </div>
                              <div class="col-md-9">
                                  @Html.NopEditorFor(model => model.Font)
                                  @Html.ValidationMessageFor(model => model.Font)
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-md-3">
                                  @Html.NopLabelFor(model => model.FontSize)
                              </div>
                              <div class="col-md-9">
                                  @Html.NopEditorFor(model => model.FontSize)
                                  @Html.ValidationMessageFor(model => model.FontSize)
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-md-3">
                                  @Html.NopLabelFor(model => model.FontColor)
                              </div>
                              <div class="col-md-9">
                                  @Html.NopEditorFor(model => model.FontColor)
                                  @Html.ValidationMessageFor(model => model.FontColor)
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-md-3">
                                  @Html.NopLabelFor(model => model.Width)
                              </div>
                              <div class="col-md-9">
                                  @Html.NopEditorFor(model => model.Width)
                                  @Html.ValidationMessageFor(model => model.Width)
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-md-3">
                                  @Html.NopLabelFor(model => model.Height)
                              </div>
                              <div class="col-md-9">
                                  @Html.NopEditorFor(model => model.Height)
                                  @Html.ValidationMessageFor(model => model.Height)
                              </div>
                          </div>
                         
                          <hr />
                          <br />
                          <div class="form-group" style="text-align:center">
                              <button type="button" class="btn bg-blue">
                                  <i class="fa fa-refresh"></i>
                                 Generate Variant
                              </button>
                          </div>
                      </div>
                      <div class="col-sm-7">
                          <div class="render_image" style="text-align:center">
                              <img src="https://images.sunfrogshirts.com/2017/10/02/35370-1506985778611-Gildan-Men-Orange-_w92_-front.jpg" height="@Model.Height" width="@Model.Width" />
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#FontColor').ColorPicker({
        onSubmit: function (hsb, hex, rgb, el) {
            $(el).val('#' + hex);
            $(el).ColorPickerHide();
        },
        onBeforeShow: function () {
            $(this).ColorPickerSetColor(this.value);
        },
        onHide: function (colpkr) {
            $(colpkr).fadeOut(500);
            return false;
        },
    })
        .bind('keyup', function () {
            $(this).ColorPickerSetColor(this.value);
        });
</script>