﻿@model ProductModel

@using Nop.Core.Domain.Catalog
@using Nop.Services

<div class="panel-group">

    @if (Model.Id > 0)
    {
        if (Model.AvailableProductCustomFields.Count > 0)
        {
            <div id="productattribute-edit" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @Html.RenderBootstrapTabHeader("tab-attributes", @T("Admin.Catalog.Products.ProductAttributes.Attributes"), true, "tab-attributes")
                </ul>
                <div class="tab-content">
                    @Html.RenderBootstrapTabContent("tab-attributes", @TabAttributes(), true, "tab-attributes")
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @T("Admin.Catalog.Products.ProductAttributes.NoAttributesAvailable")
                </div>
            </div>
        }
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Admin.Catalog.Products.ProductAttributes.SaveBeforeEdit")
            </div>
        </div>
    }
</div>

@helper TabAttributes()
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row" style="margin-bottom:10px;border-bottom:1px solid #ddd">
                <div class="col-sm-8">
                    <h3><b>Product Design</b></h3>
                     @if(Model.Design!=null)
                     {
                         <p>Current design:</p>
                         <p><b>ID: </b><a target="_blank" href="@(Url.Action("Edit", "Design", new {id = Model.Design.Id}))">@Model.Design.Id</a></p>
                         <p><b>Name: </b>@Model.Design.Name </p>
                         <p><b>Description: </b>@Model.Design.Description </p>
                     }
                     else
                     {
                         <p style="font:bold; color: red">This product is not sync with any design.</p>
                     }
                </div>
                <div class="col-sm-4">
                    <div style="padding:10px">
                        <button type="button" id="btnSelectDesign" onclick="javascript:OpenWindow('@(Url.Action("DesignProductPopup", "Product", new {productId = Model.Id, btnId = "btnRefreshProductDesign", formId = "product-form"}))', 800, 800, true); return false;" class="btn btn-primary">
                            Select Design
                        </button>
                    </div>
                </div>

            </div>
            <div class="row" style="border-bottom:solid 1px #ddd">
                <div class="col-md-12">
                    <h3><b>Product CustomField Mapping</b></h3>
                    <br />
                    <div style="padding:20px">
                        <a href="@Url.Action("CreateProductCustomFieldMapping", "Product",new {productId= Model.Id })" class="btn bg-blue">
                            <i class="fa fa-plus-square"></i>Add new
                        </a>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div id="productcustomfieldmappings-grid"></div>
                </div>
            </div>
            <script>
                $(document).ready(function() {
                    $("#productcustomfieldmappings-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ProductCustomFieldMappingList", "Product", new { productId = Model.Id }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        CustomField: { editable: true, type: "string" },
                                        CustomFieldId: { editable: true, type: "number" },
                                        Group: { editable: true, type: "number" },
                                        Id: { editable: false, type: "number" }
                                    }
                                }
                            },
                            requestEnd: function(e) {
                                if (e.type == "create" || e.type == "update") {
                                    this.read();
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "CustomFieldId",
                                title: "CustomField",
                                width: 250,
                                template: "#:CustomField#"
                            },
                             {
                                 field: "Group",
                                title: "Group",
                                width: 150,
                            },
                                {
                                    field: "Id",
                                    title: "@T("Admin.Common.Edit")",
                                    width: 100,
                                    template: '<a href="@Html.Raw(Url.Action("EditProductCustomFieldMapping", "Product"))/#=Id#">@T("Admin.Common.Edit")</a>'
                                    }
                                ]
                    });
                });
            </script>
            <input type="submit" id="btnRefreshProductCustomFields" style="display: none" />
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#btnRefreshProductCustomFields').click(function () {
                        //refresh grid
                        var grid = $("#productcustomfieldmappings-grid").data('kendoGrid');
                        grid.dataSource.read();

                        //return false to don't reload a page
                        return false;
                    });
                });
            </script>
        </div>
    </div>
}
