﻿@model ProductModel.ProductCustomFieldMappingModel
@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Attributes.ProductAttributes.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Products");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "productattribute-form"}))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Add a new product customfield mapping
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back to product", "Edit", new { id = Model.ProductId })</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group" style="display:none">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ProductId)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ProductId)
                                @Html.ValidationMessageFor(model => model.ProductId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.CustomField)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownList("CustomFieldId", Model.AvailableCustomFields)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Group)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Group)
                                @Html.ValidationMessageFor(model => model.Group)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $('#FontColor').ColorPicker({
        onSubmit: function (hsb, hex, rgb, el) {
            $(el).val('#' + hex);
            $(el).ColorPickerHide();
        },
        onBeforeShow: function () {
            $(this).ColorPickerSetColor(this.value);
        },
        onHide: function (colpkr) {
            $(colpkr).fadeOut(500);
            return false;
        },
    })
        .bind('keyup', function () {
            $(this).ColorPickerSetColor(this.value);
        });
    </script>
}
