﻿@model DesignModel
@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";

    var popupGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().PopupGridPageSize;

    //page title
    ViewBag.Title = "Design";
}

@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {
            window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();
        } catch (e) {
        }
        window.close();
    </script>
}
    <div id="design-form">
        @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()
        <div class="content-header clearfix">
            <h1 class="pull-left">
                Designs
            </h1>
        </div>

        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default panel-search">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <div class="label-wrapper"><label class="control-label" for="ProductId" title="">Name</label><div class="ico-help" title="Search by design name."><i class="fa fa-question-circle"></i></div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="input-group input-group-short">
                                            <span class="input-group-btn">
                                                <input type="text" class="form-control text-box single-line" id="search-term" />
                                                <button type="button" id="search-design" class="btn btn-info btn-flat">
                                                    Find
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <div class="label-wrapper"><label class="control-label" for="GoDirectlyToNumber" title="">Go directly to design #</label><div class="ico-help" title="Go directly to order #."><i class="fa fa-question-circle"></i></div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="input-group input-group-short">
                                            <input type="number" class="form-control text-box single-line" id="search-id" />
                                            <span class="input-group-btn">
                                                <button type="submit" id="go-to-id" class="btn btn-info btn-flat">
                                                    Go
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="display:none">
                                @Html.EditorFor(model => model.Id)
                                @Html.EditorFor(model => model.ProductId)
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8">
                                    <div style="margin:25px;border:solid 2px #ddd;text-align: center">
                                        <div id="selected-design" style="text-align:center;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-4 pull-right">
                                        <button type="submit" name="sync" class="btn bg-blue">
                                            <i class="fa fa-floppy-o"></i>
                                            Sync Product Design
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="product-design-grid"></div>

                            <script>
                            $(document).ready(function() {
                                $("#product-design-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("DesignProductPopupList", "Product"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(popupGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true
                                    },
                                    scrollable: false,
                                    columns: [
                                   {
                                        field: "Id",
                                        title: "Id",
                                        width: 100
                                    },
                                    {
                                        field: "Name",
                                        title: "Name",
                                        width: 400,
                                    }, {
                                        field: "Description",
                                        title: "Description",
                                        width: 400,
                                    }, {
                                        field: "ProductId",
                                        title: "ProductId",
                                        width: 100,
                                        }, {
                                        template:  "<a onclick=\"setSelectedDesign(#=Id#,this)\">Select</a>",
                                            attributes: {
                                                style: "text-align:center"
                                            },
                                            width: 50
                                        }, ]
                                });
                            });
                            </script>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>

                    <script type="text/javascript">
                    $(document).ready(function () {
                        $('#search-design').click(function () {
                            var grid = $('#product-design-grid').data('kendoGrid');
                            grid.dataSource.page(1); //new search. Set page size to 1
                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                            //clear selected checkboxes
                            $('.checkboxGroups').attr('checked', false).change();
                            return false;
                        });
                        $('#go-to-id').click(function () {
                            var grid = $('#product-design-grid').data('kendoGrid');
                            grid.dataSource.page(1); //new search. Set page size to 1
                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                            //clear selected checkboxes
                            $('.checkboxGroups').attr('checked', false).change();
                            return false;
                        });

                        /**/
                        $("#search-term").keydown(function (event) {
                            /**/
                            if (event.keyCode == 13) {
                                $("#search-design").click();
                                return false;
                            }
                        });

                        //wire up checkboxes
                        $('#mastercheckbox').click(function () {
                            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                        });

                        $('#products-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                            updateMasterCheckbox();
                        });

                        validateForm();
                    });

                    function additionalData() {
                        var data = {
                            name: $('#search-term').val(),
                            id: $('#search-id').val(),
                        };
                        addAntiForgeryToken(data);
                        return data;
                    }

                    function setSelectedDesign(id, elm) {
                        var parentItem = elm.closest('tr');
                        var content = "<p><b>Selected Design</b></p><br/>";
                        content += "<table role='grid'><colgroup><col style='width: 100px'><col style='width: 400px'><col style='width: 400px'><col style='width: 100px'><col style='width: 50px'></colgroup><thead class='k-grid-header'><tr>";
                        content += "<th class='k-header'>Id</th><th  class='k-header'>Name</th><th class='k-header'>Description</th><th class='k-header'>ProductId</th>";
                        content += "</thead></tr>";
                        content += "<tbody>";
                        content = content + parentItem.innerHTML;
                        content += "</tbody></table>";
                        $("#selected-design").html(content);
                        $("#@Html.FieldIdFor(model => model.Id)").val(id);
                    }

                    function validateForm() {
                        var designForm = $("#design-form > form:nth-child(1)");
                        designForm.submit(function (event) {
                            var selectedDesignId = designForm.find("#Id").val();
                            if (selectedDesignId == 0)
                            {
                                alert("Please select a design to sync!")
                                return event.preventDefault();
                            }
                            else console.log(selectedDesignId);
                        });
                    }
                    </script>
                </div>
            </div>
        </div>
}
    </div>
