﻿@model ProductModel.ProductCustomFieldMappingModel
@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Attributes.ProductAttributes.EditAttributeDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Products");
    var customFieldFontName = string.Format("Font-{0}", Model.Id);
    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
}
<style>
    .coordinates{
        width: 200px;
        height: 50px;
        position: fixed;
        left:0;
        bottom:0;
        padding: 10px;
        z-index: 10000;
    }
    .coordinates p{
        font-size: 16px;
        color: orangered;
        font-weight: bolder;
        padding-bottom: 2px;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "productcustomfield-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Edit product customfield mapping - @Model.CustomField
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back to product", "Edit", new { id = Model.ProductId })</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="productcustomfield-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")   
            </span>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row" style="padding:30px">
                            <div class="form-group" style="display:none">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.Id)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.Id)
                                    @Html.ValidationMessageFor(model => model.Id)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.CustomField)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopDropDownList("CustomFieldId", Model.AvailableCustomFields)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.Group)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.Group)
                                    @Html.ValidationMessageFor(model => model.Group)
                                </div>
                            </div>
                            <hr />
                            <br />
                            <div class="form-group" style="text-align:center">
                                <button type="button" id="generate-customfield-variant" onclick="Generate()" class="btn bg-blue">
                                    <i class="fa fa-refresh"></i>
                                    Generate Variant
                                </button>
                            </div>
                            <hr />
                            <br />
                            @foreach (var item in Model.ProductDesignCustomFields)
                            {
                                <div class="form-group" style="text-align:center">
                                    <button type="button" id="generate-customfield-variant" onclick="window.location.href='@Url.Action("EditProductDesignCustomField", "Product", new {id = item.DesignCustomFieldId })'" class="btn bg-blue">
                                        <i class="fa fa-edit"></i>
                                        Design Customfield Setting - @item.DesignCustomFieldId
                                    </button>
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="productcustomfieldvalues-grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            }
@Html.DeleteConfirmation("DeleteProductCustomFieldMapping", "productcustomfield-delete")
<script>

    function Generate() {
        var data =  @Html.Raw(Json.Encode(Model));
        data = addAntiForgeryToken(data);
        $.ajax({
            cache: false,
            url: '@Url.Action("ProductCustomFieldGenerateVariant", "Product")',
            data: data,
            type: 'POST',
            success: function (data) {
                var grid = $("#productcustomfieldvalues-grid").data('kendoGrid');
                grid.dataSource.read();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Failed to generate")
            }
        });
                }
</script>
<script>
                $(document).ready(function() {
                    $("#productcustomfieldvalues-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ProductCustomfieldValueList", "Product", new { productCustomFieldMappingId = Model.Id }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Name: { editable: false, type: "string" },
                                        PositionX: { editable: true, type: "number" },
                                        PositionY: { editable: true, type: "number" },
                                        ProductAttributeValueId: { editable: false, type: "number" },
                                        ProductCustomFieldMappingId: { editable: false, type: "number" },
                                        Id: { editable: false, type: "number" }
                                    }
                                }
                            },
                            requestEnd: function(e) {
                                if (e.type == "create" || e.type == "update") {
                                    this.read();
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        edit: function(e) {
                            if (e.model.isNew()) {
                                //little hack here
                                //pre-select the first value of kendoui dropdownlist datasource
                                //for some reasons (maybe, bug) it always sends 0
                                //if no value has been selected (changed) in the dropdownlist
                                if (allProductAttributes.length > 0) {
                                    e.model.ProductAttributeId = allProductAttributes[0].Id;
                                }
                                if (allAttributeControlTypes.length > 0) {
                                    e.model.AttributeControlTypeId = allAttributeControlTypes[0].Id;
                                }
                            }
                        },
                        editable: {
                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "Name",
                                title: "Product Type",
                                width: 200
                            }, {
                                field: "PositionX",
                                title: "PositionX",
                                width: 200,
                            },{
                                field: "PositionY",
                                title: "PositionY",
                                width: 200,
                            }
                        ]
                    });
                });
</script>