﻿@model DesignCustomFieldModel

@{
    //page title
    ViewBag.Title = "Design Customfield";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Product customfields");
    Html.AppendScriptParts("~/Administration/Scripts/jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.pack.js");
    Html.AppendScriptParts("~/Administration/Scripts/jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.min.js");
    //Html.AppendCssFileParts("~/Administration/Scripts/jquery.imgareaselect-0.9.10/css/imgareaselect-default.css");
    Html.AppendCssFileParts("~/Administration/Scripts/jquery.imgareaselect-0.9.10/css/imgareaselect-animated.css");
    //Html.AppendCssFileParts("~/Administration/Scripts/jquery.imgareaselect-0.9.10/css/imgareaselect-deprecated.css");

}
<style>
    .coordinates{
        position: fixed;
        left:0;
        bottom:0;
        padding: 10px;
        z-index: 10000;
    }
    .coordinates p{
        font-size: 13px;
        color: orangered;
        font-weight: bolder;
    }
        .coordinates .close-btn {
            width: 20px;
            height: 20px;
            padding: 0 !important;  
        }
        .coordinates input{
            width:100px;
        }
    .close-btn i {
       font-size: 12px;
       padding: 0 !important;
       vertical-align: initial;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "designcustomfield-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Update Design CustomField
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back to edit custom field", "EditProductCustomFieldMapping", new {id= Model.ProductDesignCustomField.ProductCustomFieldMappingId })</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="productattribute-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" style="padding:0 20px 10px 20px">
                                    <label for="customText">Type custom text here</label>
                                    <input class="form-control" type="text" id="customText" onkeyup.enter="return false" value="@Model.DefaultText" placeholder="Custom text" />
                                </div>
                                <div class="coordinates" id="selector-info">
                                    <div class="panel panel-info">
                                        <div class="panel-heading" style="text-align: right">
                                            <p class="panel-title">Result</p>
                                            <button type="button" class="btn bg-red close-btn" onclick="clearSelector()"><i class="fa fa-close"></i></button>
                                        </div>
                                        <div class="panel-body">
                                            <p>Width:  <input type="number" id="info-width" value="@Model.Width" /></p>
                                            <p>Height: <input type="number" id="info-height" value="@Model.Height" /></p>
                                            <p>X1: <span id="x1">0</span></p>
                                            <p>Y1: <span id="y1">0</span></p>
                                            <p>X2: <span id="x2">0</span></p>
                                            <p>Y2: <span id="y2">0</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="render_image" id="image-container">
                                    <img id="image-preview" class="temp_gen black" src="@Model.DefaulProductImageUrl"
                                         draggable="false" style="-moz-user-select: none;cursor:move;text-align:center;border:solid 2px #808080;" />
                                </div>
                                <input type="hidden" id="positionX" value="50" />
                                <input type="hidden" id="positionY" value="50" />
                            </div>
                        </div>
                        <div class="row" style="border:solid 1px #ddd; padding:10px;margin:10px 0">
                            <div class="form-group" style="display:none">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.Id)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.Id)
                                    @Html.ValidationMessageFor(model => model.Id)
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Font</label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.Font)
                                        @Html.ValidationMessageFor(model => model.Font)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Width</label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.Width)
                                        @Html.ValidationMessageFor(model => model.Width)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Height</label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.Height)
                                        @Html.ValidationMessageFor(model => model.Height)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Font Size</label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.FontSize)
                                        @Html.ValidationMessageFor(model => model.FontSize)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="productcustomfieldvalues-grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <script>
    $('#FontColor').ColorPicker({
        onSubmit: function (hsb, hex, rgb, el) {
            $(el).val('#' + hex);
            $(el).ColorPickerHide();
        },
        onBeforeShow: function () {
            $(this).ColorPickerSetColor(this.value);
        },
        onHide: function (colpkr) {
            $(colpkr).fadeOut(500);
            return false;
        },
    })
        .bind('keyup', function () {
            $(this).ColorPickerSetColor(this.value);
        });
    </script>
    <script>
        $('#EffectColor').ColorPicker({
        onSubmit: function (hsb, hex, rgb, el) {
            $(el).val('#' + hex);
            $(el).ColorPickerHide();
        },
        onBeforeShow: function () {
            $(this).ColorPickerSetColor(this.value);
        },
        onHide: function (colpkr) {
            $(colpkr).fadeOut(500);
            return false;
        },
    })
        .bind('keyup', function () {
            $(this).ColorPickerSetColor(this.value);
        });
    </script>
    <script type="text/javascript">
        $('#image-preview').mousemove(function (event) {
            window.current_x = Math.round(event.pageX - $('#image-preview').offset().left);
            window.current_y = Math.round(event.pageY - $('#image-preview').offset().top);
            window.current_coords = 'X:' + window.current_x + ' Y:' + window.current_y;
            $('#image_coords_now').html('Coordinate: ' + window.current_coords + '.');
        }).mouseleave(function () {
            $('#image_coords_now').html(' ');
        }).click(function () {
            $('#image_coords_click').html('Last click: ' + window.current_coords + '. ');
        });
    </script>

    <script>
                $(document).ready(function() {
                    $("#productcustomfieldvalues-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ProductCustomfieldValueList", "Product", new { productCustomFieldMappingId = Model.ProductDesignCustomField.ProductCustomFieldMappingId }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                update: {
                                    url: "@Html.Raw(Url.Action("ProductCustomfieldValueUpdate", "Product"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                destroy: {
                                    url: "@Html.Raw(Url.Action("ProductCustomfieldValueDelete", "Product"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Name: { editable: false, type: "string" },
                                        PositionX: { editable: true, type: "number" },
                                        PositionY: { editable: true, type: "number" },
                                        ProductAttributeValueId: { editable: false, type: "number" },
                                        ProductCustomFieldMappingId: { editable: false, type: "number" },
                                        Id: { editable: false, type: "number" }
                                    }
                                }
                            },
                            requestEnd: function(e) {
                                if (e.type == "create" || e.type == "update") {
                                    this.read();
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        edit: function(e) {
                            if (e.model.isNew()) {
                                //little hack here
                                //pre-select the first value of kendoui dropdownlist datasource
                                //for some reasons (maybe, bug) it always sends 0
                                //if no value has been selected (changed) in the dropdownlist
                                if (allProductAttributes.length > 0) {
                                    e.model.ProductAttributeId = allProductAttributes[0].Id;
                                }
                                if (allAttributeControlTypes.length > 0) {
                                    e.model.AttributeControlTypeId = allAttributeControlTypes[0].Id;
                                }
                            }
                        },
                        editable: {
                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "Name",
                                title: "Product Type",
                                width: 200
                            }, {
                                field: "PositionX",
                                title: "PositionX",
                                width: 200,
                            },{
                                field: "PositionY",
                                title: "PositionY",
                                width: 200,
                            },{
                                field: "Id",
                                title: "Preview",
                                width: 150,
                                template: '<a style="cursor: pointer;" onclick="onRendingPicturePreview(#=ProductAttributeValueId#,#=Id#)" ><i class="fa fa-eye"></i>Preview</a>'
                            },
                            {
                                field: "ProductAttributeValueId",
                                title: "Default Image",
                                width: 150,
                                template: '<a style="cursor: pointer;" onclick="showVariantDefaultImage(#=ProductAttributeValueId#)" ><i class="fa fa-eye"></i>Show</a>'
                            },
                            {
                                command: [
                                    {
                                        name: "edit",
                                        text: {
                                            edit: "@T("Admin.Common.Edit")",
                                            update: "@T("Admin.Common.Update")",
                                            cancel: "@T("Admin.Common.Cancel")"
                                        }
                                    }, {
                                        name: "destroy",
                                        text: "@T("Admin.Common.Delete")"
                                    }
                                ],
                                width: 200
                            }
                        ]
                    });
                });
    </script>
    <script>
    function preview(id,p_X,p_Y) {
        var data = {"attributeValueId": id};
        data = addAntiForgeryToken(data);
        $.ajax({
            cache: false,
            url: '@Url.Action("PrepareDataToPreview", "Product")',
            data: data,
            type: 'POST',
            success: function (data) {
                $("#positionX").val(p_X);
                $("#positionY").val(p_Y);

                preparePreviewData(data);
                $('html, body').animate({ scrollTop: 150 }, 300);
                $('#customText').focus();
                writeText();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Failed to preview");
            }
        });
        }
    </script>

    <script>
    function onRendingPicturePreview(productAttributeValueId,id) {
        var customtext = $('#customText').val();
        if (customtext.length == 0)
        {
            $('#customText').focus();
        }
        else {
            var renderData = [];
            var customFieldRenderData = { Text: customtext, Id: @Model.Id, ValueId: id };
            renderData.push(customFieldRenderData);
            var renderRequest = { AttrValueId: productAttributeValueId, Data: renderData, Scale: 1010 };
            var newImageUrl = '@Url.Action("RendingProductCustomFieldPicture", "Product")';
            var params = setRenderQueryString(renderRequest);
            $('#image-preview').attr("src", newImageUrl + params);
            $('html, body').animate({ scrollTop: 150 }, 300);
        }
        }
        function showVariantDefaultImage(valueId)
        {
            var data = { "attributeValueId": valueId};
        data = addAntiForgeryToken(data);
        $.ajax({
            cache: false,
            url: '@Url.Action("GetVariantDefaultImage", "Product")',
            data: data,
            type: 'POST',
            success: function (data) {
                $('#image-preview').attr("src", data.ImageUrl);
                $('html, body').animate({ scrollTop: 150 }, 300);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Failed to get default image");
            }
        });

        }
    function setRenderQueryString(request) {
        var url = "?";
        url = url + "AttrValueId=" + request.AttrValueId + '&';
        if (request.Data.length > 0) {
            request.Data.forEach(function (element, index, array) {
                url += 'Data[' + index + '].Text=' + element.Text + "&";
                url += 'Data[' + index + '].Id=' + element.Id + "&";
                url += 'Data[' + index + '].ValueId=' + element.ValueId + "&";
            });
        }
        url = url + "Scale=" + request.Scale;
        url = url.trim("&");
        return url;
    }
    </script>
}
<script>
    $(document).ready(function () {
        $('#image-preview').imgAreaSelect({
            handles: true,
            onSelectEnd: function (img, selection) {
                getSelection(selection);
            }
        });
        $("#info-width").change(function () {
            updateSelection();
        });
        $("#info-height").change(function () {
            updateSelection();
        });
    });
    function getSelection(selection) {
        $("#selector-info").fadeIn("slow");
        $("#info-width").val(selection.width);
        $("#info-height").val(selection.height);
        $("#x1").text(selection.x1);
        $("#x2").text(selection.x2);
        $("#y1").text(selection.y1);
        $("#y2").text(selection.y2);
    }
    function updateSelection() {
        var ias = $('#image-preview').imgAreaSelect({ instance: true });
        var _x1 = parseInt($("#x1").text());
        var _x2 = parseInt($("#x2").text());
        var _y1 = parseInt($("#y1").text());
        var _y2 = parseInt($("#y2").text());
        var _width = parseInt($("#info-width").val());
        var _height = parseInt($("#info-height").val());
        _x2 = _x1 + _width;
        _y2 = _y1 + _height;

        ias.setSelection(_x1, _y1, _x2, _y2, true);
        ias.setOptions({
            show: true,
        });
        ias.update();
        var selection = { x1: _x1, y1: _y1, x2: _x2, y2: _y2, width: _width, height: _height };
        getSelection(selection);
    }
    function clearSelector() {
        $("#selector-info").fadeOut("slow");
    }
</script>
