﻿@model ProductTypeInfoModel

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('product-attribute-edit');
    });
</script>

<div class="content">
    <div class="form-horizontal">
        <div id="product-attribute-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.Catalog.Attributes.ProductAttributes.Info"), true)
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "product-attribute-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

@helper TabInfo()
    {
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.TypeName)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.TypeName)
                                @Html.ValidationMessageFor(model => model.TypeName)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Description)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Description)
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.IsActive)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive)
                            </div>
                        </div>
                        <hr />
                        <br />
                        <h2>Product Basic Info
                        @if(Model.ProductInfoTemplateId.HasValue)
                        {
                            <small class="pull-right"><a target="_blank" href="@Url.Action("EditBasicInfoTemplate","SizingShippingInfo", new { Id = Model.ProductInfoTemplateId})">Edit content</a></small>
                        }
                        </h2>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                <label class="control-label">Select Basic Info Template</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownList("ProductInfoTemplateId", Model.AvailableProductInfoTemplates)
                            </div>
                        </div>
                        @if (Model.ProductInfoTemplate != null)
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.ProductInfoTemplate.Content)
                                </div>
                                <div class="col-md-9">
                                    @if (!string.IsNullOrEmpty(Model.ProductInfoTemplate.Content))
                                    {
                                        @Html.Raw(Model.ProductInfoTemplate.Content) 
                                    }
                                    else
                                    {
                                        <div class="label-warning">
                                            <label class="control-label">No content</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        <hr />
                        <br />
                        <h2>Product Shipping Info
                        @if(Model.ProductShippingInfoTemplateId.HasValue)
                        {
                            <small class="pull-right"><a target="_blank" href="@Url.Action("EditShippingTemplate","SizingShippingInfo", new { Id = Model.ProductShippingInfoTemplateId})">Edit content</a></small>
                        }
                        </h2>

                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label class="control-label">Select Shipping Info Template</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownList("ProductShippingInfoTemplateId", Model.AvailableProductShippingInfoTemplates)
                            </div>
                        </div>
                        @if (Model.ProductShippingInfoTemplate != null)
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.ProductShippingInfoTemplate.Content)
                                </div>
                                <div class="col-md-9">
                                    @if (!string.IsNullOrEmpty(Model.ProductShippingInfoTemplate.Content))
                                    {
                                        @Html.Raw(Model.ProductShippingInfoTemplate.Content) 
                                    }
                                    else
                                    {
                                        <div class="label-warning">
                                            <label class="control-label">No content</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        <hr />
                        <br />
                        <h2>Product Sizing Info
                       @if(Model.ProductSizingInfoTemplateId.HasValue)
                        {
                            <small class="pull-right"><a target="_blank" href="@Url.Action("EditSizingTemplate","SizingShippingInfo", new { Id = Model.ProductSizingInfoTemplateId})">Edit content</a></small>
                        }
                        </h2>

                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label class="control-label">Select Sizing Info Template</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownList("ProductSizingInfoTemplateId", Model.AvailableProductSizingInfoTemplates)
                            </div>
                        </div>
                        @if (Model.ProductSizingInfoTemplate != null)
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.ProductSizingInfoTemplate.Content)
                                </div>
                                <div class="col-md-9">
                                    @if (!string.IsNullOrEmpty(Model.ProductSizingInfoTemplate.Content))
                                    {
                                        @Html.Raw(Model.ProductSizingInfoTemplate.Content)  
                                    }
                                    else
                                    {
                                        <div class="label-warning">
                                            <label class="control-label">No content</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
}
