﻿@model ProductTypeInfoModel
@{
    //page title
    ViewBag.Title = "Add new Product Type information";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ManageSizingShippingInfo");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "productattribute-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Add a new Product Type information
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back to list", "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
