﻿
@model ProductInfoOverviewModel

@{
    //page title
    ViewBag.Title = "Edit Product Basic information";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ManageSizingShippingInfo");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "productattribute-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Edit Product Basic information - @Model.Name
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back to list", "ListBasicInfoTemplate")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="productattribute-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateInfoTemplate", Model)
}
@Html.DeleteConfirmation("DeleteBasicInfoTemplate", "productattribute-delete")
