﻿@{
    //page title
    ViewBag.Title = "Generate template";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ManageSizingShippingInfo");
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        GENERATE TEMPLATE
        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back to list", "List")</small>
    </h1>
    <div class="pull-right">
        <button type="button" name="save" class="btn bg-blue">
            <i class="fa fa-floppy-o"></i>
            @T("Admin.Common.Save")
        </button>
        <button type="button" name="save-continue" class="btn bg-blue">
            <i class="fa fa-floppy-o"></i>
            @T("Admin.Common.SaveContinue")
        </button>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>
