﻿@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = "Product Type Information";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ManageSizingShippingInfo");
}

@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        Product Type Information
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>
<div class="container">
    <div class="row" style="padding:20px;text-align:center">
        <a href="@Url.Action("ListSizingTemplate")" class="btn bg-blue">
            <i class="fa fa-gears"></i>
            Manage Sizing Info
        </a>
        <a href="@Url.Action("ListShippingTemplate")" class="btn bg-blue">
            <i class="fa fa-gears"></i>
            Manage Shipping Info
        </a>
        <a href="@Url.Action("ListBasicInfoTemplate")" class="btn bg-blue">
            <i class="fa fa-gears"></i>
            Manage Basic Info
        </a>
    </div>
</div>
<div class="content">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="producttypes-grid"></div>
                <script>
                    $(document).ready(function() {
                        $("#producttypes-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("List", "SizingShippingInfo"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                            {
                                field: "TypeName",
                                title: "Name",
                                width: 300
                                },
                                {
                                field: "TypeCode",
                                title: "Code",
                                width: 300
                                },
                                {
                                field: "Description",
                                title: "Description",
                                width: 300
                                },
                                {
                                    field: "IsActive",
                                    title: "IsActive",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(IsActive) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                                    width: 50
                                },
                                {
                                field: "Id",
                                title: "@T("Admin.Common.Edit")",
                                width: 100,
                                template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                                }
                            ]
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>