@font-face {
  font-family: 'Egg-Icon';
  src:  url('../fonts/Egg-Icon.eot?su012x');
  src:  url('../fonts/Egg-Icon.eot?su012x#iefix') format('embedded-opentype'),
    url('../fonts/Egg-Icon.ttf?su012x') format('truetype'),
    url('../fonts/Egg-Icon.woff?su012x') format('woff'),
    url('../fonts/Egg-Icon.svg?su012x#Egg-Icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="egg-icon-"], [class*=" egg-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Egg-Icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.egg-icon-close:before {
  content: "\e926";
}
.egg-icon-arrow-end:before {
  content: "\e927";
}
.egg-icon-arrow-begin:before {
  content: "\e928";
}
.egg-icon-arrow-right:before {
  content: "\e925";
}
.egg-icon-add:before {
  content: "\e900";
}
.egg-icon-add-to-cart .path1:before {
  content: "\e901";
  color: rgb(0, 0, 0);
}
.egg-icon-add-to-cart .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(246, 207, 55);
}
.egg-icon-add-to-cart .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.egg-icon-add-to-cart-2:before {
  content: "\e904";
}
.egg-icon-arrow-up:before {
  content: "\e905";
}
.egg-icon-arrow-left:before {
  content: "\e906";
}
.egg-icon-call:before {
  content: "\e907";
}
.egg-icon-cart:before {
  content: "\e908";
}
.egg-icon-chat:before {
  content: "\e909";
}
.egg-icon-completed:before {
  content: "\e90a";
}
.egg-icon-contact-us:before {
  content: "\e90b";
}
.egg-icon-download:before {
  content: "\e90c";
}
.egg-icon-facebook:before {
  content: "\e90d";
}
.egg-icon-filter:before {
  content: "\e90e";
}
.egg-icon-shipping:before {
  content: "\e90f";
}
.egg-icon-free-shipping:before {
  content: "\e910";
}
.egg-icon-google-plus:before {
  content: "\e911";
}
.egg-icon-instagram:before {
  content: "\e912";
}
.egg-icon-lock:before {
  content: "\e913";
}
.egg-icon-mail:before {
  content: "\e914";
}
.egg-icon-next:before {
  content: "\e915";
}
.egg-icon-number-1:before {
  content: "\e916";
}
.egg-icon-payment-completed:before {
  content: "\e917";
}
.egg-icon-mobile:before {
  content: "\e918";
}
.egg-icon-phone:before {
  content: "\e919";
}
.egg-icon-quality:before {
  content: "\e91a";
}
.egg-icon-register-here:before {
  content: "\e91b";
}
.egg-icon-review:before {
  content: "\e91c";
}
.egg-icon-rule:before {
  content: "\e91d";
}
.egg-icon-search:before {
  content: "\e91e";
}
.egg-icon-secure:before {
  content: "\e91f";
}
.egg-icon-star:before {
  content: "\e920";
}
.egg-icon-trending:before {
  content: "\e921";
}
.egg-icon-twitter:before {
  content: "\e922";
}
.egg-icon-usa-flag:before {
  content: "\e923";
}
.egg-icon-user:before {
  content: "\e924";
}
