﻿#circularG {
    position: relative;
    width: 75px;
    height: 75px;
    margin: auto;
    top: 50%;
}

.circularG {
    position: absolute;
    background-color: rgb(199,16,15);
    width: 18px;
    height: 18px;
    border-radius: 11px;
    -o-border-radius: 11px;
    -ms-border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    animation-name: bounce_circularG;
    -o-animation-name: bounce_circularG;
    -ms-animation-name: bounce_circularG;
    -webkit-animation-name: bounce_circularG;
    -moz-animation-name: bounce_circularG;
    animation-duration: 0.96s;
    -o-animation-duration: 0.96s;
    -ms-animation-duration: 0.96s;
    -webkit-animation-duration: 0.96s;
    -moz-animation-duration: 0.96s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#circularG_1 {
    left: 0;
    top: 30px;
    animation-delay: 0.36s;
    -o-animation-delay: 0.36s;
    -ms-animation-delay: 0.36s;
    -webkit-animation-delay: 0.36s;
    -moz-animation-delay: 0.36s;
}

#circularG_2 {
    left: 8px;
    top: 8px;
    animation-delay: 0.48s;
    -o-animation-delay: 0.48s;
    -ms-animation-delay: 0.48s;
    -webkit-animation-delay: 0.48s;
    -moz-animation-delay: 0.48s;
}

#circularG_3 {
    top: 0;
    left: 30px;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

#circularG_4 {
    right: 8px;
    top: 8px;
    animation-delay: 0.72s;
    -o-animation-delay: 0.72s;
    -ms-animation-delay: 0.72s;
    -webkit-animation-delay: 0.72s;
    -moz-animation-delay: 0.72s;
}

#circularG_5 {
    right: 0;
    top: 30px;
    animation-delay: 0.84s;
    -o-animation-delay: 0.84s;
    -ms-animation-delay: 0.84s;
    -webkit-animation-delay: 0.84s;
    -moz-animation-delay: 0.84s;
}

#circularG_6 {
    right: 8px;
    bottom: 8px;
    animation-delay: 0.96s;
    -o-animation-delay: 0.96s;
    -ms-animation-delay: 0.96s;
    -webkit-animation-delay: 0.96s;
    -moz-animation-delay: 0.96s;
}

#circularG_7 {
    left: 30px;
    bottom: 0;
    animation-delay: 1.08s;
    -o-animation-delay: 1.08s;
    -ms-animation-delay: 1.08s;
    -webkit-animation-delay: 1.08s;
    -moz-animation-delay: 1.08s;
}

#circularG_8 {
    left: 8px;
    bottom: 8px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}



@keyframes bounce_circularG {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.3);
    }
}

@-o-keyframes bounce_circularG {
    0% {
        -o-transform: scale(1);
    }

    100% {
        -o-transform: scale(.3);
    }
}

@-ms-keyframes bounce_circularG {
    0% {
        -ms-transform: scale(1);
    }

    100% {
        -ms-transform: scale(.3);
    }
}

@-webkit-keyframes bounce_circularG {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(.3);
    }
}

@-moz-keyframes bounce_circularG {
    0% {
        -moz-transform: scale(1);
    }

    100% {
        -moz-transform: scale(.3);
    }
}
#common-loading {
    z-index: 99999 !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(102, 99, 99, 0.2196078431372549);
    display: none;
}

.cssload-tetrominos {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9999;
    transform: translate(-62px, -53px);
    -o-transform: translate(-62px, -53px);
    -ms-transform: translate(-62px, -53px);
    -webkit-transform: translate(-62px, -53px);
    -moz-transform: translate(-62px, -53px);
}

.cssload-tetromino {
    width: 53px;
    height: 62px;
    position: absolute;
    transition: all ease 0.235s;
    -o-transition: all ease 0.235s;
    -ms-transition: all ease 0.235s;
    -webkit-transition: all ease 0.235s;
    -moz-transition: all ease 0.235s;
    background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}

.cssload-box1 {
    animation: cssload-tetromino1 1.195s ease-out infinite;
    -o-animation: cssload-tetromino1 1.195s ease-out infinite;
    -ms-animation: cssload-tetromino1 1.195s ease-out infinite;
    -webkit-animation: cssload-tetromino1 1.195s ease-out infinite;
    -moz-animation: cssload-tetromino1 1.195s ease-out infinite;
}

.cssload-box2 {
    animation: cssload-tetromino2 1.195s ease-out infinite;
    -o-animation: cssload-tetromino2 1.195s ease-out infinite;
    -ms-animation: cssload-tetromino2 1.195s ease-out infinite;
    -webkit-animation: cssload-tetromino2 1.195s ease-out infinite;
    -moz-animation: cssload-tetromino2 1.195s ease-out infinite;
}

.cssload-box3 {
    animation: cssload-tetromino3 1.195s ease-out infinite;
    -o-animation: cssload-tetromino3 1.195s ease-out infinite;
    -ms-animation: cssload-tetromino3 1.195s ease-out infinite;
    -webkit-animation: cssload-tetromino3 1.195s ease-out infinite;
    -moz-animation: cssload-tetromino3 1.195s ease-out infinite;
    z-index: 2;
}

.cssload-box4 {
    animation: cssload-tetromino4 1.195s ease-out infinite;
    -o-animation: cssload-tetromino4 1.195s ease-out infinite;
    -ms-animation: cssload-tetromino4 1.195s ease-out infinite;
    -webkit-animation: cssload-tetromino4 1.195s ease-out infinite;
    -moz-animation: cssload-tetromino4 1.195s ease-out infinite;
}









@keyframes cssload-tetromino1 {
    0%, 40% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(26px, -15px);
    }

    60%, 100% {
        transform: translate(53px, 0);
    }
}

@-o-keyframes cssload-tetromino1 {
    0%, 40% {
        -o-transform: translate(0, 0);
    }

    50% {
        -o-transform: translate(26px, -15px);
    }

    60%, 100% {
        -o-transform: translate(53px, 0);
    }
}

@-ms-keyframes cssload-tetromino1 {
    0%, 40% {
        -ms-transform: translate(0, 0);
    }

    50% {
        -ms-transform: translate(26px, -15px);
    }

    60%, 100% {
        -ms-transform: translate(53px, 0);
    }
}

@-webkit-keyframes cssload-tetromino1 {
    0%, 40% {
        -webkit-transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(26px, -15px);
    }

    60%, 100% {
        -webkit-transform: translate(53px, 0);
    }
}

@-moz-keyframes cssload-tetromino1 {
    0%, 40% {
        -moz-transform: translate(0, 0);
    }

    50% {
        -moz-transform: translate(26px, -15px);
    }

    60%, 100% {
        -moz-transform: translate(53px, 0);
    }
}

@keyframes cssload-tetromino2 {
    0%, 20% {
        transform: translate(53px, 0px);
    }

    40%, 100% {
        transform: translate(79px, 15px);
    }
}

@-o-keyframes cssload-tetromino2 {
    0%, 20% {
        -o-transform: translate(53px, 0px);
    }

    40%, 100% {
        -o-transform: translate(79px, 15px);
    }
}

@-ms-keyframes cssload-tetromino2 {
    0%, 20% {
        -ms-transform: translate(53px, 0px);
    }

    40%, 100% {
        -ms-transform: translate(79px, 15px);
    }
}

@-webkit-keyframes cssload-tetromino2 {
    0%, 20% {
        -webkit-transform: translate(53px, 0px);
    }

    40%, 100% {
        -webkit-transform: translate(79px, 15px);
    }
}

@-moz-keyframes cssload-tetromino2 {
    0%, 20% {
        -moz-transform: translate(53px, 0px);
    }

    40%, 100% {
        -moz-transform: translate(79px, 15px);
    }
}

@keyframes cssload-tetromino3 {
    0% {
        transform: translate(79px, 15px);
    }

    20%, 60% {
        transform: translate(53px, 30px);
    }

    90%, 100% {
        transform: translate(26px, 15px);
    }
}

@-o-keyframes cssload-tetromino3 {
    0% {
        -o-transform: translate(79px, 15px);
    }

    20%, 60% {
        -o-transform: translate(53px, 30px);
    }

    90%, 100% {
        -o-transform: translate(26px, 15px);
    }
}

@-ms-keyframes cssload-tetromino3 {
    0% {
        -ms-transform: translate(79px, 15px);
    }

    20%, 60% {
        -ms-transform: translate(53px, 30px);
    }

    90%, 100% {
        -ms-transform: translate(26px, 15px);
    }
}

@-webkit-keyframes cssload-tetromino3 {
    0% {
        -webkit-transform: translate(79px, 15px);
    }

    20%, 60% {
        -webkit-transform: translate(53px, 30px);
    }

    90%, 100% {
        -webkit-transform: translate(26px, 15px);
    }
}

@-moz-keyframes cssload-tetromino3 {
    0% {
        -moz-transform: translate(79px, 15px);
    }

    20%, 60% {
        -moz-transform: translate(53px, 30px);
    }

    90%, 100% {
        -moz-transform: translate(26px, 15px);
    }
}

@keyframes cssload-tetromino4 {
    0%, 60% {
        transform: translate(26px, 15px);
    }

    90%, 100% {
        transform: translate(0, 0);
    }
}

@-o-keyframes cssload-tetromino4 {
    0%, 60% {
        -o-transform: translate(26px, 15px);
    }

    90%, 100% {
        -o-transform: translate(0, 0);
    }
}

@-ms-keyframes cssload-tetromino4 {
    0%, 60% {
        -ms-transform: translate(26px, 15px);
    }

    90%, 100% {
        -ms-transform: translate(0, 0);
    }
}

@-webkit-keyframes cssload-tetromino4 {
    0%, 60% {
        -webkit-transform: translate(26px, 15px);
    }

    90%, 100% {
        -webkit-transform: translate(0, 0);
    }
}

@-moz-keyframes cssload-tetromino4 {
    0%, 60% {
        -moz-transform: translate(26px, 15px);
    }

    90%, 100% {
        -moz-transform: translate(0, 0);
    }
}
#image-rending, #mobile-render-waiting {
    width: 100%;
    height: auto;
    display: none;
}
.waiting-render{
    opacity: 0.3;
}
#fountainG{
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(199,16,15);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(199,16,15);
	}

	100%{
	transform:scale(.3);
		background-color:rgba(0,0,0,0.94);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(199,16,15);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgba(0,0,0,0.94);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(199,16,15);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgba(0,0,0,0.94);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(199,16,15);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgba(0,0,0,0.94);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(199,16,15);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgba(0,0,0,0.94);
	}
}