@media (max-width: 1440px) and (min-width: 1301px) {
  .count {
    width: 30px !important;
  }
   .mobile-only:not(.computer-only), .tablet-only:not(.computer-only) {
            display: none !important;
        }
}
@media (max-width: 1300px) and (min-width: 1024px) {
  .egg-box-step {
    padding: 20px 10px;
  }
  .egg-list-whole {
    height: 350px;
  }
  .egg-step-become div span {
    max-width: 72%;
  }
  .egg-item-choose-size select {
    width: 45px;
  }
  .count {
    width: 25px !important;
  }
  .egg-show-number {
    max-width: 36px;
  }
  .info-completed {
    width: 70%;
  }
  .egg-left-your-cart .egg-item-cart-price {
    width: auto;
  }
    .mobile-only:not(.computer-only), .tablet-only:not(.computer-only) {
        display: none !important;
    }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .egg-find {
    width: 175px;
  }
  .egg-banner-banner, .egg-banner-banner a {
    margin: 0 auto;
    font-size: 60px;
  }
  .egg-banner-home {
    padding: 54px 0;
    height: 540px;
  }
  .egg-col-newstyle {
    height: 210px;
  }
  .egg-col-img {
    height: 250px;
  }
  .egg-title {
    font-size: 15px;
    width: 45%;
  }
  .egg-col-newstyle a {
    font-size: 13px;
  }
  .box-img-product {
    /*height: 165px;*/
  }
  .egg-info-product {
    padding: 10px;
  }
  .egg-container {
    width: auto;
  }
  .egg-form-sign {
    width: 330px;
  }
  /*Product*/
  .service-image-left img {
    top: 0% !important;
    left: 50% !important;
    max-width: 100%;
    width: auto !important;
    transform: translateX(-50%);
  }
  .egg-box-img-left {
    height: 450px;
  }
  .egg-box-social-product {
    padding: 15px 0 30px;
  }
  .egg-box-item-category .box-img-product {
    /*height: 165px;*/
  }
  .egg-filter-right {
    float: left;
    margin-top: 20px;
  }
  .modal-size {
    width: auto;
    max-width: 700px;
  }
  .size-showorder {
    width: 90%;
  }
  .egg-left-your-cart {
    width: 100%;
  }
  /*Detail check*/
  .egg-form-shipping-bottom .egg-partner-info {
    float: none;
    width: 100%;
  }
  .egg-form-shipping-bottom .egg-checkout {
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }
  .egg-form-shipping-bottom .egg-checkout button {
    width: 60%;
  }
  /*WHOLE*/
  .egg-text-banner-whole {
    width: 70%;
  }
  .title-banner-whole {
    font-size: 70px;
  }
  .egg-des-banner-whole {
    font-size: 35px;
  }
  .egg-step-1, .egg-step-2, .egg-step-3 {
    display: block;
    text-align: left;
  }
  .egg-box-step {
    text-align: left;
  }
  .box-img-step {
    min-width: 140px;
    text-align: center;
  }
  .row-trend {
    margin-top: 0;
  }
  .item-trend {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .egg-step-become {
    display: block;
    width: 100%;
    border-right: 0;
    max-width: 100%;
    margin-bottom: 15px;
    padding: 0;
  }
  .info-whole .text-info-whole, .tel-mail {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  .egg-item-choose-size select {
    width: 50px;
  }
  .count {
    width: 35px !important;
  }
  .egg-item-cart-price {
    width: auto;
  }
  .egg-item-choose-size {
    width: 35%;
  }
  .egg-form-shipping-bottom .choose-ship label {
    margin-right: 20px;
  }
  .info-completed {
    width: 70%;
  }
}
@media (max-width: 767px) {
    .custom-field-form .multi-field{
        padding:5px 0 !important;
    }
  .short-payment .row-payment{
    width: 100% !important;
    margin-right: 2%;
  }
  .short-payment img {
    width: 15%;
  }

  .egg-container {
    width: auto;
  }
  .egg-sign-up .egg-container {
    display: block;
    overflow: hidden;
  }
  .egg-text-sign {
    display: block !important;
    width: 100% !important;
  }
  .egg-box-form {
    display: block !important;
    padding: 0 20px;
  }
  .egg-form-sign {
    width: 100% !important;
  }
  .egg-find {
    width: 175px;
  }
  .egg-banner-home {
    padding: 20px 0;
    height: 145px !important;
  }
  .egg-banner-banner, .egg-banner-banner a {
    margin: 0 auto !important;
    font-size: 20px !important;
  }
  .egg-bar-top {
    display: none;
  }
  .egg-col-newstyle {
    height: 103px !important;
    padding: 10px !important;
  }
  .egg-title {
    font-size: 10px !important;
    width: 40% !important;
  }
  .egg-col-newstyle a {
    font-size: 12px !important;
  }
  .egg-col-newstyle a i {
    margin-left: 5px !important;
  }
  .egg-col-img {
    height: 124px !important;
  }
  .egg-last-img .egg-col-img {
    height: 104px;
  }
  .egg-title-heading {
    font-size: 15px !important;
    padding: 17px 0 15px !important;
  }
  .box-img-product {
    /*height: 150px;*/
  }
  .egg-item-product {
    padding: 0;
    border: 0.5px solid #E6E6E6;
    border-bottom: 0;
  }
  /*.egg-item-product*/
  .egg-info-product {
    margin-bottom: 0 !important;
    padding: 10px 15px !important;
  }
  .egg-title-product, .egg-title-product a {
    font-size: 11px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .egg-new-price {
    font-size: 13px !important;
  }
  .egg-box-color {
    padding-bottom: 0;
  }
  .egg-border-ship {
    border: 0.5px solid #E6E6E6;
  }
  .egg-content-ship:before {
    font-size: 19px !important;
    top: 4px !important;
  }
  .egg-content-ship {
    padding-left: 23px !important;
    font-size: 10px !important;
  }
  .egg-title-ship {
    padding-top: 15px;
  }
  .egg-add-table {
    display: table;
    /*flex-direction: row; */
  }
  .egg-border-ship {
    display: table-cell;
    height: 100px;
    padding-left: 8px;
    padding-right: 0;
  }
  /*header*/
  .navbar-toggle {
    border: none;
    padding-right: 0;
    margin-right: 0;
  }
  .navbar-toggle .icon-bar {
    background: #000;
  }
  .navbar-brand img {
    width: 120px;
    padding-top: 15px !important;
  }
  .egg-icon-menu {
    float: right;
    margin-top: 18px;
    display: inline-block !important;
  }
  .egg-icon-menu i{
    margin-right: 13px !important;
  }
  .egg-icon-menu a {
    color: #000;
  }
  .egg-nav-mobile {
    display: none;
  }
  .navbar-nav .open .egg-dropdown-menu {
    background-color: #fff;
  }
  .open .egg-dropdown-menu {
    display: block;
  }
  .navbar-inverse .container-fluid{
    padding: 0;
  }
  .egg-wrapper .navbar-nav {
    margin: 0 -15px;
  }
  .open .dropdown-menu {
    border-radius: 0;
  }
  .navbar-collapse {
    box-shadow: none;
    border-top: 0;
  }
  .dropdown-toggle .egg-icon-arrow-up {
    float: right;
    margin-top: 7px;
    transform: rotate(180deg);
  }
  .open .dropdown-toggle .egg-icon-arrow-up {
    margin-top: 7px;
    transform: rotate(0deg);
  }
  .egg-list-sub-menu {
    display: block;
    width: 100%;
  }
  .navbar-inverse {
    position: absolute;
    top: 50px;
    z-index: 22;
    width: 100%;
  }
  .egg-form-header-mobile {
    position: absolute !important;
    width: 100%;
    left: 0 !important;
    z-index: 23 !important;
    height: 40px !important;
    bottom: -40px !important;
    border: 1px solid #ddd !important;
    background: #fff !important;
    padding: 0px 0  !important;
    display: none;
  }
  .egg-form-header-mobile input, .egg-form-header-mobile button {
    /*height: 40px !important;*/
  }
  .dropdown-toggle .egg-icon-arrow-up {
    visibility: visible;
  }
  .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a span, .navbar-inverse .navbar-nav>li>a:focus span, .navbar-inverse .navbar-nav>li>a:hover span{
    transform: unset !important;
  }
  /*end header*/
  .egg-newest {
    padding-bottom: 0;
  }
  .egg-newest .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .egg-heading-newest {
    font-size: 15px !important;
    padding: 17px 0 15px !important;
  }
  .egg-ship {
    padding: 0;
  }
  .box-egg-ship {
    width: 100% !important;
  }
  .egg-text-sign {
    text-align: center !important;
    padding-right: 0 !important;
    margin-bottom: 14px !important;
  }
  .slick-next {
    /*left: 0;*/
    right: 15px;
  }
  .slick-prev {
    left: 15px;
    z-index: 2;
  }

  /*Product*/

  .egg-info-product-mobile {
    display: block !important;
  }
  .service1-items {
    display: none;
  }
  .service1-items-mobile {
    display: block !important;
    margin-top: 15px;
  }
  .service-image-left {
    order: 1;
  }
  .egg-box-social-product {
    display: none;
  }
  .egg-box-img-left {
    display: block;
    height: auto!important;
    clear: left;
  }
  .service-image-left img {
    max-width: 100% !important;
    width: 100% !important;
    height: auto !important;
    padding-bottom: 15px;
    position: unset !important;

    /*left: 50%;
    transform: translateX(-50%);*/
  }
  .service1-item {
    display: inline-block;
  }
  .service1-items {
    height: auto !important;
  }
  .fix-padding-mobile {
    padding-left: 0;
    padding-right: 0;
  }
  .product-title {
    font-size: 14px !important;
  }
  .egg-box-price {
      margin-top: 2px !important;
    font-size: 9.6px;
  }
  .egg-form-note-cart {
    margin-top: 0px !important;
}
  .egg-new-price, .egg-old-price-detail, .egg-time-sale, .egg-btn-sale {
    /*font-size: 14px;*/
  }
  .egg-list-product-detal {
    white-space: nowrap;
    overflow-x: auto;
  }
  .egg-btn-cart {
    margin-top: 15px;
    width: 100% !important;
    overflow: hidden;
  }
  .egg-rate {
    overflow: hidden;
    width: 100%;
  }
  .egg-box-detail-info {
    overflow: hidden;
    padding: 2px 22px 10px 22px !important;
  }
  .egg-fix-item {
    margin-top: 10px;
  }
  .egg-item-right {
    width: 50%;
    float: left;
    min-height: 114px;
  }
  .egg-slider-detail {
    padding: 0 !important;
  }
  .egg-slider-detail .egg-item-product {
    padding: 0 5px;
  }
  .egg-slider-detail .egg-item-product {
    border: none;
  }
  .egg-product-more {
    padding: 20px 7px;
  }
  .egg-info-product-mobile {
    clear: left;
    width: 100%;
  }
  .egg-title-product-mobile {
    width: 70%;
    float: left;
    font-family: 'Roboto Condensed';
    font-size: 10px;
    color: #2A2B30;
    letter-spacing: -0.25px;
    text-transform: uppercase;
    line-height: 1.2;
  }
  .service-image-left {
    padding: 0 15px !important;
  }
  .egg-choose-share {
    float: right;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 10px;
    color: #000000;
    line-height: 1.2;
    letter-spacing: 0;
    
  }
  .egg-share-mobile {
    text-align: right;
    position: relative;
  }
  .egg-share-mobile>ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    z-index: 2;
  }
  .egg-share-mobile>ul>li {
    padding: 3px 0;
  }
  .top-menu {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
    border-bottom: solid 1px;
  }

  /*-----------CATEGORY-------------*/
  .box-img-banner {
    height: 134px;
  }
  .egg-des-banner {
    width: 75%;
  }
  .egg-title-banner {
    font-size: 16px;
  }
  .egg-des-banner {
    font-size: 10px;
  }
  .egg-filter-left {
    display: none;
  }
  .egg-filter-right {
    float: none;
  }
  .egg-filter-right select {
    width: 100%;
    min-width: auto;
    max-width: 100%;
  }
  .egg-item-category {
    margin-right: 0 !important;
    width: 50% !important;
  }
  .egg-box-item-category .box-img-product {
    /*height: 150px;*/
  }
  .egg-item-category {
    margin-bottom: 0;
  }
  .egg-viewmore {
    width: 100%;
    margin-top: 10px;
  }
  .egg-box-cat {
    padding : 20px 0 14px;
  }
  .egg-fixed-filter {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: #000;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 14px;
    z-index: 2;
    box-shadow: 2px 0px 4px 0 #fff;

  }
  .egg-fixed-filter i {
    margin-right: 10px;
  }
  .egg-list-show-filter [type="checkbox"]:not(:checked),
  .egg-list-show-filter [type="checkbox"]:checked {
    position: relative;
    left: 0px;
  }
  .egg-apply {
    display: block;
  }
  .egg-viewmore {
    height: 44px;
    padding: 10px 0;
  }
  .egg-open-list {
    display: block !important;
  }
  .egg-list-show-filter>li {
    position: relative;
  }
  .egg-list-show-filter>li:before {
    position: absolute;
    content: "\e905";
    right: 20px;
    top: 15px;
    font-family: "Egg-Icon";
  }
  .egg-list-show-filter>li.egg-toggle-add:before {
    content: "\e929";
    font-family: "Egg-Icon";
  }

  /*-----------------------------SEARCH -----------------*/
  .egg-left-search {
    display: none;
  }
  .egg-box-paging .pagination>.paging-disable {
    display: none;
  }
  .egg-box-paging .pagination {
    float: none;
  }
  .egg-box-main-search .egg-fixed-filter {
    position: fixed;
  }
  .egg-box-main-search .egg-list-show-filter li .egg-sub-filter {
    display: none;
  }
  .egg-left-search.egg-open {
    display: block;
    bottom: 0;
    left: 100%;
    width: 100%;
    margin: 0;
  }

  /*------------------------------POPUP DETAIL PRODUCT---------------------------------*/
  .modal-size {
    width: auto;
  }
  .egg-nav-tab-size {
    text-align: center;
  }
  .egg-nav-tab-size>li {
    display: inline-block;
    float: none;
  }
  .egg-content-tabs-size {
    margin: 0;
  }
  .egg-fix-padding-tab {
    padding: 0;
  }
  .egg-box-content-tabsize {
    padding: 0 15px;
  }
  /*---------------------- POPUP SUGGEST --------------------*/
  .size-showorder {
    width: 95% !important;
    max-width: 100% !important;
  }
  .egg-table-order thead {
    display: none;
  }
  .mobile-disable-order {
    display: none;
  }
  .egg-count-number.mobile-order {
    margin-left: 10px;
  }
  .egg-select-guys.mobile-order {
    margin-top: 8px;
  }
  .fix-padding-order-mobile {
    padding: 10px 10px !important;
  }
  .mobile-order {
    display: inline-block !important;
  }
  .eff-text-right.egg-price-popup{
    width: 22% !important;
  }
  .egg-table-order tr, .egg-table-order td {
    clear: both;
  }
  .egg-bought {
    width: 100%;
    margin-top: 15px;
  }
  .egg-checkout a {
    position: relative !important;
    display: block;
    margin-bottom: 20px;
    text-decoration: underline !important;
  }
  .egg-checkout a:before {
      display: none !important;
  }
  /*fix header*/
  .egg-form-header:before {
    content: "";
  }
  .egg-form-shipping-bottom {
    padding-top: 15px !important;
  }
  /*-------------------------------YOUR ORDER------------------------------------------*/
  .egg-left-your-cart .egg-add-another {
    padding-bottom: 20px;
  }
  .slider-like {
    padding: 25px 0;
  }
  .egg-left-your-cart {
    width: 100% !important;
  }
  .egg-item-cart-content {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .egg-item-choose-size {
    width: 65% !important;
  }
  .egg-item-cart-img {
    vertical-align: top;
  }
  .egg-item-cart-price {
    width: auto !important;
    float: right !important;
  }
  .egg-left-your-cart .count {
    width: 23px;
  }
  .egg-left-your-cart .egg-show-number {
    max-width: 45px; 
  }
  .egg-left-your-cart .egg-item-cart {
    clear: both;
    padding: 16px 0;
  }
  .egg-item-choose-size select {
    width: 38px;
  }
  .fix-container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .egg-left-your-cart .egg-item-cart {
    padding: 16px 10px !important;
  }
  .egg-box-top-right-cart .egg-item-right {
    width: 100%;
  }
  .egg-right-your-cart .egg-item-right {
    min-height: auto;
  }
  .egg-partner-info .egg-item-right p {
    display: block;
  }
  .egg-note-info {
    clear: both;
    border-top: 1px solid #E9E9E9;
  }
  .egg-note-info p {
    padding: 10px 10px 0;
  }
  .egg-form-shipping .input-50 {
    width: 100% !important;
  }
   .egg-form-shipping .input-25 {
    width: 48% !important;
  }
  .egg-form-shipping-bottom .choose-ship label {
    margin-right: 0;
  }
  .row-payment label {
    width: 100% !important;
    text-align: left !important;
    margin-right: 0 !important;
    margin-bottom: 7px !important;
  }
  .list-pay .choose-ship:first-child {
    margin-right: 0 !important;
}
  .row-payment input {
    width: 100% !important;
  }
  .row-payment {
    margin-top: 5px !important;
    clear: both;
  }
  .row-payment-short {
    width: 40%;
    display: inline-block;
  }
  .box-row-payment {
    width: 100% !important;
  }
  .egg-form-shipping-bottom .egg-partner-info {
    width: 100% !important;
  }
  .egg-form-shipping-bottom .egg-partner-info .egg-item-right {
    width: 100%;
    padding: 10px 0;
    min-height: auto;
  }
  .egg-box-your-cart {
    margin: 0 0 20px !important;
  }
  .egg-form-shipping-bottom .egg-checkout {
    padding-top: 10px;
    width: 100% !important;
  }
  .egg-list-order-summary .egg-item-choose-size {
    width: 68%;
  }
  .egg-list-order-summary .count{
    width: 23px;
  }
  .egg-list-order-summary .egg-show-number {
    max-width: 50px; 
  }
  .egg-text-banner-whole {
    width: 70% !important;
  }
  .title-banner-whole {
    font-size: 20px !important;
    margin-bottom: 10px;
  }
  .egg-step-1, .egg-step-2, .egg-step-3 {
    display: block !important;
  }
  .egg-banner-wholesale, .egg-box-banner-whole {
    height: 117px !important;
  }
  .egg-box-step {
    min-height: auto !important;
  }
  .title-banner-whole:before {
    height: 3px;
  }
  .egg-des-banner-whole {
    font-size: 7.5px !important;
  }
  .box-des-banner-whole {
    margin-top: 5px !important;
  }
  .egg-box-step {
    padding: 14px 5px !important;
    text-align: left !important;
  }
  .box-img-step {
    width: 18%;
  }
  .box-text-step h3 {
    font-size: 16px !important;
  }
  .box-text-step p {
    font-size: 8px !important;
    line-height: 1.5 !important;
  }
  .egg-heading-whole {
    font-size: 15px;
  }
  .our-product {
    padding: 30px 0;
  }
  .slider-whole {
    padding: 0 !important;
  }
  .egg-list-whole {
    height: 250px;
  }
  .egg-download {
    font-size: 20px;
    padding: 25px 0;
  }
  .item-trend {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .item-trend:nth-child(3n) {
    margin-right: 0;
  }
  .row-trend {
    margin-top: 0;

  }
  .egg-heading-trend {
    padding: 30px 0 30px;
  }
  .hot-trand {
    padding-bottom: 30px;
  }
  .egg-step-become {
    max-width: 100% !important;
    padding: 0px !important;
    border-right: 0 !important;
    margin-bottom: 10px;
  }
  /*8*/
  .info-completed {
    width: 100% !important;
    padding: 10px 17px !important;
  }
  .completed .egg-icon-payment-completed {
    font-size: 44px;
  }
  .completed h2 {
    font-size: 20px;
  }
  .completed {
    padding: 20px 0 25px;
  }
  

  /*FIX*/
  .nav.navbar-nav>li {
    border-bottom: 1px solid #232323;
  }
  .egg-right-search .egg-item-category {
    border: 0.5px solid #E6E6E6; 
  }
  .egg-box-filter-category .egg-right-search .egg-filter-left, 
  .egg-box-main-search .egg-right-search .egg-filter-left {
    display: block;
  }
  .egg-box-main-search .egg-right-search .egg-filter-cat{
      padding-top: 0;
      font-size: 12px;
  }

  .egg-box-main-search .egg-right-search .egg-filter-cat .egg-text-notify-search,
  .egg-box-main-search .egg-right-search .egg-filter-cat .egg-text-notify-search span{
      font-size: 12px;
  }
  .egg-box-paging .pagination {
    text-align: center;
  }
  .egg-box-paging .pagination>li {
    margin-left: 5px;
    margin-right: 5px;
  }
  .egg-item-category {
    border: 0.5px solid #E6E6E6;
  }
  .info-whole .text-info-whole {
    width: 100% !important;
  }
  .info-whole p {
    width: 100%;
    text-align: left;
    margin-top: 15px;
  }
  .info-whole {
    padding: 18px 0;
  }
  .slider-like .egg-info-product {
    padding: 15px 15px 0;
  }
  .egg-box-paging .pagination>li>a, .egg-box-paging .pagination>li>span {
    width: 40px;
  }
  .egg-info-product .egg-price {
    margin-top: 5px;
  }
    .day-progress .order-progress-day{
        width: 100% !important;
        text-align: left !important;
        padding: 5px 15px;
    }
    .date-time-select {
        width: 100% !important;
        margin: 5px 0;
    }
    .mobile-only, .mobile-center-title {
        display: block !important;
    }
    .egg-box-social-product.mobile-only{
        padding: 10px 0 !important;
    }
    .item-size {
        margin: 5px 12px 5px 0 !important;
        width: 35px !important;
        height: 34px !important;
        line-height: 33px !important;
    }
    .modal-size{
        width: 95% !important;
    }
    .mobile-padding-0{
        padding: 0 !important;
    }
    .embed-video{
        height: auto !important;
    }
    .buy-video{
        height: 350px !important;
    }
    .mobile-text-center {
        text-align: center !important;
    }
    .link-right {
        padding-right:5px !important;
        font-size: 13px !important;
    }
    .egg-icon-trending:before {
        font-size: 17px !important;
    }
    .computer-only:not(.mobile-only), .tablet-only:not(.mobile-only) {
        display: none !important;
    }
    ._qpo{
        min-width:unset !important;
    }
    .top-process-bar .process-step {
        font-size: 12px !important;
        padding: 9px 5px 9px 10px !important;
    }

    .process-step .completed-step {
        font-size: 15px !important;
    }

    .top-process-bar .process-step:after, .top-process-bar .process-step:before {
        border-bottom: 19px solid transparent !important;
    }

    .egg-partner-info .egg-item-left {
        text-align: center;
        margin-bottom: 10px;
    }

    .box-row-payment img {
        display: none;
    }

    .xs-p-lr-15 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .top-process-bar {
        margin: 5px 0 !important;
    }
    .egg-checkout button.step-button {
        font-size: 13px;
    }
    .egg-checkout button {
        height: 45px !important;
    }
    .egg-content-tabs{
        padding: 15px !important;
    }
}
@media (max-width: 767px) and (min-width: 414px) {
  .item-trend {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 414px) {
    .top-process-bar .process-step {
        font-size: 11px !important;
        padding: 9px 3px 9px 6px !important;
    }

    .process-step .completed-step {
        font-size: 13px !important;
    }
    .row-payment.mb-not-lable label {
        display: none !important;
    }
    .short-payment.mb-not-lable label{
        font-size:11px !important;
        margin-bottom: 0 !important;
    }
    .row-payment{
        margin-top: 0 !important;
    }
    .egg-form-shipping.egg-shipping-payment-tabs{
        padding: 15px !important;
        border-bottom: none !important;
    }
    .egg-btn-cart{
        margin-top: 15px !important;
        width:100% !important;
    }
    .egg-count-number {
        height: 35px !important;
        font-size: 20px !important;
    }
    .payment-method-error{
        padding: 0!important;   
    }
    .rate-list{
        width:100% !important;
    }
    .rate-score{
        width:100% !important;
        padding: 0 !important;
        margin-top:10px;
    }
    .product-info .nav-tabs li{
        width: calc(100%/3) !important;
    }
    .product-info .nav-tabs li a{
        padding: 15px 0 !important;
        text-align: center;
    }
}
@media (max-width: 350px){
    .egg-new-price, .egg-old-price-detail, .egg-time-sale, .egg-btn-sale {
         font-size: 10px !important; 
    }
    .process-step {
        width: 90% !important;
        margin-left: auto !important;
        max-width: unset !important;
        margin-top: 5px !important;
    }

        .process-step .step-name i {
            display: initial !important;
            font-size: 14px;
            vertical-align: sub;
        }

    .egg-form-shipping .input-25 {
        width: 100% !important;
    }
     .product-info .nav-tabs li{
        width: calc(100%/3) !important;
    }
    .product-info .nav-tabs li a{
        padding: 15px 0 !important;
        text-align: center;
    }
    .rate-list {
        width: 100% !important;
    }

    .rate-score {
        width: 100% !important;
        padding: 0 !important;
        margin-top: 10px;
    }
}