﻿@import url("https://fonts.googleapis.com/css?family=Lato");

@-webkit-keyframes shake {
    from,to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    10% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    20% {
        -webkit-transform: translate3d(8px, 0, 0);
        transform: translate3d(8px, 0, 0)
    }

    30% {
        -webkit-transform: translate3d(-6px, 0, 0);
        transform: translate3d(-6px, 0, 0)
    }

    40% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }

    50% {
        -webkit-transform: translate3d(-3px, 0, 0);
        transform: translate3d(-3px, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0)
    }

    70% {
        -webkit-transform: translate3d(-2px, 0, 0);
        transform: translate3d(-2px, 0, 0)
    }

    80%,90% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes shake {
    from,to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    10% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    20% {
        -webkit-transform: translate3d(8px, 0, 0);
        transform: translate3d(8px, 0, 0)
    }

    30% {
        -webkit-transform: translate3d(-6px, 0, 0);
        transform: translate3d(-6px, 0, 0)
    }

    40% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }

    50% {
        -webkit-transform: translate3d(-3px, 0, 0);
        transform: translate3d(-3px, 0, 0)
    }

    60% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0)
    }

    70% {
        -webkit-transform: translate3d(-2px, 0, 0);
        transform: translate3d(-2px, 0, 0)
    }

    80%,90% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes spCircRot {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spCircRot {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.subscribe-messenger-widget *, .subscribe-messenger-widget *:before, .subscribe-messenger-widget *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.subscribe-messenger-widget {
    text-align: center;
    padding: 10px 5px;
    clear: both
}

.subscribe-messenger-widget__title {
    font-family: "Lato",sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #444;
    margin: 0;
    padding: 0
}

.subscribe-messenger-widget__subtitle {
    font-family: "Lato",sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #727272;
    margin: 5px 0 0 0;
    padding: 0
}

.subscribe-messenger-widget .subscribe-messenger-widget__box {
    margin-top: 15px
}

.subscribe-messenger-widget._rmp-template--basic {
    overflow: hidden;
    clear: both
}

.subscribe-messenger-widget__button {
    width: 100%;
    max-width: 362px;
    color: #ffffff;
    background-color: #24b7e3;
    border: 0;
    border-radius: 5px;
    font-family: "Lato",sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 0;
    margin: 8px 0 0 0 !important;
    cursor: pointer;
    height: 60px;
}

    .subscribe-messenger-widget__button span {
        font-family: "Lato",sans-serif;
        font-size: 16px;
        line-height: 18px;
        font-weight: bold;
        text-align: center;
        display: block
    }

        .subscribe-messenger-widget__button span.subscribe-messenger-widget__button-copy-text {
            display: none
        }

    .subscribe-messenger-widget__button:focus {
        outline: none
    }

.subscribe-messenger-widget .fb-messenger-checkbox span {
    display: inline-block
}

.subscribe-messenger-widget-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 73px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    overflow: hidden;
    max-width: 360px;
    margin: 0 auto;
    text-align: left
}

.subscribe-messenger-widget-box__icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 65px;
    background-color: #24b7e3;
    border-right: 1px solid #d4d4d4;
    text-align: center
}

    .subscribe-messenger-widget-box__icon-container::after, .subscribe-messenger-widget-box__icon-container::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 0;
        height: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    .subscribe-messenger-widget-box__icon-container::before {
        margin-top: -12px;
        border-bottom: 12px solid transparent;
        border-top: 12px solid transparent;
        border-left: 12px solid #d4d4d4
    }

    .subscribe-messenger-widget-box__icon-container::after {
        margin-top: -12px;
        right: 1px;
        border-bottom: 12px solid transparent;
        border-top: 12px solid transparent;
        border-left: 12px solid #24b7e3
    }

.subscribe-messenger-widget-box__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: "Lato",sans-serif;
    padding: 0 5px;
    background: #fff
}

    .subscribe-messenger-widget-box__content p {
        font-family: "Lato",sans-serif;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        margin: 0;
        display: none
    }

.subscribe-messenger-widget-box__discount-icon {
    position: relative;
    display: inline-block;
    max-height: 46px
}

    .subscribe-messenger-widget-box__discount-icon span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        color: #fff;
        font-family: "Lato",sans-serif;
        font-size: 25px;
        line-height: 25px
    }

.subscribe-messenger-widget-box__discount-icon-bg {
    fill: #fdcd3d !important;
    background: transparent !important
}

.subscribe-messenger-widget-box__check-icon {
    fill: #33d06a !important;
    background: transparent !important
}

.subscribe-messenger-widget-box__loading-icon {
    display: none;
    background: transparent !important
}

.subscribe-messenger-widget-box__check-icon {
    display: none
}

._rmp-state--loading .subscribe-messenger-widget-box__discount-icon {
    display: none
}

._rmp-state--loading .subscribe-messenger-widget-box__loading-icon {
    display: block
}

._rmp-state--loading .subscribe-messenger-widget-box__content-widget {
    opacity: 0.5
}

._rmp-state--discount-code .subscribe-messenger-widget-box__discount-icon {
    display: none
}

._rmp-state--discount-code .subscribe-messenger-widget-box__check-icon {
    display: block
}

._rmp-state--discount-code .subscribe-messenger-widget__button-discount-text {
    display: none
}

._rmp-state--discount-code span.subscribe-messenger-widget__button-copy-text {
    display: block
}

._rmp-state--discount-code .subscribe-messenger-widget-box__content-widget {
    display: none
}

._rmp-state--discount-code .subscribe-messenger-widget-box__content p {
    padding-left: 10px;
    padding-right: 10px
}

    ._rmp-state--discount-code .subscribe-messenger-widget-box__content p, ._rmp-state--discount-code .subscribe-messenger-widget-box__content p span {
        color: #33d06a;
        display: inline-block;
        font-family: "Lato",sans-serif
    }

._rmp-state--discount-code .subscribe-messenger-widget__button {
    color: #818181;
    /*background-color: #eef1f5;*/
}

._rmp-state--unchecked .subscribe-messenger-widget-box {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

._rmp-hidden, ._rmp-state--error, ._rmp-state--initial .subscribe-messenger-widget__subscribed-text, .subscribe-messenger-widget:not(._rmp-state--subscribed) .subscribe-messenger-widget__subscribed-text, ._rmp-state--subscribed .subscribe-messenger-widget__text {
    display: none !important
}

.subscribe-messenger-widget._rmp-state--not-loaded {
    width: 0 !important;
    height: 0 !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important
}

._rmp-clipboard-target {
    border: none;
    background: transparent;
    color: transparent;
    position: fixed;
    top: -10000px;
    left: -10000px;
    z-index: 9999;
    font-size: 1pt
}

._rmp-fb-force .fb_iframe_widget {
    display: block !important
}

._rmp-fb-force .fb-messenger-checkbox span {
    vertical-align: bottom !important;
    min-height: 45px !important;
    overflow: hidden !important
}

    ._rmp-fb-force .fb-messenger-checkbox span iframe {
        border: none !important;
        visibility: visible !important;
        min-height: 45px !important
    }

.subscribe-loading-icon {
    width: 24px;
    height: 24px;
    clear: both;
    margin: 0
}

.subscribe-loading-circle {
    border: 4px #d4d4d4 solid;
    border-top: 4px #a4a5a6 solid;
    border-radius: 50%;
    -webkit-animation: spCircRot .6s infinite linear;
    animation: spCircRot .6s infinite linear
}

._rmp-type--atc_widget [center_align="true"] {
    text-align: center
}

    ._rmp-type--atc_widget [center_align="true"] ~ .subscribe-messenger-widget__status-container p {
        text-align: center
    }

._rmp-type--atc_widget [center_align="false"] {
    text-align: left
}

    ._rmp-type--atc_widget [center_align="false"] iframe {
        margin-left: -12px
    }

    ._rmp-type--atc_widget [center_align="false"] ~ .subscribe-messenger-widget__status-container {
        text-align: left
    }

._rmp-type--atc_widget [size="small"] ~ .subscribe-messenger-widget__status-container p {
    font-size: 10px
}

._rmp-type--atc_widget [size="large"] ~ .subscribe-messenger-widget__status-container p {
    font-size: 13px
}

._rmp-type--atc_widget [size="xlarge"] ~ .subscribe-messenger-widget__status-container p {
    font-size: 15px
}

._rmp-type--atc_widget [skin="dark"] ~ .subscribe-messenger-widget__status-container p {
    color: #fff
}

@media only screen and (max-width: 385px) {
    ._rmp-type--discount_widget .fb_iframe_widget {
        max-width: 180px
    }
}
