﻿@model Nop.Admin.Models.Customers.SubscribeCustomerModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = "Subscribe Customers";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("SubscribeCustomer");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <div class="pull-left">
            <h1>
                Subscribe Customers
            </h1>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="smsMarketing-grid"></div>

                        <script>
                        $(document).ready(function () {
                            $("#smsMarketing-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("SubscribeCustomerList", "SubscribeCustomer"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                dataBound: onDataBound,
                                columns: [
                                    {
                                        field: "CustomerId",
                                        template: '<a target="_blank" href="@Url.Content("~/Admin/Customer/Edit/")#=CustomerId#">#:CustomerId#</a>',
                                        title: "Customer",
                                        width: 200
                                    }, {
                                        field: "ProductId",
                                        template: '<a target="_blank" href="@Url.Content("~/Admin/Product/Edit/")#=ProductId#">#:ProductId#</a>',
                                        title: "Product",
                                        width: 200,
                                    }, {
                                        field: "UserRef",
                                        title: "UserRef",
                                        width: 150,
                                    }, {
                                        field: "CreatedDate",
                                        title: "CreatedDateUTC",
                                        width: 150,
                                        type: "date",
                                        format: "{0:G}"
                                    }
                                ]
                            });
                        });
                        </script>

                        <script type="text/javascript">
                        var selectedIds = [];
                        $(document).ready(function() {
                            $('#search-smsMarketings').click(function () {
                                var grid = $('#smsMarketing-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });

                             //"delete selected" button
                                $('#delete-selected').click(function(e) {
                                    e.preventDefault();

                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);

                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeleteSelected", "SMSMarketing"))",
                                        data: postData,
                                        complete: function(data) {
                                            //reload grid
                                            var grid = $('#smsMarketing-grid').data('kendoGrid');
                                            grid.dataSource.page(1); //new search. Set page size to 1
                                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                                            //clear selected checkboxes
                                            $('.checkboxGroups').attr('checked', false).change();
                                            selectedIds = [];
                                        },
                                        error: function(xhr, ajaxOptions, thrownError) {
                                            alert(thrownError);
                                        },
                                        traditional: true
                                    });
                                    return false;
                                });

                                $('#mastercheckbox').click(function() {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#smsMarketing-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function(e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    } else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function(item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox();
                            });
                        });


                        function additionalData() {
                            var data = {};
                            addAntiForgeryToken(data);
                            return data;
                        }

                        function onDataBound(e) {

                            $('#smsMarketing-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                var currentId = $(this).val();
                                var checked = jQuery.inArray(currentId, selectedIds);
                                //set checked based on if current checkbox's value is in selectedIds.
                                $(this).attr('checked', checked > -1);
                            });

                            updateMasterCheckbox();
                        }

                        function updateMasterCheckbox() {
                            var numChkBoxes = $('#smsMarketing-grid input[type=checkbox][id!=mastercheckbox]').length;
                            var numChkBoxesChecked = $('#smsMarketing-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                        }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
