﻿@model CampaignMessengerModel

@using Nop.Admin.Models.SubscribeMessenger;
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.Name)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.AttachmentType)
                </div>
                <div class="col-md-9">
                    <div class="raw">
                        <div class="col-md-1">
                            <div class="radio">
                                <label>
                                    @Html.RadioButton("AttachmentType", "Image", (Model.AttachmentType == "Image"), new { id = "AttachmentType_Image" })
                                    Image
                                </label>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="radio">
                                <label>
                                    @Html.RadioButton("AttachmentType", "Video", (Model.AttachmentType == "Video"), new { id = "AttachmentType_Video" })
                                    Video
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.AttachmentUrl)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.AttachmentUrl)
                    @Html.ValidationMessageFor(model => model.AttachmentUrl)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.TextMessage)
                </div>
                <div class="col-md-9">
                    @Html.NopTextAreaFor(model => model.TextMessage)
                    @Html.ValidationMessageFor(model => model.TextMessage)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.Link)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.Link)
                    @Html.ValidationMessageFor(model => model.Link)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.CallToAction)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.CallToAction)
                    @Html.ValidationMessageFor(model => model.CallToAction)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.PageView)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.PageView)
                    @Html.ValidationMessageFor(model => model.PageView)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ActionType)
                </div>
                <div class="col-md-9">
                    <div class="raw">
                        <div class="col-md-2">
                            <div class="radio">
                                <label>
                                    @Html.RadioButton("ActionType", "View", (Model.ActionType == "View"), new { id = "ActionType_View" })
                                    View
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="radio">
                                <label>
                                    @Html.RadioButton("ActionType", "Add2Cart", (Model.ActionType == "Add2Cart"), new { id = "ActionType_Add2Cart" })
                                    Add2Cart
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="radio">
                                <label>
                                    @Html.RadioButton("ActionType", "Purchage", (Model.ActionType == "Purchage"), new { id = "ActionType_Purchage" })
                                    Purchage
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.Id != 0)
        {
            @Html.Partial("_ListCampaignInterest", Model)
        }
    </div>
</div>
