﻿@model CampaignInterestModel

@using Nop.Admin.Models.SubscribeMessenger;
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model=>model.CampaignMessengerId)

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('customer-edit');
    });
</script>


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.Name)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.Type)
                </div>
                <div class="col-md-9">
                    <div class="raw">
                        <div class="col-md-2">
                            <div class="radio">
                                <label>
                                    @Html.RadioButton("Type", "Category", (Model.Type == "Category"), new { id = "Type_Category" })
                                    Category
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="radio">
                                <label>
                                    @Html.RadioButton("Type", "Keyword", (Model.Type == "Keyword"), new { id = "Type_Keyword" })
                                    Keyword
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" id="group_field_keyword">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.Keyword)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.Keyword)
                    @Html.ValidationMessageFor(model => model.Keyword)
                </div>
            </div>
            <div class="form-group" id="group_field_category">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.CateogryId)
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownListFor(model => model.CateogryId, Model.AvailableCategories)
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('input[type=radio][name=Type]').change(function () {
            changeType(this.value);
        });

        function changeType(value) {
            if (value == 'Category') {
                $('#group_field_keyword').hide();
                $('#group_field_category').show();
            }
            else if (value == 'Keyword') {
                $('#group_field_keyword').show();
                $('#group_field_category').hide();
            }
        }

        changeType('@Model.Type');
    });
</script>
