﻿@model Nop.Admin.Models.SubscribeMessenger.CampaignMessengerModel


<div class="panel-body">
    <div class="row" style="border-bottom:solid 1px #ddd">
        <div class="col-md-12">
            <h3><b>Campaign Interest</b></h3>
            <br />
            <div style="padding:20px">
                <a href="@Url.Action("CreateCampaignInterest", "CampaignMessenger",new {CampaignMessengerId= Model.Id })" class="btn bg-blue">
                    <i class="fa fa-plus-square"></i>Add new
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="campaignInterest-grid"></div>
        </div>
    </div>
    <script>
            $(document).ready(function() {
                $("#campaignInterest-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("CampaignInterestList", "CampaignMessenger", new { campaignMessengerId = Model.Id }))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        requestEnd: function(e) {
                            if (e.type == "create" || e.type == "update") {
                                this.read();
                            }
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        numeric: false,
                        previousNext: false,
                        info: false
                    },
                    scrollable: false,
                    columns: [
                        {
                            field: "Name",
                            title: "Name",
                            width: 250
                        },
                        {
                            field: "Type",
                            title: "Type",
                            width: 100
                        },
                        {
                            field: "CategoryName",
                            title: "CategoryName",
                            width: 250
                        },
                        {
                            field: "Keyword",
                            title: "Keyword",
                            width: 150,
                        },
                        {
                            field: "CreatedDateUTC",
                            title: "CreatedDateUTC",
                            width: 150,
                            type: "date",
                            format: "{0:G}"
                        },
                        {
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 50,
                            template: '<a href="@Html.Raw(Url.Action("EditCampaignInterest", "CampaignMessenger"))/#=Id#">@T("Admin.Common.Edit")</a>'
                        }
                    ]
                });
            });
    </script>
    <input type="submit" id="btnRefreshProductCustomFields" style="display: none" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnRefreshProductCustomFields').click(function () {
                //refresh grid
                var grid = $("#productcustomfieldmappings-grid").data('kendoGrid');
                grid.dataSource.read();

                //return false to don't reload a page
                return false;
            });
        });
    </script>
</div>