﻿@model CampaignMessengerModel

@using Nop.Admin.Models.SubscribeMessenger;
@using Nop.Core.Domain.SubscribeMessenger;
@{
    //page title
    ViewBag.Title = "Edit Campaign Messenger";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("CampaignMessenger");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
           
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back To List", "List")</small>
        </h1>
        <div class="pull-right">
            @if (Model.StatusId == (int)CampaignStatus.New)
            {
                <button type="submit" name="save" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.Save")
                </button>
                <button type="submit" name="save-continue" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.SaveContinue")
                </button>
                <button type="submit" id="runcampaignmessenger" name="runcampaignmessenger" class="btn bg-green">
                    <i class="fa fa-smile-o"></i>
                    Run Campaign
                </button>
                @Html.ActionConfirmation("runcampaignmessenger")
                <span id="campaign-messenger-delete" class="btn bg-red">
                    <i class="fa fa-trash-o"></i>
                    @T("Admin.Common.Delete")
                </span>
            }

            <button type="submit" id="testcampaignmessenger" name="testcampaignmessenger" class="btn bg-green">
                <i class="fa fa-smile-o"></i>
                Test Campaign
            </button>
            @Html.ActionConfirmation("testcampaignmessenger")

        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("campaign-messenger-delete");

<script type="text/javascript">
    function testCampaign(campaignId) {
        $('#test-campaign-messenger').prop('disabled', true);

        $.ajax({
            type: "POST",
            url: "@Url.Action("TestCampaignMessenger", "CampaignMessenger", new { id = Model.Id })",
            success: function (data) {
                location.reload();
            }
        });

    }
</script>