﻿@model CampaignInterestModel

@using Nop.Admin.Models.SubscribeMessenger;

@{
    //page title
    ViewBag.Title = "Edit Campaign Interest - " + Model.Name;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("CampaignMessenger");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @("Edit Campaign Interest - " + Model.Name)
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("List", "Edit", new { id = Model.CampaignMessengerId })</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>

            <span id="campaign-interest-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateCampaignInterest", Model)
}
@Html.DeleteConfirmation("DeleteCampaignInterest", "campaign-interest-delete")

