﻿@model CheckoutProgressModel
@using Nop.Web.Models.Checkout;

<div class="top-process-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4 col-xs-4 process-step active-step">
                    <span class="step-name">
                        <i class="material-icons computer-only">perm_identity</i>
                        INFORMATION
                        @if ((Model.CheckoutProgressStep == CheckoutProgressStep.Payment) || (Model.CheckoutProgressStep == CheckoutProgressStep.Shipping))
                        {
                            <i class="material-icons completed-step" title="Completed">done_outline</i>
                        }
                    </span>
                </div>
                <div class="col-sm-4 col-xs-4 process-step @((Model.CheckoutProgressStep == CheckoutProgressStep.Payment)||(Model.CheckoutProgressStep == CheckoutProgressStep.Shipping) ? "active-step" : "")">
                    <span class="step-name">
                        <i class="material-icons computer-only">local_shipping</i>
                        SHIPPING
                        @if(Model.CheckoutProgressStep == CheckoutProgressStep.Payment)
                        {
                            <i class="material-icons completed-step" title="Completed">done_outline</i>
                        }
                    </span>
                </div>
                <div class="col-sm-4 col-xs-4 process-step @((Model.CheckoutProgressStep == CheckoutProgressStep.Payment) ? "active-step" : "")">
                    <span class="step-name"><i class="material-icons computer-only">payment</i> PAYMENT</span>
                </div>
            </div>
        </div>
    </div>
</div>
