﻿@model CheckoutCompletedModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
}

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=849763958541337';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div class="completed">
    <div class="container-fluid">
        <div class="egg-wrapper">
            <i class="egg-icon-payment-completed"></i>
            <h2>Payment Completed!</h2>
            <p class="thanks">Thanks for Trusting us</p>
            <div class="info-completed">
                <p class="info-mail">We just sent information to your email: <span>@Model.OrderDetails.BillingAddress.Email</span></p>
            </div>
            <div class="info-completed">
                <p class="info-phone"> We also just sent infomation to your phone number: <span>@Model.OrderDetails.BillingAddress.PhoneNumber</span></p>
            </div>
            <p class="forget">Don't forget like our fanpage for get new products</p>
            <div class="like-fanpage">
                <div class="fb-like" data-href="https://www.facebook.com/WeareFreaker/" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
            </div>
        </div>
    </div>
</div>
<!-- Google Code for Thankyou Conversion Page -->
<script type="text/javascript">
    var totalPrice = parseLocaleNumber('@String.Format("{0:00.0}", Model.RemarketingData.TotalPrice)');
    /* <![CDATA[ */
    var google_conversion_id =  @Model.RemarketingData.GoogleAnalyticsId;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "@Model.RemarketingData.GoogleAnalyticsLabelForCompleted";
    var google_conversion_value = totalPrice;
    var google_conversion_currency = "USD";
    var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/@Model.RemarketingData.GoogleAnalyticsId/?value= @String.Format("{0:00.0}", Model.RemarketingData.TotalPrice).Replace(",",".")&amp;currency_code=USD&amp;label=@Model.RemarketingData.GoogleAnalyticsLabelForCompleted&amp;script=0" />
    </div>
</noscript>

<!-- Facebook Pixel Code -->
<script>

    !function(f,b,e,v,n,t,s){
        if(f.fbq)return;
        n=f.fbq=function(){
            n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;
        n.push=n;
        n.loaded=!0;
        n.version='2.0';
        n.queue=[];
        t=b.createElement(e);
        t.async=!0;
        t.src=v;
        s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}
        (window,document,'script','https://connect.facebook.net/en_US/fbevents.js');
              //init parent pixel id
              fbq('init', '@Model.RemarketingData.FacebookPixelParentId');
            //init facebook Affiliate pixel ids
        @{
            foreach(var id in @Model.RemarketingData.FacebookPixelAffiliateIds)
            {
                <text>fbq('init', '@id');</text>
            }
        }
    fbq('track', 'PageView');
    fbq('track', 'Purchase', {
    content_ids: @Html.Raw(Json.Encode(Model.RemarketingData.DynamicFacebookData)),
        content_type: 'product',
        value: totalPrice,
    currency: 'USD'
});

</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="@string.Format("https://www.facebook.com/tr?id={0}&ev=PageView&noscript=1",Model.RemarketingData.FacebookPixelParentId)" />
</noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
<!--GA tracking Checkout-->
<script>
    ga('create', 'UA-96466423-6')
    ga('require', 'ec');
</script>
<script>
@foreach (var item in Model.RemarketingData.TrackingItems.Where(p=> !p.IsOrderTotalItem))
{
    <text>
        ga('ec:addProduct', {
            'id': '@item.Id',
            'name': '@item.Name',
            'category': '@item.Category',
            'price': '@EggCommon.PriceToLocaleDecimal(item.Price)',
            'quantity': @item.Quantity,
        });
    </text>
}
        @{
            var gaTrackingOrderTotalItem = Model.RemarketingData.TrackingItems.Where(p => p.IsOrderTotalItem).FirstOrDefault();
            if(gaTrackingOrderTotalItem!=null)
            {
             <text>
        ga('ec:setAction', 'purchase', {
                    'id': '@gaTrackingOrderTotalItem.OrderId',
                    'revenue': '@EggCommon.PriceToLocaleDecimal(gaTrackingOrderTotalItem.Revenue)',
                    'shipping': '@EggCommon.PriceToLocaleDecimal(gaTrackingOrderTotalItem.Shipping)',
             });
             </text>
            }
        }
        ga('send', 'pageview');
</script>

<script>
    function GetRevenueValue() {
        return totalPrice;
    }
</script>
<script>
    window.uetq = window.uetq || [];
    window.uetq.push({ 'gv': GetRevenueValue(), 'gc': 'USD' });
</script>