﻿@model EggCheckoutModel
@using Nop.Web.Models.Checkout;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_Root.Head_CheckoutPage.cshtml";

    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();

    //scripts
    Html.AddScriptParts("~/Scripts/public.onepagecheckout.js");
    Html.AddScriptParts("~/Scripts/public.eggcheckout.js");
    Html.AddScriptParts("~/Scripts/public.accordion.js");
    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
}
@Html.Action("AdminHeaderLinks", "Common")
<header>
    <section class="top-menu">
        <div class="container-fluid">
            <div class="egg-wrapper">
                <div class="navbar-header">
                    @Html.Action("Logo", "Common")
                </div>
            </div>
        </div>
    </section>
</header>
<main>
    <div class="master-wrapper-page">
        <div class="master-wrapper-content">
            @Html.Widget("content_before")
            <div class="master-column-wrapper">
                <div class="container-fluid fix-container-fluid">
                    <div class="egg-page-title text-center">
                        <h1 class="page-title egg-lg-title">Secure Checkout</h1>
                    </div>
                    <div class="egg-wrapper">
                        <div class="row egg-box-your-cart">
                            <div class="col-md-8 col-sm-12 col-xs-12 egg-left-your-cart">
                                <div style="padding:15px">
                                    <div class="egg-header-cart">
                                        <h2 class="egg-title-header-cart"><span class="egg-icon-free-shipping"></span> Shipping Information</h2>
                                    </div>
                                    <form id="co-billing-form" novalidate="">
                                        <div id="checkout-billing-load">
                                            @if (Model.BillingAddress.ExistingAddresses.Count > 0)
                                            {
                                                <div class="section select-billing-address egg-form-shipping">
                                                    <label for="billing-address-select">@T("Checkout.SelectShippingAddressOrEnterNewOne")</label>
                                                    <div>
                                                        <select name="billing_address_id" id="billing-address-select" class="address-select"
                                                                title="" onchange="Billing.newAddress(!this.value)">
                                                            @foreach (var address in Model.BillingAddress.ExistingAddresses)
                                                            {
                                                                var addressLine = "";
                                                                addressLine += address.FirstName;
                                                                addressLine += " " + address.LastName;
                                                                if (address.StreetAddressEnabled && !String.IsNullOrEmpty(address.Address1))
                                                                {
                                                                    addressLine += ", " + address.Address1;
                                                                }
                                                                if (address.CityEnabled && !String.IsNullOrEmpty(address.City))
                                                                {
                                                                    addressLine += ", " + address.City;
                                                                }
                                                                if (address.StateProvinceEnabled && !String.IsNullOrEmpty(address.StateProvinceName))
                                                                {
                                                                    addressLine += ", " + address.StateProvinceName;
                                                                }
                                                                if (address.ZipPostalCodeEnabled && !String.IsNullOrEmpty(address.ZipPostalCode))
                                                                {
                                                                    addressLine += " " + address.ZipPostalCode;
                                                                }
                                                                if (address.CountryEnabled && !String.IsNullOrWhiteSpace(address.CountryName))
                                                                {
                                                                    addressLine += ", " + address.CountryName;
                                                                }
                                                                //how should we render "FormattedCustomAddressAttributes" here?
                                                                <option value="@(address.Id)">@(addressLine)</option>
                                                            }
                                                            <option value="" selected="@Model.BillingAddress.NewAddressPreselected">@T("Checkout.NewAddress")</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            }

                                            <div class="section new-billing-address" id="billing-new-address-form">
                                                @{
                                                    var validationSummary = Html.ValidationSummary(true);
                                                }
                                                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                                                {
                                                    <div class="message-error">@validationSummary</div>
                                                }
                                                @{
                                                    var dataDictAddress = new ViewDataDictionary();
                                                    //Merge ModelState (required for validation)
                                                    dataDictAddress.ModelState.Merge(ViewData.ModelState);
                                                    dataDictAddress.TemplateInfo.HtmlFieldPrefix = "BillingNewAddress";
                                                    @Html.Partial("_CreateOrUpdateAddress", Model.BillingAddress.NewAddress, dataDictAddress)
                                                }
                                            </div>
                                        </div>
                                        <button type="submit" id="submit-co-billing-form" style="display:none" class="btn btn-default">Vitural Submit</button>
                                    </form>
                                    <div class="choose-ship" style="display: none">
                                        <b>
                                            <span>Estimated Time of Delivery <span class="important">*</span></span>
                                        </b>
                                        <ul class="checkout-shipinfo">
                                            <li>
                                                US estimated delivery:
                                                <b>
                                                    @(String.Format("{0:m}", DateTime.Now.AddDays(7))) - @(String.Format("{0:m}", DateTime.Now.AddDays(12)))
                                                </b>
                                            </li>
                                            <li>
                                                International estimated delivery:
                                                <b>
                                                    @(String.Format("{0:m}", DateTime.Now.AddDays(14))) - @(String.Format("{0:m}", DateTime.Now.AddDays(16)))
                                                </b>
                                            </li>
                                            <li>
                                                Jersey Worldwide estimated delivery:
                                                <b>
                                                    @(String.Format("{0:m}", DateTime.Now.AddDays(12))) - @(String.Format("{0:m}", DateTime.Now.AddDays(21)))
                                                </b>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="egg-header-cart">
                                    <h2 class="egg-title-header-cart">Shipping Method</h2>
                                </div>
                                <div class="checkout-shipping-form egg-form-shipping-bottom egg-shipping-payment egg-shipping-payment-tabs">
                                    <form id="co-shipping-method-form" novalidate="novalidate">
                                        <div class="section payment-method">
                                            <!--Radio group-->
                                            <div class="form-check radio-pink-gap">
                                                @{
                                                    if (Model.SelectedShippingMethodId == 0)
                                                    {
                                                        <input name="shippingmethod" id="shippingmethod_" type="radio" value="0" class="form-check-input with-gap" checked="checked" onclick="EggShippingMethod.save()">

                                                    }
                                                    else
                                                    {
                                                        <input name="shippingmethod" id="shippingmethod_" type="radio" value="0" class="form-check-input with-gap" onclick="EggShippingMethod.save()">
                                                    }
                                                }
                                                        <label class="form-check-label" for="shippingmethod_">Standard Shipping: 7-15 Business Days</label>
                                            </div>

                                            @{
                                                for (int i = 0; i < Model.ShippingMethods.Count; i++)
                                                {
                                                    var shippingMethod = Model.ShippingMethods[i];
                                                    <div class="form-check radio-pink-gap">
                                                        @if (shippingMethod.Id == Model.SelectedShippingMethodId)
                                                        {
                                                            <input id="shippingmethod_@(i)" type="radio" class="form-check-input with-gap" name="shippingmethod" checked="checked" value="@(shippingMethod.Id)" onclick="EggShippingMethod.save()" />
                                                        }
                                                        else
                                                        {
                                                            <input id="shippingmethod_@(i)" type="radio" class="form-check-input with-gap" name="shippingmethod" value="@(shippingMethod.Id)" onclick="EggShippingMethod.save()" />
                                                        }

                                                        <label class="form-check-label" for="shippingmethod_@(i)">@shippingMethod.Description</label>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </form>

                                    <script type="text/javascript">
                                        EggShippingMethod.init('#co-shipping-method-form', '@(storeLocation)ShoppingCart/EggSaveShippingMethod/');
                                    </script>
                                </div>

                                <div class="egg-header-cart">
                                    <h2 class="egg-title-header-cart">Payment</h2>
                                </div>
                                <div class="egg-form-shipping egg-form-shipping-bottom egg-shipping-payment egg-shipping-payment-tabs">
                                    @*From payment*@

                                    <form id="co-payment-method-form" novalidate="novalidate" style="display:none;">
                                        <div class="section payment-method">
                                            @if (Model.CheckoutPaymentMethod.PaymentMethods.Count > 0)
                                            {
                                                <ul class="method-list">
                                                    @for (int i = 0; i < Model.CheckoutPaymentMethod.PaymentMethods.Count; i++)
                                                    {
                                                        var paymentMethod = Model.CheckoutPaymentMethod.PaymentMethods[i];
                                                        var paymentMethodName = paymentMethod.Name;
                                                        if (!String.IsNullOrEmpty(paymentMethod.Fee))
                                                        {
                                                            paymentMethodName = T("Checkout.SelectPaymentMethod.MethodAndFee", paymentMethodName, paymentMethod.Fee).Text;
                                                        }
                                                        <li>
                                                            <div class="method-name">
                                                                @if (!String.IsNullOrEmpty(paymentMethod.LogoUrl))
                                                                {
                                                                    <div class="payment-logo">
                                                                        <label for="paymentmethod_@(i)">
                                                                            <img class="payment-image" src="@paymentMethod.LogoUrl" alt="@paymentMethodName" />
                                                                        </label>
                                                                    </div>
                                                                }
                                                                <div class="payment-details">
                                                                    <input id="paymentmethod_@(i)" type="radio" name="paymentmethod" onclick="PaymentMethod.save()" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" />
                                                                    <label for="paymentmethod_@(i)">@paymentMethodName</label>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                            else
                                            {
                                                <div class="message-error">
                                                    @T("Checkout.NoPaymentMethods")
                                                </div>
                                            }
                                        </div>
                                    </form>
                                    <script type="text/javascript">
                            PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');
                            PaymentMethod.save();
                                    </script>
                                    <form action="" id="co-payment-info-form">
                                        <div id="checkout-payment-info-load">
                                            @*payment info content will be loaded here*@
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4  col-sm-12 col-xs-12 egg-right-your-cart">
                                <div class="egg-box-top-right-cart" id="checkout-order-summary">
                                    @Html.Action("EggOrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
                                </div>
                                <div class="second-checkout-btn">
                                    <div class="egg-checkout" id="second-checkout">
                                        <button type="button" onclick="EggCheckout.onSubmitCheckoutForm()"><i class="egg-icon-secure"></i> Place Your Order</button>
                                    </div>
                                </div>
                                <div class="egg-note-info">
                                    <p>
                                        <input type="radio" style="vertical-align: top" class="block-radio" id="term" name="term" checked="checked">
                                        <span>
                                            I have read and agreed with your <a target="_blank" href="@Url.Action("Returns","Common")">Return & Refund Policy</a>, <a target="_blank" href="@Url.Action("PrivacyNotice","Common")">Privacy Notice</a> and <a target="_blank" href="@Url.Action("TermsOfUse","Common")">Term of Use</a>. I also agree to receive email updates, discounts, and special offers.
                                        </span>
                                    </p>
                                    <img style="width:100%;height:auto" src="~/Themes/EggStore/Content/images/checkout-trust-badge.png" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            @Html.Widget("content_after")
        </div>
    </div>
    @Html.Widget("body_end_html_tag_before")
</main>
@Html.Action("Footer", "Common")
<script type="text/javascript">
        Billing.init('#co-billing-form', '');
        if ($("#billing-address-select").length > 0) {
            Billing.newAddress(!$('#billing-address-select').val());
        }

        EggCheckout.init('@(storeLocation)checkout/FinishEggCheckout', '#co-billing-form,#co-payment-method-form,#co-payment-info-form', '@(storeLocation)cart/', '@(storeLocation)checkout/completed/');
        EggOrderSummary.int('@(storeLocation)ShoppingCart/EggChangeCountry');
        $("#BillingNewAddress_CountryId").change(function () {
            EggOrderSummary.save($("#BillingNewAddress_CountryId").val());
        });
</script>
<script>
    $(document).ready(function () {
        EggCheckout.validateCOAddressForm();
    });
</script>
