﻿@model CheckoutPaymentInfoModel

@using Nop.Web.Models.Checkout;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_Root.Head_CheckoutPage.cshtml";

    //script
    Html.AddScriptParts("~/Scripts/public.billingaddress.js");
    Html.AddScriptParts("~/Scripts/public.eggcheckout.js");
    Html.AddScriptParts("~/Scripts/public.paymentmethod.js");

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-billing-address-page");


    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
}

@Html.Action("AdminHeaderLinks", "Common")

<header>
    <section class="top-menu">
        <div class="container-fluid">
            <div class="egg-wrapper">
                <div class="navbar-header">
                    @Html.Action("Logo", "Common")
                </div>
            </div>
        </div>
    </section>
</header>
<main>
    <div class="master-wrapper-page">
        <div class="master-wrapper-content">
            @Html.Widget("content_before")
            <div class="master-column-wrapper">
                <div class="container-fluid fix-container-fluid">
                    <div class="egg-page-title text-center">
                        @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Payment })
                    </div>
                    <div class="egg-wrapper">
                        <div class="row egg-box-your-cart">
                            <div class="col-md-8 col-sm-12 col-xs-12 egg-left-your-cart">
                                <div class="">
                                    <div class="egg-header-cart">
                                        <h2 class="egg-title-header-cart"><span class="title-icon"><i class="material-icons">payment</i></span>Payment</h2>
                                    </div>
                                    <div class="egg-form-shipping egg-form-shipping-bottom egg-shipping-payment egg-shipping-payment-tabs">
                                        @using (Html.BeginRouteForm("EggCheckoutPaymentMethod", FormMethod.Post, new { id = "formPaymentMethod" }))
                                        {
                                            <input type="hidden" name="nextstep" value="@T("Checkout.NextButton")" />
                                            @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4  col-sm-12 col-xs-12 egg-right-your-cart">
                                <div class="egg-box-top-right-cart" id="checkout-order-summary">
                                    @Html.Action("EggOrderSummaryWithoutTrackingData", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            @Html.Widget("content_after")
        </div>
    </div>
    @Html.Widget("body_end_html_tag_before")
</main>

<script type="text/javascript">
    if ($("#billing-address-select").length > 0) {
        BillingAddress.newAddress(!$('#billing-address-select').val());
    }

    EggOrderSummary.int('@(storeLocation)ShoppingCart/EggChangeCountry');
    $("#BillingNewAddress_CountryId").change(function () {
        EggOrderSummary.save($("#BillingNewAddress_CountryId").val());
    });
    PaymentMethod.init('@(storeLocation +  Url.RouteUrl("EggCheckoutPaymentMethod"))', '@(storeLocation)checkout/completed/');
    PaymentMethod.validatePaymentMethodForm();

</script>


