﻿@model HotTrendingModel

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Name)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.RedirectUrl)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.RedirectUrl)
                            @Html.ValidationMessageFor(model => model.RedirectUrl)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.InnerText)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.InnerText)
                            @Html.ValidationMessageFor(model => model.InnerText)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.DisplayOrder)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.DisplayOrder)
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.IsLargeBanner)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.IsLargeBanner)
                            @Html.ValidationMessageFor(model => model.IsLargeBanner)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.IsSellOffBanner)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.IsSellOffBanner)
                            @Html.ValidationMessageFor(model => model.IsSellOffBanner)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.PictureId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.PictureId)
                            @Html.ValidationMessageFor(model => model.PictureId)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
