﻿
@model EggReMarketingEmailModel

@{
    //page title
    ViewBag.Title = T("Admin.Promotions.Discounts.EditDiscountDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Discounts");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "discount-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Promotions.Discounts.EditDiscountDetails") - @Model.EmailType
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back to list", "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="discount-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("discount-delete")