﻿@model Nop.Plugin.Payments.Stripe.Models.ConfigurationModel
@using Nop.Web.Framework;
@{
    Layout = "";
}

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
<div class="content">
    <div class="form-horizontal">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <b>The payment plugin uses the primary currency of the shop, so make sure the primary currency is supported by Stripe.</b>
                        <b>Some of the settings below are mandatory, if any is missing, the settings are invalid and the payment method is not shown to the customer on the checkout page.</b>
                        <br /><hr /><br />
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.Enable3DSecure_OverrideForStore, model => model.Enable3DSecure, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.Enable3DSecure)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Enable3DSecure)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.TransactModeId_OverrideForStore, model => model.TransactModeId, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.TransactModeValues)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownListFor(model => model.TransactModeId, Model.TransactModeValues)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.AdditionalFee_OverrideForStore, model => model.AdditionalFee, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.AdditionalFee)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AdditionalFee)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.AdditionalFeePercentage_OverrideForStore, model => model.AdditionalFeePercentage, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.AdditionalFeePercentage)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AdditionalFeePercentage)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.ApiKey_OverrideForStore, model => model.ApiKey, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.ApiKey)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ApiKey)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.SecretApiKey_OverrideForStore, model => model.SecretApiKey, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.SecretApiKey)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.SecretApiKey)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                &nbsp;
                            </div>
                            <div class="col-md-9">
                                <input type="submit" name="save" class="btn bg-blue" value="@T(" Admin.Common.Save")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>