﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.Stripe.Models.PaymentInfoModel

<div class="egg-form-checkout-card">
    <ul class="list-pay" id="myTab" role="tablist">
        <li class="choose-ship active">
            <a class="row-payment" onclick="setPaymentMethod('Payments.Stripe')" id="stripe-tab" data-toggle="tab" href="#stripe" role="tab" aria-controls="stripe" aria-selected="true" aria-expanded="true">
                <label><span>Credit Card </span><img src="~/Themes/EggStore/Content/images/card.png" /></label>
            </a>
        </li>
        <li class="choose-ship">
            <a class="row-payment" onclick="setPaymentMethod('Payments.PayPalStandard')" id="paypal-tab" data-toggle="tab" href="#paypal" role="tab" aria-controls="paypal" aria-selected="false" aria-expanded="false">
                <label>Paypal <img src="~/Themes/EggStore/Content/images/paypal.png" /></label>
            </a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane tab-pane-left fade active in" id="stripe" role="tabpanel" aria-labelledby="stripe-tab">
            <div class="box-row-payment">
                @*<div class="row-payment">
                <label for="name">CREDIT CART TYPE <span class="important">*</span></label>
                @Html.DropDownListFor(model => model.CreditCardTypes, false):
            </div>*@
                <div class="row-payment mb-not-lable">
                    <label for="name">CARD HOLDER NAME <span class="important">*</span></label>
                    @Html.TextBoxFor(model => model.CardholderName, null, new { @placeholder = "Card Name", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.CardholderName)
                </div>
                <div class="row-payment mb-not-lable">
                    <label for="card">CARD NUMBER <span class="important">*</span></label>
                    @Html.TextBoxFor(model => model.CardNumber, null, new { @placeholder = "Card Number", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.CardNumber)
                </div>
                <div class="short-payment mb-not-lable">
                    <div class="row-payment">
                        <label for="date">EXPIRY DATE <span class="important">*</span></label>
                        @Html.DropDownListFor(model => model.ExpireMonth, Model.ExpireMonths, new { @class = "input-25 card-expired-date" })
                        @Html.DropDownListFor(model => model.ExpireYear, Model.ExpireYears, new { @class = "input-25 input-50-nomargin card-expired-date" })
                    </div>
                    <div class="row-payment mb-not-lable">
                        <label for="code">SECURITY CODE <span class="important">*</span></label>
                        @Html.TextBoxFor(model => model.CardCode, null, new { @placeholder = "CCV", autocomplete = "off", maxlength = 4, type = "number", min = "0", max = "9999" })
                        @Html.ValidationMessageFor(model => model.CardCode)
                    </div>
                    <img src="~/Themes/EggStore/Content/images/secure-card.png">
                    <input style="display:none;" type="hidden" name="paymenttoken" id="paymenttoken" />
                </div>
            </div>
            <div class="egg-form-shipping egg-form-shipping-bottom mobile-padding-0">
                <div class="egg-partner-info">
                    <div class="egg-item-right">
                        <div class="safe-checkout-banner">
                            <img src="~/Themes/EggStore/Content/images/safe-checkout-banner.png" />
                            <p class="banner-title">Guaranteed safe and secure checkout</p>
                        </div>
                    </div>
                </div>
                <div class="egg-checkout">
                    <button type="button" id="checkout-stripe" onclick="EggCheckout.onSubmitCheckoutForm()"><i class="egg-icon-secure"></i> Place Your Order</button>
                    <div class="checkout-waiting">
                        <div id="fountainG">
                            <div id="fountainG_1" class="fountainG"></div>
                            <div id="fountainG_2" class="fountainG"></div>
                            <div id="fountainG_3" class="fountainG"></div>
                            <div id="fountainG_4" class="fountainG"></div>
                            <div id="fountainG_5" class="fountainG"></div>
                            <div id="fountainG_6" class="fountainG"></div>
                            <div id="fountainG_7" class="fountainG"></div>
                            <div id="fountainG_8" class="fountainG"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="tab-pane tab-pane-right fade" id="paypal" role="tabpanel" aria-labelledby="profile-tab">
            <div class="egg-form-shipping egg-form-shipping-bottom mobile-padding-0">
                <div class="egg-partner-info">
                    <div class="egg-item-right">
                        <p class="tpt">Click "<b>Continue with Paypal</b>" to log in Paypal by using your email address</p>
                    </div>
                </div>
                <div class="egg-checkout">
                    <button type="button" id="checkout-paypal"class="empty-btn" onclick="EggCheckout.onSubmitCheckoutForm()">CONTINUE WITH <img src="~/Themes/EggStore/Content/images/p.png"></button>
                    <div class="checkout-waiting">
                        <div id="fountainG">
                            <div id="fountainG_1" class="fountainG"></div>
                            <div id="fountainG_2" class="fountainG"></div>
                            <div id="fountainG_3" class="fountainG"></div>
                            <div id="fountainG_4" class="fountainG"></div>
                            <div id="fountainG_5" class="fountainG"></div>
                            <div id="fountainG_6" class="fountainG"></div>
                            <div id="fountainG_7" class="fountainG"></div>
                            <div id="fountainG_8" class="fountainG"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="payment-errors-container"></div>

<script type="text/javascript">

    $(document).ready(function () {
        $.getScript("https://js.stripe.com/v2", function (data, textStatus, jqxhr) {
			Stripe.setPublishableKey('@ViewBag.PublicKey');
        });
    });

    function selectPaymentMethodeByClick(method) {
        var $radios = $('input:radio[name=paymentmethodegg]');
        $radios.filter('[value=' + '"' + method + '"'+ ']').prop('checked', true);
        selectPaymentMethode();
    }
    function selectPaymentMethode() {
		var  paymentMethod = $("input[name='paymentmethodegg']:checked").val();
        $("input:radio[name='paymentmethod']").val(paymentMethod);
        if (paymentMethod == 'Payments.PayPalStandard')
        {
            $('#credit-card-form').hide('slow');
            $('#confirm-order-buttons').addClass('btn-paypal-checkout-method');
            $('#confirm-order-buttons').val('Continue With Paypal');
            $('#payment-errors-container').hide();
            $('.field-validation-error').hide();
        }
        else {
            $('#credit-card-form').show('slow');
            $('#confirm-order-buttons').removeClass('btn-paypal-checkout-method');
            $('#confirm-order-buttons').val('Place Your Order');
            $('#payment-errors-container').show();
            $('.field-validation-error').show();
        }
    }

    function setPaymentMethod(method)
    {
        $('#payment-errors-container').html("");
        var allMethod = $("input[name='paymentmethod']");
        if (allMethod.length > 0)
        {
            allMethod.each(function (index, elm) {
                if (elm.defaultValue == method) {
                    elm.checked = true;
                }
                else {
                    elm.checked = false;
                }
                bindSecondCheckoutButton(method);
            });
        }
    }
    function bindSecondCheckoutButton(method) {
        var stripeBtn = "<button type=\"button\" onclick=\"EggCheckout.onSubmitCheckoutForm()\"><i class=\"egg-icon-secure\"></i> Place Your Order</button>";
        var paypalBtn = "<button type=\"button\" onclick=\"EggCheckout.onSubmitCheckoutForm()\">CONTINUE WITH <img src=\"/Themes/EggStore/Content/images/p.png\"></button>";
        if (method == 'Payments.PayPalStandard') {
            $("#second-checkout").html(paypalBtn);
        }
        else if (method == 'Payments.Stripe') {
            $("#second-checkout").html(stripeBtn);
        }
    }
</script>
