﻿@model ShoppingCartModel.DiscountBoxModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{

    <div class="egg-box-form-apply">
        @using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data", id = "shopping-cart-form", @class = "egg-form-apply" }))
        {
            @Html.AntiForgeryToken()
            <input type="text" name="discountcouponcode" placeholder="Do you have a promo code?">
            <button type="submit"  name="applydiscountcouponcode" class="egg-btn-apply">APPLY</button>

            if (!String.IsNullOrEmpty(Model.Message))
            {
                <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                    @Model.Message
                </div>
            }
            if (!String.IsNullOrEmpty(Model.CurrentCode))
            {
                <div class="current-code">
                    <span class="applied-discount-code">@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, Model.CurrentCode)</span>
                    <button type="submit" name="removediscountcouponcode" value=" " title="@T("Common.Remove")" class="remove-discount-button" />
                </div>
            }
        }
    </div>
}
