﻿@model ShoppingCartModel.DiscountBoxModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{

<div class="egg-box-form-apply">
    @using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data", id = "shopping-cart-form", @class = "egg-form-apply" }))
    {
        @Html.AntiForgeryToken()
        <input type="text" name="discountcouponcodecheckout" placeholder="Do you have a promo code?" />
        <input type="checkbox" name="isincludedtrackingcode" checked="@(Model.IsIncludedTrackingCode?"checked":"")" value="@(Model.IsIncludedTrackingCode?"true":"false")" />
        <button type="button" onclick="checkoutApplyCoupon()" name="applydiscountcouponcodecheckout" class="egg-btn-apply">
            <span class="btn-content">
               APPLY
            </span>
            <svg version="1.1" class="loading-icon icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
            <animateTransform attributeType="xml"
                              attributeName="transform"
                              type="rotate"
                              from="0 25 25"
                              to="360 25 25"
                              dur="0.6s"
                              repeatCount="indefinite" />
                                                    </path>
                                                    </svg>
        </button>

        <div class="message-failure" id="cp-validate" style="display:none">
            Please enter a coupon code!
        </div>

        if (!String.IsNullOrEmpty(Model.Message))
        {
            <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @Model.Message
            </div>
        }
        if (!String.IsNullOrEmpty(Model.CurrentCode))
        {
            <div class="current-code">
                <span class="applied-discount-code">@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, Model.CurrentCode)</span>
                <button type="button" onclick="checkoutRemoveCoupon()" name="removediscountcouponcodecheckout" value=" " title="@T("Common.Remove")" class="remove-discount-button" />
            </div>
        }
    }
</div>

}
