﻿@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@using Nop.Web.Models.Catalog;
@{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
<script>
    var cartCommonData = [];
</script>
<div class="modal-dialog size-showorder">
    <div class="modal-content">
        <div class="modal-header egg-header-tabs">
            <button type="button" class="close" data-dismiss="modal"><span class="egg-icon-close"></span></button>
            <span class="title-showorder">Your order</span>
        </div>
        <div class="modal-body" id="cart-modal-content">
            <div style="width:100%;height:25px; background-color:#e66e6e;color:#ffffff;font-size:11px;text-align:center;padding:5px;display:none" id="cart-error-message"></div>
            <table class="egg-table-order">
                <thead>
                    <tr>
                        <td style="width: 15%"></td>
                        <td style="width: 15%">SIZE</td>
                        <td style="width: 20%">QTY</td>
                        <td style="width: 35%">STYLE</td>
                        <td style="width: 15%" class="eff-text-right">PRICE</td>
                    </tr>
                </thead>
                <tbody class="tbody-order" id="cart-list-item">
                    @foreach (var item in Model.Items)
                    {
                        <tr id="cart-item-@item.Id">
                            <td><div class="egg-boximg-order"><img src="@item.Picture.ImageUrl"></div></td>
                            <td class="fix-padding-order-mobile">
                                <select class="width-size" id="cart-item-size-@(item.Id)">
                                   @foreach(var size in item.SizingAttributeValues)
                                   {
                                       <option id="size_@size.Id" value="@size.Id" selected="@size.IsPreSelected">@size.Name</option>
                                   }
                                </select>
                                <!-- <div class="mobile-order"> -->
                                <div class="egg-count-number mobile-order">
                                    <button class="count egg-tru" id="decrement-qty-@item.Id">-</button>
                                    <input class="egg-show-number" id="item-qty-@(item.Id)" type="text" readonly="readonly" name="" value="@item.Quantity">
                                    <button class="count egg-cong" id="increment-qty-@item.Id">+</button>
                                </div>
                                <select class="egg-select-guys mobile-order" id="cart-item-style-@(item.Id)">
                                    @foreach (var style in item.StyleAttributeValues)
                                    {
                                        <option id="style_@style.Id" value='{"ColorId":@style.Id,"TypeId":@style.ProductTypeId}' selected="@style.IsPreSelected">@style.Name</option>
                                    }
                                </select>
                                <!-- </div> -->
                            </td>
                            <td class="mobile-disable-order">
                                <div class="egg-count-number">
                                    <button class="count egg-tru"  id="decrement-qty-mobile-@item.Id">-</button>
                                    <input class="egg-show-number" id="item-mobile-qty-@(item.Id)" type="text" readonly="readonly" name="" value="@item.Quantity">
                                    <button class="count egg-cong" id="increment-qty-mobile-@item.Id">+</button>
                                </div>
                            </td>
                            <td class="mobile-disable-order">
                                <select class="egg-select-guys" id="cart-item-style-mobile-@(item.Id)">
                                   @foreach (var style in item.StyleAttributeValues)
                                   {
                                    <option  id="style_mobile_@style.Id" value='{"ColorId":@style.Id,"TypeId":@style.ProductTypeId}' selected="@style.IsPreSelected" >@style.Name</option>
                                   }
                                </select>
                            </td>
                            <td class="eff-text-right egg-price-popup">
                                <span class="egg-price-popup">@item.SubTotal</span>
                                <a class="" onclick="RemoveCartPopupItem(@item.Id)">Remove</a>
                            </td>
                            @{ 
                                var selectedStyle = item.StyleAttributeValues.Where(p => p.IsPreSelected).FirstOrDefault();
                            }
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    prepareForUpdateCartItem_@(item.Id)();
                                });
                                var model_@(item.Id) = { "Id": @item.Id,"TemporaryId": @item.TemporaryId, "Quantity": @item.Quantity, "SizeId": @item.SizingAttributeValues.Where(p=>p.IsPreSelected).Select(p=>p.Id).FirstOrDefault(), "ColorId": @selectedStyle.Id,"TypeId": @selectedStyle.ProductTypeId, "IsRemove": false, "IsNew": false,"ProductId": @item.ProductId ,"AttributeXml" : '@Html.Raw(item.AttributeXml)' };
                                cartCommonData.push(model_@(item.Id));
                            function prepareForUpdateCartItem_@(item.Id)()
                            {
                                $('#cart-item-size-@(item.Id)').on('change', function (e) {
                                    var optionSelected = $("option:selected", this);
                                    var valueSelected = this.value;
                                    model_@(item.Id).SizeId = parseInt(valueSelected);
                                    debugger;
                                    UpdateCartPopupItem(model_@(item.Id));
                                });

                                $('#cart-item-style-@(item.Id)').on('change', function (e) {
                                    var optionSelected = $("option:selected", this);
                                    var valueSelected = JSON.parse(this.value);
                                    model_@(item.Id).ColorId = valueSelected.ColorId;
                                    model_@(item.Id).TypeId = valueSelected.TypeId;
                                    ShoppingCartItem_AttributeChange(model_@(item.Id));
                                });
                                $('#cart-item-style-mobile-@(item.Id)').on('change', function (e) {
                                    var optionSelected = $("option:selected", this);
                                    var valueSelected = JSON.parse(this.value);
                                    model_@(item.Id).ColorId = valueSelected.ColorId;
                                    model_@(item.Id).TypeId = valueSelected.TypeId;
                                    ShoppingCartItem_AttributeChange(model_@(item.Id));
                                });
                                $('#decrement-qty-@item.Id').on('click', function (e) {
                                    if (model_@(item.Id).Quantity > 1)
                                    {
                                        model_@(item.Id).Quantity = model_@(item.Id).Quantity - 1;
                                        UpdateCartPopupItem(model_@(item.Id));
                                        $('#item-mobile-qty-@(item.Id)').val(model_@(item.Id).Quantity);
                                        $('#item-qty-@(item.Id)').val(model_@(item.Id).Quantity);
                                    }
                                });
                                 $('#decrement-qty-mobile-@item.Id').on('click', function (e) {
                                    if (model_@(item.Id).Quantity > 1)
                                    {
                                        model_@(item.Id).Quantity = model_@(item.Id).Quantity - 1;
                                        UpdateCartPopupItem(model_@(item.Id));
                                         $('#item-mobile-qty-@(item.Id)').val(model_@(item.Id).Quantity);
                                        $('#item-qty-@(item.Id)').val(model_@(item.Id).Quantity);
                                    }
                                });
                                 $('#increment-qty-@item.Id').on('click', function (e) {
                                    model_@(item.Id).Quantity = model_@(item.Id).Quantity + 1;
                                    UpdateCartPopupItem(model_@(item.Id));
                                      $('#item-mobile-qty-@(item.Id)').val(model_@(item.Id).Quantity);
                                        $('#item-qty-@(item.Id)').val(model_@(item.Id).Quantity);
                                 });
                                 $('#increment-qty-mobile-@item.Id').on('click', function (e) {
                                      model_@(item.Id).Quantity = model_@(item.Id).Quantity + 1;
                                      UpdateCartPopupItem(model_@(item.Id));
                                      $('#item-mobile-qty-@(item.Id)').val(model_@(item.Id).Quantity);
                                        $('#item-qty-@(item.Id)').val(model_@(item.Id).Quantity);
                                });
                            }
                            </script>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="egg-add-another">
                <a href="javascript:void(0)" onclick="AddAnOtherStyle()">ADD ANOTHER STYLE OR COLOR</a>
            </div>
            <div class="egg-checkout">
                <button onclick="OnAddToCart_Redirection(true)"><i class="egg-icon-lock"></i> Proceed To Checkout</button>
                <a onclick="OnAddToCart_Redirection(false)">Or Go To Cart</a>
            </div>
        </div>
    </div>
</div>

<script>
    function UpdateCartPopupItem(model) {
        resetError();
        cartCommonData.forEach((element, index) => {
            if (element.Id == model.Id) {
                cartCommonData[index] = model;
            }
        });
    }
    function ShoppingCartItem_AttributeChange(model) {
        resetError();
        displayAjaxLoading(true);
        $.ajax({
            cache: false,
            url: "@Url.Action("ShoppingCartItem_AttributeChange", "ShoppingCart")",
            data: model,
            type: 'POST',
            success: function (data) {
                $('#cart-item-' + model.Id).html(data);
                displayAjaxLoading(false);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                displayAjaxLoading(false);
            }
        });
    }
    function AddAnOtherStyle() {
        resetError();
        if (cartCommonData.length > 0)
        {
            var model = null;
            var temp = cartCommonData.filter(p => !p.IsRemove && !p.IsNew);
            if (temp.length > 0)
                model = temp[temp.length - 1];
            else
                model = cartCommonData[0];
            var maxId = selectMaxId(cartCommonData);
        displayAjaxLoading(true);
        $.ajax({
            cache: false,
            url: "@Url.Action("AddAnOtherStyle", "ShoppingCart")",
            data: { "updateModel": model, "maxId": maxId },
            type: 'POST',
            success: function (data) {
                $('#cart-list-item').append(data);
                displayAjaxLoading(false);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                displayAjaxLoading(false);
            }
        });
        }
    }
    function RemoveCartPopupItem(id) {
        resetError();
        var currentItem = cartCommonData.filter(p => p.Id == id)[0];
        if (currentItem)
        {
            $('#cart-item-' + id).remove();
            if (currentItem.IsNew)
                cartCommonData = cartCommonData.filter(p => p.Id != id);
            else
                cartCommonData.filter(p => p.Id == id)[0].IsRemove = true;
        }
    }
    function selectMaxId(arr)
    {
        var maxid = 0;
        arr.map(function (obj) {
            if (obj.Id > maxid) maxid = obj.Id;
        });
        return maxid;
    }
    function OnAddToCart_Redirection(gotoCheckout) {
        var isValid = ValidateCartItemData();
        if (isValid)
        {
        displayAjaxLoading(true);
        $.ajax({
            cache: false,
            url: "@Url.Action("OnAddToCart_Redirection", "ShoppingCart")",
            data: { "cartItems": cartCommonData, "gotoCheckout": gotoCheckout },
            type: 'POST',
            success: function (url) {
                window.location.href = url;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                displayAjaxLoading(false);
            }
        });
        }
    }
    function ValidateCartItemData() {
        resetError();
        var isValid = false;
        if (cartCommonData.length > 0) {
            cartCommonData.forEach(function (item) {
                if (!item.IsRemove)
                    if (item.SizeId == 0) {
                        showPopupErrorMessgae("Please select a size!");
                        isValid = false;
                    }
                    else
                        isValid = true;
            });
        }
        else
            isValid = true;
        return isValid;
    }
    function showPopupErrorMessgae(mesage) {
        var errorControl = $('#cart-error-message');
        errorControl.fadeIn('slow');
        errorControl.html("<span>" + mesage + "</span>");
    }
    function resetError() {
        $('#cart-error-message').fadeOut('slow');
    }
</script>