﻿@model ShoppingCartModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page shopping-cart-padding");
}

<div class="container-fluid fix-container-fluid">
    <div class="egg-wrapper">
        @if (Model.Items.Any())
        {
            @Html.Partial("OrderSummary", Model)

            if (Model.RelatedProducts.Any())
            {
                <div class="egg-section-like">
                    <h3 class="egg-title-like">YOU MIGHT ALSO LIKE</h3>
                    <div class="slider-like">
                        @foreach (var product in Model.RelatedProducts)
                           {
                            <div class="col-md-2 col-sm-3 col-xs-6 egg-item-product">
                                <a href="@Url.RouteUrl("Product", new { SeName = product.SeName })" class="egg-link-img-product">
                                    <div class="box-img-product">
                                        <img class="egg-image-default zoom-art" src="@product.DefaultPictureModel.ImageUrl" alt="">
                                    </div>
                                </a>
                                <div class="egg-info-product">
                                    <h3 class="egg-title-product"><a href="@Url.RouteUrl("Product", new { SeName = product.SeName })" class="text-ellipsis"> @product.Name</a></h3>
                                    <p class="egg-price">
                                        <span class="egg-new-price">@product.ProductPrice.Price</span>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div class="no-data">
                <h1 style="text-align:center;padding:30px">Your Shopping Cart is empty!</h1>
            </div>

        }

    </div>
</div>

<script>
    $(document).ready(function () {
        $('.slider-like').slick({
            dots: false,
            pages: false,
            infinite: false,
            speed: 300,
            slidesToShow: 6,
            slidesToScroll: 1,
            arrows: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: false,
                        arrows: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: false,
                        arrows: true
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: false,
                        arrows: true
                    }
                }
            ]
        });
    });
</script>