@model EggOrderSummaryModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@using Nop.Web.Models.Catalog;
@{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
<h3 class="order-summary">ORDER SUMMARY</h3>
<div class="egg-info-cart egg-list-order-summary">
    <script>
        var orderItems = [];
    </script>
    <ul class="egg-list-item-cart">
        @foreach (var item in Model.ShoppingCartModel.Items)
        {
            <li class="egg-item-cart">
                <div class="egg-item-cart-img">
                    <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                </div>
                <div class="right-item-cart">
                    <div class="egg-item-cart-content">
                        <h3 class="egg-item-content-title text-ellipsis">@item.ProductName</h3>
                        @if (!string.IsNullOrEmpty(item.AttributeParsed))
                        {
                            @Html.Raw(item.AttributeParsed)
                        }
                    </div>
                    <div class="egg-item-choose-size">
                        @if (item.SizingAttributeValues.Count() > 0)
                        {
                            <select id="cart-item-size-@item.Id">
                                @foreach (var size in item.SizingAttributeValues)
                                {
                                    <option value="@size.Id" selected="@size.IsPreSelected">@string.Format("{0} {1}", size.Name, string.IsNullOrEmpty(size.PriceAdjustment) ? "" : "+ " + size.PriceAdjustment)</option>
                                }
                            </select>
                        }

                        <div class="egg-count-number">
                            <button class="count egg-tru" id="decrement-item-qty-@item.Id">-</button>
                            <input class="egg-show-number" type="text" readonly="readonly" name="" id="cart-item-qty-@item.Id" value="@item.Quantity">
                            <button class="count egg-cong" id="increment-item-qty-@item.Id">+</button>
                        </div>
                    </div>
                    <div class="egg-item-cart-price">
                        <span class="egg-price-popup">@item.SubTotal</span>
                    </div>
                </div>
            </li>
            <script>
                        $(document).ready(function () {
                            var model_@(item.Id) = { "Id": @item.Id, "Quantity": @item.Quantity, "SizeId": @(item.SizingAttributeValues.Count() >0 ? item.SizingAttributeValues.FirstOrDefault(p=>p.IsPreSelected).Id : 0), "isRemove": false };
                            orderItems.push(model_@(item.Id));

                            $('#cart-item-size-@(item.Id)').on('change', function (e) {
                                var optionSelected = $("option:selected", this);
                                var valueSelected = this.value;
                                model_@(item.Id).SizeId = parseInt(valueSelected);
                                UpdateCheckoutItem(model_@(item.Id));
                            });

                            $('#decrement-item-qty-@item.Id').on('click', function (e) {
                                if (model_@(item.Id).Quantity > 1)
                                {
                                    model_@(item.Id).Quantity = model_@(item.Id).Quantity - 1;
                                    UpdateCheckoutItem(model_@(item.Id));
                                    $('#cart-item-qty--@(item.Id)').val(model_@(item.Id).Quantity);
                                }
                            });
                             $('#increment-item-qty-@item.Id').on('click', function (e) {
                                model_@(item.Id).Quantity = model_@(item.Id).Quantity + 1;
                                UpdateCheckoutItem(model_@(item.Id));
                                $('#cart-item-qty--@(item.Id)').val(model_@(item.Id).Quantity);
                             });
                        });
                        function RemoveItem(id) {
                            var model = orderItems.filter(p => p.Id == id)[0];
                            if (model != null)
                                model.isRemove = true;
                            UpdateCheckoutItem(model);
                        }

            </script>
        }
    </ul>
</div>
@Html.Partial("_DiscountBoxCheckout", Model.ShoppingCartModel.DiscountBox)
<div class="egg-info-cart egg-total-shipping">
    <p class="egg-subtotal">
        SUBTOTAL <span class="egg-right-new-price">@Model.OrderTotalModel.SubTotal</span>
    </p>

    <p class="egg-subtotal">
        Shipping:  <span id="order-summary-shipping" class="egg-right-new-price">@Model.OrderTotalModel.Shipping</span>
    </p>

    @if (!String.IsNullOrEmpty(Model.OrderTotalModel.OrderTotalDiscount))
    {
        <p class="egg-subtotal">
            Discount:  <span class="egg-right-new-price">@Model.OrderTotalModel.OrderTotalDiscount</span>
        </p>
    }
    <p class="egg-subtotal egg-total">
        Total <span id="order-summary-total" class="egg-right-total-price">@Model.OrderTotalModel.OrderTotal</span>
    </p>
</div>

<script>
    function UpdateCheckoutItem(model) {
        displayAjaxLoading(true);
        var url = '/ShoppingCart/UpdateCheckoutOrderSummary';
        $.ajax({
            cache: false,
            url: url,
            data: model,
            type: 'POST',
            success: function (data) {
                $('#checkout-order-summary').html(data);
                displayAjaxLoading(false);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                displayAjaxLoading(false);
            }
        });
    }
</script>

<script type="text/javascript">
     var cartTotalPrice = parseLocaleNumber('@String.Format("{0:00.0}", Model.ShoppingCartModel.RemarketingData.TotalPrice)');
    var google_tag_params = {
        ecomm_prodid: @Html.Raw(Json.Encode(Model.ShoppingCartModel.RemarketingData.GoogleAnalyticsData)),
        ecomm_pagetype: 'purchase',
        ecomm_totalvalue: cartTotalPrice,
    };
</script>

<!-- Google Code for Checkout Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = @Model.ShoppingCartModel.RemarketingData.GoogleAnalyticsId;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "@Model.ShoppingCartModel.RemarketingData.GoogleAnalyticsLabelForCheckOut";
    var google_conversion_value =  cartTotalPrice;
    var google_conversion_currency = "USD";
    var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/@Model.ShoppingCartModel.RemarketingData.GoogleAnalyticsId/?value=@String.Format("{0:00.0}", Model.ShoppingCartModel.RemarketingData.TotalPrice).Replace(",",".")&amp;currency_code=USD&amp;label=@Model.ShoppingCartModel.RemarketingData.GoogleAnalyticsLabelForCheckOut&amp;guid=ON&amp;script=0" />
    </div>
</noscript>

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s){
        if(f.fbq)return;
        n=f.fbq=function(){
            n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;
        n.push=n;
        n.loaded=!0;
        n.version='2.0';
        n.queue=[];
        t=b.createElement(e);
        t.async=!0;
        t.src=v;
        s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}
        (window,document,'script','https://connect.facebook.net/en_US/fbevents.js');
             //init parent pixel id
              fbq('init', '@Model.ShoppingCartModel.RemarketingData.FacebookPixelParentId');
            //init facebook Affiliate pixel ids
        @{
            foreach(var id in @Model.ShoppingCartModel.RemarketingData.FacebookPixelAffiliateIds)
            {
                <text>fbq('init', '@id');</text>
            }
        }
    fbq('track', 'PageView');
    fbq('track', 'InitiateCheckout', {
    content_ids: @Html.Raw(Json.Encode(Model.ShoppingCartModel.RemarketingData.DynamicFacebookData)),
        content_type: 'product',
        value: cartTotalPrice,
    currency: 'USD'
});
</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="@string.Format("https://www.facebook.com/tr?id={0}&ev=PageView&noscript=1",Model.ShoppingCartModel.RemarketingData.FacebookPixelParentId)" />
</noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
<!--GA tracking Checkout-->
<script>
    ga('create', 'UA-96466423-6')
    ga('require', 'ec');
@foreach (var item in Model.ShoppingCartModel.RemarketingData.TrackingItems)
{
    <text>
        ga('ec:addProduct', {
            'id': '@item.Id',
            'name': '@item.Name',
            'category': '@item.Category',
            'price': '@String.Format("{0:00.0}", item.Price).Replace(",",".")',
            'quantity': @item.Quantity,
        });
    </text>
}
        ga('ec:setAction','checkout');
        ga('send', 'pageview');
</script>
