﻿@model OrderTotalsModel
@using Nop.Web.Models.ShoppingCart;
<div class="egg-info-cart">
    <p class="egg-subtotal">
        SUBTOTAL <span class="egg-right-new-price">@Model.SubTotal</span>
    </p>

    @if (Model.IsFreeShipping)
    {
        <p class="egg-subtotal">
            Shipping: (Free) <span class="egg-old-price egg-right-old-price">@Model.Shipping</span>
        </p>
    }
    else
    {
        <p class="egg-subtotal">
            Shipping:  <span class="egg-right-new-price">@Model.Shipping</span>
        </p>
    }
    @if (!String.IsNullOrEmpty(Model.OrderTotalDiscount))
    {
        <p class="egg-subtotal">
            Discount:  <span class="egg-right-new-price">@Model.OrderTotalDiscount</span>
        </p>
    }        

    @if (!String.IsNullOrEmpty(Model.OrderTotal))
    {
        <p class="egg-subtotal egg-total">
            Total <span class="egg-right-total-price"> @Model.OrderTotal</span>
        </p>
    }
    else
    {
        <p class="egg-subtotal egg-total">
            Total <span class="egg-right-total-price">@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
        </p>
    }
    
    <div class="egg-checkout-info-cart">
        <div class="egg-checkout">
            <button onclick="window.location.href='@Url.RouteUrl("EggCheckout")'"><i class="egg-icon-secure"></i> Proceed To Checkout</button>
        </div>
    </div>
</div>
