﻿@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@using Nop.Web.Models.Catalog;
@{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
<div class="row egg-box-your-cart" id="cart-content">
    <div class="col-md-8 col-sm-12 col-xs-12 egg-left-your-cart">
        <div class="">
            <div class="egg-header-cart">
                <h2 class="egg-title-header-cart">YOUR CART</h2>
            </div>
            <script>
                var cartItems = [];
            </script>
            <ul class="egg-list-item-cart">
                @foreach (var item in Model.Items)
                {
                    <li class="egg-item-cart">
                        <div class="egg-item-cart-img">
                            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                        </div>
                        <div class="right-item-cart">
                            <div class="egg-item-cart-content">
                                <h3 class="egg-item-content-title text-ellipsis">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name" style="color:#2A2B30">@item.ProductName</a>
                                </h3>
                                @if (!string.IsNullOrEmpty(item.AttributeParsed))
                                {
                                    @Html.Raw(item.AttributeParsed)
                                }
                            </div>
                            <div class="egg-item-choose-size">
                                @if (item.SizingAttributeValues.Count() > 0)
                                {
                                    <select id="cart-item-size-@item.Id">
                                        @foreach (var size in item.SizingAttributeValues)
                                        {
                                            <option value="@size.Id" selected="@size.IsPreSelected">@string.Format("{0} {1}", size.Name, string.IsNullOrEmpty(size.PriceAdjustment) ? "" : "+ " + size.PriceAdjustment)</option>
                                        }
                                    </select>
                                }
                                <div class="egg-count-number">
                                    <button class="count egg-tru" id="decrement-item-qty-@item.Id">-</button>
                                    <input class="egg-show-number" type="text" readonly="readonly" name="" id="cart-item-qty-@item.Id" value="@item.Quantity">
                                    <button class="count egg-cong" id="increment-item-qty-@item.Id">+</button>
                                </div>
                            </div>
                            <div class="egg-item-cart-price">
                                <span class="egg-price-popup">@item.SubTotal</span>
                                <a class="" href="javascript:void(0);" onclick="RemoveItem(@item.Id)">Remove</a>
                            </div>
                        </div>
                    </li>

                    <script>
                        $(document).ready(function () {
                            var model_@(item.Id) = { "Id": @item.Id, "Quantity": @item.Quantity, "SizeId": @(item.SizingAttributeValues.Count()>0 ? item.SizingAttributeValues.FirstOrDefault(p=>p.IsPreSelected).Id : 0), "isRemove": false };
                            cartItems.push(model_@(item.Id));

                            $('#cart-item-size-@(item.Id)').on('change', function (e) {
                                var optionSelected = $("option:selected", this);
                                var valueSelected = this.value;
                                model_@(item.Id).SizeId = parseInt(valueSelected);
                                UpdateCartItem(model_@(item.Id));
                            });

                            $('#decrement-item-qty-@item.Id').on('click', function (e) {
                                if (model_@(item.Id).Quantity > 1)
                                {
                                    model_@(item.Id).Quantity = model_@(item.Id).Quantity - 1;
                                    UpdateCartItem(model_@(item.Id));
                                    $('#cart-item-qty--@(item.Id)').val(model_@(item.Id).Quantity);
                                }
                            });
                             $('#increment-item-qty-@item.Id').on('click', function (e) {
                                model_@(item.Id).Quantity = model_@(item.Id).Quantity + 1;
                                UpdateCartItem(model_@(item.Id));
                                $('#cart-item-qty--@(item.Id)').val(model_@(item.Id).Quantity);
                             });
                        });
                          function RemoveItem(id) {
                            var model = cartItems.filter(p => p.Id == id)[0];
                            if (model != null)
                                model.isRemove = true;
                            UpdateCartItem(model);
                        }

                    </script>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-4  col-sm-12 col-xs-12 egg-right-your-cart">
        <div class="egg-box-top-right-cart">
            @Html.Partial("_DiscountBox", Model.DiscountBox)
            @Html.Action("OrderTotals", "ShoppingCart", new { isEditable = Model.IsEditable })
            <div class="egg-partner-info">
                <div class="egg-item-right">
                    <div class="safe-checkout-banner">
                        <img src="~/Themes/EggStore/Content/images/safe-checkout-banner.png" />
                        <p class="banner-title">Guaranteed safe and secure checkout</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function UpdateCartItem(model) {
        displayAjaxLoading(true);
        var url = '/ShoppingCart/UpdateCartItemByAjax';
        $.ajax({
            cache: false,
            url: url,
            data: model,
            type: 'POST',
            success: function (data) {
                $('#cart-content').html(data);
                displayAjaxLoading(false);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                displayAjaxLoading(false);
            }
        });
    }
</script>

<script type="text/javascript">
    var cartTotalPrice = parseLocaleNumber('@String.Format("{0:00.0}", Model.RemarketingData.TotalPrice)');
var google_tag_params = {
    ecomm_prodid:  @Html.Raw(Json.Encode(Model.RemarketingData.GoogleAnalyticsData)),
    ecomm_pagetype: 'cart',
    ecomm_totalvalue: cartTotalPrice,
};
</script>



<!-- Google Code for Add To Cart Conversion Page -->
<script type="text/javascript">
                                        /* <![CDATA[ */
                                        var google_conversion_id = @Model.RemarketingData.GoogleAnalyticsId;
                                        var google_conversion_language = "en";
                                        var google_conversion_format = "3";
                                        var google_conversion_color = "ffffff";
                                        var google_conversion_label = "@Model.RemarketingData.GoogleAnalyticsLabelForCart";
                                        var google_conversion_value = cartTotalPrice;
                                        var google_conversion_currency = "USD";
                                        var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/@Model.RemarketingData.GoogleAnalyticsId/?value= @String.Format("{0:00.0}", Model.RemarketingData.TotalPrice).Replace(",",".")&amp;currency_code=USD&amp;label=@Model.RemarketingData.GoogleAnalyticsLabelForCart&amp;guid=ON&amp;script=0" />
    </div>
</noscript>
<!-- Facebook Pixel Code -->
<script>

    !function(f,b,e,v,n,t,s){
        if(f.fbq)return;
        n=f.fbq=function(){
            n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;
        n.push=n;
        n.loaded=!0;
        n.version='2.0';
        n.queue=[];
        t=b.createElement(e);
        t.async=!0;
        t.src=v;
        s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}
        (window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

             //init parent pixel id
              fbq('init', '@Model.RemarketingData.FacebookPixelParentId');
            //init facebook Affiliate pixel ids
        @{
            foreach(var id in @Model.RemarketingData.FacebookPixelAffiliateIds)
            {
                <text>fbq('init', '@id');</text>
            }
        }
    fbq('track', 'PageView');
    fbq('track', 'AddToCart', {
    content_ids: @Html.Raw(Json.Encode(Model.RemarketingData.DynamicFacebookData)),
        content_type: 'product',
        value: cartTotalPrice,
    currency: 'USD'
});

</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="@string.Format("https://www.facebook.com/tr?id={0}&ev=PageView&noscript=1",Model.RemarketingData.FacebookPixelParentId)" />
</noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
<!--GA tracking-->
<script>
    ga('create', 'UA-96466423-6')
    ga('require', 'ec');
@foreach (var item in Model.RemarketingData.TrackingItems)
{
    <text>
        ga('ec:addProduct', {
            'id': '@item.Id',
            'name': '@item.Name',
            'category': '@item.Category',
            'price': '@String.Format("{0:00.0}", item.Price).Replace(",",".")',
            'quantity': @item.Quantity,
        });
    </text>
}
        ga('ec:setAction', 'add');
        ga('send', 'pageview');
</script>
