﻿@model ShoppingCartModel.ShoppingCartItemModel
@using Nop.Web.Models.ShoppingCart;


<td><div class="egg-boximg-order"><img src="@Model.Picture.ImageUrl"></div></td>
<td class="fix-padding-order-mobile">
    <select class="width-size" id="cart-item-size-@(Model.Id)">
        @foreach (var size in Model.SizingAttributeValues)
            {
            <option id="size_@size.Id" value="@size.Id" selected="@size.IsPreSelected" >@size.Name</option>
        }
    </select>
    <div class="egg-count-number mobile-order">
        <button class="count egg-tru" id="decrement-qty-@Model.Id">-</button>
        <input class="egg-show-number" id="item-qty-@Model.Id" type="text" readonly="readonly" name="" value="@Model.Quantity">
        <button class="count egg-cong" id="increment-qty-@Model.Id">+</button>
    </div>
    <select class="egg-select-guys mobile-order" id="cart-item-style-@(Model.Id)">
        @foreach (var style in Model.StyleAttributeValues)
            {
            <option id="style_@style.Id" value='{"ColorId":@style.Id,"TypeId":@style.ProductTypeId}' selected="@style.IsPreSelected" >@style.Name</option>
        }
    </select>
</td>
<td class="mobile-disable-order">
    <div class="egg-count-number">
        <button class="count egg-tru" id="decrement-qty-mobile-@Model.Id">-</button>
        <input class="egg-show-number"  id="item-mobile-qty-@Model.Id" type="text" readonly="readonly" name="" value="@Model.Quantity">
        <button class="count egg-cong" id="increment-qty-mobile-@Model.Id">+</button>
    </div>
</td>
<td class="mobile-disable-order">
    <select class="egg-select-guys" id="cart-item-style-mobile-@(Model.Id)">
        @foreach (var style in Model.StyleAttributeValues)
            {
            <option id="style_mobile_@style.Id" value='{"ColorId":@style.Id,"TypeId":@style.ProductTypeId}' selected="@style.IsPreSelected" >@style.Name</option>
            }
    </select>
</td>
<td class="eff-text-right egg-price-popup">
    <span class="egg-price-popup">@Model.SubTotal</span>
    <a class="" onclick="RemoveCartPopupItem(@Model.Id)">Remove</a>
</td>
@{
    var defaultStye = Model.StyleAttributeValues.Where(p => p.IsPreSelected).FirstOrDefault();
}
<script>
    var model_@(Model.Id) = { "Id": @Model.Id,"TemporaryId": @Model.TemporaryId, "Quantity": @Model.Quantity, "SizeId": @Model.SizingAttributeValues.Where(p=>p.IsPreSelected).Select(p=>p.Id).FirstOrDefault(), "ColorId": @defaultStye.Id,"TypeId": @defaultStye.ProductTypeId, "IsRemove": false, "IsNew": @Model.TemporaryId >0 , "ProductId": @Model.ProductId, "AttributeXml" : '@Html.Raw(Model.AttributeXml)' };
                        $(document).ready(function () {
                            prepareForUpdateCartItem_@(Model.Id)();
                            UpdateCartPopupItem(model_@(Model.Id));
                         });
                        function prepareForUpdateCartItem_@(Model.Id)()
                        {
                            $('#cart-item-size-@(Model.Id)').on('change', function (e) {
                                var optionSelected = $("option:selected", this);
                                var valueSelected = this.value;
                                model_@(Model.Id).SizeId = parseInt(valueSelected);
                                UpdateCartPopupItem(model_@(Model.Id));
                            });

                            $('#cart-item-style-@(Model.Id)').on('change', function (e) {
                                var optionSelected = $("option:selected", this);
                                var valueSelected = JSON.parse(this.value);
                                model_@(Model.Id).ColorId = valueSelected.ColorId;
                                model_@(Model.Id).TypeId = valueSelected.TypeId;
                                ShoppingCartItem_AttributeChange(model_@(Model.Id));
                            });

                            $('#cart-item-style-mobile-@(Model.Id)').on('change', function (e) {
                                var optionSelected = $("option:selected", this);
                                var valueSelected = JSON.parse(this.value);
                                model_@(Model.Id).ColorId = valueSelected.ColorId;
                                model_@(Model.Id).TypeId = valueSelected.TypeId;
                                ShoppingCartItem_AttributeChange(model_@(Model.Id));
                            });
                            $('#decrement-qty-@Model.Id').on('click', function (e) {
                                if (model_@(Model.Id).Quantity > 1)
                                {
                                    model_@(Model.Id).Quantity = model_@(Model.Id).Quantity - 1;
                                    UpdateCartPopupItem(model_@(Model.Id));
                                    $('#item-mobile-qty-@(Model.Id)').val(model_@(Model.Id).Quantity);
                                    $('#item-qty-@(Model.Id)').val(model_@(Model.Id).Quantity);
                                }
                            });
                             $('#decrement-qty-mobile-@Model.Id').on('click', function (e) {
                                if (model_@(Model.Id).Quantity > 1)
                                {
                                    model_@(Model.Id).Quantity = model_@(Model.Id).Quantity - 1;
                                    UpdateCartPopupItem(model_@(Model.Id));
                                      $('#item-mobile-qty-@(Model.Id)').val(model_@(Model.Id).Quantity);
                                    $('#item-qty-@(Model.Id)').val(model_@(Model.Id).Quantity);
                                }
                            });
                             $('#increment-qty-@Model.Id').on('click', function (e) {
                                model_@(Model.Id).Quantity = model_@(Model.Id).Quantity + 1;
                                UpdateCartPopupItem(model_@(Model.Id));
                                   $('#item-mobile-qty-@(Model.Id)').val(model_@(Model.Id).Quantity);
                                    $('#item-qty-@(Model.Id)').val(model_@(Model.Id).Quantity);
                             });
                             $('#increment-qty-mobile-@Model.Id').on('click', function (e) {
                                  model_@(Model.Id).Quantity = model_@(Model.Id).Quantity + 1;
                                  UpdateCartPopupItem(model_@(Model.Id));
                                   $('#item-mobile-qty-@(Model.Id)').val(model_@(Model.Id).Quantity);
                                    $('#item-qty-@(Model.Id)').val(model_@(Model.Id).Quantity);
                            });
                        }
</script>

