﻿@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;

<table class="egg-table-order">
    <thead>
        <tr>
            <td style="width: 15%"></td>
            <td style="width: 15%">SIZE</td>
            <td style="width: 20%">QTY</td>
            <td style="width: 35%">STYLE</td>
            <td style="width: 15%" class="eff-text-right">PRICE</td>
        </tr>
    </thead>
    <tbody class="tbody-order">
        @foreach (var item in Model.Items)
        {
            <tr>
                <td><div class="egg-boximg-order"><img src="@item.Picture.ImageUrl"></div></td>
                <td class="fix-padding-order-mobile">
                    <select class="width-size" id="cart-item-size-@(item.Id)">
                        @foreach (var size in item.SizingAttributeValues)
                        {
                            <option id="size_@size.Id" value="@size.Id" selected="@size.IsPreSelected">@size.Name</option>
                        }
                    </select>
                    <!-- <div class="mobile-order"> -->
                    <div class="egg-count-number mobile-order">
                        <button class="count egg-tru" id="decrement-qty-@item.Id">-</button>
                        <input class="egg-show-number" type="number" name="" value="@item.Quantity">
                        <button class="count egg-cong" id="increment-qty-@item.Id">+</button>
                    </div>
                    <select class="egg-select-guys mobile-order" id="cart-item-style-@(item.Id)">
                        @foreach (var style in item.StyleAttributeValues)
                        {
                            <option id="style_@style.Id" value="@style.Id" selected="@style.IsPreSelected">@style.Name</option>
                        }
                    </select>
                    <!-- </div> -->
                </td>
                <td class="mobile-disable-order">
                    <div class="egg-count-number">
                        <button class="count egg-tru" id="decrement-qty-mobile-@item.Id">-</button>
                        <input class="egg-show-number" type="number" name="" value="@item.Quantity">
                        <button class="count egg-cong" id="increment-qty-mobile-@item.Id">+</button>
                    </div>
                </td>
                <td class="mobile-disable-order">
                    <select class="egg-select-guys" id="cart-item-style-mobile-@(item.Id)">
                        @foreach (var style in item.StyleAttributeValues)
                        {
                            <option id="style_mobile_@style.Id" value="@style.Id" selected="@style.IsPreSelected">@style.Name</option>
                        }
                    </select>
                </td>
                <td class="eff-text-right egg-price-popup">
                    <span class="egg-price-popup">@item.SubTotal</span>
                    <a class="" onclick="RemoveCartPopupItem(@item.Id)">Remove</a>
                </td>
            </tr>
                        <text>
                            <script>
                        $(document).ready(function () {
                            debugger;
                            prepareForUpdateCartItem_@(item.Id)();
                        });
                        var model_@(item.Id) = { "Id": @item.Id, "Quantity": @item.Quantity, "SizeId": @item.SizingAttributeValues.Where(p=>p.IsPreSelected).Select(p=>p.Id).FirstOrDefault(), "StyleId": @item.StyleAttributeValues.Where(p => p.IsPreSelected).Select(p => p.Id).FirstOrDefault(), "IsRemove": false };
                        function prepareForUpdateCartItem_@(item.Id)()
                        {
                            $('#cart-item-size-@(item.Id)').on('change', function (e) {
                                var optionSelected = $("option:selected", this);
                                var valueSelected = this.value;
                                model_@(item.Id).SizeId = parseInt(valueSelected);
                                UpdateCartPopupItem(model_@(item.Id));
                            });

                            $('#cart-item-style-@(item.Id)').on('change', function (e) {
                                var optionSelected = $("option:selected", this);
                                var valueSelected = this.value;
                                model_@(item.Id).StyleId = parseInt(valueSelected);
                                  UpdateCartPopupItem(model_@(item.Id));
                            });
                            $('#cart-item-style-mobile-@(item.Id)').on('change', function (e) {
                                var optionSelected = $("option:selected", this);
                                var valueSelected = this.value;
                                model_@(item.Id).StyleId = parseInt(valueSelected);
                                UpdateCartPopupItem(model_@(item.Id));
                            });
                            $('#decrement-qty-@item.Id').on('click', function (e) {
                                if (model_@(item.Id).Quantity > 1)
                                {
                                    model_@(item.Id).Quantity = model_@(item.Id).Quantity - 1;
                                UpdateCartPopupItem(model_@(item.Id));
                                }
                            });
                             $('#decrement-qty-mobile-@item.Id').on('click', function (e) {
                                if (model_@(item.Id).Quantity > 1)
                                {
                                    model_@(item.Id).Quantity = model_@(item.Id).Quantity - 1;
                                UpdateCartPopupItem(model_@(item.Id));
                                }
                            });
                             $('#increment-qty-@item.Id').on('click', function (e) {
                                model_@(item.Id).Quantity = model_@(item.Id).Quantity + 1;
                                UpdateCartPopupItem(model_@(item.Id));
                             });
                             $('#increment-qty-mobile-@item.Id').on('click', function (e) {
                                  model_@(item.Id).Quantity = model_@(item.Id).Quantity + 1;
                                UpdateCartPopupItem(model_@(item.Id));
                            });
                        }
                            </script>
                        </text>

        }
    </tbody>



</table>
<div class="egg-add-another">
    <a href="javascript:void(0)">ADD ANOTHER STYLE OR COLOR</a>
</div>
<div class="egg-bought">
    <h3 class="egg-title-content-bought">PEOPLE ALSO BOUGHT</h3>
    <div class="box-item-bought">
        <div class="egg-box-img-bought">
            <img src="https://www.iblue.vn/uploads/news/2016_12/huong-dan-chup-hinh-quan-ao.jpg">
        </div>
        <div class="egg-content-bought">
            <p class="title-suggest">adidas Squadra 17 Jersey Men</p>
            <p class="price-suggest">$ 45.00</p>
            <button class="btn-price-suggest">ADD</button>
        </div>
    </div>
</div>
<div class="egg-checkout">
    <button onclick="window.location.href='/checkout'"><i class="egg-icon-lock"></i> Proceed To Checkout</button>
    <a href="/cart">Or Go To Cart</a>
</div>


