﻿
@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;


<div class="col-md-8 col-sm-12 col-xs-12 egg-left-your-cart">
    <div class="">
        <div class="egg-header-cart">
            <h2 class="egg-title-header-cart">YOUR CART</h2>
        </div>
        <script>
            var cartItems = [];
        </script>
        <ul class="egg-list-item-cart">
            @foreach (var item in Model.Items)
            {
                <li class="egg-item-cart">
                    <div class="egg-item-cart-img">
                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                    </div>
                    <div class="right-item-cart">
                        <div class="egg-item-cart-content">
                            <h3 class="egg-item-content-title text-ellipsis">@item.ProductName</h3>
                            @if (!string.IsNullOrEmpty(item.AttributeParsed))
                            {
                                @Html.Raw(item.AttributeParsed)
                            }
                        </div>
                        
                        <div class="egg-item-choose-size">
                            @if (item.SizingAttributeValues.Count > 0)
                            {
                            <select id="cart-item-size-@item.Id">
                                @foreach (var size in item.SizingAttributeValues)
                                {
                                    <option value="@size.Id" selected="@size.IsPreSelected">@string.Format("{0} {1}", size.Name, string.IsNullOrEmpty(size.PriceAdjustment) ? "" : "+ " + size.PriceAdjustment)</option>
                                }
                            </select>
                            }
                            <div class="egg-count-number">
                                <button class="count egg-tru" id="decrement-item-qty-@item.Id">-</button>
                                <input class="egg-show-number" type="text" readonly="readonly" name="" id="cart-item-qty-@item.Id" value="@item.Quantity">
                                <button class="count egg-cong" id="increment-item-qty-@item.Id">+</button>
                            </div>
                        </div>
                        
                        <div class="egg-item-cart-price">
                            <span class="egg-price-popup">@item.SubTotal</span>
                            <a class="" href="javascript:void(0);" onclick="RemoveItem(@item.Id)">Remove</a>
                        </div>
                    </div>
                </li>

                    <script>
                        $(document).ready(function () {
                            var model_@(item.Id) = { "Id": @item.Id, "Quantity": @item.Quantity, "SizeId": @(item.SizingAttributeValues.Count() > 0 ? item.SizingAttributeValues.FirstOrDefault(p => p.IsPreSelected).Id : 0), "isRemove": false };
                cartItems.push(model_@(item.Id));

                            $('#cart-item-size-@(item.Id)').on('change', function (e) {
                    var optionSelected = $("option:selected", this);
                    var valueSelected = this.value;
                    model_@(item.Id).SizeId = parseInt(valueSelected);
                    UpdateCartItem(model_@(item.Id));
                });

                            $('#decrement-item-qty-@item.Id').on('click', function (e) {
                    if (model_@(item.Id).Quantity > 1)
                                {
                        model_@(item.Id).Quantity = model_@(item.Id).Quantity - 1;
                        UpdateCartItem(model_@(item.Id));
                                    $('#cart-item-qty--@(item.Id)').val(model_@(item.Id).Quantity);
                    }
                });
                             $('#increment-item-qty-@item.Id').on('click', function (e) {
                    model_@(item.Id).Quantity = model_@(item.Id).Quantity + 1;
                    UpdateCartItem(model_@(item.Id));
                                $('#cart-item-qty--@(item.Id)').val(model_@(item.Id).Quantity);
                });
                        });
                        function RemoveItem(id) {
                            var model = cartItems.filter(p => p.Id == id)[0];
                            if (model != null)
                                model.isRemove = true;
                            UpdateCartItem(model);
                        }

                    </script>
            }
        </ul>
    </div>
</div>
<div class="col-md-4  col-sm-12 col-xs-12 egg-right-your-cart">
    <div class="egg-box-top-right-cart">
        @Html.Partial("_DiscountBox", Model.DiscountBox)
        @Html.Action("OrderTotals", "ShoppingCart", new { isEditable = Model.IsEditable })
        <div class="egg-partner-info">
            <div class="egg-item-right">
                <p>
                    <span class="guar">Guaranteed </span>
                    <span class="safe">SAFE checkout:</span>
                </p>

                <img src="~/Themes/EggStore/Content/images/Secure.png">
                <img src="~/Themes/EggStore/Content/images/Visa.png">
            </div>
        </div>
    </div>
</div>