﻿
@model EggOrderSummaryModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@using Nop.Web.Models.Catalog;
@{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
<h3 class="order-summary">ORDER SUMMARY</h3>
<div class="egg-info-cart egg-list-order-summary">
    <script>
          var orderItems = [];
    </script>
    <ul class="egg-list-item-cart">
        @foreach (var item in Model.ShoppingCartModel.Items)
        {
            <li class="egg-item-cart">
                <div class="egg-item-cart-img">
                    <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                </div>
                <div class="right-item-cart">
                    <div class="egg-item-cart-content">
                        <h3 class="egg-item-content-title text-ellipsis">@item.ProductName</h3>
                        @if (!string.IsNullOrEmpty(item.AttributeParsed))
                        {
                            @Html.Raw(item.AttributeParsed)
                        }
                    </div>
                    <div class="egg-item-choose-size">
                        @if (item.SizingAttributeValues.Count() > 0)
                        {
                            <select id="cart-item-size-@item.Id">
                                @foreach (var size in item.SizingAttributeValues)
                                {
                                    <option value="@size.Id" selected="@size.IsPreSelected">@string.Format("{0} {1}", size.Name, string.IsNullOrEmpty(size.PriceAdjustment) ? "" : "+ " + size.PriceAdjustment)</option>
                                }
                            </select>
                        }
                        <div class="egg-count-number">
                            <button class="count egg-tru" id="decrement-item-qty-@item.Id">-</button>
                            <input class="egg-show-number" type="text" readonly="readonly" name="" id="cart-item-qty-@item.Id" value="@item.Quantity">
                            <button class="count egg-cong" id="increment-item-qty-@item.Id">+</button>
                        </div>
                    </div>
                    <div class="egg-item-cart-price">
                        <span class="egg-price-popup">@item.SubTotal</span>
                    </div>
                </div>
            </li>
            <script>
                        $(document).ready(function () {
                            var model_@(item.Id) = { "Id": @item.Id, "Quantity": @item.Quantity, "SizeId": @(item.SizingAttributeValues.Count() > 0 ? item.SizingAttributeValues.FirstOrDefault(p=>p.IsPreSelected).Id : 0), "isRemove": false };
                            orderItems.push(model_@(item.Id));

                            $('#cart-item-size-@(item.Id)').on('change', function (e) {
                                var optionSelected = $("option:selected", this);
                                var valueSelected = this.value;
                                model_@(item.Id).SizeId = parseInt(valueSelected);
                                UpdateCheckoutItem(model_@(item.Id));
                            });

                            $('#decrement-item-qty-@item.Id').on('click', function (e) {
                                if (model_@(item.Id).Quantity > 1)
                                {
                                    model_@(item.Id).Quantity = model_@(item.Id).Quantity - 1;
                                    UpdateCheckoutItem(model_@(item.Id));
                                    $('#cart-item-qty--@(item.Id)').val(model_@(item.Id).Quantity);
                                }
                            });
                             $('#increment-item-qty-@item.Id').on('click', function (e) {
                                model_@(item.Id).Quantity = model_@(item.Id).Quantity + 1;
                                UpdateCheckoutItem(model_@(item.Id));
                                $('#cart-item-qty--@(item.Id)').val(model_@(item.Id).Quantity);
                             });
                        });
                        function RemoveItem(id) {
                            var model = orderItems.filter(p => p.Id == id)[0];
                            if (model != null)
                                model.isRemove = true;
                            UpdateCheckoutItem(model);
                        }

            </script>
        }
    </ul>
</div>
@Html.Partial("_DiscountBoxCheckout", Model.ShoppingCartModel.DiscountBox)
<div class="egg-info-cart egg-total-shipping">
    <p class="egg-subtotal">
        SUBTOTAL <span class="egg-right-new-price">@Model.OrderTotalModel.SubTotal</span>
    </p>
    
    <p class="egg-subtotal">
        Shipping:  <span id="order-summary-shipping" class="egg-right-new-price">@Model.OrderTotalModel.Shipping</span>
    </p>
    
    @if (!String.IsNullOrEmpty(Model.OrderTotalModel.OrderTotalDiscount))
    {
        <p class="egg-subtotal">
            Discount:  <span class="egg-right-new-price">@Model.OrderTotalModel.OrderTotalDiscount</span>
        </p>
    }
    <p class="egg-subtotal egg-total">
        Total <span id="order-summary-total" class="egg-right-total-price">@Model.OrderTotalModel.OrderTotal</span>
    </p>
</div>

<script>
    function UpdateCheckoutItem(model) {
        displayAjaxLoading(true);
        var url = '/ShoppingCart/UpdateCheckoutOrderSummary';
        $.ajax({
            cache: false,
            url: url,
            data: model,
            type: 'POST',
            success: function (data) {
                $('#checkout-order-summary').html(data);
                displayAjaxLoading(false);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                displayAjaxLoading(false);
            }
        });
    }
</script>

