﻿@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@using Nop.Web.Models.Catalog;
@{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
<script>
    var cartCommonData = [];
    var backupElmentCartItem = null;

</script>
<input type="hidden" value="@Model.Items[0].ProductId" id="product-id" />
<div class="modal-dialog size-showorder">
    <div class="modal-content">
        <div class="modal-header egg-header-tabs">
            <button type="button" class="close" data-dismiss="modal"><span class="egg-icon-close"></span></button>
            <span class="title-showorder">Your order</span>
        </div>
        <div class="modal-body" id="cart-modal-content">
            <div style="width:100%;height:25px; background-color:#e66e6e;color:#ffffff;font-size:11px;text-align:center;padding:5px;display:none" id="cart-error-message"></div>
            <table class="egg-table-order">
                <thead>
                    <tr>
                        <td style="width: 15%"></td>
                        <td style="width: 15%">SIZE</td>
                        <td style="width: 20%">QTY</td>
                        <td style="width: 30%">STYLE</td>
                        <td style="width: 20%" class="eff-text-right">PRICE</td>
                    </tr>
                </thead>
                <tbody class="tbody-order" id="cart-list-item">
                    @foreach (var item in Model.Items)
                    {
                        <tr id="@Guid.NewGuid().ToString()">
                            <td><div class="egg-boximg-order"><img class="cart-item-image" src="@item.Picture.ImageUrl"></div></td>
                            <td class="fix-padding-order-mobile">
                                <select class="width-size cart-item-size" onchange="itemChangeSize(this);">
                                    @foreach (var size in item.SizingAttributeValues)
                                    {
                                        <option id="size_@size.Id" value="@size.Name" selected="@size.IsPreSelected">@string.Format("{0} {1}",size.Name,string.IsNullOrEmpty(size.PriceAdjustment)?"":"+ " +size.PriceAdjustment)</option>
                                    }
                                </select>
                                <!-- <div class="mobile-order"> -->
                                <div class="egg-count-number mobile-order">
                                    <button class="count egg-tru" onclick="itemSubQuantity(this);">-</button>
                                    <input class="egg-show-number cart-item-qty" type="text" readonly="readonly"  value="@item.Quantity">
                                    <button class="count egg-cong" onclick="itemAddQuantity(this);">+</button>
                                </div>
                                <select class="egg-select-guys mobile-order cart-item-style-order" id="cart-item-style-@(item.Id)" onchange="itemChangeStyle(this);">
                                    @foreach (var style in item.StyleAttributeValues)
                                    {
                                        <option id="style_@style.Id" value='{"ColorId":@style.Id,"TypeId":@style.ProductTypeId}' selected="@style.IsPreSelected">@style.Name</option>
                                    }
                                </select>
                                <!-- </div> -->
                            </td>
                            <td class="mobile-disable-order">
                                <div class="egg-count-number">
                                    <button class="count egg-tru" onclick="itemSubQuantity(this);">-</button>
                                    <input class="egg-show-number cart-item-mobile-qty" type="text" readonly="readonly" name="" value="@item.Quantity">
                                    <button class="count egg-cong" onclick="itemAddQuantity(this);">+</button>
                                </div>
                            </td>
                            <td class="mobile-disable-order">
                                <select class="egg-select-guys cart-item-style-mobile" onchange="itemChangeStyle(this);">
                                    @foreach (var style in item.StyleAttributeValues)
                                    {
                                        <option id="style_mobile_@style.Id" value='{"ColorId":@style.Id,"TypeId":@style.ProductTypeId}' selected="@style.IsPreSelected">@style.Name</option>
                                    }
                                </select>
                            </td>
                            <td class="eff-text-right egg-price-popup">
                                <span class="egg-price-popup cart-item-sub-total">@item.SubTotal</span>
                                <a class="" onclick="removeCartPopupItem(this);">Remove</a>
                            </td>      
                        </tr>
                     }
                </tbody>
            </table>
            <div class="egg-add-another">
                <a href="javascript:void(0)" onclick="addAnOtherStyle()">ADD ANOTHER STYLE OR COLOR</a>
            </div>
            <div class="egg-checkout">
                <button class="upsell-popup-btn" onclick="onAddToCartRedirection(false)"><i class="egg-icon-add-to-cart-2"></i> Add To Cart</button>
                <a onclick="onAddToCartRedirection(true)">Skip To Checkout</a>
            </div>
        </div>
    </div>
</div>

<script>

    function itemChangeSize(sel) {
        var parrentItem = sel.closest('tr');
        var data = prepareUpSellItemData();
        displayAjaxLoading(true);
        $.ajax({
            cache: false,
            url: "@Url.Action("RequestChangeItemUpSell", "ShoppingCart")",
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            type: 'POST',
            success: function (dataRes) {
                bingUpSellItemData(dataRes);
                displayAjaxLoading(false);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                displayAjaxLoading(false);
            }
        });
    }

    function itemSubQuantity(sel) {
        var parrentItem = sel.closest('tr');
        var quantity = Number($(parrentItem).find('.cart-item-qty').val());
        if (quantity > 1) {
            $(parrentItem).find('.cart-item-qty').val(quantity - 1);
            $(parrentItem).find('.cart-item-mobile-qty').val(quantity - 1);

            // loading price
            var data = prepareUpSellItemData();
            displayAjaxLoading(true);

            $.ajax({
                cache: false,
                url: "@Url.Action("RequestChangeItemUpSell", "ShoppingCart")",
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                type: 'POST',
                success: function (dataRes) {
                    bingUpSellItemData(dataRes);
                    displayAjaxLoading(false);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    displayAjaxLoading(false);
                }
            });
        }
    }

    function itemAddQuantity(sel) {
        var parrentItem = sel.closest('tr');
        var quantity = Number($(parrentItem).find('.cart-item-qty').val());
        $(parrentItem).find('.cart-item-qty').val(quantity + 1);
        $(parrentItem).find('.cart-item-mobile-qty').val(quantity + 1);

        // loading price
        var data = prepareUpSellItemData();
        displayAjaxLoading(true);

        $.ajax({
            cache: false,
            url: "@Url.Action("RequestChangeItemUpSell", "ShoppingCart")",
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            type: 'POST',
            success: function (dataRes) {
                bingUpSellItemData(dataRes);
                displayAjaxLoading(false);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                displayAjaxLoading(false);
            }
        });
    }

    function itemChangeStyle(sel) {
        var data = prepareUpSellItemData();
        displayAjaxLoading(true);
        $.ajax({
            cache: false,
            url: "@Url.Action("RequestChangeItemUpSell", "ShoppingCart")",
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            type: 'POST',
            success: function (dataRes) {
                bingUpSellItemData(dataRes);
                displayAjaxLoading(false);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                displayAjaxLoading(false);
            }
        });
    }

    function buildDataItemUpSell(sel) {
        var productStyle;
        var quantity;
        if (screen.width < 767)
        {
            productStyle = $(sel).find('.cart-item-style-order');
            quantity = $(sel).find('.cart-item-mobile-qty');
        }
        else {
            productStyle = $(sel).find('.cart-item-style-mobile');
            quantity = $(sel).find('.cart-item-qty');
        }
        var size = $(sel).find('.cart-item-size');
        var id = $(sel).attr('id');
        var data = {
            Id  : id,
            ProductId: $('#product-id').val(),
            ItemStyleColor: productStyle.val(),
            Size: size.val(),
            Quantity: quantity.val()
        };

        return data;
    }



    function addAnOtherStyle() {
        // find fist item to clone
        var firstItem = $('#cart-list-item tr').first().clone(true);
        firstItem.attr("id", Guid.newGuid());

        if (firstItem.length == 0)
            firstItem = backupElmentCartItem;

        resetItemSelected(firstItem);

        $('#cart-list-item').append(firstItem);
    }

    function resetItemSelected(sel) {
        $(sel).find('.cart-item-size').val('');
        $(sel).find('.cart-item-qty').val(1);
        $(sel).find('.cart-item-mobile-qty').val(1);
        var itemSubTotal = $(sel).find('.cart-item-sub-total');
        itemSubTotal.html('');
        var itemImage = $(sel).find('.cart-item-image');
        itemImage.attr('src', '');
    }

    function removeCartPopupItem(sel) {
        var data = prepareUpSellItemData();
        var parrentItem = sel.closest('tr');
        var currentId = parrentItem.id;
        data = data.filter(p => p.Id != currentId);
        if (backupElmentCartItem == null)
            backupElmentCartItem = parrentItem;
        displayAjaxLoading(true);
        if (data.length > 0)
        {
            $.ajax({
            cache: false,
            url: "@Url.Action("RequestChangeItemUpSell", "ShoppingCart")",
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            type: 'POST',
            success: function (dataRes) {
                parrentItem.remove();
                bingUpSellItemData(dataRes);
                displayAjaxLoading(false);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                displayAjaxLoading(false);
            }
        });
        }
        else {
            parrentItem.remove();
            displayAjaxLoading(false);
        }
    }


    function onAddToCartRedirection(gotoCheckout) {
        var isValid = validateCartItemData();
        if (isValid)
        {
            if (gotoCheckout)
                submitAdd2Cart('@Url.Action("EggCheckout", "Checkout")');
            else
                submitAdd2Cart('@Url.Action("Cart", "ShoppingCart")');
        }
    }
    function validateCartItemData() {
        resetError();
        cartCommonData = [];

        var isValid = true;


        $("#cart-list-item tr").each(function (i) {
            var dataItem = buildDataItemUpSell(this);
            if (dataItem.Size == null) {
                showPopupErrorMessgae("Please select a size!");
                isValid = false;
            } else {
                cartCommonData.push(dataItem);
            };
        });

        return isValid;
    }
    function showPopupErrorMessgae(mesage) {
        var errorControl = $('#cart-error-message');
        errorControl.fadeIn('slow');
        errorControl.html("<span>" + mesage + "</span>");
    }
    function resetError() {
        $('#cart-error-message').fadeOut('slow');
    }

    function submitAdd2Cart(url) {
        displayAjaxLoading(true);
        $.ajax({
            cache: false,
            url: "@Url.Action("UpSellAdd2Cart", "ShoppingCart")",
            data: { "productId": $('#product-id').val(), "form": $('#product-details-form').serialize(), "cartItems": cartCommonData },
            type: 'POST',
            success: function (res) {
                window.location.href = url;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                displayAjaxLoading(false);
            }
        });
    }
    function prepareUpSellItemData() {
        var upsaleData = [];
        var upsaleItems = $("#cart-list-item tr");
        upsaleItems.each(function (i) {
            var dataItem = buildDataItemUpSell(this);
            upsaleData.push(dataItem);
        });
        return upsaleData;
    }
    function bingUpSellItemData(items) {
        items.forEach(function (obj) {
            var itemContainer = $('#' + obj.Id);
            var itemSubTotal = itemContainer.find('.cart-item-sub-total');
            itemSubTotal.html(obj.SubTotalPrice);
            // change image
            var itemImage = itemContainer.find('.cart-item-image');
            itemImage.attr('src', obj.PictureUrl);

            // change size
            var itemSize = itemContainer.find('.cart-item-size');
            $('option', itemSize).remove();
            $.each(obj.Sizes, function (index, value) {
                itemSize.append($('<option/>', {
                    value: value,
                    text: value
                }));
            });
            itemSize.val(obj.NewSize);

        });
    }
</script>