﻿
.listagram-overlay {
    z-index: 9999998;
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: black;
}

.listagram-overlay-animation {
    animation-name: overlay;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.listagram-container {
    z-index: 9999999;
    display: none;
    top: 0;
    /*left: 0px; */
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 790px;
    box-shadow: 5px 2px 60px 0px #000;
}

.listagram-container-animation {
    animation-name: slide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes slide {
    0% {
        /*transform: translateX(-900px);*/
        left: -900px;
    }

    100% {
        /*transform: translateX(0);*/
        left: 0;
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}
