﻿@model OrderDetailsModel
@using Nop.Web.Models.Order
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("Order Details");
    //page class
    Html.AppendPageCssClassParts("html-order-details-page");
    var notfoundOrder = ViewBag.NotOrderToFound;
}
<div class="page order-details-page">

    <div class="page-title">
        <h1>@T("Order.OrderInformation")</h1>
    </div>
    <div class="page-body">
      <div class="container">
         @if (!notfoundOrder)
         {
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <div class="row">
                        <div class="check-order-progress">
                            <div class="order-item-name">

                            </div>
                            <div class="day-progress">
                                <ul>
                                    <li class="order-progress-day">
                                        <div class="progress-info">
                                            <h4 style="font-weight:bold">Order</h4>
                                            <span class="progress-curent-day">
                                                @Model.CreatedOn.ToString("dd/MM/yyyy")
                                            </span>
                                            <br />
                                            @if (DateTime.Now < Model.CreatedOn.AddDays(3))
                                            {
                                                <div class="progress-number-order">
                                                    <span><i class="material-icons active-progress">looks_one</i></span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="progress-position-completed">
                                                    <span><i class="material-icons completed-progress">check_circle</i></span>
                                                </div>
                                            }

                                        </div>
                                    </li>
                                    <li class="order-progress-day">
                                        <div class="progress-info">
                                            <h4 style="font-weight:bold">Processing Order</h4>
                                            <span class="progress-curent-day">
                                                @Model.CreatedOn.AddDays(3).ToString("dd/MM/yyyy") - @Model.CreatedOn.AddDays(5).ToString("dd/MM/yyyy")
                                            </span>
                                            <br />
                                            @if (DateTime.Now >= Model.CreatedOn.AddDays(3) && DateTime.Now <= Model.CreatedOn.AddDays(5))
                                            {
                                                <div class="progress-number-order">
                                                    <span><i class="material-icons active-progress">looks_two</i></span>
                                                </div>
                                            }
                                            else if (DateTime.Now > Model.CreatedOn.AddDays(5))
                                            {
                                                <div class="progress-position-completed">
                                                    <span><i class="material-icons completed-progress">check_circle</i></span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="progress-number-order">
                                                    <span><i class="material-icons" style="font-size:27px">looks_two</i></span>
                                                </div>
                                            }


                                        </div>
                                    </li>
                                    <li class="order-progress-day">
                                        <div class="progress-info">
                                            <h4 style="font-weight:bold">Shipped</h4>
                                            <span class="progress-curent-day">
                                                @Model.CreatedOn.AddDays(8).ToString("dd/MM/yyyy") - @Model.CreatedOn.AddDays(10).ToString("dd/MM/yyyy")
                                            </span>
                                            <br />
                                            @if (DateTime.Now >= Model.CreatedOn.AddDays(8)&& DateTime.Now <= Model.CreatedOn.AddDays(10))
                                            {
                                                <div class="progress-number-order">
                                                    <span><i class="material-icons active-progress">looks_3</i></span>
                                                </div>
                                            }
                                            else if (DateTime.Now >= Model.CreatedOn.AddDays(10))
                                            {
                                                <div class="progress-position-completed">
                                                    <span><i class="material-icons completed-progress">check_circle</i></span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="progress-number-order">
                                                    <span><i class="material-icons" style="font-size:27px">looks_3</i></span>
                                                </div>
                                            }
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10%">
                        <div>
                            <table class="cart">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>SubTotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td>@item.ProductName</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.SubTotal</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-8 pull-right" style="float:right !important">
                            <div class="total-info" style="padding:0; background-color:#fff">
                                <table class="cart-total">
                                    <tbody>
                                        <tr class="order-subtotal">
                                            <td class="cart-total-left">
                                                <label>Sub-Total:</label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span class="value-summary">@Model.OrderSubtotal</span>
                                            </td>
                                        </tr>
                                        <tr class="shipping-cost">
                                            <td class="cart-total-left">
                                                <label>Shipping:</label>

                                            </td>
                                            <td class="cart-total-right">
                                                <span class="value-summary">@Model.OrderShipping</span>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <td class="cart-total-left">
                                                <label>Total:</label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span class="value-summary"><strong>@Model.OrderTotal</strong></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="customer-info" style="border:2px solid #ffc71f">
                        <table class="cart">
                            <thead style="text-align:center">
                                <tr>
                                    <th><span><i class="material-icons check-info">warning</i></span><span style="font-weight:bold">Shipping Info</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.BillingAddress.Email</td>
                                </tr>
                                <tr>
                                    <td>@Model.BillingAddress.FirstName @Model.BillingAddress.LastName</td>
                                </tr>
                                <tr>
                                    <td>@Model.BillingAddress.Address1</td>
                                </tr>
                                <tr>
                                    <td>@Model.BillingAddress.City, @Model.BillingAddress.CountryName</td>
                                </tr>
                                <tr>
                                    <td>@Model.BillingAddress.Company</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         }
         else
         {
             <div class="row">
                 <div class="not-found">
                     <form action="" novalidate="novalidate" onsubmit="return false">
                         <div style="text-align:center">
                             <h4 class="title unique-name">Ooops! Invalid Tracking Number or Email</h4>

                             <p class="title" style="font-size:17px">Please enter your Tracking Number or Email</p>
                         </div>
                         @*<div class="form-fields" id="form-registername">
                             <div class="inputs register-name">
                                 <input class="email" data-val="true" autofocus placeholder="Email" data-val-email="Invalid email" data-val-required="Please enter your email!" id="Email" name="Email" type="text" value="">
                                 <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                             </div>
                             <div class="register-name">
                                 <input type="submit" onclick="forgotOrderCode()" value="Submit">
                             </div>
                         </div>*@
                         <div class="form-fields" id="form-registername">
                             <div class="inputs register-name">
                                 <input autofocus="autofocus" class="password" data-val="true" placeholder="Tracking Number or Email" data-val-required="Please enter your Tracking Number or Email!" id="OrderID" name="OrderID" type="text" value="">
                                 <span class="field-validation-valid" data-valmsg-for="OrderID" data-valmsg-replace="true"></span>
                             </div>
                             <div class="register-name">
                                 <input type="submit" style="width:140px" onclick="getOrderDetail()" value="Track Order">
                             </div>
                         </div>
                     </form>
                 </div>
             </div>
         }
      </div>
    </div>
</div>

<script>
    function forgotOrderCode() {
        var email = $("#Email").val();
        if (email != "") {
            window.location.href = '@Url.RouteUrl("ForgotOrder")' + "?email=" + email;
        }
    }

    function getOrderDetail()
    {
        var orderId = $("#OrderID").val();
        if(orderId!="")
        {
            window.location.href = '@Url.RouteUrl("OrderInformation")' + "?q=" + orderId;
        }
    }
</script>